<div class="row fade in">
  <div class="col-xs-12">
      <div class="separate-above dashboard-messages-detail col-xs-12">
        <div class="title-message">
            <h1 class="font-light" ng-bind="::detail.message.activity"></h1>
        </div>
        <div class="content-message">
            <div class="row">
                <div class="col-md-1">
                    <img class="user-picture" ng-if="detail.message.organizer.photo === null" ng-src="{{manage.getAmazonUrl('static/img/default_profile_pic.jpg')}}" alt="">
                    <img class="user-picture" ng-if="detail.message.organizer.photo !== null" ng-src="{{detail.message.organizer.photo}}" alt="">
                </div>
                <div class="col-md-8 text-line-more-xl">
                    <span class="font-regular text-lg" ng-bind="::detail.message.organizer.name"></span>
                </div>
                <div class="col-md-3 text-line-more-xl text-right">
                    <span class="text-gray-light font-light" ng-bind="::detail.message.initial_date | date: 'dd MMM yyyy'"></span>
                </div>
            </div>

            <div class="separate-above-less ">
                <p class="text-dark font-light" ng-bind="::detail.message.message"></p>
            </div>
        </div>
      </div>
  </div>
</div>
