<div class="summary-container limited-width-dashboard">
  <div class="panel-default panel-default__dashboard ">
    <h4 class="panel-default__dashboard-title" ng-bind="::summary.strings.SECTION_TITLE"></h4>
  </div>
  <div class="row">
    <div class="col-xs-12 separate-below">
      <div class="row"> 
        <div class="col-xs-12">
          <h3 class="text-center text-uppercase separate-below">
            <strong ng-bind="::summary.strings.LABEL_SALES"></strong>
          </h3>
        </div>
      </div>
      <div class="row separate-above-less">
        <div class="col-xs-12">
          <div class="range-widget">
            <div class="range-tabs flex-center-container">
              <div class="range-tab range-tab__left" ng-class="{'range-tab-active': summary.activeTab === summary.TAB_MONTHLY}" ng-click="summary.changeTab(summary.TAB_MONTHLY)" ng-bind="::summary.strings.COPY_MONTHLY">
              </div>
              <div class="range-tab range-tab__right" ng-class="{'range-tab-active': summary.activeTab === summary.TAB_YEARLY}" ng-click="summary.changeTab(summary.TAB_YEARLY)" ng-bind="::summary.strings.COPY_YEARLY">
              </div>
            </div>
            <div class="range-slider flex-center-container">
              <div class="range-arrow" ng-click="summary.changeDate(summary.DATE_PREV)">
                &lt;
              </div>
              <div class="range-display">
                <span ng-if="summary.activeTab === summary.TAB_MONTHLY" ng-bind="summary.date | date:'MMMM y'"></span>
                <span ng-if="summary.activeTab === summary.TAB_YEARLY" ng-bind="summary.date | date:'y'"></span>
              </div>
              <div class="range-arrow" ng-click="summary.changeDate(summary.DATE_NEXT)">
                &gt;
              </div>
            </div>
          </div> 
        </div>
      </div>
      <div class="row ">
        <div class="col-xs-11 col-xs-offset-1 separate-above">
          <div ng-if="summary.hasData()">
            <nvd3 options="summary.options" data="summary.data" config="{refreshDataOnly: true, deepWatchData: true}" class="with-3d-shadow with-transitions"></nvd3>
          </div>
          <div class="" ng-if="!summary.hasData()">
            <h3 class="separate-above separate-below text-center">No hay datos para la fecha seleccionada</h1>
          </div>
        </div>
        <div class="col-xs-12 pull-right separate-above text-capitalize sales-info">
          <div class="pull-right">
            <h5 class="text-right text-warning font-semibold">
              <span class="" ng-bind="::summary.strings.COPY_GROSS_SALES"></span>
              <span ng-bind=" (summary.stats.total_points.total_gross || 0) | currency:$"></span>
            </h5>
            <h5 class="text-right font-semibold">
              <span ng-bind="summary.strings.COPY_FEE"></span>
              <span ng-bind="(summary.stats.total_points.total_fee  || 0) | currency:$"></span>
            </h5>
            <hr>
            <h5 class="text-right text-color-success font-semibold">
              <span class="" ng-bind="::summary.strings.COPY_NET_SALES"></span>
              <span ng-bind="(summary.stats.total_points.total_net  || 0) | currency:$"></span>
            </h5>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-4 col-xs-offset-4">
      <hr/>
    </div>

    <div class="col-xs-12 separate-above separate-below-less">
      <h3 class="text-center text-uppercase separate-below-more">
        <strong ng-bind="::summary.strings.LABEL_VISITS_SEATS"></strong>
      </h3>
      <div class="row separate-above-less">
        <div class="col-xs-12 col-md-4 col-md-offset-2">
          <div class="metric-circle metric-circle-views">
            <h1 class="text-center font-semibold" ng-bind="::summary.stats.total_views"></h1>
          </div>
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
              <h4 class="text-center  text-gray-dark font-semibold  text-uppercase text-center separate-above">
                <span ng-bind="::summary.strings.COPY_TOTAL_VIEWS"></span>
              </h4>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="metric-circle metric-circle-sales">
            <h1 class="text-center font-semibold" ng-bind="::summary.stats.total_seats_sold"></h1>
          </div>
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
              <h4 class="text-center  text-gray-dark font-semibold  text-uppercase separate-above">
                <span ng-bind="::summary.strings.COPY_TOTAL_SEATS"></span>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-xs-offset-3">
      <hr/>
    </div>

    <div class="col-xs-12 separate-above">
      <h3 class="text-center text-uppercase">
        <strong ng-bind="::summary.strings.LABEL_NEXT_START_DATE"></strong>
      </h3>
      <h4 class="text-center text-uppercase" ng-bind="::summary.activity.title"></h4>
      <h4 class="text-center separate-above"  ng-show="!summary.stats.next_data" ng-bind="::summary.strings.COPY_EMPTY_NEXT_DATE"></h4>
      <div class="row" ng-if="summary.stats.next_data">
        <h4 class="text-center text-uppercase separate-below" ng-bind="summary.stats.next_data.date | date:'d MMM y'"></h4>
        <h4 class="text-center text-uppercase separate-below">
          <strong ng-bind="::summary.strings.COPY_SOLD_SEATS"></strong>
          <span ng-bind="::summary.stats.next_data.available_capacity"></span>
        </h4>
        <div class="col-xs-12 col-md-8 col-md-offset-2 separate-above separate-below-more">
          <div class="seat-metric-text">
            <h5 class="text-center text-uppercase">
              <strong>
                <span ng-bind="::summary.stats.next_data.sold"></span>
                <span>/</span>
                <span ng-bind="::(summary.stats.next_data.available_capacity + summary.stats.next_data.sold)"></span>
                <span ng-bind="::summary.strings.COPY_SEATS"></span>
              </strong>
            </h5>
          </div>
          <div class="seat-metric-bar">
            <div class="seat-metric-bar__fill" ng-style="{'width': '{{summary.stats.next_data.sold / (summary.stats.next_data.available_capacity + summary.stats.next_data.sold) * 100}}%'}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
