<div class="navbar-secondary">

  <ul>
    <li class="navbar-secondary__item active">
      <span ng-bind="::manage.strings.COPY_MANAGE"></span>
    </li>
  </ul>
  <h4 class="sub-title" ng-bind="manage.activity.title"></h4>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center text-muted text-header">
        <strong ng-bind="manage.activity.title"></strong>
      </h1>
    </div>
    <hr/>
  </div>
  <div ui-view class="lateral-fade">

    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <p class="text-muted separate-below" ng-bind="::manage.strings.COPY_ORDERS">
        </p>
        <div class="row">
          <div class="col-md-12">

            <div class="form-group">
              <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                  <p class="control-label sr-only text-center pt-sans"
                  ng-bind="::manage.strings.LABEL_SEARCH"></p>
                </div>
              </div>
              <label class="control-label sr-only"
              ng-bind="::manage.strings.LABEL_SEARCH"></label>
              <div class="input-group">

                <input class="form-control floating-label" type="text"
                ng-model="manage.queries.orderQuery"
                ng-change="manage.updateByQuery(manage.TYPE_ORDER)"
                placeholder="{{manage.strings.COPY_SEARCH}}">
                <span class="input-group-addon">
                  <i class="mdi-action-search"></i>
                </span>
              </div>
            </div>
          </div>

          <!-- Ordenes -->

          <table class="table table-hover table-striped table-dark">
            <tr class="text-center">
              <th><strong ng-bind="::manage.strings.HEADER_ORDER"></strong></th>
              <th><strong ng-bind="::manage.strings.HEADER_MADE"></strong></th>
              <th><strong ng-bind="::manage.strings.HEADER_AMOUNT"></strong></th>
              <th><strong ng-bind="::manage.strings.HEADER_TOTAL"></strong></th>
              <th></th>
            </tr>
            <tr ng-repeat="order in manage.orders track by order.id | filter:manage.orderQuery">
              <td>
                <strong>#<span ng-bind="order.id"></span></strong>
              </td>
              <td>
                <span class="text-capitalize"  ng-bind="::order.created_at | date:'EEEE d MMM y'"></span>
              </td>
              <td>
                <span ng-bind="order.amount | currency:$:0"></span>
              </td>
              <td>
                <span ng-bind="order.unit_price * order.amount | currency:$:0"></span>
              </td>
              <td class="column-button">
                <a ui-sref="dash.activities-manage.orders.order({'orderId': order.id})">
                  <button class="btn btn-default">
                    Ver detalle
                  </button>
                </a>
              </td>
            </tr>
          </table>

          <div class="text-center" ng-if="manage.orderPaginationOpts.totalItems > manage.orderPaginationOpts.itemsPerPage">
            <pagination class="pagination-sm"
            ng-model="manage.orderPaginationOpts.pageNumber"
            ng-change="manage.pageChange(manage.TYPE_ORDER)"
            data-total-items="manage.orderPaginationOpts.totalItems"
            data-items-per-page="manage.orderPaginationOpts.itemsPerPage"></pagination>
          </div>


        </div>
        <!--If there are no orders-->
        <div ng-if="manage.orders.length <= 0" class="row">
          <br/>
          <div class="col-md-12">
            <h4 ng-bind="::manage.strings.LABEL_EMPTY_ORDERS"></h4>
            <p ng-show="transactions.salesPaginationOpts.totalItems > 0" ng-bind="::manage.strings.COPY_EMPTY_ORDERS"></p>
          </div>
        </div>

      </div>
    </div>

  </div>


</div>
