<div class="separate-below-more limited-width-dashboard">
    <div class="panel-default panel-default__dashboard ">
        <h4 class="panel-default__dashboard-title" ng-bind="::manage.strings.SECTION_ASSISTANTS"></h4>
    </div>
    <div class="col-xs-12">
        <div ng-if="manage.calendars.length > 0" class="row">
            <div class="col-md-12 clear-spacings">
                <div class="panel panel-default separate-above-less separate-below-less" style="cursor: pointer;"
                     ng-repeat="calendar in manage.calendars track by calendar.id">
                    <div class="panel-heading " ng-click="manage.expandCalendar(calendar,manage.TYPE_ASSISTANT)">
                        <div class="row">
                            <div class="panel-date">
                                <span>
                                    <span>
                                        <strong ng-bind="::manage.strings.LABEL_CALENDAR"></strong>
                                    </span>
                                    <br/>
                                    <span ng-bind="::calendar.fromDate"></span>
                                </span>
                            </div>
                            <div class="panel-date">
                                <span>
                                    <span>
                                        <strong ng-bind="::manage.strings.COPY_CLOSING_DATE"></strong>
                                    </span>
                                    <br/>
                                    <span ng-bind="::calendar.toDate"></span>
                                </span>
                            </div>
                            <div class="panel-counter">
                                <span>
                                    <strong class="numbers text-gray-dark"><span ng-bind="calendar.assistants.length"></span>/<span ng-bind="(calendar.available_capacity + calendar.assistants.length)"></span></strong> <span class="text-gray-dark font-semibold" ng-bind="manage.strings.COPY_SEATS"></span>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="{{(calendar.assistants.length/ (calendar.available_capacity + calendar.assistants.length) )*100}}" aria-valuemin="0" aria-valuemax="100" style="width: {{(calendar.assistants.length/ (calendar.available_capacity + calendar.assistants.length) )*100}}%">
                                        </div>
                                    </div>
                                </span>
                            </div>
                            <i class=" expand mdi-hardware-keyboard-arrow-down"></i>
                        </div>
                    </div>
                    <div class="panel-body" data-toggle="manage.activeCalendar.id == calendar.id" trulii-expandable-content>
                        <!-- Assistants -->
                        <div ng-if="calendar.assistants.length > 0">
                            <div class="row">
                                <div class="col-xs-9">
                                    <div class="form-group">
                                        <label class="control-label sr-only"
                                               ng-bind="::manage.strings.LABEL_SEARCH"></label>
                                        <div class="input-search">
                                            <input class="form-control floating-label" type="text"
                                                   ng-model="manage.queries.assistantQuery"
                                                   ng-change="manage.updateByQuery(manage.TYPE_ASSISTANT)"
                                                   placeholder="{{manage.strings.COPY_SEARCH}}">
                                                   <i class="mdi-action-search"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3 hidden-xs hidden-sm">
                                    <a ui-sref="^.assistants-list({'calendar_id': calendar.id})" class="btn btn-default separate-left text-align-vertical"
                                       ng-bind="::manage.strings.ACTION_PRINT"></a>
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <tr class="text-center">
                                        <th ng-bind="::manage.strings.HEADER_FULL_NAME"></th>
                                        <th ng-bind="::manage.strings.HEADER_EMAIL" class="hidden-xs hidden-sm"></th>
                                        <th ng-bind="::manage.strings.HEADER_ORDER"></th>
                                        <th>
                                          <span ng-bind="::manage.strings.HEADER_CODE"></span>
                                          <i class="glyphicon glyphicon-question-sign" aria-hidden="true" tooltip-placement="right"
                                          tooltip="{{::manage.strings.COPY_ASSISTANT_CODE_TOOLTIP}}"></i>
                                        </th>
                                        <th class="hidden-md hidden-lg">
                                        </th>

                                    </tr>
                                    <tr ng-repeat="assistant in manage.assistants">
                                        <td>
                                            <span class="text-capitalize" ng-bind="::assistant.first_name"></span>
                                            <span> </span>
                                            <br class="hidden-md hidden-lg">
                                            <span class="text-capitalize" ng-bind="::assistant.last_name"></span>
                                        </td>
                                        <td class="hidden-xs hidden-sm">
                                            <span ng-bind="::assistant.email"></span>
                                        </td>
                                        <td class="text-center-mobile">
                                            <a ng-bind="::assistant.order"
                                              ui-sref="dash.activities-manage.orders.order({'orderId': assistant.order, 'previousState':{'state':'dash.activities-manage.assistants'}})">
                                            </a>
                                        </td>
                                        <td>
                                            <span ng-bind="::assistant.token"></span>
                                        </td>
                                        <td class="hidden-md hidden-lg column-button">
                                            <a ui-sref="dash.activities-manage.orders.order({'orderId': order.id})">
                                                <button class="btn btn-default">
                                                  <span class="hidden-md hidden-lg">
                                                    >
                                                  </span>
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </div>

<!--                             <pagination class="pagination-sm"
                                        ng-model="manage.assistantPaginationOpts.pageNumber"
                                        ng-change="manage.pageChange(manage.TYPE_ASSISTANT)"
                                        data-total-items="manage.assistantPaginationOpts.totalItems"
                                        data-items-per-page="manage.assistantPaginationOpts.itemsPerPage"></pagination> -->

                            <div class="book" style="display: none">
                              <div class="page">
                                <div class="subpage">
                                  <div class="col-xs-3">
                                    <img ng-src="{{manage.getAmazonUrl('static/img/trulii-inverse-med.png')}}" alt="" class="img-responsive">
                                  </div>
                                  <div class="col-xs-7 col-xs-offset-2">
                                    <div class="separate-above-less">
                                      <h3 class="text-right no-margin">Universidad Javeriana</h3>
                                      <h4 class="text-right no-margin font-light">Yoga en el parque</h4>
                                    </div>
                                  </div>
                                  <div class="col-xs-12">
                                    <div class="assistants-list separate-above-medium">
                                      <div class="assistants-list__header">
                                        <span>
                                          <strong>Lista de asistentes</strong>
                                        </span>
                                        <div class="assistants-list__info">
                                          <div>
                                            <strong ng-bind="::manage.strings.LABEL_CALENDAR"></strong>
                                            <br>
                                            <span ng-bind="::calendar.fromDate"></span>
                                          </div>
                                          <div>
                                            <strong ng-bind="::manage.strings.COPY_CLOSING_DATE"></strong>
                                            <br>
                                            <span ng-bind="::calendar.fromDate"></span>
                                          </div>
                                          <div>
                                            <strong>
                                              <span ng-bind="calendar.assistants.length"></span><span> / </span><span ng-bind="calendar.capacity"></span></strong>
                                            </strong>
                                            <br>
                                            <span ng-bind="manage.strings.COPY_SEATS">
                                          </div>
                                        </div>
                                      </div>
                                      <div class="assistants-list__body">
                                        <div class="table-responsive">
                                          <table class="table table-hover">
                                              <tr class="text-center">
                                                  <th ng-bind="::manage.strings.HEADER_FIRST_NAME"></th>
                                                  <th ng-bind="::manage.strings.HEADER_LAST_NAME"></th>
                                                  <th ng-bind="::manage.strings.HEADER_EMAIL"></th>
                                                  <th ng-bind="::manage.strings.HEADER_ORDER"></th>
                                                  <th ng-bind="::manage.strings.HEADER_CODE"></th>
                                              </tr>
                                              <tr ng-repeat="assistant in manage.assistants">
                                                  <td>
                                                      <span class="text-capitalize" ng-bind="::assistant.first_name"></span>
                                                  </td>
                                                  <td>
                                                      <span class="text-capitalize" ng-bind="::assistant.last_name"></span>
                                                  </td>
                                                  <td>
                                                      <span ng-bind="::assistant.email"></span>
                                                  </td>
                                                  <td>
                                                      <span ng-bind="::assistant.order">
                                                      </span>
                                                  </td>
                                                  <td>
                                                      <span ng-bind="assistant.token"></span>
                                                  </td>
                                              </tr>
                                              <tr ng-repeat="assistant in manage.assistants">
                                                  <td>
                                                      <span class="text-capitalize" ng-bind="::assistant.first_name"></span>
                                                  </td>
                                                  <td>
                                                      <span class="text-capitalize" ng-bind="::assistant.last_name"></span>
                                                  </td>
                                                  <td>
                                                      <span ng-bind="::assistant.email"></span>
                                                  </td>
                                                  <td>
                                                      <span ng-bind="::assistant.order">
                                                      </span>
                                                  </td>
                                                  <td>
                                                      <span ng-bind="::assistant.token"></span>
                                                  </td>
                                              </tr>
                                          </table>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-xs-12 assistants-list__footer">
                                    <span>
                                      trulii.com
                                    </span>
                                    <span class="pt-serif text-muted">
                                      <em>Numero de pagina</em>
                                      |
                                      <em>Numero total de paginas</em>
                                    </span>

                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        <!--If there are no assistants-->
                        <div ng-if="calendar.assistants.length <= 0" class="row">
                            <br/>
                            <div class="col-xs-10 col-xs-offset-1">
                                <h4 ng-bind="::manage.strings.LABEL_EMPTY_ASSISTANTS"></h4>
                                <p ng-bind="::manage.strings.COPY_EMPTY_ASSISTANTS"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <pagination class="pagination-sm"
                                ng-model="manage.calendarPaginationOpts.pageNumber"
                                ng-change="manage.pageChange(manage.TYPE_CALENDAR)"
                                data-total-items="manage.calendarPaginationOpts.totalItems"
                                data-items-per-page="manage.calendarPaginationOpts.itemsPerPage"
                                previous-text="Previo" next-text="Siguiente" rotate="false"
                                max-size="manage.calendarPaginationOpts.maxPagesSize">
                    </pagination>
                </div>
            </div>
        </div>
        <!--If there are no calendars-->
        <div ng-if="manage.calendars.length <= 0" class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center separate-above">
                <p class="separate-above separate-below"
                ng-bind="::manage.strings.COPY_EMPTY_CALENDARS"></p>
            </div>
        </div>
    </div>
</div>
