<div class="container-fluid">
    <div class="row">
        <div class="sidebar" ng-class="{'sidebar-short': manage.scroll > 80}" style="padding-bottom: 48px">
            <ul>
                <a ui-sref=".assistants" ui-sref-opts="{reload: true}" class="sidebar__item" ui-sref-active="sidebar__item--selected">
                    <i class="sidebar__item__icon mdi-social-people"></i>
                    <span ng-bind="::manage.strings.TAB_ASSISTANTS"></span>
                </a>

                <a ui-sref=".orders" ui-sref-opts="{reload: true}" class="sidebar__item" ui-sref-active="sidebar__item--selected">
                    <i class="sidebar__item__icon mdi-maps-local-atm"></i>
                    <span ng-bind="::manage.strings.TAB_ORDERS"></span>
                </a>
            </ul>
            <div class="sidebar__bottom-action-container">
                <div class="sidebar__bottom-action-dark">
                    <ul class="list-inline list-unstyled text-center text-uppercase">
                        <li>
                            <a ui-sref="dash.activities-edit.general({activity_id:{{manage.activity.id}}})">
                                <i class="mdi-editor-mode-edit sidebar__item__icon"></i>
                                <span ng-bind="'Editar'"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-10">
            <div class="navbar-secondary" ng-class="{'navbar-secondary-short': manage.scroll > 80}">
                <a class="btn btn-default pull-right" ui-sref="activities-detail({activity_id: {{manage.activity.id}}})">
                    <i class="mdi-image-remove-red-eye sidebar__item__icon"></i>
                    <span>Ver</span>
                </a>
                <h4 class="sub-title" ng-bind="manage.activity.title"></h4>
            </div>
            <div ui-view>

            </div>
        </div>

        <div class="col-sm-12">
            <trulii-dashboard-footer></trulii-dashboard-footer>
        </div>

    </div>

</div>
