
<div class="cover-edit-activity">
    <div class="cover-edit-activity__content">
         <div class="cover-edit-activity__content-first">
             <div class="cover-edit-activity__content-title">
                 <h1 ng-bind="manage.activity.title"></h1>
                 <h5 ng-bind="manage.activity.organizer.name"></h5>
             </div>
             <div class="cover-edit-activity__content-buttons" >
                <a class="btn btn-info "
                    ui-sref="dash.activities-edit.general({activity_id: {{manage.activity.id}}})">
                    <span class="hidden-xs hidden-sm" ng-bind="::manage.strings.COPY_EDIT_ACTIVITY"></span>
                </a>
             </div>
         </div>
    </div>
</div>
<div menu-activity class="container-fluid container-fluid limited-width-dashboard-container limited-width-dashboard-container-edit-activity">
    <div class="row">
        <ul class="sidebar sidebar-edit-activity hidden-xs hidden-sm">
            <li class="sidebar__item"
               ui-sref-active="sidebar__item--selected">
                 <a  ui-sref=".summary" ui-sref-opts="{reload: true}" 
                     ng-click="manage.toggleSidebar(); manage.dashboardItem(manage.strings.TAB_SUMMARY)">
                     <span ng-bind="::manage.strings.TAB_SUMMARY"></span>
                </a>
            </li>
            <li class="sidebar__item"
                ui-sref-active="sidebar__item--selected">
                 <a  ui-sref=".assistants" ui-sref-opts="{reload: true}" 
                     ng-click="manage.toggleSidebar(); manage.dashboardItem(manage.strings.TAB_ASSISTANTS)">
                     <span ng-bind="::manage.strings.TAB_ASSISTANTS"></span>
                </a>
            </li>
            <li class="sidebar__item"
               ui-sref-active="sidebar__item--selected">
                 <a  ui-sref=".orders" ui-sref-opts="{reload: true}" 
                     ng-click="manage.toggleSidebar(); manage.dashboardItem(manage.strings.TAB_ORDERS)">
                     <span ng-bind="::manage.strings.TAB_ORDERS"></span>
                </a>
            </li>
            <li class="sidebar__item"
                 ng-class="{'sidebar__item--selected': manage.isActive('dash.activities-manage.messages'), 'sidebar__item--selected_message': manage.isActive('dash.activities-manage.messages-detail')}">
                 <a  ui-sref=".messages" ui-sref-opts="{reload: true}"
                     ng-click="manage.toggleSidebar(); manage.dashboardItem(manage.strings.TAB_MESSAGES)">
                     <span ng-bind="::manage.strings.TAB_MESSAGES"></span>
                </a>
            </li>
            
        </ul>
        <div ui-view class="col-xs-12 with-footer"></div>
    </div>
</div>
<trulii-footer></trulii-footer> 