
<div class="navbar-secondary">

    <ul>
        <li class="navbar-secondary__item active" data-toggle="tab" data-target="#password-tab">
            <span ng-bind="::account.strings.TAB_PASSWORD"></span>
        </li>

        <li class="navbar-secondary__item" data-toggle="tab" data-toggle="tab" data-target="#email-tab">
            <span ng-bind="::account.strings.TAB_EMAIL"></span>
        </li>

        <li class="navbar-secondary__item" data-toggle="tab" ng-click="profile.load_map()"  data-target="#banking-tab">
            <span ng-bind="::account.strings.TAB_BANKING"></span>
        </li>    

        <li class="navbar-secondary__item" data-toggle="tab" data-target="#history-tab">
            <span ng-bind="::account.strings.TAB_HISTORY"></span>
        </li>    
    </ul>    
    
</div>



<div class="row">

    <div class="col-md-8 col-md-offset-1 tab-content">
        <div class="tab-pane active fade in" id="password-tab">

            <p ng-bind="::account.strings.COPY_PASSWORD"></p>
            <form name='account.account_form_password' ng-submit="account.changePassword()">
                <fieldset>
                    <div class="form-group" trulii-input-errors-control="oldpassword">
                        <label ng-bind="::account.strings.LABEL_CURRENT_PASSWORD"></label>
                        <input id="id_oldpassword" class="form-control" name="oldpassword"
                               ng-model="account.password_data.oldpassword"
                               placeholder="{{account.strings.LABEL_CURRENT_PASSWORD}}"
                               type="password">
                    </div>
                    <div class="form-group" trulii-input-errors-control="password1">
                        <label ng-bind="::account.strings.LABEL_NEW_PASSWORD"></label>
                        <input class="form-control" name="password1" ng-model="account.password_data.password1"
                               placeholder="{{::account.strings.LABEL_NEW_PASSWORD}}" type="password">
                    </div>
                    <div class="form-group" trulii-input-errors-control="password2">
                        <label ng-bind="::account.strings.LABEL_REPEAT_PASSWORD"></label>
                        <input class="form-control" name="password2" ng-model="account.password_data.password2"
                               placeholder="{{::account.strings.LABEL_REPEAT_PASSWORD}}" type="password">
                    </div>

                    <trulii-submit-controls is-saving="account.isSaving"
                                            data-value="{{account.strings.ACTION_SAVE}}"></trulii-submit-controls>
                </fieldset>
            </form>
        </div>

        <div class="tab-pane fade in" id="email-tab">
            <p ng-bind="::account.strings.COPY_EMAIL"></p>
            <form name='account.account_form_email' ng-submit="account.changeEmail()">
                <fieldset>
                    <div class="form-group" trulii-input-errors-control="email">
                        <label for="email" ng-bind="::account.strings.LABEL_EMAIL"></label>
                        <input class="form-control" id="email" name="email"
                               ng-model="account.organizer.user.email" type="email">
                    </div>
                    <trulii-submit-controls is-saving="account.isSaving"
                                            data-value="{{account.strings.ACTION_SAVE}}"></trulii-submit-controls>
                </fieldset>
            </form>
        </div>
        <div class="tab-pane fade" id="banking-tab">
            <p class="text-muted" ng-bind="::account.strings.COPY_BANKING"></p>
        </div>
        <div class="tab-pane fade" id="history-tab">
            <ul class="nav nav-tabs" style="margin-bottom: 15px;">
                <li class="active">
                    <a href="#sales" data-toggle="tab" ng-bind="::account.strings.TAB_SALES"></a>
                </li>
                <li>
                    <a href="#reimbursements" data-toggle="tab" ng-bind="::account.strings.TAB_REIMBURSEMENTS"></a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="sales">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label sr-only" ng-bind="::account.strings.LABEL_SEARCH_ORDERS"></label>
                                <div class="input-group">
                                    <input class="form-control floating-label" type="text"
                                           ng-model="account.orderQuery"
                                           placeholder="{{::account.strings.COPY_SEARCH_ORDERS_HELPER}}">
                                        <span class="input-group-addon">
                                             <i class="mdi-action-search"></i>
                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div ng-if="account.sales.length > 0" class="table-responsive">
                                <table class="table table-hover">
                                    <tr class="text-center">
                                        <th ng-bind="::account.strings.LABEL_ORDER"></th>
                                        <th ng-bind="::account.strings.LABEL_ACTIVITY"></th>
                                        <th ng-bind="::account.strings.LABEL_PAYMENT"></th>
                                        <th ng-bind="::account.strings.LABEL_DETAIL"></th>
                                        <th ng-bind="::account.strings.LABEL_DATE"></th>
                                        <th ng-bind="::account.strings.LABEL_TOTAL"></th>
                                        <th></th>
                                    </tr>
                                    <tr ng-repeat="order in account.sales track by order.id | filter:account.orderQuery">
                                        <td>
                                            <span ng-bind="order.id"></span>
                                        </td>
                                        <td>
                                            <span ng-bind="::account.strings.COPY_NOT_AVAILABLE"></span>
                                        </td>
                                        <td>
                                            <span ng-bind="::account.strings.COPY_NA"></span>
                                        </td>
                                        <td>
                                            <span>
                                                <ng-pluralize count="order.assistants.length"
                                                              when="{
                                                                'one': account.strings.COPY_ONE_ASSISTANT,
                                                                'other': account.strings.COPY_MANY_ASSISTANTS
                                                              }">
                                                </ng-pluralize>
                                            </span>
                                        </td>
                                        <td>
                                            <span>DD/MM/YYYY</span>
                                        </td>
                                        <td>
                                            <span ng-bind="order.amount | currency"></span>
                                        </td>
                                        <td>
                                            <button class="btn btn-xs btn-bgsecondary pull-right no-margin"
                                                    ng-bind="::account.strings.ACTION_REIMBURSE"></button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!--If there are no Sales-->
                            <div ng-if="account.sales.length <= 0">
                                <h4 ng-bind="::account.strings.LABEL_NO_ORDERS"></h4>
                                <span ng-bind="::account.strings.COPY_NO_ORDERS"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="reimbursements">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label sr-only" ng-bind="::account.strings.LABEL_SEARCH_ORDERS"></label>
                                <div class="input-group">
                                    <input class="form-control floating-label" type="text"
                                           ng-model="account.orderQuery"
                                           placeholder="{{::account.strings.COPY_SEARCH_ORDERS_HELPER}}">
                                        <span class="input-group-addon">
                                             <i class="mdi-action-search"></i>
                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive" ng-if="account.reimbursements.length > 0">
                                <table class="table table-hover">
                                    <tr class="text-center">
                                        <th ng-bind="::account.strings.LABEL_ORDER"></th>
                                        <th ng-bind="::account.strings.LABEL_ACTIVITY"></th>
                                        <th ng-bind="::account.strings.LABEL_PAYMENT"></th>
                                        <th ng-bind="::account.strings.LABEL_DETAIL"></th>
                                        <th ng-bind="::account.strings.LABEL_DATE"></th>
                                        <th ng-bind="::account.strings.LABEL_TOTAL"></th>
                                    </tr>
                                    <tr ng-repeat="order in account.reimbursements track by order.id | filter:account.orderQuery">
                                        <td>
                                            <span ng-bind="order.id"></span>
                                        </td>
                                        <td>
                                            <span ng-bind="::account.strings.COPY_NOT_AVAILABLE"></span>
                                        </td>
                                        <td>
                                            <span ng-bind="::account.strings.COPY_NA"></span>
                                        </td>
                                        <td>
                                            <span>
                                                <ng-pluralize count="order.assistants.length"
                                                              when="{
                                                                'one': account.strings.COPY_ONE_ASSISTANT,
                                                                'other': account.strings.COPY_MANY_ASSISTANTS
                                                              }">
                                                </ng-pluralize>
                                            </span>
                                        </td>
                                        <td>
                                            <span>DD/MM/YYYY</span>
                                        </td>
                                        <td>
                                            <span ng-bind="order.amount | currency"></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!--If there are no Reimbursements-->
                            <div ng-if="account.reimbursements.length <= 0">
                                <h4 ng-bind="::account.strings.LABEL_NO_REIMBURSEMENTS"></h4>
                                <span ng-bind="::account.strings.COPY_NO_REIMBURSEMENTS"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>    
    
</div>