
<div class="navbar-secondary">
    <ul>
        <li class="navbar-secondary__item active" data-toggle="tab" data-target="#password-tab">
            <span ng-bind="::account.strings.TAB_PASSWORD"></span>
        </li>

        <li class="navbar-secondary__item" data-toggle="tab" data-target="#email-tab">
            <span ng-bind="::account.strings.TAB_EMAIL"></span>
        </li>

        <li class="navbar-secondary__item" data-toggle="tab" ng-click="profile.load_map()"  data-target="#banking-tab">
            <span ng-bind="::account.strings.TAB_BANKING"></span>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-1 tab-content">
        <div class="tab-pane active fade in" id="password-tab">
            <p ng-bind="::account.strings.COPY_PASSWORD"></p>
            <form name='account.account_form_password' ng-submit="account.changePassword()">
                <fieldset>
                    <div class="form-group" trulii-input-errors-control="oldpassword">
                        <label ng-bind="::account.strings.LABEL_CURRENT_PASSWORD"></label>
                        <input id="id_oldpassword" class="form-control" name="oldpassword"
                               ng-model="account.password_data.oldpassword"
                               placeholder="{{account.strings.LABEL_CURRENT_PASSWORD}}"
                               type="password">
                    </div>
                    <div class="form-group" trulii-input-errors-control="password1">
                        <label ng-bind="::account.strings.LABEL_NEW_PASSWORD"></label>
                        <input class="form-control" name="password1" ng-model="account.password_data.password1"
                               placeholder="{{::account.strings.LABEL_NEW_PASSWORD}}" type="password">
                    </div>
                    <div class="form-group" trulii-input-errors-control="password2">
                        <label ng-bind="::account.strings.LABEL_REPEAT_PASSWORD"></label>
                        <input class="form-control" name="password2" ng-model="account.password_data.password2"
                               placeholder="{{::account.strings.LABEL_REPEAT_PASSWORD}}" type="password">
                    </div>

                    <trulii-submit-controls is-saving="account.isSaving"
                                            data-value="{{account.strings.ACTION_SAVE}}"></trulii-submit-controls>
                </fieldset>
            </form>
        </div>
        <div class="tab-pane fade in" id="email-tab">
            <p ng-bind="::account.strings.COPY_EMAIL"></p>
            <form name='account.account_form_email' ng-submit="account.changeEmail()">
                <fieldset>
                    <div class="form-group" trulii-input-errors-control="email">
                        <label for="email" ng-bind="::account.strings.LABEL_EMAIL"></label>
                        <input class="form-control" id="email" name="email"
                               ng-model="account.organizer.user.email" type="email">
                    </div>
                    <trulii-submit-controls is-saving="account.isSaving"
                                            data-value="{{account.strings.ACTION_SAVE}}"></trulii-submit-controls>
                </fieldset>
            </form>
        </div>
        <div class="tab-pane fade" id="banking-tab">
            <p class="text-muted" ng-bind="::account.strings.COPY_BANKING"></p>
        </div>
    </div>    
    
</div>