
<div class="navbar-secondary">

    <ul>
        <li class="navbar-secondary__item active" data-toggle="tab" data-target="#published-tab">            
            <span ng-bind="::activities.strings.TAB_PUBLISHED"></span>
        </li>

        <li class="navbar-secondary__item" data-toggle="tab" data-toggle="tab" data-target="#previous-tab">            
            <span ng-bind="::activities.strings.TAB_PREVIOUS"></span>
        </li>

        <li class="navbar-secondary__item" data-toggle="tab" data-target="#drafts-tab">            
            <span ng-bind="::activities.strings.TAB_DRAFTS"></span>
        </li>    
    </ul>    
    
</div>


<div class="container-fluid">

    <div class="col-md-11 col-md-offset-1 tab-content">
        <div class="tab-pane active fade in" id="published-tab">
            
            <h4 class="text-muted" ng-bind="activities.strings.COPY_PUBLISHED"></h4>

            <div class="row activity-grid --left">
                <trulii-activity-item class="col-md-4"
                                      ng-repeat="activity in activities.published_activities track by activity.id"
                                      data-activity="activity"
                                      data-options="{{activities.currentOptions}}"></trulii-activity-item>
            </div>
            <!--If there are no activities-->
            <div ng-if="activities.published_activities.length <= 0" class="row">
                <br/>
                <div class="col-md-12">
                    <h4 ng-bind="::activities.strings.LABEL_EMPTY_PUBLISHED"></h4>
                    <p ng-bind="::activities.strings.COPY_EMPTY_PUBLISHED"></p>
                </div>
            </div>
        </div>

        <div class="tab-pane fade in" id="previous-tab">
            
            <h4 class="text-muted" ng-bind="activities.strings.COPY_PREVIOUS"></h4>

            <div class="row activity-grid --left">
                <trulii-activity-item 
                      ng-repeat="activity in activities.previous_activities track by activity.id"
                      data-activity="activity"
                      data-options="{{activities.previousOptions}}"></trulii-activity-item>
            </div>
            <!--If there are no activities-->
            <div ng-if="activities.previous_activities.length <= 0" class="row">
                <div class="col-md-12">
                    <h4 ng-bind="::activities.strings.LABEL_EMPTY_PREVIOUS"></h4>
                    <p ng-bind="::activities.strings.COPY_EMPTY_PREVIOUS"></p>
                </div>
            </div>
        </div>

        <div class="tab-pane fade in" id="drafts-tab">
            
            <h4 class="text-muted" ng-bind="activities.strings.COPY_DRAFTS"></h4>

            <div class="row activity-grid --left">
                <trulii-activity-item 
                      ng-repeat="activity in activities.draft_activities track by activity.id"
                      data-activity="activity"
                      data-options="{{activities.draftOptions}}"></trulii-activity-item>
            </div>
            <!--If there are no activities-->
            <div ng-if="activities.draft_activities.length <= 0" class="row">
                <div class="col-md-12">
                    <h4 ng-bind="::activities.strings.LABEL_EMPTY_DRAFTS"></h4>
                    <p ng-bind="::activities.strings.COPY_EMPTY_DRAFTS"></p>
                </div>
            </div>
        </div>
    </div>

</div>

