<div class="container-fluid limited-width-dashboard-container">
    <div class="row">
        <!--<div class="dropdown-mobile hidden-md hidden-lg" ng-click="dash.toggleSidebar()" >
            <span ng-bind="dash.titleActive"></span>
            <i class="fa fa-angle-right arrow-right" 
                       ng-class="{'rotate-icon': dash.showSidebar}" aria-hidden="true"></i>
        </div>-->
        <ul class="sidebar sidebar-organizer hidden-xs hidden-sm" >
            <li class="sidebar__item" ng-class="{'sidebar__item--selected': dash.isActive('organizer-dashboard.profile.*')}">
                <a  ui-sref=".profile"
                    ng-click="dash.toggleSidebar(); dash.clicItemDash(dash.strings.SECTION_PROFILE); dash.hideSubItems()">
                    <span ng-bind="::dash.strings.SECTION_PROFILE"></span>
                    
                 </a>
            </li><!--ui-sref=".activities.open" 
                <a ui-sref=".account.settings"
                ui-sref=".transactions.sales"
                ui-sref=".reviews.pending"-->
            <li class="sidebar__item" >
               <a   ng-click="dash.showSubItems(dash.strings.ACCOUNT_ITEMS); dash.clicItemDash(dash.strings.SECTION_ACCOUNT)">
                    <span ng-bind="::dash.strings.SECTION_ACCOUNT"></span>
                    <i class="fa fa-angle-right arrow-right" 
                       ng-class="{'rotate-icon': dash.isActive('organizer-dashboard.account.*') || dash.subItems[dash.strings.ACCOUNT_ITEMS]}" aria-hidden="true"></i>
                </a>
                <ul class="sidebar__item-subitems" 
                    ng-class="{'sidebar__item-expanded': dash.isActive('organizer-dashboard.account.*') || dash.subItems[dash.strings.ACCOUNT_ITEMS]}" > 
                    <li class="sidebar__item-subitem"  ng-class="{'sidebar__item-subitem--selected': dash.isActive('organizer-dashboard.account.settings')}">
                        <a ui-sref=".account.settings"
                            ng-click="dash.toggleSidebar(); dash.clicItemDash(dash.strings.SECTION_INSTRUCTORS); dash.hideSubItems(dash.strings.ACCOUNT_ITEMS)">
                            <span ng-bind="::dash.strings.SECTION_ACCOUNT_SETTINGS"></span>
                        </a>
                    </li>
                    <li class="sidebar__item-subitem" ng-class="{'sidebar__item-subitem--selected': dash.isActive('organizer-dashboard.account.banking')}">
                        <a ui-sref=".account.banking"
                            ng-click="dash.toggleSidebar(); dash.clicItemDash(dash.strings.SECTION_INSTRUCTORS); dash.hideSubItems(dash.strings.ACCOUNT_ITEMS)">
                            <span ng-bind="::dash.strings.SECTION_ACCOUNT_BANK" ></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidebar__item" >
                <a ng-click="dash.showSubItems(dash.strings.ACTIVITIES_ITEMS); dash.clicItemDash(dash.strings.SECTION_ACTIVITIES)">
                    <span ng-bind="::dash.strings.SECTION_ACTIVITIES"></span>
                    <i class="fa fa-angle-right arrow-right"
                       ng-class="{'rotate-icon': dash.isActive('organizer-dashboard.activities.*') || dash.subItems[dash.strings.ACTIVITIES_ITEMS]}" aria-hidden="true"></i>
                 </a>
                 <ul class="sidebar__item-subitems" 
                    ng-class="{'sidebar__item-expanded': dash.isActive('organizer-dashboard.activities.*') || dash.subItems[dash.strings.ACTIVITIES_ITEMS]}" > 
                    <li class="sidebar__item-subitem"  ng-class="{'sidebar__item-subitem--selected': dash.isActive('organizer-dashboard.activities.open', 'Actividades > Abiertas')}">
                        <a ui-sref=".activities.open"
                            ng-click="dash.toggleSidebar(); dash.clicItemDash(dash.strings.SECTION_ACTIVITIES); dash.hideSubItems(dash.strings.ACTIVITIES_ITEMS)">
                            <span ng-bind="::dash.strings.SECTION_ACTIVITIES_OPENED"></span>
                        </a>
                    </li>
                    <li class="sidebar__item-subitem" ng-class="{'sidebar__item-subitem--selected': dash.isActive('organizer-dashboard.activities.closed', 'Actividades > Cerradas')}">
                        <a ui-sref=".activities.closed"
                            ng-click="dash.toggleSidebar(); dash.clicItemDash(dash.strings.SECTION_ACTIVITIES); dash.hideSubItems(dash.strings.ACTIVITIES_ITEMS)">
                            <span ng-bind="::dash.strings.SECTION_ACTIVITIES_CLOSED" ></span>
                        </a>
                    </li>
                    <li class="sidebar__item-subitem" ng-class="{'sidebar__item-subitem--selected': dash.isActive('organizer-dashboard.activities.inactive', 'Actividades > Inactivas')}">
                        <a ui-sref=".activities.inactive"
                            ng-click="dash.toggleSidebar(); dash.clicItemDash(dash.strings.SECTION_ACTIVITIES); dash.hideSubItems(dash.strings.ACTIVITIES_ITEMS)">
                            <span ng-bind="::dash.strings.SECTION_ACTIVITIES_INACTIVES" ></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidebar__item" ng-class="{'sidebar__item--selected': dash.isActive('organizer-dashboard.instructors')}">
                <a ui-sref=".instructors"
                    ng-click="dash.toggleSidebar(); dash.clicItemDash(dash.strings.SECTION_INSTRUCTORS); dash.hideSubItems()">
                    <span ng-bind="::dash.strings.SECTION_INSTRUCTORS"></span>
                </a>
            </li>
            <li class="sidebar__item" >
                <a  ng-click="dash.showSubItems(dash.strings.REVIEWS_ITEMS); dash.clicItemDash(dash.strings.SECTION_REVIEWS)">
                    <span ng-bind="::dash.strings.SECTION_REVIEWS"></span>
                    <span class="label label-notification label-notification-empty separate-left-less"
                            ng-if="dash.unreadReviewsCount"></span>
                    <i class="fa fa-angle-right arrow-right" 
                       ng-class="{'rotate-icon': dash.isActive('organizer-dashboard.reviews.*') || dash.subItems[dash.strings.REVIEWS_ITEMS]}" aria-hidden="true"></i>
                </a>
                <ul class="sidebar__item-subitems" 
                    ng-class="{'sidebar__item-expanded': dash.isActive('organizer-dashboard.reviews.*') || dash.subItems[dash.strings.REVIEWS_ITEMS]}" > 
                    <li class="sidebar__item-subitem"  ng-class="{'sidebar__item-subitem--selected': dash.isActive('organizer-dashboard.reviews.pending', 'Comentarios > Sin Revisar')}">
                        <a ui-sref=".reviews.pending"
                            ng-click="dash.toggleSidebar(); dash.clicItemDash(dash.strings.SECTION_REVIEWS); dash.hideSubItems(dash.strings.REVIEWS_ITEMS)">
                            <span ng-bind="::dash.strings.SECTION_REVIEWS_PENDING"></span>
                            <span class="label label-notification separate-left-less"
                                    ng-if="dash.unreadReviewsCount"
                                    ng-bind="dash.unreadReviewsCount"></span>
                        </a>
                    </li>
                    <li class="sidebar__item-subitem" ng-class="{'sidebar__item-subitem--selected': dash.isActive('organizer-dashboard.reviews.done', 'Comentarios > Revisados')}">
                        <a ui-sref=".reviews.done"
                            ng-click="dash.toggleSidebar(); dash.clicItemDash(dash.strings.SECTION_REVIEWS); dash.hideSubItems(dash.strings.REVIEWS_ITEMS)">
                            <span ng-bind="::dash.strings.SECTION_REVIEWS_DONE" ></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidebar__item" >
                <a  ng-click="dash.showSubItems(dash.strings.TRANSACTIONS_ITEMS); dash.clicItemDash(dash.strings.SECTION_TRANSACTIONS)">
                    <span ng-bind="::dash.strings.SECTION_TRANSACTIONS"></span>
                    <i class="fa fa-angle-right arrow-right" 
                     ng-class="{'rotate-icon': dash.isActive('organizer-dashboard.transactions.*') || dash.subItems[dash.strings.TRANSACTIONS_ITEMS]}"aria-hidden="true"></i>
                </a>
                <ul class="sidebar__item-subitems" 
                    ng-class="{'sidebar__item-expanded': dash.isActive('organizer-dashboard.transactions.*') || dash.subItems[dash.strings.TRANSACTIONS_ITEMS]}" > 
                    <li class="sidebar__item-subitem"  ng-class="{'sidebar__item-subitem--selected': dash.isActive('organizer-dashboard.transactions.sales', 'Transacciones > Ventas')}">
                        <a ui-sref=".transactions.sales"
                            ng-click="dash.toggleSidebar(); dash.clicItemDash(dash.strings.SECTION_TRANSACTIONS); dash.hideSubItems(dash.strings.TRANSACTIONS_ITEMS)">
                            <span ng-bind="::dash.strings.SECTION_TRANSACTIONS_SALES"></span>
                        </a>
                    </li>
                    <li class="sidebar__item-subitem"  ng-class="{'sidebar__item-subitem--selected': dash.isActive('organizer-dashboard.transactions.balance', 'Transacciones > Balance')}">
                        <a ui-sref=".transactions.balance"
                            ng-click="dash.toggleSidebar(); dash.clicItemDash(dash.strings.SECTION_TRANSACTIONS_BALANCE); dash.hideSubItems(dash.strings.TRANSACTIONS_ITEMS)">
                            <span ng-bind="::dash.strings.SECTION_TRANSACTIONS_BALANCE"></span>
                        </a>
                    </li>
                    <li class="sidebar__item-subitem"  ng-class="{'sidebar__item-subitem--selected': dash.isActive('organizer-dashboard.transactions.withdrawals', 'Transacciones > Historial de Retiros')}">
                        <a ui-sref=".transactions.withdrawals"
                            ng-click="dash.toggleSidebar(); dash.clicItemDash(dash.strings.SECTION_TRANSACTIONS_WITHDRAWALS); dash.hideSubItems(dash.strings.TRANSACTIONS_ITEMS)">
                            <span ng-bind="::dash.strings.SECTION_TRANSACTIONS_WITHDRAWALS"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <div ui-view class="col-xs-12 with-footer"></div>
        <!--
        <div class="sidebar-mobile-toggle visible-xs-block visible-sm-block" ng-class="{'short': dash.scroll > 80}"
            ng-click="dash.toggleSidebar()">
            <i class="sidebar__item__icon mdi-navigation-menu"></i>
            <span ng-bind="::dash.strings.SECTION_PROFILE"
                  ng-class="{'hidden-xs hidden-sm': !dash.isActive('organizer-dashboard.profile.*')}"></span>
            <span ng-bind="::dash.strings.SECTION_ACCOUNT"
                  ng-class="{'hidden-xs hidden-sm': !dash.isActive('organizer-dashboard.account.*')}"></span>
            <span ng-bind="::dash.strings.SECTION_ACTIVITIES"
                  ng-class="{'hidden-xs hidden-sm': !dash.isActive('organizer-dashboard.activities.*')}"></span>
            <span ng-bind="::dash.strings.SECTION_INSTRUCTORS"
                  ng-class="{'hidden-xs hidden-sm': !dash.isActive('organizer-dashboard.instructors')}"></span>
            <span ng-bind="::dash.strings.SECTION_REVIEWS"
                  ng-class="{'hidden-xs hidden-sm': !dash.isActive('organizer-dashboard.reviews.*')}"></span>
            <span ng-bind="::dash.strings.SECTION_TRANSACTIONS"
                  ng-class="{'hidden-xs hidden-sm': !dash.isActive('organizer-dashboard.transactions.*')}"></span>
            <a class="pull-right absolute-container__close hidden-md hidden-lg" ng-click="$event.stopPropagation();" ui-sref="home">
                <img class="img-responsive" ng-src="{{dash.getAmazonUrl('static/img/close_dark.png')}}" alt=""/>
            </a>
        </div>-->
    </div>
</div>

<trulii-footer></trulii-footer>