<div class="container">
    <div class="card z-shadow-1" style="min-height: 44em;">
        <div class="col-md-3 card__lateral-menu">
            <div class="card__lateral-menu__title">
                <i class="mdi-action-account-circle"></i>
                <span> </span>
                <span ng-bind="::profile.strings.SECTION_PROFILE"></span>
            </div>
            <form name="vm.picture_form">
                <div class="form-group">
                    <div class="img-input center-childs">
                        <img class="profile-photo profile-photo--xs img-size-cover img-position-center"
                             ng-src="{{profile.organizer.photo}}" alt="{{profile.organizer.name}}"
                             ng-hide="profile.photo_loading"/>
                        <trulii-preloader loader-control="profile.photo_loading"></trulii-preloader>
                    </div>
                    <div class="center-childs">
                        <div ng-model="profile.organizer.photo_url" ng-file-drop="" ng-file-select=""
                             ng-multiple="false"
                             data-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
                             ng-file-change="profile.uploadPicture(profile.organizer.photo_url)"
                             data-allow-dir="true" data-accept="image/*">
                            <button class="btn btn-bgsecondary btn-raised"
                                    aria-label="{{::profile.strings.ACTION_UPDATE_PICTURE}}">
                                <span ng-bind="::profile.strings.ACTION_UPDATE_PICTURE"></span>
                            </button>
                        </div>
                    </div>
                    <div class="form-group" trulii-input-errors-control="photo">
                        <input type="hidden" name="photo"/>
                    </div>
                </div>
            </form>
            <ul>
                <li class="card__lateral-menu__item active" data-toggle="tab" data-target="#info-tab">
                    <a> <i class="mdi-action-info"></i>
                        <span> </span>
                        <span ng-bind="::profile.strings.TAB_INFO"></span>
                    </a>
                </li>
                <li class="card__lateral-menu__item" data-toggle="tab" data-target="#video-tab">
                    <a> <i class="mdi-av-videocam"></i>
                        <span> </span>
                        <span ng-bind="::profile.strings.TAB_VIDEO"></span>
                    </a>
                </li>
                <li class="card__lateral-menu__item" data-toggle="tab" data-target="#location-tab">
                    <a> <i class="mdi-maps-place"></i>
                        <span> </span>
                        <span ng-bind="::profile.strings.TAB_LOCATION"></span>
                    </a>
                </li>
                <!--<li class="card__lateral-menu__item" data-toggle="tab" data-target="#comments-tab">-->
                    <!--<a> <i class="mdi-communication-comment"></i>-->
                        <!--<span> </span>-->
                        <!--<span ng-bind="::profile.strings.TAB_COMMENTS"></span>-->
                    <!--</a>-->
                <!--</li>-->
            </ul>
        </div>
        <div class="col-md-9 col-md-offset-3 card-body">
            <div class="tab-content">
                <div class="tab-pane active" id="info-tab">
                    <h2 ng-bind="::profile.strings.TAB_INFO"></h2>

                    <form name='vm.profile_form_info' ng-submit="profile.submit_info()">
                        <fieldset>
                            <div class="form-group">
                                <label ng-bind="::profile.strings.LABEL_FULL_NAME"></label>
                                <input type="text" class="form-control" ng-model='profile.organizer.name'
                                       name="full_name"
                                       placeholder="{{::profile.strings.HELPER_FULL_NAME}}">
                            </div>
                            <div class="form-group">
                                <label for="bio" ng-bind="::profile.strings.LABEL_BIO"></label>
                                <textarea id="bio" class="form-control" ng-model='profile.organizer.bio' name="bio"
                                          placeholder="{{::profile.strings.HELPER_BIO}}"></textarea>
                            </div>
                            <input type="submit" id="info-submit" class="btn btn-primary"
                                   ng-value="::profile.strings.ACTION_SAVE"/>
                        </fieldset>
                    </form>
                </div>
                <div class="tab-pane" id="video-tab">
                    <h2 ng-bind="::profile.strings.TAB_VIDEO"></h2>
                    <form name='vm.profile_form_photo' ng-submit="profile.submit_video()">
                        <fieldset>
                            <div class="form-group">
                                <label ng-bind="::profile.strings.LABEL_VIDEO"></label>
                                <input type="text" class="form-control" ng-model="profile.organizer.youtube_video_url"
                                       name="video"
                                       placeholder="{{::profile.strings.PLACEHOLDER_VIDEO}}">
                            </div>
                            <div class="form-group">
                                <youtube-video video-url="profile.organizer.youtube_video_url" player-width="'100%'">
                                </youtube-video>
                            </div>
                            <input type="submit" id="video-submit" class="btn btn-primary"
                                   value="{{profile.strings.ACTION_SAVE}}"/>
                        </fieldset>
                    </form>
                </div>
                <div class="tab-pane" id="location-tab">
                    <form name='vm.organizer_location_form' ng-submit="profile.submit_location()">
                        <fieldset>
                            <h2 ng-bind="::profile.strings.TAB_LOCATION"></h2>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" trulii-input-errors-control="city">
                                        <label for="city" ng-bind="::profile.strings.LABEL_CITY"></label>
                                        <select id="city" name="city" class="form-control"
                                                ng-model="profile.organizer.location.city"
                                                ng-options="city as city.name for city in profile.cities track by city.id">
                                            <option value="" ng-show="!vm.organizer_location_form.city.$dirty"
                                                    ng-bind="::profile.strings.OPTION_SELECT" selected>
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" trulii-input-errors-control="address">
                                        <label for="address" ng-bind="::profile.strings.LABEL_ADDRESS"></label>
                                        <textarea id="address" class="form-control"
                                                  ng-model='profile.organizer.location.address'
                                                  name="address"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <ui-gmap-google-map center='profile.map.center' zoom='profile.map.zoom'
                                                        bounds="profile.map.bounds"
                                                        events="profile.map.events" control="profile.map.control">
                                        <ui-gmap-marker coords="profile.marker.coords" options="profile.marker.options"
                                                        events="profile.marker.events"
                                                        idkey="profile.marker.id"></ui-gmap-marker>
                                    </ui-gmap-google-map>
                                    <input type="submit" id="submit" class="btn btn-primary"
                                           value="{{::profile.strings.ACTION_SAVE}}"/>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <!--<div class="tab-pane" id="comments-tab">-->
                    <!--<h2 ng-bind="::profile.strings.TAB_COMMENTS"></h2>-->

                    <!--<p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Duis autem vel-->
                        <!--eum-->
                        <!--iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu-->
                        <!--feugiat nulla-->
                        <!--facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril-->
                        <!--delenit-->
                        <!--augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet,</p>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>