<div class="container">
    <div class="card z-shadow-1" style="min-height: 30em">
        <div class="row clearfix">
            <div class="col-md-3 card__lateral-menu">
                <div class="card__lateral-menu__title">
                    <i class="mdi-action-settings"></i>
                    <span> </span>
                    <span ng-bind="::activities.strings.SECTION_ACTIVITIES"></span>
                </div>
                <ul>
                    <li class="card__lateral-menu__item active" data-toggle="tab" data-target="#published-tab">
                        <a> <i class="mdi-action-view-carousel"></i>
                            <span> </span>
                            <span ng-bind="::activities.strings.TAB_PUBLISHED"></span>
                        </a>
                    </li>
                    <li class="card__lateral-menu__item" data-toggle="tab" data-target="#previous-tab">
                        <a> <i class="mdi-action-history"></i>
                            <span> </span>
                            <span ng-bind="::activities.strings.TAB_PREVIOUS"></span>
                        </a>
                    </li>
                    <li class="card__lateral-menu__item" data-toggle="tab" data-target="#drafts-tab">
                        <a> <i class="mdi-editor-mode-edit"></i>
                            <span> </span>
                            <span ng-bind="::activities.strings.TAB_DRAFTS"></span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-9 col-md-offset-3">
                <div class="card-body tab-content">
                    <div class="tab-pane active fade in" id="published-tab">
                        <h2 ng-bind="activities.strings.TAB_PUBLISHED"></h2>
                        <h4 class="text-muted" ng-bind="activities.strings.COPY_PUBLISHED"></h4>

                        <div class="row gallery-grid separate-above">
                            <div class="col-md-12"
                                 ng-repeat="activity in activities.published_activities track by activity.id">
                                <a ui-sref="activities-detail({activity_id: {{activity.id}} })"
                                   class="gallery-grid__photo gallery-grid__photo--grand img-fit"
                                   style="background: url('{{activity.main_photo}}')" alt="{{activity.title}}">
                                    <div class="gallery-grid__photo__caption">
                                        <span class="gallery-grid__photo__caption__title"
                                              ng-bind="::activity.title"></span>
                                        <span class="gallery-grid__photo__caption__complement"
                                              ng-bind="::activity.organizer.name"></span>
                                        <span class="gallery-grid__photo__caption__actions">
                                            Inicia en 3 días
                                        </span>

                                        <div class="gallery-grid__photo__caption__organizer img-fit"
                                             style="background-image: url('{{activity.organizer.photo}}')"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade in" id="previous-tab">
                        <h2 ng-bind="activities.strings.TAB_PREVIOUS"></h2>
                        <h4 class="text-muted" ng-bind="activities.strings.COPY_PREVIOUS"></h4>

                        <div class="row gallery-grid separate-above">
                            <div class="col-md-6"
                                 ng-repeat="activity in activities.previous_activities track by activity.id">
                                <a ui-sref="activities-detail({activity_id: {{activity.id}} })"
                                   class="gallery-grid__photo img-fit"
                                   style="background: url('{{activity.main_photo}}')" alt="{{activity.title}}">
                                    <div class="gallery-grid__photo__caption">
                                        <span class="gallery-grid__photo__caption__title"
                                              ng-bind="::activity.title"></span>
                                        <span class="gallery-grid__photo__caption__complement"
                                              ng-bind="::activity.organizer.name"></span>
                                        <span class="ranking-star">
                                            <i class="mdi-action-grade ranking-star__star"></i>
                                            <i class="mdi-action-grade ranking-star__star"></i>
                                            <i class="mdi-action-grade ranking-star__star"></i>
                                            <i class="mdi-action-grade ranking-star__star"></i>
                                            <i class="mdi-action-grade ranking-star__star"></i>
                                        </span>

                                        <div class="gallery-grid__photo__caption__organizer img-fit"
                                             style="background-image: url('{{activity.organizer.photo}}')"></div>
                                        <span class="gallery-grid__photo__caption__actions">
                                            Inicia en 3 días
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade in" id="drafts-tab">
                        <h2 ng-bind="activities.strings.TAB_DRAFTS"></h2>
                        <h4 class="text-muted" ng-bind="activities.strings.COPY_DRAFTS">
                        </h4>
                        <!--<div class="row gallery-grid separate-above">-->
                        <!--<div class="col-md-6"-->
                        <!--ng-repeat="activity in activities.draft_activities track by activity.id">-->
                        <!--<a ui-sref="activities-detail({activity_id: {{activity.id}} })"-->
                        <!--class="gallery-grid__photo img-fit"-->
                        <!--style="background: url('{{activity.main_photo}}')" alt="{{activity.title}}">-->
                        <!--<div class="gallery-grid__photo__caption">-->
                        <!--<span class="gallery-grid__photo__caption__title"-->
                        <!--ng-bind="::activity.title"></span>-->
                        <!--<span class="gallery-grid__photo__caption__complement"-->
                        <!--ng-bind="::activity.organizer.name"></span>-->
                        <!--<span class="ranking-star">-->
                        <!--<i class="mdi-action-grade ranking-star__star"></i>-->
                        <!--<i class="mdi-action-grade ranking-star__star"></i>-->
                        <!--<i class="mdi-action-grade ranking-star__star"></i>-->
                        <!--<i class="mdi-action-grade ranking-star__star"></i>-->
                        <!--<i class="mdi-action-grade ranking-star__star"></i>-->
                        <!--</span>-->

                        <!--<div class="gallery-grid__photo__caption__organizer img-fit"-->
                        <!--style="background-image: url('{{activity.organizer.photo}}')"></div>-->
                        <!--<span class="gallery-grid__photo__caption__actions">-->
                        <!--Inicia en 3 días-->
                        <!--</span>-->
                        <!--</div>-->
                        <!--</a>-->
                        <!--</div>-->
                        <!--</div>-->
                        <div class="row gallery-grid separate-above">
                            <div class="col-md-6"
                                 ng-repeat="activity in activities.draft_activities track by activity.id">
                                <!-- Course Card -->
                                <!-- Agregar la clase 'gallery-grid__photo--grand' para pasar a tarjeta grande  -->

                                <a ui-sref="activities-detail({activity_id: {{activity.id}} })"
                                   class="gallery-grid__photo img-fit"
                                   style="background: url('{{activity.main_photo}}')" alt="{{activity.title}}">

                                    <!-- PRICE -->
                                    <span class="gallery-grid__photo__price"> 300.000</span>

                                    <div class="gallery-grid__photo__caption">
                                        <span class="gallery-grid__photo__caption__title"
                                              ng-bind="::activity.title"></span>
                                        <span class="gallery-grid__photo__caption__complement"
                                              ng-bind="::activity.organizer.name"></span>

                                        <!-- Las estrellas se muestran en el dashboard de búsqueda sólo si ya alguien ha rankeado -->

                                        <!-- RANKER -->

                                        <!--
                                        <span class="ranking-star">
                                            <i class="mdi-action-grade ranking-star__star"></i>
                                            <i class="mdi-action-grade ranking-star__star"></i>
                                            <i class="mdi-action-grade ranking-star__star"></i>
                                            <i class="mdi-action-grade ranking-star__star"></i>
                                            <i class="mdi-action-grade ranking-star__star ranking-star__star--empty"></i>
                                        </span>
                                        -->

                                        <div class="gallery-grid__photo__caption__organizer img-fit"
                                             style="background-image: url('{{activity.organizer.photo}}')"></div>
                                        <span class="gallery-grid__photo__caption__actions">
                                            <!-- Inicia en 3 días -->

                                            <!-- <button class="btn">Contactar</button>
                                                <button class="btn">Ver</button> -->

                                        </span>
                                    </div>
                                </a>

                                <!-- -->


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

