<div class="container-fluid">
    <div class="row">
        <div class="sidebar lateral-slide" ng-class="{'sidebar-short': dash.scroll > 80, 'hidden-xs': !dash.showSidebar, 'hidden-sm': !dash.showSidebar}">
            <a ui-sref=".profile"
               class="sidebar__item"
               ng-class="{'sidebar__item--selected': dash.isActive('organizer-dashboard.profile.*')}"
               ng-click="dash.toggleSidebar()">
                <i class="sidebar__item__icon mdi-action-account-circle"></i>
                <span ng-bind="::dash.strings.SECTION_PROFILE"></span>
            </a>
            <a ui-sref=".account.settings"
               class="sidebar__item"
               ng-class="{'sidebar__item--selected': dash.isActive('organizer-dashboard.account.*')}"
               ng-click="dash.toggleSidebar()">
                <i class="sidebar__item__icon mdi-action-settings"></i>
                <span ng-bind="::dash.strings.SECTION_ACCOUNT"></span>
            </a>
            <a ui-sref=".activities.open"
               class="sidebar__item"
               ng-class="{'sidebar__item--selected': dash.isActive('organizer-dashboard.activities.*')}"
               ng-click="dash.toggleSidebar()">
                <i class="sidebar__item__icon mdi-social-school"></i>
                <span ng-bind="::dash.strings.SECTION_ACTIVITIES"></span>
            </a>
            <a ui-sref=".instructors"
               class="sidebar__item"
               ng-class="{'sidebar__item--selected': dash.isActive('organizer-dashboard.instructors')}"
               ng-click="dash.toggleSidebar()">
                <i class="sidebar__item__icon mdi-social-people"></i>
                <span ng-bind="::dash.strings.SECTION_INSTRUCTORS"></span>
            </a>
            <a ui-sref=".reviews.pending"
               class="sidebar__item"
               ng-class="{'sidebar__item--selected': dash.isActive('organizer-dashboard.reviews.*')}"
               ng-click="dash.toggleSidebar()">
                <i class="sidebar__item__icon mdi-communication-comment"></i>
                <span ng-bind="::dash.strings.SECTION_REVIEWS"></span>
                <span class="label label-success separate-left-less"
                      ng-if="dash.unreadReviewsCount"
                      ng-bind="dash.unreadReviewsCount"></span>
            </a>
            <a ui-sref=".transactions.sales"
               class="sidebar__item"
               ng-class="{'sidebar__item--selected': dash.isActive('organizer-dashboard.transactions.*')}"
               ng-click="dash.toggleSidebar()">
                <i class="sidebar__item__icon mdi-editor-attach-money"></i>
                <span ng-bind="::dash.strings.SECTION_TRANSACTIONS"></span>
            </a>
        </div>
        <div ui-view class="col-xs-12 with-footer"></div>
        <div class="sidebar-mobile-toggle visible-xs-block visible-sm-block" ng-class="{'short': dash.scroll > 80}"
            ng-click="dash.toggleSidebar()">
            <i class="sidebar__item__icon mdi-navigation-menu"></i>
            <span ng-bind="::dash.strings.SECTION_PROFILE"
                  ng-class="{'hidden-xs hidden-sm': !dash.isActive('organizer-dashboard.profile.*')}"></span>
            <span ng-bind="::dash.strings.SECTION_ACCOUNT"
                  ng-class="{'hidden-xs hidden-sm': !dash.isActive('organizer-dashboard.account.*')}"></span>
            <span ng-bind="::dash.strings.SECTION_ACTIVITIES"
                  ng-class="{'hidden-xs hidden-sm': !dash.isActive('organizer-dashboard.activities.*')}"></span>
            <span ng-bind="::dash.strings.SECTION_INSTRUCTORS"
                  ng-class="{'hidden-xs hidden-sm': !dash.isActive('organizer-dashboard.instructors')}"></span>
            <span ng-bind="::dash.strings.SECTION_REVIEWS"
                  ng-class="{'hidden-xs hidden-sm': !dash.isActive('organizer-dashboard.reviews.*')}"></span>
            <span ng-bind="::dash.strings.SECTION_TRANSACTIONS"
                  ng-class="{'hidden-xs hidden-sm': !dash.isActive('organizer-dashboard.transactions.*')}"></span>
            <a class="pull-right absolute-container__close hidden-md hidden-lg" ng-click="$event.stopPropagation();" ui-sref="home">
                <img class="img-responsive" src="/css/img/close_dark.png" alt=""/>
            </a>
        </div>
    </div>
</div>
