<div class="navbar-secondary">
    <ul>
        <li class="navbar-secondary__item active" data-toggle="tab" data-target="#open-tab">
            <span ng-bind="::activities.strings.TAB_OPEN"></span>
        </li>
        <li class="navbar-secondary__item" data-toggle="tab" data-target="#closed-tab">
            <span ng-bind="::activities.strings.TAB_CLOSED"></span>
        </li>
        <li class="navbar-secondary__item" data-toggle="tab" data-target="#inactive-tab">
            <span ng-bind="::activities.strings.TAB_INACTIVE"></span>
        </li>    
    </ul>
</div>
<div class="row">
    <div class="col-md-12 col-md-offset-1 tab-content">
        <!--Open-->
        <div class="tab-pane active fade in" id="open-tab">
            <div ng-if="activities.open_activities.length > 0">
                <p ng-bind="activities.strings.COPY_OPEN"></p>
                <div class="row activity-grid">
                    <trulii-activity-item 
                          ng-repeat="activity in activities.open_activities track by activity.id"
                          data-activity="activity"
                          data-options="{{activities.openOptions}}"></trulii-activity-item>
                </div>
            </div>
            <!--If there are no activities-->            

            <div class="row" ng-if="activities.open_activities.length <= 0">
                <div class="col-md-8 col-md-offset-2 text-center">
                        <div class="separate-below separate-above standout-text" ng-bind="::activities.strings.COPY_EMPTY_OPEN">
                        </div>
                    <a ui-sref="dash.activities-new.general" class="btn btn-lg btn-success">
                        Crear Actividad
                    </a>
                    <a ng-if="activities.closed_activities" data-toggle="tab" data-target="#closed-tab" class="btn btn-lg btn-default">
                        Republicar anterior
                    </a>
                </div>
            </div>
        </div>
        <!--Closed-->
        <div class="tab-pane fade in" id="closed-tab">
            <p ng-bind="activities.strings.COPY_CLOSED"></p>
            <div class="row activity-grid --left">
                <trulii-activity-item 
                      ng-repeat="activity in activities.closed_activities track by activity.id"
                      data-activity="activity"
                      data-options="{{activities.closedOptions}}"></trulii-activity-item>
            </div>
            <!--If there are no activities-->
            <div ng-if="activities.closed_activities.length <= 0" class="row">
                <div class="col-md-12">
                    <div class="standout-text" ng-bind="::activities.strings.LABEL_EMPTY_CLOSED"></div>
                </div>
            </div>
        </div>
        <!--Inactive-->
        <div class="tab-pane fade in" id="inactive-tab">
            <p ng-bind="activities.strings.COPY_INACTIVE"></p>
            <div class="row activity-grid --left">
                <trulii-activity-item 
                      ng-repeat="activity in activities.inactive_activities track by activity.id"
                      data-activity="activity"
                      data-options="{{activities.inactiveOptions}}"></trulii-activity-item>
            </div>
            <!--If there are no activities-->
            <div ng-if="activities.inactive_activities.length <= 0" class="row">
                <div class="col-md-12">
                    <div class="standout-text" ng-bind="::activities.strings.LABEL_EMPTY_INACTIVE"></div>
                </div>
            </div>
        </div>
    </div>
</div>
