<div ng-if="!emptyInstructor" class="card">
    <div class="card-list-item scroll-y" ng-style="{'height': cardHeight}">
        <div class="card-list-item__actions">
            <i class="glyphicon glyphicon-pencil" ng-if="!editMode" ng-click="toggleEditMode()"
               title="{{strings.ACTION_EDIT}}"></i>
            <i class="glyphicon glyphicon-remove" ng-click="deleteInstructor()" title="{{strings.ACTION_DELETE}}"></i>
        </div>
        <!--If on Edit Mode-->
        <div ng-if="editMode">
            <form ng-submit="saveInstructor()">
                <div class="form-group" ng-if="organizer.instructors.length > 0">
                    <label for="select-instructor" class="control-label">Asignar Instructor</label>
                    <select id="select-instructor" class="form-control" ng-model="selectedInstructor"
                            name="instructor"
                            ng-options="instructor as instructor.full_name for (index,instructor) in organizer.instructors"
                            ng-change="setSelectedInstructor(selectedInstructor)">
                        <option value="" ng-show="!selectedInstructor">Seleccione</option>
                    </select>
                </div>
                <div class="form-group" trulii-input-errors-control="full_name">
                    <label for="full_name" class="control-label" ng-bind="strings.LABEL_FULL_NAME"></label>
                    <input type="text" id="full_name" name="full_name"
                           ng-model="instructor.full_name"
                           placeholder="{{strings.PLACEHOLDER_FULL_NAME}}"
                           class="form-control">
                </div>

                <div class="form-group" trulii-input-errors-control="website">
                    <label for="website" class="control-label">
                        <span ng-bind="strings.LABEL_WEBSITE"></span><span ng-bind="strings.LABEL_OPTIONAL"></span>
                    </label>
                    <input id="website" class="form-control" ng-model='instructor.website' name="website"/>
                </div>

                <div class="form-group" trulii-input-errors-control="bio">
                    <label for="bio" class="control-label" ng-bind="strings.LABEL_BIO"></label>
                <textarea id="bio" class="form-control" name="bio"
                          rows="4" style="resize: none;"
                          placeholder="{{strings.PLACEHOLDER_BIO}}"
                          ng-model="instructor.bio">
                </textarea>
                </div>

                <!--TODO poner absoluto al fondo de la tarjeta-->
                <div class="text-right">
                    <button class="btn btn-default" type="button" ng-click="cancelEdition()"
                            ng-bind="strings.ACTION_CANCEL"></button>
                    <button class="btn btn-success" type="submit" ng-bind="strings.ACTION_SAVE"></button>
                </div>
            </form>
        </div>
        <!--If on View Mode-->
        <div ng-if="!editMode">
            <div class="row">
                <div class="col-md-6" trulii-input-errors-control="full_name">
                    <label for="full_name" class="control-label" ng-bind="strings.LABEL_FULL_NAME"></label>

                    <div ng-bind="instructor.full_name"></div>
                </div>
                <div class="col-md-6" trulii-input-errors-control="website">
                    <label for="website" class="control-label" ng-bind="strings.LABEL_WEBSITE"></label><br/>
                    <a ng-if="instructor.website" ng-href="{{instructor.website}}" ng-bind="instructor.website"></a>
                    <div ng-if="!instructor.website" class="text-muted" ng-bind="strings.VALUE_UNSPECIFIED"></div>
                </div>
            </div>
            <div class="row separate-above">
                <div class="col-md-12" trulii-input-errors-control="bio">
                    <label for="bio" class="control-label" ng-bind="strings.LABEL_BIO"></label>
                    <div ng-bind="instructor.bio" style="max-height: 100px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--if there's no instructor asigned-->
<!--<div class="card">-->
    <div ng-if="emptyInstructor" class="card card-list-item card-list-item--empty card-list-item--instructor"
         ng-style="{'height': cardHeight}">
        <div>
            <div class="card-list-item__add-icon" ng-click="addInstructor()">
                <br/>
                <div>Agregar Instructor</div>
            </div>
        </div>
    </div>
<!--</div>-->