<div  class="card card__instructor" >
    <div class="card__instructor-header">
           <span class="card__instructor-header-title" ng-bind="::strings.LABEL_HEADER"></span>
           <span class="card__instructor-header-name" ng-bind="instructor.full_name"></span>
           <span class="card__instructor-header-actions  hidden-xs hidden-sm" ng-mouseover="showActions()" ng-mouseleave="hideActions()">
               <i class="fa fa-cog" aria-hidden="true"></i>
           </span>
           <span class="card__instructor-header-actions  hidden-md hidden-lg" ng-click="toggleMobile()">
               <i ng-show="!showBio" class="fa fa-angle-right" aria-hidden="true"></i>
               <i ng-show="showBio" class="fa fa-angle-down" aria-hidden="true"></i>
           </span>
           
      </div>
     <div ng-show="actions" class="card__instructor-actions" ng-mouseover="showActions()" ng-mouseleave="hideActions()">
         <ul class="list-unstyled">
             <li class="card__instructor-actions-item" ng-click="toggleEditMode()">
                 <span ng-bind="::strings.ACTION_EDIT"></span>
             </li>
             <li class="card__instructor-actions-item" ng-click="deleteInstructor()">
                 <span ng-bind="::strings.ACTION_DELETE"></span>
             </li>
         </ul>
     </div>
    <div class="card-list-item" ng-class="{'card-list-item__expanded': showBio}">
        
        <!--<div class="card-list-item__actions">
            <i class="glyphicon glyphicon-pencil" ng-if="!editMode" ng-click="toggleEditMode()"
               title="{{strings.ACTION_EDIT}}"></i>
            <i class="glyphicon glyphicon-remove"  ng-show="!editMode" ng-click="deleteInstructor()" title="{{strings.ACTION_DELETE}}"></i>
        </div>-->
        <!--If on Edit Mode-->
        <div ng-if="editMode">
            <form name='instructor_form' ng-submit="saveInstructor()">
                <div class="form-group" >
                    <label for="full_name" class="control-label" ng-bind="strings.LABEL_FULL_NAME"></label>
                    <input type="text" id="full_name" name="full_name"
                           ng-model="instructorEditable.full_name"
                           placeholder="{{strings.PLACEHOLDER_FULL_NAME}}"
                           class="form-control"
                           typeahead="instructor as instructor.full_name  for instructor in availableInstructors"
                           typeahead-on-select="selectInstructor($item, $model, $label)"
                           typeahead-focus-first="false">
                </div>
                <div class="form-group separate-above">
                    <label for="bio" class="control-label" ng-bind="strings.LABEL_BIO"></label>
                <textarea id="bio" class="form-control" name="bio"
                          rows="4" style="resize: none;"
                          placeholder="{{strings.PLACEHOLDER_BIO}}"
                          ng-model="instructorEditable.bio">
                </textarea> 
                </div>

                <!--TODO poner absoluto al fondo de la tarjeta-->
                <div class=" card__instructor-buttons">
                    <button class="btn btn-default" type="button" ng-click="cancelEdition()"
                            ng-bind="strings.ACTION_CANCEL"></button>
                    <button class="btn btn-success" type="submit" ng-bind="strings.ACTION_SAVE"></button>
                </div>
            </form>
        </div>
        <!--If on View Mode-->
        <div ng-if="!editMode" class="view-mode" >
            
            <div class="row ">
                <div class="col-md-12" >
                    <div ng-bind="instructor.bio" style="max-height: 100px; word-wrap: break-word;"></div>
                </div>
            </div>
        </div>
    </div>
</div>