<div class="trulii-cover">
  <div class="trulii-cover__container">
    <div class="trulii-cover__content separate-above-more">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12"><h1 class="text-center title">
              <strong>
                <span ng-bind="::landing.strings.HEADER_TITLE_COPY_1"></span>
                <br>
                <span ng-bind="::landing.strings.HEADER_TITLE_COPY_2"></span>
              </strong>
            </h1>
          </div>
          <div class="col-xs-10 col-xs-offset-1 separate-below">
            <h3 class="text-center" ng-bind="::landing.strings.HEADER_TEXT_COPY"></h3>
          </div>
        </div>
        <div class="row separate-above separate-below">
          <div class="col-xs-12">
            <button class="btn center-block btn-success btn-lg"
              ng-click="landing.goToForm()"
              ng-bind="::landing.strings.HEADER_ACTION_START_NOW"></button>
          </div>
        </div>
      </div>
    </div>
    <div class="trulii-cover__background"
        ng-style="{ 'background-image' : 'url({{landing.getAmazonUrl('static/img/organizer-landing/banner.jpg')}}' }">

      <section class="video">
        <video class="trulii-cover__background-video"  ng-src="{{landing.getAmazonVideoUrl('static/videos/organizer_banner.webm')}}" autoplay vi-screen loop>
        </video>
      </section>
    </div>
  </div>
</div>

<div class="col-xs-12 limited-width organizer-publish separate-vertical">
  <div class="row padding-more">
    <div class="col-xs-12">
      <h1 class="text-center text-primary">
        <strong ng-bind="::landing.strings.PUBLISH_TITLE_COPY">
        </strong>
      </h1>
    </div>
    <div class="col-xs-12">
      <h4 class="text-center" >
        <span ng-bind="::landing.strings.PUBLISH_TEXT_COPY_1"></span>
        <br>
        <span ng-bind="::landing.strings.PUBLISH_TEXT_COPY_2"></span>
      </h4>
    </div>
    <div class="col-xs-12 col-md-10 col-md-offset-1 separate-above-more">
      <div class="row">
        <div class="col-xs-12 col-md-6 separate-below-mobile">
          <div class="row">
            <div class="col-xs-12">
              <div class="publish-icon publish-icon-1">
                <img ng-src="{{landing.getAmazonUrl('static/img/organizer-landing/publish_1.png')}}" class="img-responsive center-block"
                alt=""/>
              </div>
            </div>
            <div class="col-xs-12 col-md-8 col-md-offset-2">
              <h5 class="text-uppercase text-center">
                <span class="font-bold text-spaced-less text-md" ng-bind="::landing.strings.PUBLISH_1_TITLE"></span>
              </h5>
              <p class="text-center" ng-bind="::landing.strings.PUBLISH_1_TEXT"></p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 separate-below-mobile">
          <div class="row">
            <div class="col-xs-12">
              <div class="publish-icon publish-icon-2">
                <img ng-src="{{landing.getAmazonUrl('static/img/organizer-landing/publish_2.png')}}" class="img-responsive center-block"
                alt=""/>
              </div>
            </div>
            <div class="col-xs-12 col-md-8 col-md-offset-2">
              <h5 class="text-uppercase text-center">
                <span class="font-bold text-spaced-less text-md" ng-bind="::landing.strings.PUBLISH_2_TITLE"></span>
              </h5>
              <p class="text-center" ng-bind="::landing.strings.PUBLISH_2_TEXT"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6 separate-below-mobile">
          <div class="row">
            <div class="col-xs-12">
              <div class="publish-icon publish-icon-3">
                <img ng-src="{{landing.getAmazonUrl('static/img/organizer-landing/publish_3.png')}}" class="img-responsive center-block"
                alt=""/>
              </div>
            </div>
            <div class="col-xs-12 col-md-8 col-md-offset-2">
              <h5 class="text-uppercase text-center">
                  <span class="font-bold text-spaced-less text-md" ng-bind="::landing.strings.PUBLISH_3_TITLE"></span>
              </h5>
              <p class="text-center" ng-bind="::landing.strings.PUBLISH_3_TEXT"></p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 separate-below-mobile">
          <div class="row">
            <div class="col-xs-12">
              <div class="publish-icon publish-icon-4">
                <img ng-src="{{landing.getAmazonUrl('static/img/organizer-landing/publish_4.png')}}" class="img-responsive center-block"
                alt=""/>
              </div>
            </div>
            <div class="col-xs-12 col-md-8 col-md-offset-2">
              <h5 class="text-uppercase text-center">
                  <span class="font-bold text-spaced-less text-md" ng-bind="::landing.strings.PUBLISH_4_TITLE"></span>
              </h5>
              <p class="text-center">
                <span ng-bind="::landing.strings.PUBLISH_4_TEXT_1"></span>
                <br>
                <span ng-bind="::landing.strings.PUBLISH_4_TEXT_2"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12" id="anchor-how">
  <div class="row container-muted">
    <div class="col-xs-12 limited-width separate-above-more separate-below-more">
      <h1 class="text-center title">
        <strong ng-bind="::landing.strings.HOW_TITLE">
        </strong>
      </h1>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 limited-width separate-below">
      <div class="row">
        <div class="col-xs-12 col-md-3 separate-below-mobile">
          <div class="how-icon how-icon-1">
            <img ng-src="{{landing.getAmazonUrl('static/img/organizer-landing/how_1.png')}}" alt="" class="img-responsive center-block">
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
              <p class="text-center " ng-bind="::landing.strings.HOW_TEXT_1"></p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-3 separate-below-mobile">
          <div class="how-icon how-icon-2">
            <img ng-src="{{landing.getAmazonUrl('static/img/organizer-landing/how_2.png')}}" alt="" class="img-responsive center-block">
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
              <p class="text-center " ng-bind="::landing.strings.HOW_TEXT_2"></p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-3 separate-below-mobile">
          <div class="how-icon how-icon-3">
            <img ng-src="{{landing.getAmazonUrl('static/img/organizer-landing/how_3.png')}}" alt="" class="img-responsive center-block">
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
              <p class="text-center " ng-bind="::landing.strings.HOW_TEXT_3"></p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-3 separate-below-mobile">
          <div class="how-icon how-icon-4">
            <img ng-src="{{landing.getAmazonUrl('static/img/organizer-landing/how_4.png')}}" alt="" class="img-responsive center-block">
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
              <p class="text-center " ng-bind="::landing.strings.HOW_TEXT_4"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 separate-below-more">
      <button class="btn center-block btn-success btn-lg"
        ng-click="landing.goToForm()"
        ng-bind="::landing.strings.HEADER_ACTION_START_NOW">
      </button>
    </div>
  </div>
</div>

<div class="col-xs-12 container-brand padding-vertical">
  <div class="row separate-above-more">
    <div class="col-xs-12 limited-width">
      <h1 class="text-center title separate-below-more">
          <strong ng-bind="::landing.strings.MORE_INFO_TITLE"></strong>
      </h1>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 limited-width separate-below-more">
      <div class="row">
        <div class="col-xs-12 col-md-4 separate-below-mobile">
          <div class="info-icon">
            <img ng-src="{{landing.getAmazonUrl('static/img/organizer-landing/info_1.png')}}" alt="" class="img-responsive center-block">
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
              <h3 class="text-center">
                <strong ng-bind="::landing.strings.MORE_INFO_MONETIZATION_TITLE"></strong>
              </h3>
              <p class="text-center ">
                <span ng-bind="::landing.strings.MORE_INFO_MONETIZATION_TEXT_1"></span>
                <a href="#" ng-bind="::landing.strings.MORE_INFO_MONETIZATION_TEXT_2"></a>
                <span ng-bind="::landing.strings.MORE_INFO_MONETIZATION_TEXT_3"></span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4 separate-below-mobile">
          <div class="info-icon">
            <img ng-src="{{landing.getAmazonUrl('static/img/organizer-landing/info_2.png')}}" alt="" class="img-responsive center-block">
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
              <h3 class="text-center">
                <strong ng-bind="::landing.strings.MORE_INFO_TIPS_TITLE"></strong>
              </h3>
              <p class="text-center ">
                <span ng-bind="::landing.strings.MORE_INFO_TIPS_TEXT_1"></span>
                <a href="#" ng-bind="::landing.strings.MORE_INFO_TIPS_TEXT_2"></a>
                <span ng-bind="::landing.strings.MORE_INFO_TIPS_TEXT_3"></span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4 separate-below-mobile">
          <div class="info-icon">
            <img ng-src="{{landing.getAmazonUrl('static/img/organizer-landing/info_3.png')}}" alt="" class="img-responsive center-block">
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
              <h3 class="text-center">
                <strong ng-bind="::landing.strings.MORE_INFO_FAQ_TITLE"></strong>
              </h3>
              <p class="text-center ">
                <span ng-bind="::landing.strings.MORE_INFO_FAQ_TEXT_1"></span>
                <a href="#" ng-bind="::landing.strings.MORE_INFO_FAQ_TEXT_2"></a>
                <span ng-bind="::landing.strings.MORE_INFO_FAQ_TEXT_3"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12 limited-width separate-above-more separate-below-more organizer-signup">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="padding-more fade-hide" ng-hide="!landing.sent">
        <div class="organizer-success separate-above-more">
          <img ng-src="{{landing.getAmazonUrl('static/img/organizer-landing/success.png')}}" alt=""
            class="img-responsive center-block">
        </div>
        <h1 class="text-center title separate-above">
            <span ng-bind="::landing.strings.SIGN_UP_SUCCESS_TITLE_1"></span>
            <br>
            <span ng-bind="::landing.strings.SIGN_UP_SUCCESS_TITLE_2"></span>
        </h1>
      </div>
      <div id="anchor"></div>
    </div>
    <div class="padding-more" ng-hide="landing.sent" id="anchor">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <h1 class="text-center title">
              <strong ng-bind="::landing.strings.SIGN_UP_TITLE"></strong>
          </h1>
      </div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
          <h4 class="text-center no-margin-top" ng-bind="::landing.strings.SIGN_UP_TEXT"></h4>
      </div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <form class="separate-above-medium separate-below-more"
          name='landing.pre_signup_form' id="organizer_signup_form" ng-submit="landing.requestSignup()">
          <fieldset>
            <div class="form-group" trulii-input-errors-control="name">
              <label for="name" ng-bind="::landing.strings.LABEL_NAME"></label>
              <input id="name" class="form-control" name="name" type="text"
                ng-model="landing.request.name"
                placeholder="{{::landing.strings.PLACEHOLDER_NAME}}">
            </div>
            <div class="form-group" trulii-input-errors-control="email">
              <label for="name" ng-bind="::landing.strings.LABEL_EMAIL"></label>
              <input id="email" class="form-control" name="email" type="text"
                ng-model="landing.request.email"
                placeholder="{{::landing.strings.PLACEHOLDER_EMAIL}}">
            </div>
            <div class="form-group" trulii-input-errors-control="telephone">
              <label for="name" ng-bind="::landing.strings.LABEL_TELEPHONE"></label>
              <input name="telephone" class="form-control" type="tel"
                placeholder="{{::landing.strings.PLACEHOLDER_TELEPHONE}}"
                ng-model="landing.request.telephone" value="">
            </div>
            <!--<div class="form-group" trulii-input-errors-control="city">
              <label for="city" ng-bind="::landing.strings.LABEL_CITY"></label>
              <select class="form-control" id="city" name="city" ng-model="landing.selectedCity"
                ng-options="city as city.name for city in landing.cities track by city.id">
                <option value="" ng-bind="::landing.strings.PLACEHOLDER_CITY"></option>
              </select>
            </div>-->
            <div class="form-group" trulii-input-errors-control="document">
              <label for="document_type" ng-bind="::landing.strings.LABEL_DOCUMENT_TYPE"></label>
              <div class="input-group">
                <div class="select-forms" style="width: 40%">
                    <label>
                        <select id="document_type" class="form-control" name="document_type"
                          ng-model="landing.request.document_type"
                          ng-options="document.id as document.name for document in landing.documentTypes">
                        </select>
                    </label>
                </div>
                <input name="document" class="form-control" id="document" type="text"
                  placeholder="{{::landing.strings.PLACEHOLDER_DOCUMENT}}"
                  ng-model="landing.request.document" value="" style="width: 60%">
              </div>
            </div>
            <div class="form-group" trulii-input-errors-control="__all__">
              <input type="hidden" ng-model="landing.errors.__all__" name="__all__"/>
            </div>
            <div class="form-group">
              <button class="btn btn-warning btn-lg center-block separate-above-medium" type="submit" id="submit"
                ng-bind="landing.strings.ACTION_SIGNUP">
              </button>
            </div>
          </fieldset>
          <trulii-preloader loader-control="landing.isSigningUp"></trulii-preloader>
        </form>
      </div>
    </div>
  </div>
</div>

<trulii-footer></trulii-footer>
