<div class="trulii-cover">
  <div class="trulii-cover__container">
    <div class="trulii-cover__content separate-above-more">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12 col-md-6 col-md-offset-3"><h1 class="text-center title">
              <strong>
                <span ng-bind="::landing.strings.HEADER_TITLE_COPY_1"></span>
                <br>
                <span ng-bind="::landing.strings.HEADER_TITLE_COPY_2"></span>
              </strong>
            </h1>
          </div>
          <div class="col-xs-10 col-xs-offset-1">
            <h3 class="text-center pt-sans" ng-bind="::landing.strings.HEADER_TEXT_COPY"></h3>
          </div>
        </div>
        <div class="row separate-above separate-below">
          <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4">
            <button class="btn btn-block btn-success btn-lg"
              ng-click="landing.goToForm()"
              ng-bind="::landing.strings.HEADER_ACTION_START_NOW"></button>
          </div>
        </div>
      </div>
    </div>
    <div class="trulii-cover__background"
        ng-style="{ 'background-image' : 'url({{landing.getAmazonUrl('static/img/organizer-landing/banners/banner.jpg')}}' }">

      <section class="video">
        <video class="trulii-cover__background-video"  ng-src="{{landing.getAmazonVideoUrl('static/videos/organizer_banner.webm')}}" autoplay vi-screen loop>
        </video>
      </section>
    </div>
  </div>
</div>

<div class="col-xs-12">
  <div class="row container-muted padding-more">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <h1 class="text-center text-primary">
        <strong ng-bind="::landing.strings.PUBLISH_TITLE_COPY">
        </strong>
      </h1>
    </div>
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h3 class="text-center text-muted" >
        <span ng-bind="::landing.strings.PUBLISH_TEXT_COPY_1"></span>
      </h3>
    </div>
    <div class="col-xs-12 separate-above-more">
      <div class="row">
        <div class="col-xs-12 col-md-6 separate-below-mobile">
          <div class="row">
            <div class="col-xs-12 col-md-3 col-md-offset-2">
              <img ng-src="{{landing.getAmazonUrl('static/img/organizer-landing/heavy_lifting.png')}}" class="img-responsive center-block"
                alt=""/>
            </div>
            <div class="col-xs-12 col-md-7">
              <h4 class="text-gray-green text-uppercase text-center-mobile">
                <span class="sinkin-bold text-spaced-less text-md" ng-bind="::landing.strings.PUBLISH_DIRT_WORK_TITLE"></span>
              </h4>
              <p class="text-center-mobile" ng-bind="::landing.strings.PUBLISH_DIRTY_WORK_TEXT"></p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 separate-below-mobile">
          <div class="row">
            <div class="col-xs-12 col-md-3">
              <img ng-src="{{landing.getAmazonUrl('static/img/organizer-landing/visibility.png')}}" class="img-responsive center-block"
                alt=""/>
            </div>
            <div class="col-xs-12 col-md-7">
              <h4 class="text-gray-green text-uppercase text-center-mobile">
                <span class="sinkin-bold text-spaced-less text-md" ng-bind="::landing.strings.PUBLISH_VISIBILITY_TITLE"></span>
              </h4>
              <p class="text-center-mobile" ng-bind="::landing.strings.PUBLISH_VISIBILITY_TEXT"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6 separate-below-mobile">
          <div class="row">
            <div class="col-xs-12 col-md-3 col-md-offset-2">
              <img ng-src="{{landing.getAmazonUrl('static/img/organizer-landing/easy.png')}}" class="img-responsive center-block" alt=""/>
            </div>
            <div class="col-xs-12 col-md-7">
              <h4 class="text-gray-green text-uppercase text-center-mobile">
                  <span class="sinkin-bold text-spaced-less text-md" ng-bind="::landing.strings.PUBLISH_EASY_TITLE"></span>
              </h4>
              <p class="text-center-mobile" ng-bind="::landing.strings.PUBLISH_EAST_TEXT"></p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 separate-below-mobile">
          <div class="row">
            <div class="col-xs-12 col-md-3">
              <img ng-src="{{landing.getAmazonUrl('static/img/organizer-landing/trust.png')}}" class="img-responsive center-block" alt=""/>
            </div>
            <div class="col-xs-12 col-md-7">
              <h4 class="text-gray-green text-uppercase text-center-mobile">
                  <span class="sinkin-bold text-spaced-less text-md" ng-bind="::landing.strings.PUBLISH_TRUST_TITLE"></span>
              </h4>
              <p class="text-center-mobile" ng-bind="::landing.strings.PUBLISH_TRUST_TEXT"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12" id="anchor-how">
  <div class="row container-success">
    <div class="col-xs-12 separate-above-more separate-below-medium">
      <h1 class="text-center title">
        <strong ng-bind="::landing.strings.HOW_TITLE">
        </strong>
      </h1>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 separate-below-more">
      <div class="row">
        <div class="col-xs-12 col-md-4 separate-below-mobile">
          <img ng-src="{{landing.getAmazonUrl('static/img/organizer-landing/how_it_works_3.png')}}" alt="" class="img-responsive center-block">
          <h4 class="text-center " ng-bind="::landing.strings.HOW_TEXT_1"></h4>
        </div>
        <div class="col-xs-12 col-md-4 separate-below-mobile">
          <img ng-src="{{landing.getAmazonUrl('static/img/organizer-landing/how_it_works_2.png')}}" alt="" class="img-responsive center-block">
          <h4 class="text-center " ng-bind="::landing.strings.HOW_TEXT_2"></h4>
        </div>
        <div class="col-xs-12 col-md-4 separate-below-mobile">
          <img ng-src="{{landing.getAmazonUrl('static/img/organizer-landing/how_it_works_1.png')}}" alt="" class="img-responsive center-block">
          <h4 class="text-center " ng-bind="::landing.strings.HOW_TEXT_3"></h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12">
  <div class="row padding-more">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <h1 class="text-center text-primary title separate-below-medium">
          <strong ng-bind="::landing.strings.MORE_INFO_TITLE"></strong>
      </h1>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="circular-image-container">
        <div class="circular-image-container__veil"></div>
        <div class="circular-image-container__background"
          ng-style="{ 'background-image' : 'url({{landing.getAmazonUrl('static/img/organizer-landing/monetization.jpg')}})' }"></div>
        <h2 class="circular-image-container__title" ng-bind="::landing.strings.MORE_INFO_MONETIZATION_TITLE"></h2>
      </div>
      <p class="montserrat-light text-center separate-above text-lg-2" ng-bind="::landing.strings.MORE_INFO_MONETIZATION_TEXT"></p>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="circular-image-container">
        <div class="circular-image-container__veil"></div>
        <div class="circular-image-container__background"
          ng-style="{ 'background-image' : 'url({{landing.getAmazonUrl('static/img/organizer-landing/tips.jpg')}})' }"></div>
        <h2 class="circular-image-container__title" ng-bind="::landing.strings.MORE_INFO_TIPS_TITLE"></h2>
      </div>
      <p class="montserrat-light text-center separate-above text-lg-2">
        <span ng-bind="::landing.strings.MORE_INFO_TIPS_TEXT_1"></span>
        <a href="#" ng-bind="::landing.strings.MORE_INFO_TIPS_TEXT_2"></a>
      </p>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="circular-image-container">
        <div class="circular-image-container__veil"></div>
        <div class="circular-image-container__background"
          ng-style="{ 'background-image' : 'url({{landing.getAmazonUrl('static/img/organizer-landing/faq.jpg')}})' }"></div>
        <h2 class="circular-image-container__title" ng-bind="::landing.strings.MORE_INFO_FAQ_TITLE"></h2>
      </div>
      <p class="montserrat-light text-center separate-above text-lg-2">
        <span ng-bind="::landing.strings.MORE_INFO_FAQ_TEXT_1"></span>
        <a href="#" ng-bind="::landing.strings.MORE_INFO_FAQ_TEXT_2"></a>
        <span ng-bind="::landing.strings.MORE_INFO_FAQ_TEXT_3"></span>
        <a href="#" ng-bind="::landing.strings.MORE_INFO_FAQ_TEXT_4"></a>
        <span ng-bind="::landing.strings.MORE_INFO_FAQ_TEXT_5"></span>
        <a ui-sref="contact-us" ng-bind="::landing.strings.MORE_INFO_FAQ_TEXT_6"></a>
      </p>
    </div>
  </div>
</div>

<div class="trulii-cover">
  <div class="trulii-cover__container">
    <div class="trulii-cover__content">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <div class="padding-more fade-hide" ng-hide="!landing.sent">
              <img ng-src="{{landing.getAmazonUrl('static/img/organizer-landing/cool.png')}}" alt=""
                class="img-responsive center-block separate-above-more">

              <h1 class="text-center separate-above">
                  <strong ng-bind="::landing.strings.SIGN_UP_SUCCESS_TITLE"></strong>
              </h1>

              <h3 class="text-center" ng-bind="::landing.strings.SIGN_UP_SUCCESS_TEXT_1"></h3>

              <h3 class="text-center" ng-bind="::landing.strings.SIGN_UP_SUCCESS_TEXT_2"></h3>
            </div>
            <div id="anchor"></div>
          </div>
          <div class="padding-more" ng-hide="landing.sent" id="anchor">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <h1 class="text-center title">
                    <strong ng-bind="::landing.strings.SIGN_UP_TITLE"></strong>
                </h1>
            </div>
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <h3 class="text-center no-margin-top" ng-bind="::landing.strings.SIGN_UP_TEXT"></h3>
            </div>
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
              <form class="form-classic separate-above-medium separate-below-more"
                name='landing.pre_signup_form' id="organizer_signup_form" ng-submit="landing.requestSignup()">
                <fieldset>
                  <div class="form-group" trulii-input-errors-control="name">
                    <input id="name" class="form-control" name="name" type="text"
                      ng-model="landing.request.name"
                      placeholder="{{::landing.strings.PLACEHOLDER_NAME}}">
                  </div>
                  <div class="form-group" trulii-input-errors-control="email">
                    <input id="email" class="form-control" name="email" type="text"
                      ng-model="landing.request.email"
                      placeholder="{{::landing.strings.PLACEHOLDER_EMAIL}}">
                  </div>
                  <div class="form-group" trulii-input-errors-control="telephone">
                    <input name="telephone" class="form-control" type="tel"
                      placeholder="{{::landing.strings.PLACEHOLDER_TELEPHONE}}"
                      ng-model="landing.request.telephone" value="">
                  </div>
                  <div class="form-group" trulii-input-errors-control="city">
                    <label for="city" class="sr-only" ng-bind="::landing.strings.LABEL_CITY"></label>
                    <select class="form-control" id="city" name="city" ng-model="landing.selectedCity"
                      ng-options="city as city.name for city in landing.cities track by city.id">
                      <option value="" ng-bind="::landing.strings.PLACEHOLDER_CITY"></option>
                    </select>
                  </div>
                  <div class="form-group" trulii-input-errors-control="city">
                    <div class="row">
                      <div class="col-xs-4">
                        <label class="sr-only" for="document_type" ng-bind="::landing.strings.LABEL_DOCUMENT_TYPE"></label>
                        <select id="document_type" class="form-control" name="document_type"
                          ng-model="landing.request.document_type"
                          ng-options="document.id as document.name for document in landing.documentTypes">
                        </select>
                      </div>
                      <div class="col-xs-8">
                        <label class="sr-only" for="document" ng-bind="::landing.strings.LABEL_DOCUMENT"></label>
                        <input name="document" class="form-control" id="document" type="text"
                          placeholder="{{::landing.strings.PLACEHOLDER_DOCUMENT}}"
                          ng-model="landing.request.document" value="">
                      </div>
                    </div>
                  </div>
                  <div class="form-group" trulii-input-errors-control="__all__">
                    <input type="hidden" ng-model="landing.errors.__all__" name="__all__"/>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-block btn-success btn-lg" type="submit" id="submit"
                      ng-bind="landing.strings.ACTION_SIGNUP">
                    </button>
                  </div>
                </fieldset>
                <trulii-preloader loader-control="landing.isSigningUp"></trulii-preloader>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="trulii-cover__background"
        ng-style="{ 'background-image' : 'url({{landing.getAmazonUrl('static/img/organizer-landing/banners/form-banner.png')}})' }">
  </div>
</div>
<trulii-footer></trulii-footer>
