<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
        <div class="card">
            <div class="card-header">
                <strong>{{::vm.strings.REQUEST_SIGNUP_LABEL}}</strong>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 col-md-10 col-md-offset-1">
                        <form name='vm.pre_signup_form' ng-submit="vm.request_signup()">
                            <fieldset>
                                <div class="form-group" trulii-input-errors-control="email">
                                    <label for="email" class="sr-only"
                                           ng-bind="::vm.strings.EMAIL_LABEL"></label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                          <i class="mdi-communication-email"></i>
                                        </span>
                                        <input id="email" class="form-control" name="email" type="text"
                                               ng-model="vm.request.email"
                                               placeholder="{{::vm.strings.EMAIL_LABEL}}"
                                               trulii-input-autofocus>
                                    </div>

                                    
                                </div>
                                <div class="form-group" trulii-input-errors-control="name">
                                    <label for="name" class="sr-only"
                                           ng-bind="::vm.strings.PLACEHOLDER_NAME"></label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                          <i class="mdi-social-person"></i>
                                        </span>
                                        <input id="name" class="form-control" name="name" type="text"
                                               ng-model="vm.request.name"
                                               placeholder="{{::vm.strings.PLACEHOLDER_NAME}}" >
                                    </div>
                                    
                                </div>
                                <div class="form-group" trulii-input-errors-control="telephone">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                          <i class="mdi-communication-call-end"></i>
                                        </span>
                                        <input name="telephone" class="form-control" type="tel"
                                               placeholder="{{::vm.strings.PLACEHOLDER_TELEPHONE}}"
                                               ng-model="vm.request.telephone" value="">
                                    </div>
                                    
                                </div>
                                <div class="form-group" trulii-input-errors-control="want_to_teach">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                          <i class="mdi-social-school"></i>
                                        </span>
                                        <textarea name="want_to_teach" class="form-control"
                                                  ng-model="vm.request.want_to_teach"
                                                  placeholder="{{::vm.strings.PLACEHOLDER_WANT_TO_TEACH}}">
                                        </textarea>

                                    </div>
                                    
                                </div>
                                <div class="form-group" trulii-input-errors-control="city">
                                    <label for="city-select-landing" class="sr-only"
                                           ng-bind="::vm.strings.CITY_LABEL"></label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                          <i class="mdi-maps-place"></i>
                                        </span>
                                        <select id="city-select-landing" name="city"
                                                class="form-control" ng-model="vm.request.current_city"
                                                ng-options="city as city.name for city in vm.cities track by city.id"
                                                >
                                            <option value="" ng-show="!vm.request.current_city" selected ng-bind="::vm.strings.CITY_DEFAULT_LABEL">
                                            </option>
                                        </select>
                                    </div>
                                    <trulii-input-alert field="vm.pre_signup_form.city"
                                                        errors="vm.errors"></trulii-input-alert>
                                </div>

                                <div class="alert alert-error" ng-show="vm.errors.__all__">
                                    <strong>{{vm.errors.__all__}}</strong>
                                </div>

                                <div class="form-group">
                                    <button type="submit" id="submit"
                                            class="btn btn-lg btn-primary btn-block"
                                            ng-bind="vm.strings.REQUEST_SIGNUP_LABEL">
                                    </button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-10 col-md-offset-1">
                        <p class="text-muted">Registrandome estoy aceptando los
                            <strong>Terminos y Condiciones</strong>
                            y la <strong>Política de Privacidad</strong> de Trulii</p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                ¿Ya tienes cuenta en Trulii? <a ui-sref="login" ng-bind="::vm.strings.LOGIN_LABEL"></a>
            </div>

        </div>
    </div>
</div>