# Gulp build temp folder
/temp

# Templates file
app/js/trulii.templates.js

# serverConf
app/js/trulii.serverConf.js

# Bower and NPM directories
node_modules/
bower_components/
app/lib/

# Compiled Styles
app/css/*.css
app/css/*.css.map
!app/css/font-awesome.css #Except font-awesome
# Videos
app/videos/*

# Generated Docs directory
docs/

# Distribution directory
public/

# IntelliJ IDEs
.idea/

# Mac scumbag files
**/*/.DS_Store

# VS Code metaata
.vscode/
