<div class="row  limited-width-dashboard limited-width-dashboard__edit-activity">
    <div class="col-xs-12  ">
        <div class="row" ui-view >
            <div class="col-xs-12 panel-default panel-default__dashboard panel-default__dashboard-sub flex-betweent-container no-padding" >
                    <h4 class="panel-default__dashboard-title-calendar separate-left"  ng-bind="::calendars.strings.LABEL_CALENDARS"></h4>
                   <div class="panel-default__dashboard-tabs">
                       <div class="panel-default__dashboard-tab" ng-click="calendars.changeSchedule(true)" ng-class="{'panel-default__dashboard-tab-active': calendars.activity.is_open}">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <span ng-bind="::calendars.strings.LABEL_CALENDAR_OPEN"></span>
                       </div>
                       <div class="panel-default__dashboard-tab" ng-click="calendars.changeSchedule(false)"  ng-class="{'panel-default__dashboard-tab-active': !calendars.activity.is_open}">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <span ng-bind="::calendars.strings.LABEL_CALENDAR_CLOSED"></span>
                       </div>
                   </div>
            </div>
            <div class="col-xs-12 panel-default panel-default__dashboard panel-default__dashboard-sub-second-calendar">
                <!--div class="trulii-checkbox">
                    <input type="checkbox" id="free" ng-model="calendars.activity.isOpen" ng-change="calendars.hideCalendars()">
                    <label for="free"><span></span>Ocultar horarios de la publicación</label>
                </div>-->
                <span class="text-gray-dark " ng-if="calendars.activity.is_open" ng-bind="::calendars.strings.COPY_ADD_CALENDAR_OPEN"></span>
                <span class="text-gray-dark " ng-if="!calendars.activity.is_open" ng-bind="::calendars.strings.COPY_ADD_CALENDAR_CLOSE"></span>
                 <button class="btn btn-sm btn-info btn-panel"
                            ng-show="calendars.checkNoMoreCalendars()"  
                            ng-click="calendars.createCalendar()"
                             ng-bind="::calendars.strings.LABEL_ADD_CALENDAR"></button>
            </div>
                <div ng-if="calendars.republish" class="alert alert-warning">
                    <h4 ng-bind="::calendars.strings.LABEL_WARNING">Advertencia!</h4>

                    <p ng-bind="::calendars.strings.COPY_REPUBLISH_CALENDAR"></p>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-12 clear-spacings" ng-repeat="calendar in calendars.calendars | orderBy: 'initial_date'">
                            <div class="card card__calendar">
                                <div class="card__calendar-header">
                                    <div class="card__calendar-header-date">
                                        <div class="card__calendar-date date-init" ng-if="!calendars.activity.is_open">
                                            <h5 ng-bind="::calendars.strings.LABEL_START"></h5>
                                            <span class="text-capitalize text-md"
                                                  ng-bind="calendar.initial_date | date: 'dd MMM yyyy'"></span>
                                        </div>
                                        <div class="card__calendar-date date-init" ng-if="calendars.activity.is_open">
                                            <h5 ng-bind="::calendars.strings.LABEL_PACKAGES"></h5>
                                            <span class="text-md" ng-bind="::calendars.strings.LABEL_PACKAGES_PLAN"></span>
                                            <span class="text-capitalize text-md" ng-bind="calendar.packages.length"></span>
                                        </div>
                                    </div>
                                    <div class="card__calendar-header-actions">
                                        <i class="glyphicon glyphicon-pencil" ng-click="calendars.loadCalendar(calendar)"
                                           title="{{::calendars.strings.LABEL_EDIT_CALENDAR}}"></i>
                                        <i class="glyphicon glyphicon-trash" ng-click="calendars.deleteCalendar(calendar)"
                                           title="{{::calendars.strings.LABEL_DELETE_CALENDAR}}"></i>
                                    </div>
                                </div>
                                
                                <div class="card__calendar-footer">
                                    <div class="card__calendar-footer-price" ng-if="!calendars.activity.is_open">
                                        <span ng-bind="calendar.available_capacity"></span>
                                        <span ng-bind="::calendars.strings.LABEL_CALENDAR_SEATS"></span>
                                        <span class="price-separator">|</span>
                                        <span ng-class="{'text-strike': calendar.is_free}">
                                            <span>COP</span>
                                            <span ng-bind="::calendar.session_price | currency: '':0"></span>
                                        </span>
                                        
                                    </div>
                                    <div class="card__calendar-footer-price" ng-if="calendars.activity.is_open">
                                        <span ng-class="{'text-strike': calendar.is_free}">
                                            <span>COP</span>
                                            <span ng-bind="::calendar.packages[0].price | currency: '':0"></span>
                                        </span>
                                        
                                    </div>
                                    <div class="card__calendar-footer-sales" ng-if="!calendars.activity.is_open">
                                        <h3 ng-if="!calendar.enroll_open"
                                            class="text-sm clear-spacings"
                                            ng-bind="::calendars.strings.LABEL_CLOSE_SALE"></h3>
                                        <h3 ng-if="calendar.enroll_open"
                                            class="text-sm clear-spacings"
                                            ng-bind="::calendars.strings.LABEL_OPEN_SALE"></h3>
                                    </div>
                                    
                                     <!--TODO revisar este alert-->
                                    <alert type="danger" ng-show="calendars.calendar_errors[calendar.id]" ng-bind="calendars.calendar_errors[calendar.id]">
                                    </alert>
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
