<div class="row height-create">
  <div class="trulii-cover" ng-hide="vm.weHaveTitle">
    <div class="trulii-cover__container">
      <div class="trulii-cover__content">
        <div class="trulii-cover__content-create limited-width">
            <div class="trulii-cover__content-create-title">
                <h2 class="text-blue-dark " ng-bind="::vm.strings.COPY_START_ACTIVITY_CREATION"> </h2>
            </div>
            <div class="trulii-cover__content-create-subtitle">
                <h5 class="text-blue-dark " ng-bind="::vm.strings.COPY_SELECT_ACTIVITY_TITLE"> </h5>
            </div>
             <div class="trulii-cover__content-create-input">
                <input id="activity_title" type="text" class="form-control input-lg text-center text-capi text-lg-2" name="title"
                placeholder="Ej. Curso de Repostería"
                ng-model='vm.activity_title'/>
            </div>
            <button type="button" class="separate-above-medium btn btn-success btn-lg btn-block"
                    ng-click="vm.checkValidTitle()" ng-bind="::vm.strings.ACTION_CONTINUE"></button>
            
            
        </div>
      </div>
    </div>
  </div>
 
  <div class="cover-blur-small" ng-show="vm.weHaveTitle && vm.creating" ng-class="{ 'cover-blur-small__create': vm.creating}">
    <div class="cover-blur-small__content">
         <div class="cover-blur-small__content-title separate-above-more">
             <h1 ng-bind="vm.activity.title"></h1>
             <h5 ng-bind="vm.organizer.name"></h5>
         </div>
    </div>
</div>
     <div class="content-schedules" ng-show="vm.weHaveTitle && !vm.weHaveSchedule" ng-class="{ 'margin-auto': vm.creating}">
        <div class="panel-default panel-default__dashboard separate-above">
            <span class="panel-default__dashboard-title" >Horarios</span>
            <span  class="separate-left-less" >Especifique la información solicitada para continuar</span>
        </div>
        
        <div class="select-schedules">
            <div class="schedule" ng-click="vm.activity.is_open=true" ng-class="{'active': vm.activity.is_open}">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                 <div class="schedule__title">
                     <span>Horario abierto</span>
                 </div>
                 <div  class="schedule__description">
                     Especifique la información solictada para continuar.
                 </div>
            </div> 
            <div class="schedule" ng-click="vm.activity.is_open=false" ng-class="{'active': !vm.activity.is_open}">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                 <div class="schedule__title">
                     <span>Horario fijo</span>
                 </div>
                 <div  class="schedule__description">
                     Especifique la información solictada para continuar.
                 </div>
            </div>
        </div>
        
        <button type="button" class="separate-above-medium btn btn-success btn-lg btn-block"
                    ng-click="vm.selectSchedule()" ng-bind="::vm.strings.ACTION_CONTINUE"></button>
        
    </div>
    <div class="col-xs-12 only-fade separate-below-more  fade-in" ng-show="vm.weHaveSchedule"> <!-- col-lg-offset-2 col-md-offset-1 -->
        <div class="row limited-width-dashboard limited-width-dashboard__edit-activity"  ng-class="{ 'margin-auto': vm.creating}">
            <div class="panel-default panel-default__dashboard ">
                <h4 class="panel-default__dashboard-title" ng-bind="::vm.strings.SECTION_GENERAL"></h4>
            </div>
            <form name='vm.activity_create_form'
                  ng-submit="vm.save_activity()">
                <fieldset>
                  <div class="form-group col-xs-12 separate-above separate-below-less" trulii-input-errors-control="title" >
                    <label  class="control-label " for="editable_activity_title">Título</label>
                    <input type="text" id="editable_activity_title" class="form-control" name="title"
                            placeholder="¿Cómo titulas a tu actividad?"
                            ng-model='vm.activity.title'>
                  </div>
                  
                  
                   <div class="row col-xs-12 clear-spacings separate-above separate-below-less">
                      <div class="form-group col-md-6">
                          <label class="control-label " ng-bind="::vm.strings.LABEL_LEVEL"></label>
                          <div  trulii-input-errors-control field="vm.activity_create_form.level">
                                <select class=" form-control  search-level-select" name="levelSelect" id="levelSelect"
                                        ng-model="vm.selected_level"
                                        ng-options="level.value for level in vm.activity_levels track by level.code">
                                </select>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <label class="control-label" ng-bind="::vm.strings.COPY_CERTIFICATION"></label>
                          <div  trulii-input-errors-control="certification">
                                <select class=" form-control  " name="levelSelect" id="levelSelect"
                                            ng-model="vm.activity.certification"
                                            ng-options="o.value as o.label for o in vm.optionsCertificate">
                                    </select>
                          </div>
                      </div>
                  </div>
                  <div class="row col-xs-12 clear-spacings separate-above separate-below-less">
                      <div class="form-group  col-md-6">
                          <label class="control-label" ng-bind="::vm.strings.LABEL_CATEGORY"></label>
                          <div trulii-input-errors-control="category">
                                <select id="select-category" class="form-control" ng-model="vm.selected_category"
                                        name="category"
                                        ng-options="category as category.name for (index,category) in vm.activity_categories | orderBy:'name'"
                                        ng-change="vm.selectCategory(vm.selected_category)">
                                        <option value="" ng-show="!vm.selected_category" ng-bind="::vm.strings.LABEL_CATEGORY" selected>
                                        </option>
                                </select>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <label class="control-label" ng-bind="::vm.strings.LABEL_SUB_CATEGORY"></label>
                          <div trulii-input-errors-control="sub_category">
                                <select id="sub-category-select" class="form-control" name="sub_category"
                                        ng-model="vm.selected_sub_category"
                                        ng-options="sub_category as sub_category.name for (index,sub_category) in vm.activity_sub_categories">
                                        <option value="" ng-show="!vm.selected_sub_category" selected ng-bind="::vm.strings.LABEL_SUB_CATEGORY">
                                        </option>
                                </select>
                          </div>
                      </div>
                  </div>
                  <div class="form-group col-xs-12 separate-above" trulii-input-errors-control="short_description">
                      <label for="short_description" class="control-label">
                           <span  ng-bind="::vm.strings.LABEL_SHOT_DESCRIPTION"></span>
                           <i class="glyphicon glyphicon-question-sign" aria-hidden="true" tooltip-placement="top" tooltip="{{::vm.strings.COPY_DESCRIPTION_TOOLTIP}}"></i>
                      </label>
                      <textarea id="short_description" class="form-control"
                                ng-model="vm.activity.short_description" name="short_description"
                                placeholder="{{vm.strings.PLACEHOLDER_DESCRIPTION}}"
                                maxlength="{{ vm.MAX_LENGTH_SHORT_DESC }}"
                                ></textarea>
                                <span class="text-muted pull-right" ng-bind="vm.MAX_LENGTH_SHORT_DESC - vm.activity.short_description.length"></span>
                  </div>
                  <div class="form-group col-xs-12 separate-above-less">
                      <label class="control-label">
                          <span ng-bind="::vm.strings.LABEL_TAGS"></span>
                          <i class="glyphicon glyphicon-question-sign" aria-hidden="true" tooltip-placement="top" tooltip="{{::vm.strings.COPY_TAGS_TOOLTIP}}"></i>
                      </label>
                      <tags-input placeholder="Agrega un tag" display-property="name"
                                  ng-model="vm.activity_tags">
                          <auto-complete source="vm.loadAutocompleteTags()"></auto-complete>
                      </tags-input>
                  </div>
                  <trulii-submit-controls class="col-xs-12 separate-above-less" edit-activity="true" is-saving="vm.isSaving" data-value="{{vm.getSubmitButtonText()}}"></trulii-submit-controls>
                </fieldset>
            </form>
        </div>
    </div>
</div>
