
<form class="separate-above" name='calendar.activity_calendar_form' ng-submit="calendar.save_calendar()" novalidate>

  <div>

    <div class="section-title" ng-bind="::calendar.strings.LABEL_CALENDAR_TITLE">
    </div>

    <div>

      <div class="section-description" ng-bind="::calendar.strings.COPY_CALENDAR_INFO"></div>

      <div class="row ">
          <alert type="danger" ng-show="calendar.errors.non_field_errors">
              {{calendar.errors.non_field_errors}}
          </alert>
          <div class="col-md-5">
              <div class="form-group " trulii-input-errors-control="session_price">
                  <label class="control-label" for="session_price" ng-bind="::calendar.strings.LABEL_SESSION_PRICE"></label>
                  <input id="session_price" class="form-control " ng-class="{'text-strike':calendar.calendar.is_free}" type="text" ui-number-mask="0" name="session_price"
                         placeholder="{{::calendar.strings.PLACEHOLDER_SESSION_PRICE}}"
                         ng-model="calendar.calendar.session_price" min="0" ng-disabled="calendar.calendar.is_free"/>
                  
                  <input type="checkbox" id="is_free" ng-model="calendar.calendar.is_free" ng-check />
                  <label class="control-label" for="is_free" ng-bind="::calendar.strings.LABEL_IS_FREE"></label>
              </div>  

          </div>
          <div class="col-md-2">
              <div class="form-group " trulii-input-errors-control="capacity">
                  <label class="control-label" for="capacity" ng-bind="::calendar.strings.LABEL_CALENDAR_SEATS"></label>
                  <input id="capacity" class="form-control " type="number" name="capacity"
                         placeholder="0.00" min="1"
                         ng-model="calendar.calendar.capacity" />
              </div>
          </div>
          <div class="col-md-5">
              <div class="form-group " trulii-input-errors-control="closing_sale">


                  <label class="control-label" for="closing_sale" ng-bind="::calendar.strings.LABEL_CLOSE_SALES"></label>
                  <input id="closing_sale" type="text" class="form-control " name="closing_sale"
                         ng-model="calendar.calendar.closing_sale" ng-change="calendar.calendar.changeCloseDate()"
                         datepicker-popup="{{calendar.format}}" is-open="calendar.calendar.endOpened"
                         min-date="calendar.calendar.minStartDate" datepicker-options="calendar.dateOptions"
                         max-date="null" close-text="Close"
                         ng-click="calendar.calendar.openCloseDate($event)"
                         />
              </div>
          </div>

      </div>

    </div>

  </div>

  <div class="separate-above">
    <div class="section-title" ng-bind="::calendar.strings.TITLE_SESSIONS">
    </div>

    <div class="separate-above" trulii-input-errors-control="number_of_sessions">

      <div class="row separate-vertical">

        <div class="col-md-8">
          <label for="" ng-bind="::calendar.strings.LABEL_SESSIONS_AMOUNT"></label>
        </div>

        <div class="col-md-4 text-right">
          <div trulii-counter class="counter-input counter-input-lg" form="calendar.activity_calendar_form"
               value="calendar.calendar.number_of_sessions" model="calendar.calendar" change="calendar.calendar.changeSessionsN()" min="0"></div>
        </div>

      </div>


      <div class="row">

        <div class="col-md-12" ng-repeat="session in calendar.calendar.sessions track by $index">
            <div class="card card-list-item card--narrow no-margin-bottom">

            <h2>Sesión {{$index + 1}}</h2>

            <div class="row separate-above">

              <div class="col-md-4">
                <div class="form-group" trulii-input-errors-control="date_{{$index}}">
                    <label class="control-label" ng-bind="::calendar.strings.LABEL_SESSION_DAY"></label>

                    <input type="text" class="form-control" datepicker-popup="{{calendar.format}}"
                           ng-model="session.date" is-open="session.openDate" name="date_{{$index}}" min-date="session.minDate"
                           max-date="session.maxDate" id="date" datepicker-options="calendar.dateOptions" close-text="Close"
                           ng-change="calendar.calendar.changeSessionDate($index,session)"
                           ng-click="calendar.calendar.openSessionDate($event,session)"
                           style="margin-top: 2em;"
                        />
                </div>
              </div>
              <div class="col-md-8">
                <div class="row">

                    <div class="form-group col-md-6" trulii-input-errors-control="start_time_{{$index}}">
                        <label class="control-label" ng-bind="::calendar.strings.LABEL_SESSION_START_TIME"></label>
                        <timepicker name="start_time_{{$index}}"  class="timepicker" ng-model="session.start_time" ng-change="calendar.calendar.changeStartTime(session)"
                                    hour-step="calendar.hstep" minute-step="calendar.mstep" show-meridian="calendar.ismeridian">
                        </timepicker>

                    </div>
                    <div class="col-md-6" trulii-input-errors-control="end_time_{{$index}}">
                        <label class="control-label" ng-bind="::calendar.strings.LABEL_SESSION_END_TIME" ></label>
                        <timepicker class="timepicker" name="end_time_{{$index}}" ng-model="session.end_time" ng-change="calendar.calendar.changeEndTime(session)"
                                    hour-step="calendar.hstep" minute-step="calendar.mstep" show-meridian="calendar.ismeridian">
                        </timepicker>
                    </div>
                </div>
              </div>
            </div>

              <!--TODO revisar alert-->
              <alert type="danger" ng-show="calendar.errors.{{'sessions_'+$index}}">{{calendar.errors.session_error}}</alert>

          </div>
        </div>
      </div>


      <div class="separate-above" ng-show="calendar.calendar.sessions.length > 0 ">
          <trulii-submit-controls is-saving="calendar.isSaving" cancel-active="true" value="Guardar"></trulii-submit-controls>

      </div>

    </div>



</form>
