<div class="row limited-width-dashboard">
    <div class="col-xs-12">

     <div class="row">
          <div class="panel-default panel-default__dashboard ">
                <h4 class="panel-default__dashboard-title" ng-bind="::detail.strings.TITLE_DETAIL"></h4>
            </div>
         <form name='detail.activity_detail_form' ng-submit="detail.save_activity()" class="col-xs-12">
               <fieldset>
                   <div class="form-group" trulii-input-errors-control="audience">
                       <label class="control-label" for="audience" ng-bind="::detail.strings.LABEL_AUDIENCE"></label>

                           <text-angular placeholder="{{::detail.strings.COPY_HELP_TEXT_AUDIENCE}}"
                                         ng-model="detail.activity.audience">
                           </text-angular>

                   </div>
                   <div class="form-group" trulii-input-errors-control="goals">
                       <label class="control-label" for="goals" ng-bind="::detail.strings.LABEL_GOALS"></label>

                           <text-angular placeholder="{{::detail.strings.COPY_HELP_TEXT_GOALS}}"
                                         ng-model="detail.activity.goals">
                           </text-angular>

                   </div>
                   <div class="form-group" trulii-input-errors-control="content">
                       <label class="control-label" for="content" ng-bind="::detail.strings.LABEL_CONTENT"></label>

                            <text-angular placeholder="{{::detail.strings.COPY_HELP_TEXT_CONTENT}}"
                                          ng-model="detail.activity.content">
                            </text-angular>

                   </div>

                   <div class="form-group" trulii-input-errors-control="methodology">
                       <label class="control-label" for="methodology" ng-bind="::detail.strings.LABEL_METHODOLOGY"></label>
                           <text-angular placeholder="{{::detail.strings.COPY_HELP_TEXT_METHODOLOGY}}"
                                         ng-model="detail.activity.methodology">
                           </text-angular>

                   </div>
                   <div class="form-group" trulii-input-errors-control="requirements">
                       <label class="control-label" for="requirements" ng-bind="::detail.strings.LABEL_REQUIREMENTS"></label>

                           <text-angular
                             placeholder="{{::detail.strings.COPY_HELP_TEXT_REQUIREMETS}}"
                             ng-model="detail.activity.requirements"></text-angular>
                   </div>
                   <div class="form-group" trulii-input-errors-control="extra_info">
                       <label class="control-label" for="extra_info" ng-bind="::detail.strings.LABEL_EXTRA_INFO"></label>

                           <text-angular placeholder="{{::detail.strings.COPY_HELP_TEXT_EXTRA_INFO}}"
                                         ng-model="detail.activity.extra_info">
                           </text-angular>

                   </div>
                   <trulii-submit-controls class="separate-above" edit-activity="true" is-saving="detail.isSaving" value="{{::detail.strings.ACTION_SAVE}}"></trulii-submit-controls>

               </fieldset>
         </form>
     </div>
    </div>
</div>
