<div class="container-fluid">
    <div class="row">
        <nav class="sidebar lateral-slide sidebar-edit-activity" ng-class="{'sidebar-short': pc.scroll > 80, 'hidden-xs': !pc.showSidebar, 'hidden-sm': !pc.showSidebar}" ng-style="(!pc.areAllStepsCompleted() && {'padding-bottom': '180px'}) || (pc.areAllStepsCompleted() && {'padding-bottom': '175px'})">
                <a  ng-repeat="step in pc.steps track by step.name"
                ui-sref="{{step.sref}}"
                class="sidebar__item sidebar__item-edit-activity"
                ui-sref-active="sidebar__item--selected-edit-activity"
                ng-class="{ '--muted': !pc.isSectionCompleted(step.name)} "
                ng-click="pc.toggleSidebar(); pc.clickItemDashboard(step.title)">
                    <i class="{{::step.icon}} sidebar__item__icon"></i>
                    <span ng-bind="::step.title"></span>
                    <i class="mandatory-mark mandatory-mark-edit-activity --right" ng-show="step.required && !pc.isSectionCompleted(step.name)"></i>
                </a>
            <div class="sidebar__bottom-action-container sidebar__bottom-action-container-edit-activity">
                <div class="sidebar__bottom-action sidebar__bottom-action-edit-activity text-center" >

                    <div ng-show="!pc.areAllStepsCompleted()">
                        <div>
                            <ng-pluralize count="pc.activity.steps_left"
                                when="{
                                    '0':'',
                                    '1': 'Falta',
                                    'other': 'Faltan'
                                    }">
                            </ng-pluralize>
                            <strong>{{pc.activity.steps_left}}

                                <ng-pluralize count="pc.activity.steps_left"
                                    when="{
                                        '0':'',
                                        '1': 'paso',
                                        'other': 'pasos'
                                        }">
                                </ng-pluralize>

                            </strong>
                        </div>
                        <span>Para publicar tu actividad</span><br/>
                        <hr>
                        <div class="text-uppercase">
                            <span class="mandatory-mark mandatory-mark-edit-activity"></span> Obligatorios
                        </div>
                    </div>
                    <div ng-show="pc.activity.published">
                        <div ng-show="pc.allow_unpublish" class="lateral-fade">
                            <span ng-bind="::pc.strings.COPY_UNPUBLISH_ACTIVITY"></span>
                            <button class="btn btn-warning btn-lg"
                                   ng-click="pc.unpublish_activity()">
                                <span ng-bind="::pc.strings.UNPUBLISH_ACTIVITY_LABEL"></span>
                            </button>
                        </div>
                        <div class="lateral-fade strong-text-muted separate-above" ng-show="!pc.allow_unpublish">
                            Desactivando...
                        </div>
                    </div>
                    <div ng-show="pc.areAllStepsCompleted() && !pc.activity.published">
                        <div class="lateral-fade" ng-show="pc.allow_publish">
                            <span>¡Actividad lista para publicar!</span><br/>
                            <button class="btn btn-secondary btn-lg" value="{{pc.strings.PUBLISH_ACTIVITY_LABEL}}"
                                   ng-click="pc.publish_activity()">
                                    <span ng-bind="::pc.strings.PUBLISH_ACTIVITY_LABEL"></span>
                            </button>
                        </div>
                        <div class="lateral-fade strong-text-muted separate-above" ng-show="!pc.allow_publish">
                            Publicando...
                        </div>
                    </div>
                </div>
                <div class="sidebar__bottom-action-dark-edit-acitivity">
                   <ul class="list-inline list-unstyled text-center text-uppercase">
                       <li>
                           <a class="text-center text-uppercase" ui-sref="organizer-dashboard.activities.open">
                               <i class="glyphicon glyphicon-arrow-left icon-edit-activity"></i>
                               <span ng-bind="'Ver mis actividades'"></span>
                           </a>
                       </li>
                   </ul>
               </div>

            </div>
        </nav>
        <div class="col-sm-10 separate-above separate-below-more">
            <div class="navbar-secondary" ng-class="{'navbar-secondary-short': pc.scroll > 80}">
              <a class="btn btn-default pull-right" ui-sref="activities-detail({activity_id: {{pc.activity.id}}})">
                 <!-- <i class="mdi-image-remove-red-eye sidebar__item__icon"></i>-->
                  <span>Ver</span>
              </a>
              <a class="btn btn-default pull-right"  ui-sref="dash.activities-manage.orders({activity_id: {{pc.activity.id}}})">
                  <!--<i class="mdi-action-settings sidebar__item__icon"></i>-->
                  <span ng-bind="'Gestionar actividad'"></span>
              </a>
              <h4 class="sub-title" ng-bind="pc.activity.title"></h4>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-10 col-xs-offset-0 col-md-offset-1" ui-view></div>
            </div>
        </div>
        <div class="sidebar-mobile-toggle visible-xs-block visible-sm-block" ng-class="{'short': pc.scroll > 80}"
            ng-click="pc.toggleSidebar()">
            <i class="sidebar__item__icon mdi-navigation-menu"></i>
            <span  ng-repeat="step in pc.steps track by step.name"
                ng-class="{'hidden-xs hidden-sm': !pc.isActive('dash.activities-edit.{{step.name}}')}"
                ng-bind="::step.title"></span>
            <a class="pull-right absolute-container__close hidden-md hidden-lg" ng-click="$event.stopPropagation();" ui-sref="home">
                <img class="img-responsive" src="/css/img/close_dark.png" alt=""/>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <trulii-dashboard-footer></trulii-dashboard-footer>
        </div>
    </div>
</div>
