
.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-capitalize{
    text-transform: capitalize;
}

.text-uppercase{
    text-transform: uppercase;
}

.text-strike{

    text-decoration: line-through;
}

/* Deprecated?

.title-compound{
    position: relative;

    &-centered{
        &__title{
            display: block;
            width: 100%;
            text-align: center;

            & > *{
                margin: 0;
            }

            h1,h2,h3,h4,h5,h6{
                display: inline-block;
                border-bottom: 1px solid white;
                padding: .2em 1em;
            }

        }

        &__description{
            display: block;
            width: 100%;
            margin: 0;
            text-align: center;
            padding: .5em 1em;
            font-size: 1.1em;

            & > *{
                margin: 0;
            }
        }
    }

    .card-icon{
        position: absolute !important;
        top: 0 !important;
    }

    &__title{
        margin-left: 60px;
    }

    &__description{
        margin-top: 1em;
    }
}

*/

// Text Colors

.text-color-primary{
    color: @primary;
}

.text-color-secondary{
    color: @secondary;
}
.text-dark{
    color: @gray-dark;
}

.text-sm{
    font-size: .8em;
}

.text-md{
    font-size: .9em;
}


// Text Weights

.font-normal{
    font-weight: normal !important;
}

.font-black{
    font-weight: 800;
    line-height: 1.2em;
}

.font-xblack{
    font-weight: 900;
    line-height: 1.2em;
}

.font-title{
    font-family: @font-sans;
}

.strong-text-muted{
    font-weight: bold !important;
    text-transform: uppercase;
    color: black;
    opacity: .4;
}

.standout-text{
    font-family: @font-sans-alt;
    font-weight: 200;
    font-size: 1.1em;
    color: @gray-light;
    margin: 1em 0;
}
.text-header{
    margin-bottom: 1.5em;
    font-size: 3.5em;
}
