




.hidden{
	display: none;
}

.inline-childs{

    & > * {
        display: inline-block;
    }
}

.center-childs{
	text-align: center;

    & > *{
        display: inline-block;
    }
}


.star-empty-off{
	color: @gray-lighter !important;
}
.center-align{
  display: table;
  width: 100%;
  height: 100%;

  & > *{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
}
.height-create{
	min-height: 84vh;
}

//TODO: To mixinis

.clear-href{
    &:hover{
        text-decoration: none !important;
    }
}

.white-curtain{
    background: white;
    position: fixed;
    z-index: 1;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;

    & + *{
        z-index: 2;
        position: relative;
    }
}

.inline-block{
    display: inline-block;
}

.float-right{
    float: right;
}

.float-none{
	float: none;
}

.text-left{
    text-align: left !important;
}

.relative{
    position: relative;
}

.scroll-y{
    overflow-y: scroll;
}

.remove-shadow {
    box-shadow: none !important;
}
.sidebar-popup.ng-hide-remove{
  .sidebar-content {
    transform: translate(50%, 0);
  }
}
.sidebar-popup.ng-hide-add {
  .sidebar-content {
    transform: translate(100%, 0);
  }
}
.sidebar-popup{
  position:fixed;
  width:100vw;
  z-index: 1050;
  top: 0;
  .sidebar-background{
    background-color:@gray-dark;
    opacity: 0.8;
    min-height:100vh;
    max-height:100vh;
    width:100%;
  }
  .sidebar-content{
    position:absolute;
    background-color:white;
    min-height:100vh;
    height: 100%;
    overflow-y:scroll;
    padding:0;
    top:0;
    right:0;
    transition: transform 0.25s;
    transform: translate(0%, 0);
    .sidebar-header{
      height:250px;
      background-image: url('@{s3url}/static/img/activity-enroll/banner.png');
      position:relative;
      background-size: cover;
      color:white;
      > h1{
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translate(0px, -50%);
        width:100%;
        font-weight: 500;
      }
      button{
        -webkit-appearance: none;
        padding: 0;
        cursor: pointer;
        background: 0 0;
        border: 0;
        width:50px;
        margin: 10px;
      }
    }
    .sidebar-body{
      background-color:white;
      width:100%;
      padding:25px 50px;
    }
  }
}

.youtube-container{
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;

  iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

}


//Utils from Dashboard Organizer 



.add-instructors{
	position: absolute;
	border-radius: 1.5em;
	border: 1px solid @gray-lighter;
	color: @gray-dark;
	font-size: 1.2em;
	width: 80px;
	display: flex;
	justify-content: space-around;
	font-weight: 600;
	top: 15px;
	right: 27px;
	span{
		cursor: pointer;
	}
}
.add-sessions{
	position: absolute;
	right: 25px;
	top: 9px;
	border: 1px solid @gray-lighter;
	border-radius: 7em;
	padding: 0 1em;
	width: 135px;
}

.activity-grid-organizer{
		 padding: 11em 2em;
}


//Menu dropdown mobile-dashboards 

.dropdown-mobile{
	padding: 0.8em 2em;
	/* border-radius: 5px; */
	margin-bottom: 2em;
	border: 1px solid @gray-lighter;
	width: 90%;
	margin: 0 auto;
	font-weight: bold;
	color: @gray-darker;
	cursor: pointer;
	position: absolute;
	left: 5%;
	z-index: 100;
	background: white;
	.arrow-right{
			float: right;
			font-size: 1.4em;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);

			-webkit-transform-origin: 50% 50%;
			-moz-transform-origin: 50% 50%;
			-ms-transform-origin: 50% 50%;
			-o-transform-origin: 50% 50%;
			transform-origin: 50% 50%;

			-webkit-transition: 300ms ease all;
			-moz-transition: 300ms ease all;
			-o-transition: 300ms ease all;
			transition: 300ms ease all;
		}
		.rotate-icon{
				-webkit-transform: rotate(90deg);
				-moz-transform: rotate(90deg);
				-ms-transform: rotate(90deg);
				-o-transform: rotate(90deg);
				transform: rotate(90deg);

				-webkit-transform-origin: 50% 50%;
				-moz-transform-origin: 50% 50%;
				-ms-transform-origin: 50% 50%;
				-o-transform-origin: 50% 50%;
				transform-origin: 50% 50%;
		}
}


@media (min-width:992px){
	.row-stretch{
		display: flex;
	  > *{
	    align-items: stretch;
	  }
	}
}

.clear-left{
  clear: left;
}
.clear-both{
  clear: both;
}
.flex-wrap{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.flex-container{
	display: -webkit-box !important;
	display: -webkit-flex !important;
	display: -ms-flexbox !important;
	display: flex !important;
}
.flex-column{
	flex-direction: column;
}
.flex-center-container{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.flex-betweent-container{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: space-between;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;
}
.flex-end-container{
	-webkit-box-pack: flex-end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: flex-end;
	justify-content: flex-end;
}
.flex-around-container{
	-webkit-box-pack: space-around;
	-webkit-justify-content: space-around;
	-ms-flex-pack: space-around;
	justify-content: space-around;
}
.flex-align-items-center{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.flex-align-items-end{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: flex-end;
	-webkit-align-items: flex-end;
	-ms-flex-align: flex-end;
	align-items: flex-end;
}
.flex-center-item{
	-webkit-box-flex: 0;
	-webkit-flex: none;
	-ms-flex: none;
	flex: none;
}

.circular-image-container{
	border-radius: 100%;
	width: 300px;
	height: 300px;
	margin: 0 auto;
	background-color: gray;
	text-align:center;
	position: relative;
	overflow: hidden;
	margin-top: 3rem;
	&:extend(.flex-center-container);
	.before-md({
		width: 50vw;
		height: 50vw;
	});
	&__title{
		color: white;
		font-size: 2em;
		text-transform: uppercase;
		font-weight: 400;
		z-index: 102;

		.before-md({
			font-size: 1.25em;
			line-height: 0em;
			margin-top: 15px;
		});
  }

  &__veil{
    border-radius: 100%;
		background-color: desaturate(darken(@brand-primary, 50%), 75%);
    opacity: 0.4;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    width: 100%;
    border-radius: 100%;
    z-index: 101;
  }

	&__background{
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    transition: all 0.25s;
  }

}


.team-card{
	width: 300px;
	height: 300px;
	margin: 0 auto;
	background-color: gray;
	position: relative;
	overflow: hidden;
	margin-top: 3rem;
	display: flex;

  .before-sm({
    width: 100%;
    height: 375px;
  });

	&__content{
		color: white;
		font-size: 2em;
		font-weight: 200;
		z-index: 102;
		opacity: 0;
		transition: all 0.25s;
		padding: 1em;

    .before-sm({
      opacity: 1;
    });

		&-header{
			h5{
	    	line-height: 0.5em;
			}
		}
		&-social{
			position: absolute;
	    left: 1em;
	    bottom: 0px;
		}
		hr{
			margin: 5px 0px 10px 0px;
		}
		h5{
			font-weight: 200;
	    line-height: 1.25em;
		}
	}

	&__veil{
		background-color: lighten(black, 20%);
		opacity: 0;
		height: 100%;
		left: 0px;
		top: 0px;
		position: absolute;
		width: 100%;
		z-index: 101;
		transition: all 0.25s;

    .before-sm({
      opacity: 0.75;
    });
	}

	&__background{
		background-size: cover;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 100;
		transition: all 0.25s;
	}
	&:hover{
		.team-card__content{
			opacity: 1;
		}
		.team-card__veil{
			opacity: 0.75;
		}
	}
}

.fade-hide{
  opacity: 1;
  transition: all 0.25s;
  &.ng-hide{
    opacity: 0;
  }
}

.navigation-widget{
	background-color: white;
	height: auto;
	width: auto;
	position: fixed;
	padding: 15px 35px;
	z-index: 200;
	border-radius: @border-radius-base;
	top: 30vh;
	left: 10vw;
	border: 1px solid @gray-lighter;

	.active{

		.navigation-widget{

			&__icon{
				display: none;
			}

			&__icon-active{
				display: inline-block;
			}

			&__title{
				font-weight: 300;
				color: @brand-success;
			}

		}

	}

	li{
		margin: 15px 0px;
	}

	&__title{
		font-weight: 200;
		color: @gray-light;
		display: inline-block;
		padding: 0 10px;
	}

	&__icon{
		display: inline-block;
	}

	&__icon-active{
		display: none;
	}

	a:hover, a:focus{

		text-decoration: none;

		.navigation-widget{

			&__title{
				color: @brand-success;
			}

			&__icon{
				display: none;
			}

			&__icon-active{
				display: inline-block;
			}

		}

	}

	a:hover{
		.navigation-widget{
			&__title{
				color: @brand-success;
				text-decoration: underline;
			}
		}
	}

	&.absolute-widget{

		width: auto;
		height: auto;
		max-height: 87vh;
	    overflow-y: auto;
	    overflow-x: hidden;

	}

}

.search-icon-right{
	float: right;
	margin-top: -1.5em;
}

@media (max-width: 991px){

	.navigation-widget{

    width: 100%;
    left: 0;
    top: 60px;
    padding: 0;
    border-radius: 0;

    &.absolute-widget{
      top: 60px !important;
      width: 100%;
    }

		ul{

			padding-left: 0;
	    list-style: none;
	    text-align: center;
      margin-bottom: 0;

			li{
				display: inline-block;
        width: 30%;
        margin: 3px 0px;
        &:not(:last-child){
          border-right: 1px solid @gray-regular;
        }
        .navigation-widget__icon-active, .navigation-widget__icon{
          display: none !important;
        }
			}

		}

	}

}


.dashboard-filters{
	display: flex !important;
	justify-content: space-around;
	width: 100%;
	align-items: center;
	.before-sm({
		flex-direction: column;
	});
	
	&__searchbox{
		width: 11em;
		.before-sm({
			width: 100%;
			margin-left: 0;
		});
	}
	
	&__activity{
		width: 10em !important;
		select{
			width: 87% !important;
		}
	}
	
	&__selects{
		 display: flex;
		 .before-sm({
			 flex-wrap: wrap;
		 });
		 .input-group{
			 width: 8em;
			 .before-sm({
				 width: 10em;
			});
			 input[type="text"]{
				  font-size: 0.8em;
					border: none;
					border-radius: 0;
					cursor: pointer;
					
				
					
			 }
			 select{
					font-size: 0.8em;
					background-color: transparent !important;
					border: none !important;
					color: @gray-dark !important;
			 }
			 label{
				 margin-bottom: 0px !important;
				 &:after{
					font-size: 20px;
					top: 8px;
				}
			 }
			 
		 }
		::-webkit-input-placeholder {
			font-weight: 600;
			color: @gray-dark !important;
			
		}

		:-moz-placeholder { /* Firefox 18- */
			font-weight: 600;
			color: @gray-dark !important;
		}

		::-moz-placeholder {  /* Firefox 19+ */
			font-weight: 600;
			color: @gray-dark !important;
		}

		:-ms-input-placeholder {
			font-weight: 600;
			color: @gray-dark !important;
		}
	}
	
  .date-picker, .date-picker:focus{
    animation: none;
  }
  
}


// Messages
.dashboard-messages{
	form{
		i{
			float: right;
			margin-top: -1.5em;
		}
	}
}

.dashboard-messages{
	border: 1px solid @gray-lighter;
	min-height: 16vh;
	max-height: 90vh;
	overflow-y: auto;
	padding: 0;
	a{
		padding: 1em 1em 1em 3em;
		cursor: pointer;
		display: block;
		border-bottom: 1px solid @gray-lighter;
		min-height: 130px;
		position: relative;
		&:hover{
			background-color: @gray-lighter-brand;
		}
		.before-md({
			padding: 1em 0em 0em 0em;
		});
	}
	
	&__header{
		display: flex;
		justify-content: space-between;
		&-first{
			display: flex;
			width: 85%;
		}
	}
	
	&__avatar{
		margin-right: 1em;
		.trulii-avatar{
			margin-top: 1em;
		}    
	}
	
	.dashboard-messages__date{
		.before-md({
			font-size: 0.9em;
		});
	}
	&__title{
		width: 100%;
		h4{
			font-size: 1.1em;
			margin-bottom: 0;	
		}
		&-read{
			h4{
				color: @gray-regular !important;
			}
			span{
				color: @gray-regular !important;
			}
		}
	}
	&__is-read{
		width: 10px;
		height: 10px;
		position: absolute;
		background-color: @brand-info;
		right: 7px;
		border-radius: 50%;
		top: 25px;
	}
	
	a:last-child{
		border: none;
	}
	p{
		height: 2em;
	    text-align: justify;
	    text-overflow: ellipsis;
	    line-height: 2em;
	    word-wrap: break-word;
	    white-space: nowrap;
	    overflow: hidden;
	    width: 90%;
		font-size: 1em;
	}
	.text-right{
		.before-md({
			text-align: left;
		});
	}
	.text-line-more-xl {
		.before-md({
			line-height: 1.5em;
		});
	}
	.student{
		padding: 2em 1em 1em 1em;
		.user-picture{
			border-radius: 50%;
			width: 3em;
			height: 3em;
		}
	}


}

.dashboard-messages-detail{
	border: 1px solid @gray-lighter;
	&__delete{
		float: right;
		font-size: 1.3em;
		margin-top: 0.4em;
		cursor: pointer;
		color: @gray-dark;
	}
	.content-message{
		padding: 3em;
		p{
			height: auto;
			width: 100%;
			text-align: inherit;
			text-overflow: inherit;
			line-height: 1.5em;
			word-wrap: normal;
			white-space: normal;
			margin-top: 1.2em;
			.before-md({
				padding-left: 0em;
			});
		}
		.before-md({
			padding: 1em 0em 0em 0em;
		});
	}
	.text-right{
		.before-md({
			text-align: left;
		});
	}
	.text-line-more-xl {
		.before-md({
			line-height: 1.5em;
		});
	}
}

//Balance
.balance{
	&__mount-available{
		display: flex;
		justify-content: space-between;
		padding: 2em 0em 1em 1em;
		border-bottom: 1px solid @gray-light;
		
		&-title{
			h4{
				font-size: 1em;
				font-weight: 700;
				color: @gray-darker;
			}
			
			h5{
				font-size: 1.1em;
				color: @gray-darker;
			}
		}
		
		.btn-success{
			line-height: 1em;
			height: 3em;
			background-color: @brand-info;
			span{
				font-weight: bold;
			}
		}
	}
	
	&__mount-unavailable{
		 padding: 1em 0em 1em 1em;
	}
	&__note{
		padding: 3em 1em;
		border-bottom: 1px solid @gray-light;;
		color: @gray-darker;
		
		&-title{
			font-weight: 600;
		}
	}
}
.balance{
	.mounts{
		background: @gray-lighter;
		height: 35em;
		position: relative;
		h4{
  	  margin: 0.1em;
		}
		h5{
			margin: 0.1em;
		}
		.mounts-content{
			padding: 1.7em 2em;
		}

		.mounts-footer{
			position: absolute;
			bottom: 0;
			padding: 1.7em 2em;
			width: 100%;
			background: #E0E0E0;
		}
	}

}

.pagination> li > a, .pagination > li > span{
  color: @gray-dark !important;
	width: 50px;
	height: 50px;
	font-size: 16px;
	font-weight: bold;
	border: none;
	padding-top: 13px;
	border-radius: 100%;
	
	@media (max-width: 768px){
		width: 30px;
    height: 30px;
    font-size: 10px;
    padding-top: 8px;
	}
	
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  color: @gray-lighter !important;
	background-color: @gray-dark;
	border-color: @gray-dark;
	cursor: default;
}
*.pagination-sm > li:last-child > a, .pagination-sm > li:last-child > span,
.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span{
	border-radius: 100%;
	margin-right: 1.2em;
}



//Styles of Angular Text
.ta-root.focussed > .ta-scroll-window.form-control {
    border-color: @brand-primary !important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px @brand-primary !important;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px @brand-primary !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px @brand-primary !important;
}

.ta-scroll-window > .ta-bind {
    border: 1px solid @btn-default-border !important;
	padding: 2em;
		&::before{
			color: #9E9E9E !important;
			display: block;
			width: 70%;
			text-align: center;
			margin: 0 auto;
			margin-top: 30px;
		}
		p{
			color: @gray-regular !important;
			margin-bottom: 0px;
			font-weight: 200;
		}

		ul{
			padding: 0px 0px 0px 40px !important;
		}

		li{
			font-weight: 400;
		}
}

.well-auth{
    &.well{
      max-width: 400px;
      margin: 0 auto;
    }
}

.limited-width{
	float: none;
	margin: 0 auto;
	clear: both;
	
	@media (max-width: 1299px){
		max-width: 1200px;
		padding: 0 50px;
	}
	@media (min-width: 1300px){
		max-width: 1300px;
	}
	@media (max-width: 768px){
		padding: 0;
	}
}
.limited-width-dashboard-container{
	width: 1044px;
	margin: 0 auto;
	position: relative;
	@media (max-width: 1299px){
		max-width: 100%;
		margin: auto;
		margin-left: auto;
		
	}
	
	
}

.limited-width-dashboard{
	float: none;
	clear: both;
	margin: 0 auto;
	max-width: 1300px;
	width: 850px;    
	margin-left: 30px;
	margin-top: 1.3em;
	@media (max-width: 1299px){
		max-width: 100%;
		margin: auto;
		margin-left: auto;
		margin-top: 1.3em;
   		margin-left: 15px;
	}
	
	&__activities{
		width: 910px;    
	}
	
	&__calendar{
		margin-left: 0px;
		margin-top: 0em;
	}
	.before-md({
		max-width: 100%;
		margin: auto;
		margin-left: auto;
	});
}





@media (min-width: 1366px) {
	.dynamic-layout{
		width: 1300px;
		margin-top: 20px;
	}
	.dynamic-layout-col-4{
		width : 320px;
	}
}

@media (min-width: 900px) and (max-width: 1366px){
	.dynamic-layout{
		width: 615px;
		margin-top: 20px;
	}
	.dynamic-layout-col-4{
		width : 300px;
	}
}

@media (min-width: 600px) and (max-width: 900px){
	.dynamic-layout{
		width: 600px;
	}
	.dynamic-layout-col-4{
		width : 300px;
	}
}

@media (max-width: 600px){
	.dynamic-layout{
		width: 300px;
	}
	.dynamic-layout-col-4{
		width : 300px;
	}
}

.dynamic-layout-item {
	padding: 10px;
}
.move-items-animation{
	transition-property: left, top;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
}
.dynamic-layout-item-parent.ng-enter{
	transition: .5s ease-in-out;
	opacity:0;
}
.dynamic-layout-item-parent.ng-enter.ng-enter-active{
	opacity:1;
}
.dynamic-layout-item-parent.ng-leave{
	transition: .5s ease-in-out;
	opacity:1;
}
.dynamic-layout-item-parent.ng-leave.ng-leave-active{
	opacity:0;
}
.dynamic-layout{
	float: left;
	position: relative;
}
.dynamic-layout-container-fluid{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}
.title{
	margin-bottom: 50px;
}

.limited-width-dashboard{
	.dynamic-layout{
		width: 900px;
		margin-top: 20px;
		@media (max-width: 1299px){
			width: 600px;
			margin-left: 1rem;
		}
		
		@media (max-width: 640px){
			width: 300px;
		}
	
		
	}
	.dynamic-layout-col-4{
		width : 300px;
	}
	.dynamic-layout-col-8{
		width : 600px;
	}
}
		
.trulii-checkbox{
	input[type="checkbox"] {
			display:none;
	}
	input[type="checkbox"] + label {
			color: @gray-dark !important;
			font-weight: 700;
			font-size: 1em;
	}
	input[type="checkbox"] + label span {
			position: relative;
			display: inline-block;
			width: 15px;
			height: 15px;
			margin: -1px 4px 0 0;
			vertical-align: middle;
			cursor: pointer;
			border: 1px solid @gray-lighter;
			background-color: white;
			box-shadow: 0px 0px 1px darken(@gray-lighter-brand, 50%);
			border-radius: @border-radius-base;
			margin-right: 10px;
	}

	input[type="checkbox"] + label span:before{
			position: absolute;
			left: 2px;
			top: 1px;
			content: "\f00c";
			color: white;
			font: normal normal normal 10px/1 FontAwesome;
			opacity: 0;
			transition: all 0.4s linear;
	}


	input[type="checkbox"]:checked + label span{
			background-color: @brand-success;
			border: 1px solid @brand-success;
	}
	input[type="checkbox"]:checked + label span:before{
			opacity: 1;
	}

	input[type="checkbox"] + label span,
	input[type="checkbox"]:checked + label span {
			-webkit-transition:background-color 0.4s linear;
			-o-transition:background-color 0.4s linear;
			-moz-transition:background-color 0.4s linear;
			transition:background-color 0.4s linear;
			vertical-align: -2px;
	}
}

.trulii-radio{
	margin-top: 5px;
	input[type="radio"] {
			display:none;
	}
	input[type="radio"] + label {
			color: @gray-dark !important;
			font-weight: 700;
			font-size: 1em;
	}
	input[type="radio"] + label span {
			display: inline-block;
			width: 15px;
			height: 15px;
			margin: -1px 4px 0 0;
			vertical-align: middle;
			cursor: pointer;
			border: 4px solid white;
			background-color: white;
			box-shadow: 0px 0px 1px darken(@gray-lighter-brand, 50%);
			border-radius: 100%;
			margin-right: 10px;
	}



	input[type="radio"]:checked + label span{
	background-color: @brand-success;
	}

	input[type="radio"] + label span,
	input[type="radio"]:checked + label span {
			-webkit-transition:background-color 0.4s linear;
			-o-transition:background-color 0.4s linear;
			-moz-transition:background-color 0.4s linear;
			transition:background-color 0.4s linear;
	}
}

.dynamic-layout-wrapper{
	margin-bottom: 50px;
}

.widget-fixed{
	position: fixed !important;
	top: 100px !important;
}