
@import "_trulii-variables";

@import '_fonts';
@import '_custom-bootstrap';
@import '_custom-material';
@import '_custom-nouislider';

@import 'mixins/_responsive-helpers';
@import 'mixins/_texts';

@import '_animations';

@import '_utils';

@import '_texts';
@import '_images';
@import "_spacing";
@import '_backgrounds';
@import '_anchors';
@import '_maps';
@import '_labels';

@import 'components/_navbar';
@import 'components/_search';
@import 'components/_sidebar';
@import 'components/_sidebar_category';
@import 'components/_inputs';
@import 'components/_icons';
@import "components/_buttons";
@import "components/_forms";
@import "components/_alerts";
@import "components/_logos";
@import "components/_separators";
@import "components/_social";
@import "components/_tags";
@import "components/_user-badges";
@import "components/_tabs";
@import "components/_tables";
@import "components/_ranking-star";
@import "components/_panels";
@import "components/_buttons-group";
@import "components/_datepicker";
@import "components/_about";

@import "components/_progress-bar";
@import "components/_preloader";
@import "components/_cards";
@import "components/_toast";
@import "components/_dropdown";
@import "components/_gallery-grid";
@import "components/_timepicker";
@import "components/_covers";
@import "components/_lists";
@import "components/_containers";
@import "components/_activity-card";
@import "components/_activity-detail";
@import "components/_activity-detail-enroll";
@import "components/_activity-review";
@import "components/_organizer-profile";
@import "components/_popover";
@import "components/_orders.less";
@import "components/_home.less";
@import "components/_referral.less";
@import "components/_print.less";
@import "components/_assistants.less";

a{

    &:hover{
    	color: @success;
    }

}

ul{
	padding: 0px;
}

body{
	overflow-x: hidden;
	font-family: @font-sans-alt;
}

h1, h2, h3, h4, h5, h6{
	font-family: @font-sans;
}

p{
	font-family: @font-serif;
	color: @gray-light;
	font-size: 1.2em;
	margin-bottom: 1.5em;
}

.tab-content{
	padding-bottom: 5em;
}

.pagination-sm{
	font-family: @font-sans-alt;
	font-size: 1.1em;
}
