
@import "_trulii-variables";

@import '_custom-bootstrap';
@import '_custom-material';

@import 'mixins/_responsive-helpers';

@import '_animations';

@import '_utils';

@import '_texts';
@import '_images';
@import "_spacing";
@import '_backgrounds';
@import '_anchors';

@import 'components/_navbar';
@import 'components/_sidebar';
@import 'components/_inputs';
@import 'components/_icons';
@import "components/_buttons";
@import "components/_forms";
@import "components/_alerts";
@import "components/_logos";
@import "components/_separators";
@import "components/_tags";
@import "components/_user_thumbnails";

@import "components/_progress-bar";
@import "components/_preloader";
@import "components/_cards";
@import "components/_toast";
@import "components/_dropdown";
@import "components/_gallery-grid";
@import "components/_timepicker";
@import "components/_covers";
@import "components/_lists";
@import "components/_containers";
@import "components/_activities";

a{
    color: @primary-dark;
}

ul{
	padding: 0px;
}

/*Agular Google Maps*/

.angular-google-map-container { height: 400px; }


