<div class="trulii-cover-small">
  <div class="trulii-cover__container">
    <div class="trulii-cover__content">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-4">
            <h1>
              <strong ng-bind="::about.strings.CULTURE_TITLE_COPY"></strong>
            </h1>
            <h3 class="pt-sans no-margin-top" ng-bind="::about.strings.CULTURE_TITLE_TEXT_COPY"></h3>
          </div>
        </div>
      </div>
      <div class="trulii-cover__content-presentation-controlers">
        <a href="#">
          <ul class="list-unstyled list-inline">
            <li class="pull-left"><img src="/css/img/about/play.png" alt="" class="img-responsive"></li>
            <li class="pull-left"><h3>Ver presentación</h3></li>
          </ul>
        </a>
      </div>
    </div>
    <div class="trulii-cover__background" style="background-image:url(/css/img/about/culture.png)">
    </div>
  </div>
</div>
<div class="row padding-more">
  <div class="col-xs-10 col-xs-offset-1 col-md-7 col-md-offset-4">
    <h3 class="text-muted separate-below">
      <strong>
        Queremos ser memorables
      </strong>
    </h3>
    <p>
      Es muy común que las empresas que generan un impacto positivo en las vidas de las personas y hacen del mundo un lugar mejor tienen presencia en casi cada rincón del planeta. Para lograrlo hace falta determinación, ganas y muchísima motivación para cecer y consolidarnos como empresa.
    </p>
    <p>
      Apenas estamos comenzando, pero créenos, estamos más que preparados.
    </p>

    <img src="/css/img/about/growth.png" alt="" class="img-responsive center-block separate-above-medium separate-below-medium">
    <img src="/css/img/about/bul.png" alt="" class="img-responsive center-block separate-below">
    <div class="row">
      <div class="col-xs-3">
        <h4 class="text-center montserrat-light">Prioridades</h4>
        <img src="/css/img/about/priorities.png" alt="" class="img-responsive center-block separate-above separate-below">
        <h5 class="text-md text-center montserrat-light">
          Usuario > Equipo > Trulii
        </h5>
      </div>
      <div class="col-xs-3">
        <h4 class="text-center montserrat-light">Estrategia</h4>
        <img src="/css/img/about/strategy.png" alt="" class="img-responsive center-block separate-above separate-below">
        <h4 class="text-md text-center montserrat-light">
          Misión
          <br>
          Producto
          <br>
          Métricas
          <br>
          Resultados
        </h4>
      </div>
      <div class="col-xs-3">
        <h4 class="text-center montserrat-light">Transparencia</h4>
        <img src="/css/img/about/transparency.png" alt="" class="img-responsive center-block separate-above separate-below">
        <h4 class="text-md text-center montserrat-light">
          Rendición de cuentas
          <br>
          Motivación
          <br>
          Disciplina
          <br>
          Confianza
        </h4>
      </div>
      <div class="col-xs-3">
        <h4 class="text-center montserrat-light">Balance vida - trabajo</h4>
        <img src="/css/img/about/balance.png" alt="" class="img-responsive center-block separate-above separate-below">
        <h4 class="text-md text-center montserrat-light">
          Equipo contento
          <img src="/css/img/about/arrow.png" alt="" class="img-responsive center-block separate-above-less separate-below-less">
          + Desempeño
        </h4>
      </div>
    </div>
  </div>
</div>
<div class="trulii-cover-small">
  <div class="trulii-cover__container">
    <div class="trulii-cover__content">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-4">
            <h1>
              <strong>Valores en Trulii</strong>
            </h1>
            <h3 class="pt-sans no-margin-top">
              Los valores que nos mueven como empresa
            </h3>
          </div>
        </div>
      </div>
      <div class="trulii-cover__content-presentation-controlers">
        <a href="#">
          <ul class="list-unstyled list-inline">
            <li class="pull-left"><img src="/css/img/about/play.png" alt="" class="img-responsive"></li>
            <li class="pull-left"><h3>Ver presentación</h3></li>
          </ul>
        </a>
      </div>
    </div>
    <div class="trulii-cover__background" style="background-image:url(/css/img/about/values.jpg)">
    </div>
  </div>
</div>
<div class="row padding-more">
  <div class="col-xs-10 col-xs-offset-1 col-md-7 col-md-offset-4">
    <h3 class="text-muted separate-below">
      <strong>
        ¿Cuáles valores son importantes para nosotros?
      </strong>
    </h3>
    <p>
      Determinamos un conjunto de valores que:
    </p>
    <blockquote>
      <ul class="list-unstyled list-spaced text-md">
        <li>
          <p>
            Se apliquen en el trabajo
          </p>
        </li>
        <li>
          <p>
            Optimicen nuestra relación con los usuarios
          </p>
        </li>
        <li>
          <p>
            Hagan un ambiente inspirador y agradable
          </p>
        </li>
        <li>
          <p>
            Puedan extrapolarse a la vida cotidiana
          </p>
        </li>
        <li>
          <p>
            Nos hagan eficientes para deleitar a los usuarios
          </p>
        </li>
        <li>
          <p>
            Permita discernir candidatos en nuestro proceso de reclutamiento
          </p>
        </li>

      </ul>
    </blockquote>
    <div class="values-container">
      <img src="/css/img/about/values.png" alt="" class="img-responsive center-block separate-above-more separate-below-less">
      <p class="text-uppercase values-container__humility">
        Humildad
      </p>
      <p class="text-uppercase values-container__clarity">
        Claridad
      </p>
      <p class="text-uppercase values-container__empathy">
        Empatía
      </p>
      <p class="text-uppercase values-container__eficiency">
        Eficiencia
      </p>
      <p class="text-uppercase values-container__curiosity">
        Curiosidad
      </p>
      <p class="text-uppercase values-container__passion">
        Pasión
      </p>
    </div>
  </div>
</div>
