<div class="trulii-cover-small">
  <div class="trulii-cover__container">
    <div class="trulii-cover__content">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-4">
            <h1 class="title text-center-mobile title-mobile-no-margin">
              <strong ng-bind="::about.strings.CULTURE_TITLE"></strong>
            </h1>
            <h3 class="pt-serif no-margin-top text-center-mobile" ng-bind="::about.strings.CULTURE_TITLE_TEXT"></h3>
          </div>
        </div>
      </div>
    </div>
    <div class="trulii-cover__background" style="background-image:url(/css/img/about/culture.png)">
    </div>
  </div>
</div>
<div class="col-xs-12">
  <div class="row padding-more">
    <div class="col-xs-12 col-md-7 col-md-offset-4">
      <h3 class="text-muted separate-below">
        <strong ng-bind="::about.strings.CULTURE_SECTION_1_CONTENT_TITLE">
        </strong>
      </h3>
      <p ng-bind="::about.strings.CULTURE_SECTION_1_CONTENT_TEXT_1"></p>
      <p ng-bind="::about.strings.CULTURE_SECTION_1_CONTENT_TEXT_2"></p>
      <div class="hidden-md hidden-lg">
        <div class="row">
          <div class="col-xs-6">
            <h4 class="text-center montserrat-light" ng-bind="::about.strings.CULTURE_GRAPH_BRANCH_1_HEADER"></h4>
            <h5 class="text-md text-center montserrat-light text-muted" ng-bind="::about.strings.CULTURE_GRAPH_BRANCH_1_TEXT_1"></h5>
          </div>
          <div class="col-xs-6">
            <h4 class="text-center montserrat-light" ng-bind="::about.strings.CULTURE_GRAPH_BRANCH_4_HEADER"></h4>
            <h4 class="text-md text-center montserrat-light text-muted">
              <span ng-bind="::about.strings.CULTURE_GRAPH_BRANCH_4_TEXT_1"></span>
              <span ng-bind="::about.strings.CULTURE_GRAPH_BRANCH_4_TEXT_2"></span>
            </h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <h4 class="text-center montserrat-light" ng-bind="::about.strings.CULTURE_GRAPH_BRANCH_3_HEADER"></h4>
            <h4 class="text-md text-center montserrat-light text-muted">
              <span ng-bind="::about.strings.CULTURE_GRAPH_BRANCH_3_TEXT_1"></span>
              <br>
              <span ng-bind="::about.strings.CULTURE_GRAPH_BRANCH_3_TEXT_2"></span>
              <br>
              <span ng-bind="::about.strings.CULTURE_GRAPH_BRANCH_3_TEXT_3"></span>
              <br>
              <span ng-bind="::about.strings.CULTURE_GRAPH_BRANCH_3_TEXT_4"></span>
            </h4>
          </div>
          <div class="col-xs-6">
            <h4 class="text-center montserrat-light" ng-bind="::about.strings.CULTURE_GRAPH_BRANCH_2_HEADER"></h4>
            <h4 class="text-md text-center montserrat-light text-muted">
              <span ng-bind="::about.strings.CULTURE_GRAPH_BRANCH_2_TEXT_1"></span>
              <br>
              <span ng-bind="::about.strings.CULTURE_GRAPH_BRANCH_2_TEXT_2"></span>
              <br>
              <span ng-bind="::about.strings.CULTURE_GRAPH_BRANCH_2_TEXT_3"></span>
              <br>
              <span ng-bind="::about.strings.CULTURE_GRAPH_BRANCH_2_TEXT_4"></span>
            </h4>
          </div>
        </div>
      </div>
      <div class="hidden-xs hidden-sm">
        <img src="/css/img/about/growth_2.png" alt="" class="img-responsive center-block separate-above-medium separate-below-medium">
        <img src="/css/img/about/bul.png" alt="" class="img-responsive center-block separate-below">
        <div class="row">
          <div class="col-xs-3">
            <h4 class="text-center montserrat-light" ng-bind="::about.strings.CULTURE_GRAPH_BRANCH_1_HEADER"></h4>
            <img src="/css/img/about/priorities.png" alt="" class="img-responsive center-block separate-above separate-below">
            <h5 class="text-md text-center montserrat-light" ng-bind="::about.strings.CULTURE_GRAPH_BRANCH_1_TEXT_1"></h5>
          </div>
          <div class="col-xs-3">
            <h4 class="text-center montserrat-light" ng-bind="::about.strings.CULTURE_GRAPH_BRANCH_2_HEADER"></h4>
            <img src="/css/img/about/strategy.png" alt="" class="img-responsive center-block separate-above separate-below">
            <h4 class="text-md text-center montserrat-light">
              <span ng-bind="::about.strings.CULTURE_GRAPH_BRANCH_2_TEXT_1"></span>
              <br>
              <span ng-bind="::about.strings.CULTURE_GRAPH_BRANCH_2_TEXT_2"></span>
              <br>
              <span ng-bind="::about.strings.CULTURE_GRAPH_BRANCH_2_TEXT_3"></span>
              <br>
              <span ng-bind="::about.strings.CULTURE_GRAPH_BRANCH_2_TEXT_4"></span>
            </h4>
          </div>
          <div class="col-xs-3">
            <h4 class="text-center montserrat-light" ng-bind="::about.strings.CULTURE_GRAPH_BRANCH_3_HEADER"></h4>
            <img src="/css/img/about/transparency.png" alt="" class="img-responsive center-block separate-above separate-below">
            <h4 class="text-md text-center montserrat-light">
              <span ng-bind="::about.strings.CULTURE_GRAPH_BRANCH_3_TEXT_1"></span>
              <br>
              <span ng-bind="::about.strings.CULTURE_GRAPH_BRANCH_3_TEXT_2"></span>
              <br>
              <span ng-bind="::about.strings.CULTURE_GRAPH_BRANCH_3_TEXT_3"></span>
              <br>
              <span ng-bind="::about.strings.CULTURE_GRAPH_BRANCH_3_TEXT_4"></span>
            </h4>
          </div>
          <div class="col-xs-3">
            <h4 class="text-center montserrat-light" ng-bind="::about.strings.CULTURE_GRAPH_BRANCH_4_HEADER"></h4>
            <img src="/css/img/about/balance.png" alt="" class="img-responsive center-block separate-above separate-below">
            <h4 class="text-md text-center montserrat-light">
              <span ng-bind="::about.strings.CULTURE_GRAPH_BRANCH_4_TEXT_1"></span>
              <img src="/css/img/about/arrow.png" alt="" class="img-responsive center-block separate-above-less separate-below-less">
              <span ng-bind="::about.strings.CULTURE_GRAPH_BRANCH_4_TEXT_2"></span>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="trulii-cover-small">
  <div class="trulii-cover__container">
    <div class="trulii-cover__content">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-4">
            <h1 class="title text-center-mobile title-mobile-no-margin">
              <strong ng-bind="::about.strings.CULTURE_COVER_TITLE"></strong>
            </h1>
            <h3 class="pt-serif no-margin-top text-center-mobile" ng-bind="::about.strings.CULTURE_COVER_TEXT"></h3>
          </div>
        </div>
      </div>
    </div>
    <div class="trulii-cover__background" style="background-image:url(/css/img/about/values.jpg)">
    </div>
  </div>
</div>
<div class="col-xs-12">
  <div class="row padding-more">
    <div class="col-xs-12 col-md-7 col-md-offset-4">
      <h3 class="text-muted separate-below">
        <strong ng-bind="::about.strings.CULTURE_SECTION_2_CONTENT_TITLE"></strong>
      </h3>
      <p ng-bind="::about.strings.CULTURE_SECTION_2_CONTENT_TEXT_1"></p>
      <blockquote>
        <ul class="list-unstyled list-spaced text-md">
          <li>
            <p ng-bind="::about.strings.CULTURE_DETERMINING_VALUE_1"></p>
          </li>
          <li>
            <p ng-bind="::about.strings.CULTURE_DETERMINING_VALUE_2"></p>
          </li>
          <li>
            <p ng-bind="::about.strings.CULTURE_DETERMINING_VALUE_3"></p>
          </li>
          <li>
            <p ng-bind="::about.strings.CULTURE_DETERMINING_VALUE_4"></p>
          </li>
          <li>
            <p ng-bind="::about.strings.CULTURE_DETERMINING_VALUE_5"></p>
          </li>
          <li>
            <p ng-bind="::about.strings.CULTURE_DETERMINING_VALUE_6"></p>
          </li>
        </ul>
      </blockquote>
      <div class="values-container">
        <img src="/css/img/about/values.png" alt="" class="img-responsive center-block separate-above-more separate-below-less">
        <p class="text-uppercase values-container__humility" ng-bind="::about.strings.CULTURE_VALUE_1">
        </p>
        <p class="text-uppercase values-container__clarity" ng-bind="::about.strings.CULTURE_VALUE_2">
        </p>
        <p class="text-uppercase values-container__empathy" ng-bind="::about.strings.CULTURE_VALUE_3">
        </p>
        <p class="text-uppercase values-container__eficiency" ng-bind="::about.strings.CULTURE_VALUE_4">
        </p>
        <p class="text-uppercase values-container__curiosity" ng-bind="::about.strings.CULTURE_VALUE_5">
        </p>
        <p class="text-uppercase values-container__passion" ng-bind="::about.strings.CULTURE_VALUE_6"></p>
      </div>
    </div>
  </div>
</div>