<div class="trulii-cover-small">
  <div class="trulii-cover__container">
    <div class="trulii-cover__content">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-4">
            <h1>
              <strong ng-bind="::about.strings.MISSION_TITLE"></strong>
            </h1>
            <h3 class="pt-sans no-margin-top" ng-bind="::about.strings.MISSION_TITLE_TEXT"></h3>
          </div>
        </div>
      </div>
    </div>
    <div class="trulii-cover__background" style="background-image:url(/css/img/about/mission.jpg)">
    </div>
  </div>
</div>
<div class="row padding-more">
  <div class="col-xs-10 col-xs-offset-1 col-md-7 col-md-offset-4">
    <h1 class="text-muted text-xxlg">
      <strong ng-bind="::about.strings.MISSION_CONTENT_SECTION_1_TITLE"></strong>
    </h1>
    <p ng-bind="::about.strings.MISSION_CONTENT_SECTION_1_TEXT_1"></p>
    <p ng-bind="::about.strings.MISSION_CONTENT_SECTION_1_TEXT_2"></p>
    <p class="montserrat-bold" ng-bind="::about.strings.MISSION_CONTENT_SECTION_1_TEXT_3"></p>
    <img src="/css/img/about/mission_2.jpg" alt="" class="img-responsive separate-above-medium separate-below-medium">
    <p ng-bind="::about.strings.MISSION_CONTENT_SECTION_1_TEXT_4"></p>
  </div>
</div>
<div class="row container-muted padding-more">
  <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-4">
    <h1 class="text-center text-muted" ng-bind="::about.strings.MISSION_CONTENT_SECTION_2_TITLE"></h1>
    <div class="row separate-above-medium separate-below-medium">
      <div class="col-xs-12 col-md-5">
        <button class="btn btn-multiline btn-success btn-block padding-vertical-regular">
          <strong ng-bind="::about.strings.MISSION_ACTION_LEARN_1"></strong>
          <br>
          <span class="montserrat-light" ng-bind="::about.strings.MISSION_ACTION_LEARN_2"></span>
        </button>
      </div>
      <div class="col-xs-12 col-md-5 col-md-offset-1">
        <button class="btn btn-multiline btn-primary btn-block padding-vertical-regular">
          <strong ng-bind="::about.strings.MISSION_ACTION_PUBLISH_1"></strong>
          <br>
          <span class="montserrat-light" ng-bind="::about.strings.MISSION_ACTION_PUBLISH_2"></span>
        </button>
      </div>
    </div>
  </div>
</div>
