
<div class="trulii-cover-small trulii-cover-small__terms">
    <div class="trulii-cover__container">
        <div class="trulii-cover__content trulii-cover__content-about limited-width text-center">
            <div class="col-xs-12">
                <div class="row">
                    <div class="padding-vertical-more">
                        <h1 class="title text-center-mobile title-mobile-no-margin" ng-bind="::about.strings.PRIVACY_TITLE">
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="trulii-cover__background" ng-style="{ 'background-image' : 'url({{about.getAmazonUrl('banner_edit_activity.png')}})' }">
        </div>
    </div>
</div>

<div class="content limited-width separate-above-more separate-below-more">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis odit, 
        explicabo animi voluptatum ullam doloremque pariatur itaque iste esse placeat quas dolorum. 
        Eaque est fuga delectus recusandae eveniet aliquid aliquam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis odit, 
        explicabo animi voluptatum ullam doloremque pariatur itaque iste esse placeat quas dolorum. 
        Eaque est fuga delectus recusandae eveniet aliquid aliquam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis odit, 
        explicabo animi voluptatum ullam doloremque pariatur itaque iste esse placeat quas dolorum. 
        Eaque est fuga delectus recusandae eveniet aliquid aliquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis odit, 
        explicabo animi voluptatum ullam doloremque pariatur itaque iste esse placeat quas dolorum. 
        Eaque est fuga delectus recusandae eveniet aliquid aliquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis odit, 
        explicabo animi voluptatum ullam doloremque pariatur itaque iste esse placeat quas dolorum. 
        Eaque est fuga delectus recusandae eveniet aliquid aliquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis odit, 
        explicabo animi voluptatum ullam doloremque pariatur itaque iste esse placeat quas dolorum. 
        Eaque est fuga delectus recusandae eveniet aliquid aliquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis odit, 
        explicabo animi voluptatum ullam doloremque pariatur itaque iste esse placeat quas dolorum. 
        Eaque est fuga delectus recusandae eveniet aliquid aliquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis odit, 
        explicabo animi voluptatum ullam doloremque pariatur itaque iste esse placeat quas dolorum. 
        Eaque est fuga delectus recusandae eveniet aliquid aliquam.
    </p>
</div>
