
<div class="trulii-cover-small">
    <div class="trulii-cover__container">
        <div class="trulii-cover__content trulii-cover__content-about limited-width">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12  padding-vertical-more">
                        <h1 class="title text-center-mobile title-mobile-no-margin"  ng-bind="::about.strings.TEAM_TITLE">
                        </h1>
                        <h3 class="pt-serif subtitle no-margin-top text-center-mobile"  ng-bind="::about.strings.TEAM_TITLE_TEXT"></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="trulii-cover__background" ng-style="{ 'background-image' : 'url({{about.getAmazonUrl('static/img/about/team.jpg')}})' }">
        </div>
    </div>
</div>

<div class="col-xs-12 only-fade separate-below-more">
  <div class="row  ">
      
    <ul class="sidebar sidebar-about hidden-xs hidden-sm">
        <li class="sidebar__item"
            ui-sref-active="sidebar__item--selected">
                <a ui-sref="about.mission" ng-click="about.changeContentCover('about.mission')">
                <span ng-bind="::about.strings.WIDGET_MISSION_COPY"></span>
            </a>
        </li>
        <li class="sidebar__item"
            ui-sref-active="sidebar__item--selected">
                <a  ui-sref="about.culture" ng-click="about.changeContentCover('about.culture')">
                    <span ng-bind="::about.strings.WIDGET_CULTURE_COPY"></span>
            </a>
        </li>
        <li class="sidebar__item"
            ui-sref-active="sidebar__item--selected">
                <a  ui-sref="about.team" ng-click="about.changeContentCover('about.team')">
                    <span ng-bind="::about.strings.WIDGET_TEAM_COPY"></span>
            </a>
        </li>
        
    </ul>
      <div class="col-xs-12 ">
          <h1 class="" ng-bind="::about.strings.TEAM_CONTENT_SECTION_1_TITLE">
          </h1>
          <h4 class="font-light text-muted separate-above separate-below-medium text-xlg" ng-bind="::about.strings.TEAM_CONTENT_SECTION_1_TEXT"></h4>
          <div class="row">
              <div class="col-xs-12 col-md-6">
                  <div class="team-card">
                      <div class="team-card__veil"></div>
                      <div class="team-card__background" ng-style="{ 'background-image' : 'url( {{about.getAmazonUrl('static/img/about/team.jpg')}})' }"></div>
                      <div class="team-card__content">
                          <div class="team-card__content-header">
                              <h5><strong>Levi Velázquez</strong></h5>
                              <h5>CTO & <strong>Black</strong>end Developer</h5>
                          </div>
                          <div class="row">
                              <div class="col-xs-6">
                                  <hr>
                              </div>
                          </div>
                          <h5 class="text-ssm">
                              Python y Django son su biblia. Le gusta gritar los goles del Barca y llorar por los partidos de Argentina (a pesar de ser venezolano...). Fan de Cortázar y poeta clandestino.
                          </h5>
                          <div class="team-card__content-social">
                              <ul class="list-inline list-unstyled">
                                  <li>
                                      <a href="https://www.linkedin.com/in/levinvm">
                                          <img ng-src="{{about.getAmazonUrl('static/img/about/in.png')}}" alt="" />
                                      </a>
                                  </li>
                                  <li>
                                      <a href="http://stackoverflow.com/users/1539655/levi">
                                          <img ng-src="{{about.getAmazonUrl('static/img/about/s.png')}}" alt="" />
                                      </a>
                                  </li>
                                  <li>
                                      <a href="https://github.com/levivm">
                                          <img ng-src="{{about.getAmazonUrl('static/img/about/github.png')}}" alt="" />
                                      </a>
                                  </li>
                                  <li>
                                      <a href="https://twitter.com/levisvm">
                                          <img ng-src="{{about.getAmazonUrl('static/img/about/twitter.png')}}" alt="" />
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xs-12 col-md-6">
                  <div class="team-card">
                      <div class="team-card__veil"></div>
                      <div class="team-card__background" ng-style="{ 'background-image' : 'url( {{about.getAmazonUrl('static/img/about/team.jpg')}})' }"></div>
                      <div class="team-card__content">
                          <div class="team-card__content-header">
                              <h5><strong>Rodrigo Ferreira</strong></h5>
                              <h5>Chief Email Officer (CEO) & Fundador & Aseo</h5>
                          </div>
                          <div class="row">
                              <div class="col-xs-6">
                                  <hr>
                              </div>
                          </div>
                          <h5 class="text-ssm">
                              Fundraising, operaciones, marketing y product management. Obsesivo-compulsivo de la limpieza. Nuestro Lobo de Wall Street. Pero sin las drogas. Ni las mujeres. Ni el yate...
                          </h5>
                          <div class="team-card__content-social">
                              <ul class="list-inline list-unstyled">
                                  <li>
                                      <a href="https://twitter.com/VRodrigoFP">
                                          <img ng-src="{{about.getAmazonUrl('static/img/about/twitter.png')}}" alt="" />
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xs-12 col-md-6">
                  <div class="team-card">
                      <div class="team-card__veil"></div>
                      <div class="team-card__background" ng-style="{ 'background-image' : 'url( {{about.getAmazonUrl('static/img/about/team.jpg')}})' }"></div>
                      <div class="team-card__content">
                          <div class="team-card__content-header">
                              <h5><strong>Fernando De Freitas</strong></h5>
                              <h5>Developer “de altura”</h5>
                          </div>
                          <div class="row">
                              <div class="col-xs-6">
                                  <hr>
                              </div>
                          </div>
                          <h5 class="text-ssm">
                              El Tim Duncan del Frontend y Android. Nuestro IMDB gigante: dos metros de conocimiento de películas y series. El marido perfecto: cocina, plancha y guinda la ropa húmeda.
                          </h5>
                          <div class="team-card__content-social">
                              <ul class="list-inline list-unstyled">
                                  <li>
                                      <a href="https://co.linkedin.com/in/fdefreitas">
                                          <img ng-src="{{about.getAmazonUrl('static/img/about/in.png')}}" alt="" />
                                      </a>
                                  </li>
                                  <li>
                                      <a href="https://twitter.com/fdefreitas">
                                          <img ng-src="{{about.getAmazonUrl('static/img/about/twitter.png')}}" alt="" />
                                      </a>
                                  </li>
                                  <li>
                                      <a href="https://medium.com/@fdefreitas/ ">
                                          <img ng-src="{{about.getAmazonUrl('static/img/about/medium.png')}}" alt="" />
                                      </a>
                                  </li>
                                  <li>
                                      <a href="https://github.com/fdefreitas">
                                          <img ng-src="{{about.getAmazonUrl('static/img/about/github.png')}}" alt="" />
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xs-12 col-md-6">
                  <div class="team-card">
                      <div class="team-card__veil"></div>
                      <div class="team-card__background" ng-style="{ 'background-image' : 'url( {{about.getAmazonUrl('static/img/about/team.jpg')}})' }"></div>
                      <div class="team-card__content">
                          <div class="team-card__content-header">
                              <h5><strong>Daniel Pérez</strong></h5>
                              <h5>Chief Photoshop Officer</h5>
                          </div>
                          <div class="row">
                              <div class="col-xs-6">
                                  <hr>
                              </div>
                          </div>
                          <h5 class="text-ssm">
                              El que pone Trulii bonito. Se califica como pseudo-hipster y Apple fanboy. Si ves a alguien en el Transmilenio con una manzana, de seguro es él. Nómada por obligación.
                          </h5>
                          <div class="team-card__content-social">
                              <ul class="list-inline list-unstyled">
                                  <li>
                                      <a href="http://thebigdeals.tumblr.com/">
                                          <img ng-src="{{about.getAmazonUrl('static/img/about/tumblr.png')}}" alt="" />
                                      </a>
                                  </li>
                                  <li>
                                      <a href="https://www.linkedin.com/in/daniel-pérez-b240572a">
                                          <img ng-src="{{about.getAmazonUrl('static/img/about/in.png')}}" alt="" />
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xs-12 col-md-6">
                  <div class="team-card">
                      <div class="team-card__veil"></div>
                      <div class="team-card__background" ng-style="{ 'background-image' : 'url( {{about.getAmazonUrl('static/img/about/team.jpg')}})' }"></div>
                      <div class="team-card__content">
                          <div class="team-card__content-header">
                              <h5><strong>Harvey Forero</strong></h5>
                              <h5>Stand-up Comedy Manager (Ba Dum Tss)</h5>
                          </div>
                          <div class="row">
                              <div class="col-xs-6">
                                  <hr>
                              </div>
                          </div>
                          <h5 class="text-ssm">
                              Django y iOS . Pelirrojo colombiano “venezolanizado”. Nombrado en Trulii como “Persona Mejor Vestida”. Encargado en coordinar los partidos de FIFA. Amante de los comics.
                          </h5>
                          <div class="team-card__content-social">
                              <ul class="list-inline list-unstyled">
                                  <li>
                                      <a href="https://co.linkedin.com/in/harveydf">
                                          <img ng-src="{{about.getAmazonUrl('static/img/about/in.png')}}" alt="" />
                                      </a>
                                  </li>
                                  <li>
                                      <a href="http://twitter.com/harveydf">
                                          <img ng-src="{{about.getAmazonUrl('static/img/about/twitter.png')}}" alt="" />
                                      </a>
                                  </li>
                                  <li>
                                      <a href="http://github.com/harveydf">
                                          <img ng-src="{{about.getAmazonUrl('static/img/about/github.png')}}" alt="" />
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xs-12 col-md-6">
                  <div class="team-card">
                      <div class="team-card__veil"></div>
                      <div class="team-card__background" ng-style="{ 'background-image' : 'url( {{about.getAmazonUrl('static/img/about/team.jpg')}})' }"></div>
                      <div class="team-card__content">
                          <div class="team-card__content-header">
                              <h5><strong>Andrés De Freitas</strong></h5>
                              <h5></h5>
                          </div>
                          <div class="row">
                              <div class="col-xs-6">
                                  <hr>
                              </div>
                          </div>
                          <h5 class="text-ssm">

                          </h5>
                          <div class="team-card__content-social">
                              <ul class="list-inline list-unstyled">
                                  <li>
                                      <a href="https://twitter.com/adefreitasvz">
                                          <img ng-src="{{about.getAmazonUrl('static/img/about/twitter.png')}}" alt="" />
                                      </a>
                                  </li>
                                  <li>
                                      <a href="https://www.linkedin.com/in/adefreitasvz">
                                          <img ng-src="{{about.getAmazonUrl('static/img/about/in.png')}}" alt="" />
                                      </a>
                                  </li>
                                  <li>
                                      <a href="https://github.com/adefreitas/">
                                          <img ng-src="{{about.getAmazonUrl('static/img/about/github.png')}}" alt="" />
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xs-12 col-md-6">
                  <div class="team-card">
                      <div class="team-card__veil"></div>
                      <div class="team-card__background" ng-style="{ 'background-image' : 'url( {{about.getAmazonUrl('static/img/about/team.jpg')}})' }"></div>
                      <div class="team-card__content">
                          <div class="team-card__content-header">
                              <h5><strong>María Parra</strong></h5>
                              <h5>Diseño Gráfico & Co-fundadora & Todera</h5>
                          </div>
                          <div class="row">
                              <div class="col-xs-6">
                                  <hr>
                              </div>
                          </div>
                          <h5 class="text-ssm">
                              Cuando no nos deleita con un diseño hermoso, ayuda en todo lo demás. Futura diseñadora de modas. Decoradora de interiores frustrada y compradora compulsiva.
                          </h5>
                          <div class="team-card__content-social">
                              <ul class="list-inline list-unstyled">

                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xs-12 col-md-6">
                  <div class="team-card">
                      <div class="team-card__veil"></div>
                      <div class="team-card__background" ng-style="{ 'background-image' : 'url( {{about.getAmazonUrl('static/img/about/team.jpg')}})' }"></div>
                      <div class="team-card__content">
                          <div class="team-card__content-header">
                              <h5><strong>Chipi</strong></h5>
                              <h5>La Mascota</h5>
                          </div>
                          <div class="row">
                              <div class="col-xs-6">
                                  <hr>
                              </div>
                          </div>
                          <h5 class="text-ssm">
                              El llama la atención. Tienes varios apodos: “El consentido”, “Galán”, “Parce” o “¡¡Bájate de ahí!!”. Increíblemente no le gusta el atún. Es claro que es el que tiene más flow de todos...
                          </h5>
                          <div class="team-card__content-social">
                              <ul class="list-inline list-unstyled">

                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>