
<div class="trulii-cover-small trulii-cover-small__terms">
    <div class="trulii-cover__container">
        <div class="trulii-cover__content trulii-cover__content-about limited-width text-center">
            <div class="col-xs-12">
                <div class="row">
                    <div class="padding-vertical-more">
                        <h1 class="title text-center-mobile title-mobile-no-margin" ng-bind="::about.strings.TERMS_TITLE">
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="trulii-cover__background" ng-style="{ 'background-image' : 'url({{about.getAmazonUrl('banner_edit_activity.png')}})' }">
        </div>
    </div>
</div>

<div class="content limited-width separate-above-more separate-below-more">
    <h4><strong>TÉRMINOS Y CONDICIONES GENERALES PARA USUARIOS DE TRULII</strong></h4>
    <ol class="text-lg">
        <li class="font-bold separate-above-less">
            <span>Definiciones.</span>
            <ol class="font-dark" type="a">
                <li class="separate-above-less"><u>Trulii:</u> Se refiere a Trulii S.A.S., sociedad comercial colombiana con NIT No. 900.823.805 – 9 y domicilio social en Bogotá D.C., que presta servicios de intermediación de actividades educativas de manera virtual a través de su página web <a href="https://trulii.com/">https://trulii.com/</a>.<br/>
                Plataforma o Portal: Es un marketplace especializado en la publicación de actividades educativas donde los visitantes pueden encontrar diferentes tipos de contenido sobre actividades recreativas y/o académicas e información sobre clases, talleres, cursos y diplomados que se realicen en la ciudad que seleccionen. Cuando se usen las palabras Plataforma o Portal, se estará haciendo referencia a la página web de Trulii, ubicada en el dominio <a href="https://trulii.com/">https://trulii.com/</a>.
                </li>
                <li class="separate-above-less"><u>Organizador:</u> Personas naturales o jurídicas que ofrecen los Programas y que, al registrarse y aceptar los términos y condiciones del Portal, podrán disponer de un espacio virtual para anunciar sus Programas a Potenciales Asistentes. 
                </li>  
                <li class="separate-above-less"><u>Programa:</u> Actividad o conjunto de actividades ofrecidos y prestados por el Organizador para efectos de formar, cualificar o recrear al Asistente en un área dada del conocimiento. Incluye, sin limitarse a, cursos, clases, talleres, diplomados, seminarios, etc., en todo caso, presenciales.
                </li>
                <li class="separate-above-less"><u>Potenciales Asistentes:</u> Personas que están interesadas en la Plataforma y que ingresen a la misma para buscar en el Catálogo uno o varios Programas, y, por tanto, son personas que potencialmente podrán inscribirse o inscribir a un tercero en los Programas publicitados por los Organizadores.</li>
                <li class="separate-above-less"><u>Asistentes:</u> Son las personas que se inscriben en uno de los Programas ofrecidos por los Organizadores en la Plataforma.</li>
                <li class="separate-above-less"><u>Catálogo:</u> Hace referencia al conjunto de Programas ofrecidos a través de la Plataforma.</li>
                <li class="separate-above-less"><u>Parte:</u> Para efectos de los Términos, hace referencia a Trulii y el Organizador, individualmente considerados.</li>
                <li class="separate-above-less"><u>Partes:</u> Para efectos de los Términos, hace referencia a Trulii y el Organizador, conjuntamente considerados.</li>
                <li class="separate-above-less"><u>Usuarios:</u> Hace referencia, en general, a Potenciales Asistentes, Asistentes y Organizadores.</li>
            </ol>
        </li>
        <li class="font-bold separate-above-less">
            <span>Normas aplicables.</span>
            <div  class="font-dark separate-above-less">
                <span>Sin perjuicio de la aplicabilidad de otras normas que regulen la relación entre las Partes, se mencionan las siguientes de manera enunciativa:</span>
            </div>
            <ol class="font-dark" type="a">
                <li class="separate-above-less">Ley 527 de 1999: <i>por medio de la cual se define y reglamenta el acceso y uso de los mensajes de datos, del comercio electrónico y de las firmas digitales, y se establecen las entidades de certificación y se dictan otras disposiciones.</i></li>
                <li class="separate-above-less">Ley 1581 del 2012: <i>Por la cual se dictan disposiciones generales para la protección de datos personales.</i></li>
                <li class="separate-above-less">Decreto 1377 del 2013: <i>Por el cual se reglamenta parcialmente la ley 1581 de 2012.</i></li>
            </ol>
            <div class="font-dark separate-above-less">
                <span>La relación entre las Partes y estos Términos se regirán por el derecho colombiano.</span>
            </div>
        </li>
    </ol>

    <h4 class="separate-above"> <strong>TÉRMINOS Y CONDICIONES PARA ORGANIZADORES DE TRULII</strong></h4>

    <ol class="text-lg">
        <li class="font-bold separate-above-less">
            <span>Condiciones de registro y acceso a la Plataforma.</span>
            <ol class="font-dark" type="a">
                <li class="separate-above-less">Estos términos y condiciones generales regulan la relación jurídica entre el Organizador y Trulii (en adelante los “Términos”), es decir que son aplicables a la publicación de los avisos publicitarios/ahttps://www.trulii.com/se-organizadords/anuncios virtuales que aparecen en el Portal, pero que no se refieren a los Programas ofrecidos por los Organizadores (en adelante, los “Anuncios”).</li>
                <li class="separate-above-less">Cualquier persona que desee ofrecer sus Programas a través de los Anuncios deberá tener en cuenta estos Términos.</li>
                <li class="separate-above-less">Cualquier persona que no acepte estos Términos, los cuales tienen un carácter obligatorio y vinculante, deberá abstenerse de utilizar o registrarse en la Plataforma.</li>
                <li class="separate-above-less">El Usuario del Portal, debe leer, entender y aceptar todas las condiciones establecidas en estos Términos y en las Políticas de Privacidad así como en los demás documentos incorporados a los mismos por referencia.</li>
            </ol>
        </li>
        <li class="font-bold separate-above-less">
            <span>Procedimiento para el registro de los Organizadores.</span>
            <div  class="font-dark separate-above-less">
                <span>Con la aceptación de los Términos, el Organizador se obliga a:</span>
            </div>
            <ol class="font-dark" type="a">
                <li class="separate-above-less">Ingresar a la Plataforma, diligenciar el formulario que se encuentra en el siguiente enlace <a href="https://www.trulii.com/se-organizador">https://www.trulii.com/se-organizador</a> y enviarlo. </li>
                <li class="separate-above-less">Una vez estudiada la información incluida en el formulario, el personal de Trulii se pondrá en contacto con el Organizador, a fin de validarla y evaluar la idoneidad y calidad del/los Programa(s) ofrecido(s) por el Organizador. </li>
                <li class="separate-above-less">Si Trulii considera que el/los Programa(s) ofrecidos son aptos para ser vinculados a la Plataforma, confirmará su inscripción al Organizador por correo electrónico y le dará las indicaciones pertinentes para efectos de que pueda ingresar a su cuenta y empezar a publicitar el/los Programa(s) en la Plataforma.</li>
                <li class="separate-above-less">Todos los Anuncios deberán contener la información antes mencionada, la cual deberá cumplir con las condiciones del numeral 1.3. del artículo 3 del Estatuto del Consumidor, es decir, deberá ser <i>“completa, veraz, transparente, oportuna, verificable, comprensible, precisa e idónea […]”</i>.</li>
                <li class="separate-above-less">Trulii se reserva el derecho a vetar y solicitar modificaciones en los contenidos publicados por el Organizador en adelante. La renuencia del Organizador a someter los contenidos remitidos a las condiciones solicitadas por Trulii habilita a que éste termine esta relación.</li>
                <li class="separate-above-less">Si durante el curso de la relación contractual entre las Partes, Trulii considera que el/los Programa(s) ofrecido(s) por el Organizador ha(n) dejado de cumplir con los criterios de idoneidad y calidad, podrá terminar tal relación.</li>
                <li class="separate-above-less">El Organizador podrá solicitar la cancelación de su registro en la Plataforma en cualquier momento. Trulii lo dará de baja de la Plataforma. Sin embargo, el Organizador garantizará la  prestación de los servicios relacionados con los Programas que ya hayan sido contratados y acordados por los Asistentes a través del Portal. </li>
                <li class="separate-above-less">Por el hecho de hacer la solicitud de vinculación, se entiende que el Organizador ha leído y aceptado estos Términos y que se somete a las indicaciones y solicitudes que Trulii le haga para efectos de publicitar su(s) Programa(s).</li>
                <li class="separate-above-less">Permitirá y no impedirá que Trulii use sus imágenes e información publicada en el Portal para efectos promocionales.</li>
            </ol>
        </li>
        
        <li class="font-bold separate-above-less">
            <span>Servicios de Trulii.</span>
            <ol class="font-dark" type="a">
                <li class="separate-above-less">Trulii permitirá que los Organizadores incluyan sus Programas en un Catálogo que se encontrará disponible en el Portal y publicitará los Anuncios con la información proporcionada por los Organizadores, de acuerdo con lo previsto en estos Términos.</li>
                <li class="separate-above-less">Trulii facilitará todo el proceso de inscripción de los Asistentes, estos deberán diligenciar el formulario que se encuentra en la Plataforma y se inscribirán en el o los Programas de su interés. La inscripción pueden hacerla a su nombre o al de un tercero.</li>
                <li class="separate-above-less">Actuando en nombre y representación del Organizador, y por cuenta de este, Trulii contratará con los Asistentes la inscripción en los Programas y recibirá el pago del mismo por parte de estos. En ese sentido, los Asistentes se entienden inscritos en el Programa al inscribirse y hacer el pago en la Plataforma.</li>
                <li class="separate-above-less">Actuando en nombre y representación del Organizador, y por cuenta de este, Trulii adaptará su Plataforma para recibir los pagos en el momento en que los Asistentes se estén inscribiendo en los Programas.</li>
                <li class="separate-above-less">El Asistente hará el pago del Programa a través de la Plataforma, utilizando la pasarela de pago que corresponda al medio seleccionado, PSE para los pagos con tarjeta débito y PayU para los pagos con tarjeta de crédito. La comisión cobrada por la plataforma o pasarela de pagos, junto con los impuestos que se causen, será asumida por el Organizador.</li>
                <li class="separate-above-less">Trulii expedirá el comprobante que acredite el pago hecho por el Asistente y se lo enviará. El Organizador podrá acceder a la información pertinente en el Portal, a través de su cuenta.</li>
            </ol>
        </li>
        
        <li class="font-bold separate-above-less">
            <span>Precio y condiciones de pago.</span>
            <ol class="font-dark" type="a">
                <li class="separate-above-less">Como contraprestación por los servicios prestados por Trulii, el Organizador pagará una comisión sobre el valor de cada transacción que se realice en el Portal, junto con los impuestos que se causen (en adelante la “Comisión”).</li>
                <li class="separate-above-less">Adicionalmente el Organizador pagará a Trulii, los siguientes montos (en adelante los “Gastos de Transacción”):
                    <ol type="i">
                        <li class="separate-above-less">La comisión cobrada por la pasarela de pagos usada por los Asistentes,</li>
                        <li class="separate-above-less">La comisión cobrada por la entidad bancaria por medio de la cual se haga la transferencia de los recursos, en caso de que aplique, y</li>
                        <li class="separate-above-less">Los impuestos que se causen en estas transacciones.</li>
                    </ol>
                </li>
                <li class="separate-above-less">El Organizador autoriza a Trulii a descontar de los montos pagados por los Asistentes, la Comisión y los Gastos de Transacción antes mencionados.</li>
                <li class="separate-above-less">Trulii transferirá al Organizador el remanente, es decir, el dinero que le corresponde por la prestación de servicios asociada a los Programas contratados por los Asistentes, previa deducción de la Comisión y Gastos de Transacción que el Organizador ha aceptado sufragar.</li>
                <li class="separate-above-less">En caso de que la inscripción al Programa sea gratuita, el servicio en Trulii es totalmente gratuito.</li>
                <li class="separate-above-less">La determinación del porcentaje de la Comisión y los Gastos de Transacción y la forma y fecha de pago, se hará durante la vinculación del Organizador a la Plataforma, a través de un documento llamado “Anexo de Vinculación” que hace parte integrante de estos Términos.</li>
                <li class="separate-above-less">El Organizador podrá acceder a un balance de cuenta en la Plataforma, en donde encontrará el dinero acumulado que tiene en Trulii, ya deducidos la Comisión y Gastos de Transacción.</li>
                <li class="separate-above-less">Trulii le transferirá al Organizador los montos a favor, en la fecha determinada en el Anexo de Vinculación. El Organizador deberá tener en cuenta que la transferencia de los recursos de la cuenta virtual de la pasarela de pagos a la cuenta indicada tomará mínimo tres días hábiles.</li>
                <li class="separate-above-less">Las Partes se efectuarán las retenciones de ley, en caso de ser aplicables, y cada una pagará los impuestos que le correspondan. El Organizador deberá tener en cuenta que Trulii se encuentra acogida a la ley 1429 de 2010, por lo que no le deberá ser practicada la retención en la fuente por renta hasta el año 2020, razón por la cual no se podrán hacer descuentos por este rubro en el pago de la comisión.</li>
                <li class="separate-above-less">En caso de que, por cualquier motivo, el precio pagado por el Asistente deba serle devuelto, el Organizador reconocerá la Comisión de Trulii quien, en todo caso, no estará obligado a devolverla, incluso si ello implica que el Organizador deba completar el monto faltante para devolver la totalidad de lo pagado al Asistente.</li>
                <li class="separate-above-less">Lo anterior no aplicará, en el evento en que el Asistente ejerza el derecho de retracto señalado en el artículo 47 de la ley 1480 de 2011 (en adelante el “Estatuto del Consumidor”) o solicite una reversión del pago de acuerdo con lo estipulado en el artículo 51 de dicha ley.</li>
            </ol>
        </li>
    </ol>
</div>
