<div class="container">
		<div class="col-sm-2">
		    <nav class="nav-sidebar">
				<ul class="nav tabs">
		          <li class="active"><a data-target="#tab1" data-toggle="tab">Ajustes</a></li>
		          <li class=""><a data-target="#tab2" data-toggle="tab">Información Bancaria</a></li>
		          <li class=""><a data-target="#tab3" data-toggle="tab">Historial de Ventas</a></li>                               
				</ul>
			</nav>
				<div><h2 class="add">Place for your add!</h2></div>
		</div>
		<div class="tab-content">
			<div class="tab-pane active text-style" id="tab1">
			  <h2>Información</h2>

			  	<form name='vm.account_form_email' ng-submit="vm.changeEmail()">
				    <fieldset>
				      	<div class="form-group">
				          <label>Correo</label>
				          <input class="form-control" name="email" ng-model="vm.organizer.user.email" type="email">
				        </div>
			          	<div class="errors" ng-show="vm.account_form_email.email.$invalid">
            				<span>{{ vm.errors.email }}</span> 
          				</div>
				        <input type="submit" id="submit" class="btn btn-primary" value="Guardar"/>
			        	<div collapse="vm.isCollapsed">
							Guardado
						</div>
			        </fieldset>
		    	</form>
		    	<hr>
			  	<form name='vm.account_form_password' ng-submit="vm.changePassword()">
				    <fieldset>
				      	<div class="form-group">
							<label>Contraseña actual</label>
							<input id="id_oldpassword" class="form-control" name="oldpassword" ng-model="vm.password_data.oldpassword" placeholder="Contraseña" type="password">
					          	<div class="errors" ng-show="vm.account_form_password.oldpassword.$invalid">
	            				<span>{{ vm.errors.oldpassword }}</span> 
	          				</div>
				        </div>
				      	<div class="form-group">
				            <label>Nueva contraseña</label>
				            <input class="form-control" name="password1" ng-model="vm.password_data.password1" placeholder="Contraseña" type="password">
					          	<div class="errors" ng-show="vm.account_form_password.password1.$invalid">
	            				<span>{{ vm.errors.password1 }}</span> 
	          				</div>
				        </div>
				      	<div class="form-group">
				            <label>Nueva contraseña (de nuevo)</label>
				            <input class="form-control" name="password2" ng-model="vm.password_data.password2" placeholder="Contraseña" type="password">
					          	<div class="errors" ng-show="vm.account_form_password.password2.$invalid">
	            				<span>{{ vm.errors.password2 }}</span> 
	          				</div>
				        </div>
				        
				        <input type="submit" id="submit" class="btn btn-primary" value="Cambiar Contraseña"/>
			        </fieldset>
		    	</form>
		       <hr>
			</div>
			<div class="tab-pane text-style" id="tab2">
<!-- 				<h2>Foto de Perfíl</h2>
				<form name='profile_form_photo' ng-submit="vm.submit_video()">
				    <fieldset>
				      	<div class="form-group">


					        <label>Foto</label>
							<div ng-file-drop="" ng-file-select="" ng-model="vm.organizer.photo" class="drop-box" drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" ng-multiple="false" allow-dir="true" accept="image/*">
									Drop Images or PDFs<div>here</div>
							</div>
							<div ng-no-file-drop="" class="drop-box">File Farg&amp;Drop not supported on your browser</div>
							<img ng-src="{{photo_path}}" /> 
							<img ng-src="/static/img/ajax-loader.gif" ng-show='photo_loading'/> 
				          	<div class="errors" ng-show="vm.photo_invalid">
	            				<span>{{ errors.file }}</span> 
	          				</div>
				        </div>
				      	<div class="form-group">
				          <label>Vídeo</label>
				          <input type="text" class="form-control" ng-model="vm.organizer.youtube_video_url" name="video" placeholder='Ejemplo: www.youtube.com/watch?v=video_id'>
				        </div>
				        <input type="submit" id="submit" class="btn btn-primary" value="Guardar"/>
			        	<div collapse="isCollapsed">
							Guardado
						</div>
			        </fieldset>
		        </form>
		       <hr> -->
			</div>
			<div class="tab-pane text-style" id="tab3">
			  <h2>Stet clita</h2>
			  <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Duis autem vel eum 
			    iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla 
			    facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit 
			    augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet,</p>
			    <hr>
			</div>
		</div>
</div>