<div class="container">
	<div class="col-sm-2">
	    <nav class="nav-sidebar">
			<ul class="nav tabs">
	          <li class="active"><a data-target="#tab1" data-toggle="tab">Opcion 1</a></li>
	          <li class=""><a data-target="#tab2" data-toggle="tab">Opcion 2</a></li>
	          <li class=""><a data-target="#tab3" data-toggle="tab">Opcion 3</a></li>                               
			</ul>
		</nav>
			<div><h2 class="add">Place for your add!</h2></div>
	</div>
	<div class="tab-content">
	</div>
</div>