@import url('../_trulii-variables');

@secondary-bg: #F7F7F7;
@border-color: #DEDEDE;
@border-widget: 1px solid @border-color;
@selected-accent: desaturate(darken(@brand-success, 15%), 5%);
@selected-accent-darker: desaturate(darken(@brand-success, 20%), 5%);


.activity-detail{
    background-color: white;
    padding: 1px 300px 0px 100px;
    margin-top: -50px;
    z-index: 1000;
    position: relative;
    @media (max-width: 768px){
        padding: 0 50px 150px;
    }
    .col-xs-12{
        z-index: 902;
    }
    &__share-widget{
        z-index: 1060;
        position: absolute;
        top: 50px;
        left: 30px;
        width: 50px;
        background-color: white;

        ul{
            border: 1px solid @gray-lighter;
        }
        li{
            width: 50px;
            height: 50px;
            text-align: center;
            padding-top: 13px;
            font-weight: bold;
            transition: all 0.5s;
            background-color: transparent;
            a{
                height: 50px;
                width: 50px;
                margin-top: -15px;
                display: block;
                padding-top: 18px;
            }
            .img-on{
                opacity: 0;
            }
            .img-off{
                opacity: 1;
            }
            .img-on, .img-off{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 18px;
                height: 18px;
                transition: all 0.5s;
            }
            &:hover, &:focus{
                .img-off{
                    opacity: 0;
                }
                .img-on{
                    opacity: 1;
                }
            }
            @media (max-width: 768px){
                &:nth-child(1){
                    background-color: darken(@facebook-blue, 10);
                    color: white;
                    border-color: darken(@facebook-blue, 10) !important;
                }
                &:nth-child(2){
                    background-color: @facebook-blue;
                    border-color: @facebook-blue !important;
                    color: white;
                    &:hover{
                        background-color: darken(@facebook-blue, 10);
                    }
                }
                &:nth-child(3){
                    background-color: @twitter-accent;
                    border-color: @twitter-accent !important;
                    &:hover{
                        background-color: darken(@twitter-accent, 10);
                    }
                }
                &:nth-child(4){
                    background-color: @linkedin-accent;
                    border-color: @linkedin-accent !important;
                    &:hover{
                        background-color: darken(@linkedin-accent, 10);
                    }
                }
                &:nth-child(5){
                    background-color: @brand-secondary;
                    border-color: @brand-secondary !important;
                    &:hover{
                        background-color: darken(@brand-secondary, 10);
                    }
                }
                &:nth-child(6){
                    background-color: @whatsapp-accent;
                    border-color: @whatsapp-accent !important;
                    &:hover{
                        background-color: darken(@whatsapp-accent, 10);
                    }
                }
                &:nth-child(7){
                    background-color: #FFFFFF;
                    &:hover{
                        background-color: darken(#FFFFFF, 10);
                    }
                }
            }
            &:nth-child(1){
                background-color: darken(@facebook-blue, 10);
                color: white;
                border-color: darken(@facebook-blue, 10) !important;
            }
            &:nth-child(2){
                &:hover, &:focus{
                    background-color: @facebook-blue;
                    border-color: @facebook-blue !important;
                }
            }
            &:nth-child(3){
                &:hover, &:focus{
                    background-color: @twitter-accent;
                    border-color: @twitter-accent !important;
                }
            }
            &:nth-child(4){
                &:hover, &:focus{
                    background-color: @linkedin-accent;
                    border-color: @linkedin-accent !important;
                }
            }
            &:nth-child(5){
                &:hover, &:focus{
                    background-color: @brand-secondary;
                    border-color: @brand-secondary !important;
                }
            }
            &:nth-child(6){
                &:hover, &:focus{
                    background-color: @whatsapp-accent;
                    border-color: @whatsapp-accent !important;
                }
            }
            &:nth-child(7){
                &:hover{
                    background-color: #FFFFFF;
                }
            }
            &:not(:last-child){
                border-bottom: 1px solid @gray-lighter;
            }
        }
        @media (max-width: 768px){
            top: initial !important;
            left: initial !important;
            bottom: 50px !important;
            width: ~"calc(100vw - 80px)";
            position: absolute !important;
            ul{
                width: 300px;
                margin: 0 auto;
                display: flex;
                list-style: none;
                border: none;
                li{
                    border: 1px solid @gray-lighter;
                }
            }
        }
    }
    &__enroll-widget{
        z-index: 1060;
        position: absolute;
        top: 50px;
        right: 30px;
        @media (max-width: 768px){
            position: relative;
            top: 50px !important;
            right: 0px !important;
            left: initial !important;
            width: 100%;
            &.widget-fixed{
                position: relative !important;
            }
            &__content{
                width: 100% !important;
                border: none !important;
                padding-top: 0;
                .btn-block{
                    width: auto;
                    margin: 15px auto !important;
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }
            &__likes{
                margin: 0 auto 100px;
                border: none !important;
            }
        }
        &.widget-fixed{
            .activity-detail__share-widget, .activity-detail__enroll-widget__content, .activity-detail__enroll-widget__likes{
                box-shadow: 0px 6px 20px -10px rgba(0, 0, 0, 0.25);
                @media (max-width: 768px){
                    box-shadow: none;
                }
            }
        }
        &__content{
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
            width: 250px;
            height: auto;
            border: 1px solid @gray-lighter;
            padding: 20px;
            transition: all 0.5s;
            color: @gray-darker-brand;
            hr{
                margin-top: 5px;
                margin-bottom: 10px;
                border-top: 2px solid @gray-lighter;
            }
            .seats{
                display: block;
                width: 190px;
                height: 20px;
                margin: 0 auto;
                text-align: center;
                font-weight: bold;
                text-transform: uppercase;
                background-color: white;
                position: relative;
                color: @gray-regular;
                &:before{
                    position: absolute;
                    top: 10px;
                    border: 1px solid @gray-light;
                    width: 220px;
                    z-index: -1;
                    content: '';
                    left: -15px;
                }
            }
            .price{
                text-align: center;
                margin: 20px 0;
                div{
                    display: inline-block;
                }
                &__number{
                    font-size: 36px;
                }
                &__currency{
                    font-size: 14px;
                    margin-left: 4px;
                }
            }
            .next-date{
                text-align: center;
                font-size: 18px;
                font-weight: 500;
                &__copy{

                }
                &__date{
                    text-transform: uppercase;
                }
            }
            .more-dates{
                margin: 10px 0;
                a{
                    text-decoration: underline;
                    color: @gray-darker-brand;
                    text-transform: uppercase;
                    text-align: center;
                    width: auto;
                    margin: 0 auto;
                    display: inherit;
                    font-weight: bold;
                    font-size: 12px;
                }
            }
            .btn{
                margin: 20px 0;
            }
        }
        &__likes{
            margin-top: 20px;
            padding: 15px 10px;
            width: 250px;
            height: 55px;
            border: 1px solid @gray-lighter;
            transition: all 0.5s;
            color: @gray-darker-brand;
            .heart{
                width: 60px;
                display: inline-block;
                float: left;
                text-align: center;
                i{
                    cursor: pointer;
                }
                .mdi-action-favorite{
                    color: @brand-heart;
                }
            }
            .copy{
                float: left;
                width: 160px;
                display: inline-block;
                margin-top: 2px;
            }
        }
    }
    &:before{
        position: absolute;
        z-index: 900;
        top: 0;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
        left: 0;
        width: 100%;
        height: 100px;
    }
    &:after{
        position: absolute;
        z-index: 901;
        top: 0;
        left: 0;
        width: 100%;
        height: 300px;
        background-color: white;
    }
    .separator{
        height: 0px;
        opacity: 0;
        margin: 20px 0 !important;
        @media (max-width: 768px){
            opacity: 1;
            border-bottom: 1px solid @gray-regular;
        } 
    }

    p{
        word-break: break-word;
        margin-bottom: 0px;
        font-size: 1.1em;
        color: @gray-dark !important;
        .before-sm({
            word-break: inherit;
            margin-bottom: 0px;
            font-size: 0.85em;
        });
    }
    .instructor{
        .name{
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 15px;
            color: @gray-darker-brand;
        }
    }
  .info{
      display: inline-block;
      width: 100%;
      padding: 0 15px;
      &__content{
          font-weight: 800 !important;
          text-transform: uppercase;
          border: 1px solid @gray-lighter;
          border-radius: @border-radius-base;
          width: 100%;
          padding: 10px;
          display: inline-block;
          p{
              font-size: 12px;
              color: @gray-darker-brand;
              font-weight: bold;
          }
          div:nth-child(2){
              border-left: 1px solid @gray-dark;
              border-right: 1px solid @gray-dark;
          }
      }
  }
    ol{
      font-size: 1.1em;
  }
    ul{
      font-size: 1.1em;
  }
}

.collapse-icon{
    width: 20px;
    height: 20px;
    margin-top: 5px;
    float: right;
    opacity: 0.5;
    display: none;
    .before-md({
        display: block;
    });
}

.calendars-mobile{
    .calendar-mobile{
        border: 1px solid @gray-lighter;
        border-radius: @border-radius-base;
        padding: 20px 0;
        margin-top: 20px;
        .row{
            > .col-xs-6{
                &:first-child{
                    padding-right: 5px;
                }
                &:last-child{
                    padding-left: 5px;
                }
            }
        }
        &__labels{
            text-align: right;
            h5{
                font-weight: 700;
            }
        }
        &__sessions{
            height: 0;
            transition: all 0.5s;
            overflow-y: hidden;
            text-align: center;
            color: @gray-dark;

            h5{
                line-height: 18px;
            }

            .btn{
                margin: 0 auto;
            }
            .sessions__header{
                color: @brand-primary;
                font-weight: bold;
                margin-top: 25px;
                margin-bottom: 30px;
            }
        }
        &.active{
            background-color: @gray-lighter-brand;
            .calendar-mobile__sessions{
                height: 100%;
            }
        }
    }
}
.activities-container{
  a{
    color: @gray-light !important;
    &:hover, &:focus{
      color: @gray-regular !important;
    }
  }
}

.calendar-widget {
    &:extend(.separate-above-medium);
    font-family: @font-sans;

    .HeaderText() {
        width: 100%;
        height: auto;
        padding: 1em 1em 0;
        font-size: 1.2em;
        font-weight: 500;
        color: @lightbg-text;
        text-align: center;
        text-transform: uppercase;
    }

    .widget-card{
        .header {
            border: 1px solid @border-color;
            border-bottom: none;

            .next {
                .HeaderText();
                .next-label {
                    font-size: 0.85em;
                }

                .next-date {
                    font-size: 1.5em;
                    font-weight: 500;
                    line-height: 2em;
                }
            }

            .closing-date {
                .HeaderText();
                font-size: 1em;
                font-weight: 500;
            }

            .vacancy{
                .HeaderText();
                padding: 1em;
                font-size: 1em;
                font-weight: 500;
            }

        }

        .price {
            border: 1px solid @border-color;
            width: 100%;
            height: auto;
            padding: 0.8em;
            font-size: 1.4em;
            font-weight: 500;
            text-align: center;
            color: @white;
            font-family: @font-sans-alt;
            background-color: @text-muted;
            border-bottom: none;
            border-top: none;
            .text-muted{
              color: @gray-light;
            }
            &-free{
              font-size: 0.75em;
            }
        }
        .sign-up{
          border: 1px solid @border-color;
          border-top: none;
          padding: 1em 0em;
          cursor: pointer;
          .glyphicon{
            font-size: 20px;
            vertical-align: -4px;
            padding-right: 5px;
          }
        }
        .btn-sign-up {
            width: 100%;
            height: auto;
            padding: 1em;
            border-radius: 0;
            font-size: 1.4em;
            font-weight: 500;
            text-transform: uppercase;
            text-align: center;
            color: @black !important;
            
        }

        .info {
            width: 100%;
            text-align: center;
            color: @text-muted;
            padding: 0.4em 0em;
            border-bottom: @border-widget;
            border-bottom: none;

            .InfoSection(){
                width: 30%;
                padding: 0.8em;
                text-align: center;
                display: inline-block;

                .title {
                  padding-top: 0.5em;
                  font-size: 0.825em;
                  font-weight: 500;
                  line-height: 1em;
                  margin-top: 0.75em !important;
                }
            }

            .level{
                .InfoSection();
            }

            .certification{
                .InfoSection();
            }

            .duration{
                .InfoSection();
            }
        }
        
        .signup{
          border: 1px solid @border-color;
          border-top: none;
          padding: 1em 0em;
          cursor: pointer;
          .glyphicon{
            font-size: 20px;
            vertical-align: -4px;
            padding-right: 5px;
          }
        }
        
        .wishlist{
          margin-top: 25px;
          border: 1px solid @border-color;
          padding: 1em 0em;
          cursor: pointer;
          [class^="mdi-"], [class*="mdi-"]{
            vertical-align: middle;
            font-size: 2em;
            color: @brand-danger;
            margin-right: .25em;
            transition: all 0.25s;
            &.text-muted{
              color: @gray-lighter;
            }
          }
          span{
            vertical-align: middle;
          }
          h5:nth-child(2){
            margin-top: -10px;
          }
        }
        
        .sessions {
            .sessions-title {
                padding: 1em;
                text-align: center;
                border-top: @border-widget;

                * {
                    .HeaderText();
                    font-size: 1.2em;
                    padding: 0;
                }
            }

            .sessions-list {
                padding: 0;
                max-height: 32em;
                overflow-y: auto;

                .session-item {
                    @padding-session-item: 0.8em;
                    padding: @padding-session-item;
                    border-top: @border-widget;

                    &:last-child {
                        border-bottom: @border-widget;
                    }

                    &-date{
                        .HeaderText();
                        padding: 0;
                        font-size: 1em;
                        font-weight: 500;
                        color: @text-muted;
                    }

                    &-time {
                        .HeaderText();
                        margin: @padding-session-item/2 0 0 0;
                        padding: 0;
                        font-size: 0.8em;
                        font-weight: 500;
                        color: @text-muted;
                        text-transform: lowercase;
                    }
                }
            }
        }

        .other-calendars {
            padding: 1em;
            border-bottom: @border-widget;
            text-align: center;

            &:active{
                background-color: darken(@secondary-bg, 20%);
            }

            &-copy {
                .HeaderText();
                padding: 0 2em;
                font-size: 0.9em;
                font-weight: 200;
                color: @gray-regular;
            }

            &-count {
                .HeaderText();
                padding: 0;
                font-size: 1.1em;
                font-weight: 500;
                color: @gray-regular;
                margin-top: 1.5rem;
            }

            &-more {
                color: @gray-regular !important;
                margin-top: 1.5rem;
                padding: 0.7em 2em;
                >i{
                    margin-top: 0.1em;
                    margin-right: 0.2em;
                }
            }
        }

        .share{
          padding: 1.6em 0;
          p{
            font-size: 1em;
            color: @text-muted;
          }
          .btn-share-fb, .btn-share-twitter, .btn-share-email{
            width: 35px;
            height: 35px;
            padding-top: 5px;
            img{
              margin: 0 auto;
            }
          }
        }
    }

    .widget-list {

        .widget-list-item {
            padding: 2em;

            &:not(:last-child) {
                border-bottom: @border-widget;
            }

            &:hover {
                background-color: darken(@secondary-bg, 10%);
            }

            &.selected {
                background-color: darken(@secondary-bg, 20%);

                * {
                    color: white !important;
                }

                &:hover {
                    background-color: darken(@secondary-bg, 30%);
                }
            }

            .start-date {
                .HeaderText();
                text-align: start;
                padding: 0.6em 0 0 0;
            }

            .next-label {
                .HeaderText();
                padding: 0;
                text-align: start;
                font-size: 0.9em;
                font-weight: 400;
            }

            .vacancy{
                .HeaderText();
                padding: 0;
                text-align: start;
                font-size: 0.9em;
                font-weight: 200;
            }

            .closing-sale {
                .HeaderText();
                text-align: start;
                padding: 0;
                font-size: 0.9em;
                font-weight: 100;
            }

            .btn-return {
                cursor: pointer;
                height: 2em;
                width: 2em;
            }

            * .price {
                font-size: 0.8em;
                padding: 0.6em;
                border-radius: 4px;
                color: @gray-regular;
            }

            * .btn-detail {
                font-size: 0.8em;
            }
        }
    }
}

.section {
    .content {
        margin-top: 0.6em;
        margin-bottom: 0.6em;
        height: 100%;
        transition: all 0.5s;
        @media (max-width: 768px){
            .content-mobile{
                height: 0;
            }
        }
        ul, ol{
            padding-left: 30px;
        }
    }

    &::after{
        width: 100%;
        border-bottom: 1px solid black;
    }
}

.sub-section-title{
    color: @brand-primary;
    font-weight: 800;
}

.gallery-container {
    margin-top:3rem;
}

.gallery {
    width: 100%;
    height: 400px;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    background-color: black;
    border-radius: 0.4em;

    .GalleryButton {
        position: absolute;
        bottom: 1em;
        z-index: 6;
        border-radius: 50%;
        cursor: pointer;
        color: white;
        font-size: 30px;
    }

    .gallery-slide {
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-image: linear-gradient(to bottom, transparent, fadeout(black, 90%) 85%);
        //opacity: .6;

        img {
            z-index: 4;
            margin-top: auto;
            margin-bottom: auto;
            top: 0;
            left: 0;
            width: auto;
            height: 100%;
        }
    }

    .gallery-previous {
        .GalleryButton;
        left: 1em;
        z-index: 7;
    }

    .gallery-next {
        .GalleryButton;
        right: 1em;
        z-index: 7;
    }

    .gallery-info {
        position: absolute;
        bottom: 2em;
        left: 14em;
        right: 14em;
        z-index: 6;
        color: @darkbg-text;

        .before-sm({
          left: 0em;
          right: 0em;
        });

        * {
            color: @darkbg-text;
            font-family: @font-sans;
            font-style: italic;
        }
    }
}

.address-assistants-container{
    .flex-wrap{
        > div:nth-child(2){
            width: 25%;
            .col-lg-3{
                width: 100%;
            }
        }
    }
}
.reviews-container{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 3em;
    &--ratings{
        span{
            font-size: 18px;
        }
        .title{
            display: inline-block;
            font-weight: bold;
            padding: 1em 0.5em;
            color: @gray-darker-brand;
            margin-right: 5px;
        }

        .star, .star-empty-off{
            font-size: 15px;
        }

        .rating{
            font-size: 16px;
            font-weight: 600;
            color: @gray-darker-brand;
        }

    }
    &--reviews-empty{
        span{
            color: @gray-dark;
            font-weight: 200;
        }
    }
}

.location {
    .map{
        width: 100%;
        height: 24em;
    }

    .address{
        border: 1px solid @gray-regular;
        border-radius: @border-radius-base;
        width: 100%;
        margin-bottom: 25px;
        padding: 5px 20px;
        color: @gray-darker;
        span{
            font-weight: 600;
        }
    }
}


.attendees-container {
    border: 1px solid @gray-lighter;
    border-radius: @border-radius-base;
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 500px;
    &__header{
        border-top-left-radius: @border-radius-base;
        border-top-right-radius: @border-radius-base;
        border-bottom: 1px solid @gray-lighter;
        padding: 0 20px;
        color: @gray-darker;
        display: inline-block;
        width: 100%;
        height: 65px;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        background-color: white;
        &__not-empty{
            padding: 0 20px 5px 20px;
            height: 125px;
        }
        h3{
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            margin-top: 25px;
            margin-bottom: 20px;
        }
    }
    &__body{
        padding: 85px 20px 0 20px;
        width: 100%;
        position: absolute;
        z-index: 0;
        min-height: 100%;
        &__attendees-list{
            transition: all 0.5s;
        }
        &__placeholder{
            font-size: 12px;
            a{
                font-size: 14px;
                text-transform: uppercase;
                text-decoration: underline;
                color: @gray-darker;
                font-weight: bold;
            }
        }
        &__not-empty{
            padding: 125px 20px 0 20px;
            .attendee-item{
                height: 60px;
                margin-left: -20px;
                margin-right: -20px;
                border-bottom: 1px solid @gray-lighter;
                padding: 0 20px;
                .avatar-landing{
                    display: inline-block;
                    float: left;
                    margin-top: 10px;
                    margin-right: 15px;
                }
                .trulii-avatar{
                    width: 50px;
                    display: inline-block;
                    float: left;
                    margin-top: 10px;
                    &.small{
                        width: 42px;
                        display: inline-block;
                        float: left;
                        margin-top: 0;
                    }
                }
                &__name{
                    display: inline-block;
                    float: left;
                    padding-top: 20px;
                    font-weight: bold;
                    max-width: ~"calc(100% - 55px)";
                    overflow: hidden;
                    max-height: 40px;

                }
            }
        }
    }
    &__footer{
        border-bottom-left-radius: @border-radius-base;
        border-bottom-right-radius: @border-radius-base;
        border-top: 1px solid @gray-lighter;
        color: @gray-light;
        height: 25px;
        width: 100%;
        position: absolute;
        z-index: 1;
        left: 0;
        bottom: 0;
        background-color: white;
        cursor: pointer;
        &__prev, &__next{
            width: 50%;
            text-align: center;
            display: inline-block;
            height: 25px;
        }
        &__prev{
            border-right: 1px solid @gray-lighter;
        }
    }
    @media (max-width: 1199px){
        min-height: 400px;
        margin-top: 50px;
    }
}

.sign-up-container {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 80px;
    .sign-up-container__title{
        border-top: 1px solid @gray-light;
        border-bottom: 1px solid @gray-light;
        h1{
            font-size: 18px;
            text-align: left;
            margin-bottom: 5px;
            padding: 0 20px;
            font-weight: bold;
            margin-top: 15px !important;
        }

        p{
            text-align: left;
            font-weight: 600;
            font-size: 13px;
            color: @gray-regular;
            padding: 0 20px;
        }
    }
    a{
        text-decoration: none;
    }
    .btn{
        font-size: 1em;
        padding: 0.5em 1em;
        [class^="mdi-"], [class*="mdi-"]{
            vertical-align: middle;
            font-size: 2em;
            margin-right: .25em;
        }
        span{
            vertical-align: middle;
            font-size: 1.25em;
        }

    }

    h1, h2, h3, h4, h5, p, td, th {
        color: @gray-darker;
    }
    h4{
    margin-bottom: 1.5em;
    }
    h5{
        font-weight: 200;
        line-height: 1.35em;
        margin: 1.5em 0em;
        color: @gray-darker-brand;
        text-transform: capitalize;
    }

    .calendars-container{
        padding: 0 20px;
        padding-right: 15px;

        background-color: white;

        .table{
            thead, tbody, tfoot{
                tr{
                    padding: 15px 1.5em;
                    .checkbox {
                        display:inline-block;
                        width:19px;
                        height:19px;
                        margin:-1px 4px 0 0;
                        vertical-align:middle;
                        cursor:pointer;
                        border: 5px solid white;
                        background-color: white;
                        box-shadow: 0px 0px 1px darken(@gray-lighter-brand, 50%);
                        border-radius: 100%;
                    }

                    .checkbox, td{
                        transition: background-color 0.25s linear;
                    }

                    th, td{
                        vertical-align: middle;
                        border-top: none;
                        text-align: center;
                        @media (max-width: 1280px){
                            padding: 15px 0.5em !important;
                        }
                        @media (max-width: 767px){
                            font-size: 0.65em;
                            padding: 1.5em 0px !important;
                        }
                    }

                    th{
                        font-weight: bold;
                        text-transform: uppercase;
                        padding: 28px;
                        text-align: center;
                    }

                    td{
                        cursor:pointer;
                        font-weight: 400;
                        padding: 15px 1.5em;
                        line-height: 2em;
                        text-transform: capitalize;
                    }

                    td:first-child, th:first-child{
                        .before-sm({
                            display: none;
                        });
                    }

                    &.active{
                        .checkbox{
                            background-color: @brand-info;
                        }

                        td{
                            background-color: @gray-lighter-brand;

                        }

                    }
                }

                .signup-row{
                    background-color: @gray-light-brand;
                    td:first-child{
                        border-bottom-left-radius: @border-radius-base;
                    }
                    td:last-child{
                        border-bottom-right-radius: @border-radius-base;
                    }
                }
            }
        }

    }

    .sessions-container{
        padding-left: 10px;
        .sessions{
         text-align: left;
         border-left: 1px solid @gray-light;
         padding: 2em 2.5em;
         width: 100%;
         color: @gray-darker;
         @media (max-width: 1199px){
            border-left: none;
            text-align: center;
            padding: 0;
         }

         &__header{
            font-size: 14px;
            font-weight: bold;
            color: @brand-primary;
            margin-top: 0;
            margin-bottom: 25px;
         }
        }
    }
}

.reasons-container {
    background-color: @gray-lighter-brand;
    color: @gray-darker;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

    .title{
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 25px;
    }

    .reason {
        padding: 15px;
        @media (min-width: 1200px){
            text-align: start;
            display: inline-block;
            padding: 2em;
            display: -webkit-box !important;
            display: -webkit-flex !important;
            display: -ms-flexbox !important;
            display: flex !important;

            -webkit-box-align: center;
            -moz-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;

            -webkit-box-pack: center;
            -moz-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;

            &.reason-first{
                -webkit-box-align: start;
                -moz-box-align: start;
                -ms-flex-align: start;
                -webkit-align-items: start;
                align-items: start;

                -webkit-box-pack: start;
                -moz-box-pack: start;
                -ms-flex-pack: start;
                -webkit-justify-content: flex-start;
                justify-content: flex-start;
            }
            &.reason-last{
                -webkit-box-align: end;
                -moz-box-align: end;
                -ms-flex-align: end;
                -webkit-align-items: end;
                align-items: end;

                -webkit-box-pack: end;
                -moz-box-pack: end;
                -ms-flex-pack: end;
                -webkit-justify-content: flex-end;
                justify-content: flex-end;
            }
        }

        .reason-img {
            height: 6em;
        }

        .reason-text {
            display: inline-block;
            vertical-align: middle;
            margin-left: 15px;
            height: 65px;
            width: 220px;
            text-align: left;

            .reason-title {
                font-weight: 700;
                font-size: 18px;

            }

            .reason-copy {
                font-size: 0.85em;
                font-weight: 500;
                color: @gray-dark;
            }

            @media (min-width: 1200px){
                width: ~"calc(100% - 99px)";
            }
        }
    }
    .contact-us{
        margin-top: 185px;
        font-weight: 400;
        clear: both;
        padding-top: 25px;
        a {
            color: @gray-dark;
            text-decoration: underline;
        }
    }
}

.youtube-video-container {
    margin-bottom: 2.5em;
}


.related-activities-container {
    padding: 4em 9.5em;
    .title{
        font-weight: bold;
        margin: 0;
        font-size: 18px;
        margin-bottom: -35px;
        color: @gray-darker;
    }
    .btn{
        margin-top: 20px;
    }
}


.title {
    &:extend(.separate-above);
    &:extend(.separate-below-medium);
}

@media (max-width: 991px){
  .sign-up-container {
    .calendar-info{
      .price, .date-info {
          width: 100%;
          border: none;
          display: block;
          padding:0;
          margin-bottom:1em;
          text-align: center;
      }
    }
    .calendars-container{
      .table {
        border: none;
        thead, tbody, tfoot{
          tr{
            td, th{
              padding: 1.5em 0px;
            }
          }
        }
      }
    }

    .sessions-container{
      padding: 0;
    }

  }

  .reasons-container{
    .reason {
      width: 100%;
      .reason-img{
        margin: 0 auto;
        display: block;
      }
      .reason-text{
        display: block;
        text-align: center;
      }
    }
  }
}

.modal-email{
  border-radius: @border-radius-base;
  max-height: 100vh;
  overflow-y: auto;
  .modal-header{
    background-color: @gray-light-brand;
    border-top-left-radius: @border-radius-base;
    border-top-right-radius: @border-radius-base;
    padding: 10px 30px;
    h4{
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1em;
        color: @gray-dark;
    }
    .before-md({
      .well-title {
        padding: 0 2em;
      }
    });
  }
  
  .input-error{
    color: red;
    margin-left: 2em;
  }
  .modal-body{
    padding: 10px 40px;
      .before-md({
        padding: 10px 15px;
      });
    label{
      font-weight: 700;
      color: @gray-dark !important;
    }
    input, textarea{
      border: 1px solid @gray-light !important;
    }
  }
}

@media (max-width: 768px){

    .width-form-80{
        width: 80%;
    }


}
