@import url('../_trulii-variables');

.panel{
    box-shadow: none;
    border: 1px solid @gray-light-medium;

    .panel-heading {
        padding: 0.5em 1em;

        h4 {
            margin: 0;
            font-family: @font-sans-alt;
            color: @gray;
        }
    }
}

.sessions-panel {
    .panel;

    .panel-body {
        max-height: 24em;
        overflow: auto;
    }

    .session{
        &:extend(.card);
        padding: 1.5em;
        margin: 0 0 0.5em 0;
        color: @text-muted;
        div:last-child{
          font-size: 0.85em;
          font-weight: 400;
        }
    }
}

.attendees-panel {
    .panel;
    border: none;
    box-shadow: none;

    .form-group:not(:first-child) {
        margin-top: 2em;
    }
}

.payments-panel{
    .panel;
    border: none;

    .credit-cards-container{
        img{
            padding: 5px;
        }
    }
    .panel-body {
        padding: 0;
        border: 1px solid @gray-light-medium;
        margin-top: 3rem;
        border-top-right: @border-radius-base;
        border-top-left: @border-radius-base;
    }
    .panel-header{
      border: 1px solid @gray-light-medium;
    }

    .panel-footer {
        padding: 3em 6em;
        text-align: center;
        background-color: @gray-lightest;
        border: 1px solid @gray-light-medium;
        border-top: none;
        border-bottom-right: @border-radius-base;
        border-bottom-left: @border-radius-base;

        .before-sm({
          padding: 3em;
        });

         .btn {
             padding: 1em;
         }
    }
    .nav-tabs-light{
      li{
        height: 4em;
        padding: 0.5em;
      }
    }
    .form-control{
      font-size: 1.25em;
    }
}

.billing-widget {
    font-family: @font-sans;
    border: 1px solid @gray-light-medium;
    font-size: 0.8em;
    font-weight: 300;
    border-radius: 4px;

    .item {
        text-transform: uppercase;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 50%;
        float: left;
    }

    .sub-item {
        .item;
        padding-left: 3em;
        font-size: 0.8em;
    }

    .value {
        text-align: end;
        font-weight: 600;
        float: right;

    }

    .sub-value {
        text-align: end;
    }

    .invoice {
        padding: 1em 1.4em;;
        background-color: @gray-lighter;
        font-size: 1.2em;

        h4{
            font-weight: 300;
            letter-spacing: 0.1em;
        }

        .seats {
            margin-bottom:2em !important;
        }

    }

    .total {
        background-color: @gray-light-medium;
        padding: 1em;

        .item {
            font-weight:600;
            padding-top: 0.2rem;
        }

        .value{
            font-size:1.2em;
        }
    }
    .discount-button{
      background-color: @gray-light-medium;
      color: white !important;
      font-weight: 300;
    }
}

.pse-panel {
    .panel;

    .panel-body {
        padding: 0;

        .table {
            margin-bottom: 0;
        }
    }

    .panel-footer {
        background-color: @white;
    }
}

.success-panel {
    .panel;
}

.success-title{
    .before-md({
        font-size: 1.125em;
    });
}
.success-info{
    .before-md({
        font-size: 1em;
    });
}

.remember-container {
    .separator {
        width: 30%;
        text-align: center;
        margin: 2em auto;
    }

    .items-container {
        text-align: center;

        .item {
            text-align: start;
            display: inline-block;
            padding: 1em;
            width: 30%;

            @media screen and (max-width: @screen-sm ){
                width: 100%;
            }

            .item-img {
                width: 30%;
                height: auto;
                .before-md({
                    display: block;
                    margin: 0 auto;
                    margin-bottom: 10px;
                });
            }

            .item-text {
                display: inline-block;
                vertical-align: middle;
                width: 60%;

                .before-md({
                    width: 100%;
                    margin: 0 auto;
                    text-align: center;
                });

                .item-title {
                    font-size: 1em;
                    font-weight: 500;
                }

                .item-copy {
                    color: @text-muted;
                    font-size: 0.9em;
                }

            }
        }
    }
}

.share-container {
    text-align: center;
    color: @white;
    height: 32em;
    padding: 6em;
    z-index: 5;
    //noinspection CssUnknownTarget
    background: url('/css/img/activity-enroll/background_success_share.png') 50% 50%;
    background-size: cover;

    .before-sm({
      padding: 0em;
    });

    p {
        font-family: @font-sans-alt;
        color: @white;
        font-size: 1.4em;
    }

    img {
        width: 7em;
        height: auto;
        margin-right: 2em;
        margin-left: 2em;
        .before-sm({
          width: 5em;
          margin-right: 1em;
          margin-left: 1em;
        });
    }

    a {
        text-decoration: none;
    }
}

.navigation-container {

    img {
        padding: 0.2em 0.5em;
    }

    a {
        font-size: 1em;
        text-decoration: none;
        color: @text-muted;

        &:hover {
            text-decoration: none;
            color: @lightbg-text;
        }

        &:visited {
            color: @text-muted;

            &:hover {
                text-decoration: none;
                color: @lightbg-text;
            }
        }
    }
}

@media (min-width: 992px){
    .absolute-widget, .fixed-widget{
        z-index: 100;
        background-color: white;
    }
    .fixed-widget{
        position: fixed;
        max-height: 87vh;
        overflow-y: auto;
        overflow-x: hidden;
        top: 8vh;
        width: ~"calc(25% - 40px)"; //Width - el padding derecho
    }
    .absolute-widget{
        position: absolute;
        width: ~"calc(100% - 50px)"; // Ni idea de porque 50, pero se ve bien
    }
}
