@import url('../_trulii-variables');

@activity-border-radius: 5px;
@activity-padding: 1rem;
@activity-owner-picture-width: 2.6em;

.activity-card{
    width: 100%;
    max-width: 18em;
    display: inline-block;  
    border-radius: @activity-border-radius;
    background-color: white;    
    box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    margin: 0 0.3em 1em;
    text-align: left;
    transition: .2s all ease;

    &:hover{
        box-shadow: 0 2px 4px rgba(0,0,0,0.4);
    }
    
    &__header{
        height: 13em;
        width: 100%;        
        padding: @activity-padding;       
        position: relative; 
        background-color: @gray-lighter;

        // TODO: To mixin
        -webkit-border-top-left-radius: @activity-border-radius;
        -webkit-border-top-right-radius: @activity-border-radius;
        -moz-border-radius-topleft: @activity-border-radius;
        -moz-border-radius-topright: @activity-border-radius;
        border-top-left-radius: @activity-border-radius;
        border-top-right-radius: @activity-border-radius;
        &:extend(.img-size-cover);
        &:extend(.img-position-center);

        &__inactive-cover{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: fadeout(white, 50%);
            top: 0;
            left: 0;        
        }

        &__btn-more{
            color: white;
            position: absolute;
            padding: @activity-padding/2;
            right: 0;
            top: 0;
            cursor: pointer;
            border-radius: 50%;
            transition: .2s all ease;
            margin: @activity-padding/2;

            &:hover{
                background: rgba(255,255,255, 0.4);
            }
        }

        &__menu{
            position: relative;
            background: white;
            float: right;            
            width: 10em;            
            display: block;
            border-radius: @activity-border-radius/2;
            padding-top: 1.5em;
            padding-bottom: .8em;
            z-index: 10;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
            //right: @activity-padding;

            &__btn-close{
                position: absolute;
                top: 0;
                right: 0;
                cursor: pointer;
            }

            &__item{
                color: @gray;
                display: block;
                font-size: .8em;
                font-family: @font-sans;
                text-transform: uppercase;
                padding: .7em .8em;
                cursor: pointer;

                &__icon{
                    font-size: 1.3em;
                    margin-right: .5em;
                }

                &:hover{
                    background: @gray-lighter;
                    color: @gray;
                }

                &:active{
                    background: @success;
                    color: white;
                }                

            }
        }

    }

    &__body{
        padding: 1em;
        display: block;
        cursor: pointer;
        text-decoration: none !important;

        &:hover .activity-card__body__title{
            text-decoration: underline;
        }


        &__title{
            font-family: @font-sans-alt;
            font-weight: bold;
            font-size: .85em;
            height: 3em;
            display: block;            
            overflow: hidden;
            padding-bottom: .4em;
            text-transform: capitalize;
            color: @gray-dark;         
            width: 95%;   

        }

        &__owner-name{
            height: 2em;
            font-family: @font-sans-alt;
            font-weight: bold;            
            font-size: .75em;            
            width: 100%;
            display: block;
            padding-bottom: .7em;
            color: @gray;
            .text-overflow();
        }        

        &__description{
            font-family: @font-serif;
            padding-top: 1em;
            color: @gray-light;
            text-transform: capitalize;
            overflow: hidden;
            height: 5em;
            font-size: .9em;
        }

        &__date{
            font-family: @font-sans-alt;
            color: @gray-light;
            font-weight: bold;
            font-size: .7em;
            display: inline-block;
        }
    }

    &__owner-picture{
        border-radius: 50%;
        width: @activity-owner-picture-width;
        height: @activity-owner-picture-width;
        position: absolute;
        bottom: -(@activity-owner-picture-width)/2;
        right: @activity-padding;
        &:extend(.img-size-cover);
        &:extend(.img-position-center);

    }

    &__bottom{
        display: block;
        width: 100%;
        height: 3.5em;
        line-height: 3.5em;
        background: @gray-lighter;
        color: @gray-light;
        text-align: center;
        font-weight: bold;
        font-family: @font-sans-alt;
    }

    &__rating{
        position: absolute;
        right: 0;
        display: inline-block;

        &__star{
            color: @primary;
            font-size: 1.1em;            

            &.--empty{
                color: @gray-lighter;
            }
        }


    }

    &__category{
        position: absolute;
        top: @activity-padding;
        left: @activity-padding;
        color: white;
        background-color: #C29845;
        text-transform: uppercase;
        font-weight: bold;
        font-size: .7em;
        padding: .2em 1em;
        border-radius: (@activity-border-radius/2);
        font-family: @font-sans;
        letter-spacing: .1em;
        line-height: 1em;        
    }
}

.activity-grid {
    text-align: left;
        
}