.review-detail{

    p{
      margin-bottom: 0.5em;
      font-size: 1.125em;
    }
    p.text-sm{
      font-size: .8em;
    }

    .star{
      color: @primary;
      
      &-empty{
        color: @gray-lighter;
      }
    }

    .organizer-name{
      font-size: 1em;
    }

}