@import url('../_trulii-variables');

@activity-border-radius: 5px;
@activity-padding: 1rem;
@activity-owner-picture-width: 2.6em;
@activity-card-date-color: #767676;

.activity-card{
    width: 100%;
    max-width: 20%;
    min-width: 21em;
    display: inline-block;
    border-radius: @activity-border-radius;
    background-color: white;
    border: 1px solid @gray-lighter;
    margin: 0 0.8em 1em;
    text-align: left;
    transition: .2s all ease;
    margin-bottom: 3rem;

    .before-md({
      max-width: 90%;
      min-width: 10%;
    });

    &:hover{
        box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    }

    &__header{
        height: 13em;
        width: 100%;
        padding: @activity-padding;
        position: relative;
        background-color: @gray-lighter;

        // TODO: To mixin
        -webkit-border-top-left-radius: @activity-border-radius;
        -webkit-border-top-right-radius: @activity-border-radius;
        -moz-border-radius-topleft: @activity-border-radius;
        -moz-border-radius-topright: @activity-border-radius;
        border-top-left-radius: @activity-border-radius;
        border-top-right-radius: @activity-border-radius;

        &__cover-container {
            &:extend(.img-size-cover);
            &:extend(.img-position-center);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-top-left-radius: @activity-border-radius;
            border-top-right-radius: @activity-border-radius;

            &.inactive-cover {
                &:before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: fadeout(white, 50%);
                    top: 0;
                    left: 0;
                }
            }
        }
        &__cover-gradient {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            &:after{
                width: 100%;
                height: 100%;
                content: "";
                background-color: rgba(60, 61, 65, 0.4);
                z-index: 0;
                position: absolute;
                top: 0;
                left: 0;
            }

        }

        &__btn-more{
            color: white;
            background: rgba(255,255,255, 0.3);
            box-shadow: 0 1px 2px rgba(0,0,0,0.4);
            position: absolute;
            padding: @activity-padding/2;
            right: 0;
            top: 0;
            cursor: pointer;
            border-radius: 50%;
            transition: .2s all ease;
            margin: @activity-padding/2;

            &:hover{
                background: rgba(255,255,255, 0.6);
            }
        }

        &__menu{
            position: relative;
            float: right;
            width: 7em;
            border-radius: 2.5px;
            z-index: 10;
            text-align: right;

            &__btn-close{
                position: absolute;
                top: 0;
                right: 0;
                cursor: pointer;
            }

            &__item{
                color: #FFFFFF;
                font-size: 1.5em;
                font-family:  @font-sans;
                text-transform: uppercase;
                cursor: pointer;
                margin-left: 0.3em;
                text-align: center;

                &__icon{
                    font-size: 1em;
                }

                span{
                    color: @white;
                }


                &:active{
                    background: @success;
                    color: white;
                }

            }
        }

    }

    &__body{
        padding: 1em;
        display: block;
        height: 7.5em;

        a {
            &:hover {
                color: @lightbg-text;
            }
        }

        &:hover .activity-card__body__title{
            text-decoration: underline;
        }


        &__title{
            font-family: @font-sans-alt;
            font-weight: bold;
            font-size: 0.85em;
            margin-bottom: 0.25em;
            display: block;
            overflow: hidden;
            padding-bottom: .4em;
            text-transform: capitalize;
            text-overflow: ellipsis;
            word-break: normal;
            max-height: 3em;
            color: @gray-dark;
            width: 95%;

        }

        &__owner-name{
            height: 2em;
            font-family: @font-sans-alt;
            font-weight: bold;
            font-size: .75em;
            width: 100%;
            display: block;
            padding-bottom: .7em;
            color: @activity-card-date-color;
            .text-overflow();
        }

        &__description{
            font-family: @font-serif;
            padding-top: 1em;
            color: @gray;
            text-transform: capitalize;
            overflow: hidden;
            word-break: break-all;
            height: 5em;
            font-size: .9em;
        }

        &__date{
            color:@gray-light;
            font-size: 0.8em;
            display: inline-block;
        }
    }

    &__owner-picture{
        border-radius: 50%;
        width: @activity-owner-picture-width;
        height: @activity-owner-picture-width;
        position: absolute;
        bottom: -(@activity-owner-picture-width)/2;
        right: @activity-padding;
        &:extend(.img-size-cover);
        &:extend(.img-position-center);

    }

    &__bottom{
        display: block;
        width: 100%;
        height: 3.5em;
        line-height: 3.5em;
        background: @gray-lighter;
        color: #6c6c6c;
        text-align: center;
        font-weight: bold;
        font-family: @font-sans-alt;
        text-decoration: none;
        border-radius: 0px 0px 5px 5px;

        &:hover{
            color: @lightbg-text;
            text-decoration: none;
        }
        img{
            margin-right: 0.25em;
            vertical-align: text-bottom;
        }
    }

    &__rating{
        .sinkin-bold;
        display: inline-block;
        color: @activity-card-date-color;
        font-size: 0.9em;

        &__star{
            color: @primary;
            font-size: 1.1em;

            &.--empty{
                color: @gray-lighter;
            }
        }
    }

    &__category{
        &:extend(.label);
        position: absolute;
        z-index: 1;

    }
}

.activity-grid {
    text-align: left;
}
