.review-detail{

    p{
      margin-bottom: 0.5em;
      font-size: 1.125em;
    }
    p.text-sm{
      font-size: .8em;
    }

    .organizer-name{
      font-size: 0.9em;
    }
    .review-detail-header{
      margin-bottom: 1em;
      >span{
        padding-right: 15px;
      }
    }

    .review-profile-picture{
      padding-left: 5%;
    }

    .report-alert{
      background-color: @gray-lighter;
      padding: 30px 20px;
      font-weight: 200;
      border-radius: @border-radius-base;
      .btn-default{
        background-color: @gray-light;
        color: white !important;
      }
      p{
        font-size: 1em;
        color: @gray-dark;
        font-family: @font-sans;
      }
    }
}

.star{
  color: @primary;

  &-empty{
    transition: all 0.25s;
    color: @gray-lighter;
  }
  &-empty:hover{
    color: @primary;
  }
}
