@import url('../_trulii-variables');

.Panel{
    box-shadow: none;
    border: 1px solid @gray-light-medium;

    .panel-heading {
        padding: 0.5em;

        h4 {
            margin: 0;
        }
    }
}

.sessions-panel {
    .Panel;

    .panel-body {
        max-height: 24em;
        overflow: auto;
    }

    .session{
        &:extend(.card);
        padding: 1.5em;
        margin: 0 0 0.5em 0;
        color: @text-muted;
    }
}

.attendees-panel {
    .Panel;
}

.payments-panel{
    .Panel;

    .panel-body {
        padding: 0;
    }

    .panel-footer {
        padding: 3em 6em;
        text-align: center;
        background-color: lighten(@gray-light, 50%);

         .btn {
             padding: 1em;
         }
    }
}

.billing-widget {
    border: 1px solid @gray-light-medium;
    font-size: 0.8em;
    font-weight: 400;
    border-radius: 4px;

    .item {
        text-transform: uppercase;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 50%;
        float: left;
    }

    .sub-item {
        .item;
        padding-left: 3em;
        font-size: 0.8em;
    }

    .value {
        text-align: end;
        font-weight: 600;
        float: right;

    }

    .sub-value {
        text-align: end;
    }

    .invoice {
        padding: 1em;
        background-color: @gray-lighter;

        h4{
            font-weight: 300;
            letter-spacing: 0.1em;
        }

        .seats {
            margin-bottom:2em !important;
        }

    }

    .total {
        background-color: @gray-light-medium;
        padding: 1em;

        .item {
            font-weight:600;
            padding-top: 0.2rem;
        }

        .value{
            font-size:1.2em;
        }
    }
}

.pse-panel {
    .Panel;

    .panel-body {
        padding: 0;

        .table {
            margin-bottom: 0;
        }
    }

    .panel-footer {
        background-color: @white;
    }
}

.success-panel {
    .Panel;
}

.remember-container {
    .separator {
        width: 30%;
        text-align: center;
        margin: 2em auto;
    }

    .items-container {
        text-align: center;

        .item {
            text-align: start;
            display: inline-block;
            padding: 1em;
            width: 30%;

            @media screen and (max-width: @screen-sm ){
                width: 100%;
            }

            .item-img {
                width: 30%;
                height: auto;
            }

            .item-text {
                display: inline-block;
                vertical-align: middle;
                width: 60%;

                .item-title {
                    font-size: 0.8em;
                    font-weight: 500;
                }

                .item-copy {
                    color: @text-muted;
                    font-size: 0.8em;
                }
            }
        }
    }
}

.share-container {
    text-align: center;
    color: @white;
    height: 32em;
    padding: 6em;
    z-index: 5;
    //noinspection CssUnknownTarget
    background: url('/css/img/activity-enroll/background_success_share.png') 50% 50%;
    background-size: cover;

    p {
        font-family: @font-sans-alt;
        color: @white;
        font-size: 1.4em;
    }

    img {
        width: 10em;
        height: auto;
    }
}

.navigation-container {

    img {
        padding: 0.2em 0.5em;
    }

    a {
        text-decoration: none;
        color: @text-muted;

        &:hover {
            text-decoration: none;
            color: @lightbg-text;
        }

        &:visited {
            color: @text-muted;

            &:hover {
                text-decoration: none;
                color: @lightbg-text;
            }
        }
    }
}

@media (min-width: 992px){
    .absolute-widget, .fixed-widget{
        z-index: 100;
        background-color: white;
    }
    .fixed-widget{
        position: fixed;
        max-height: 72.5vh;
        overflow-y: scroll;
        overflow-x: hidden;
        top: @navbar-height + 20;
        width: ~"calc(25% - 30px)"; //Width - el padding derecho
    }
    .absolute-widget{
        position: absolute;
        width: ~"calc(100% - 50px)"; // Ni idea de porque 50, pero se ve bien
    }
}
