

@import url('../_trulii-variables');

.card{	
	border-radius: @material-border-radius;
	margin: 1.5em 0;
	padding: 0;

	.card-header{
		-webkit-border-top-left-radius: @material-border-radius;
		-webkit-border-top-right-radius: @material-border-radius;
		-moz-border-radius-topleft: @material-border-radius;
		-moz-border-radius-topright: @material-border-radius;
		border-top-left-radius: @material-border-radius;
		border-top-right-radius: @material-border-radius;
		
		padding: @card-padding;
		color: @lightbg-text;
		
		&--primary{
			background: @primary;
			color: darken(@primary-dark, 15%);
		}

		&--secondary{
			background: @secondary;
			color: white;
		}
	}

	.card-icon{
		display: inline-block;
		margin-right: .5em;
		position: relative;
		top: 0.2em;

		&:before{
			font-size: 1.5em;
			color: @secondary;
		}
	}
	
	.card-body{
		padding: @card-padding;
	}

	.card-footer{
		border-top: 1px solid @color-delimeter-dark;
		padding: @card-padding;
		height: auto;
	}

	.card-list-item{
		.card-footer
	}
}