

@import url('../_trulii-variables');

.card{	
	border-radius: @material-border-radius;
	margin: 1.5em 0;
	padding: 0;

	.card-header{
		-webkit-border-top-left-radius: @material-border-radius;
		-webkit-border-top-right-radius: @material-border-radius;
		-moz-border-radius-topleft: @material-border-radius;
		-moz-border-radius-topright: @material-border-radius;
		border-top-left-radius: @material-border-radius;
		border-top-right-radius: @material-border-radius;
		
		padding: @card-padding;
		color: @lightbg-text;
		
		&--primary{
			background: @primary;
			color: darken(@primary-dark, 15%);
		}

		&--secondary{
			background: @secondary;
			color: white;
		}

		.editable-title{
			position: relative;
			// TODO: This must be extend from .input--main

			.form-control{
				display: inline-block;				
				text-align: left;
				padding-left: 1.5em;
			}

			.card-icon{
				position: absolute;
				width: 18%;
				display: inline-block;
			}
			
		}
	}

	.card-icon{
		display: inline-block;
		margin-right: .5em;
		position: relative;
		top: 0.2em;

		&:before{
			font-size: 1.5em;
			color: @secondary;
		}
	}
	
	.card-body{
		padding: @card-padding;

		&--shrink{
			padding-left: @card-padding*2;
			padding-right: @card-padding*2;
		}
	}

	.card-footer{
		border-top: 1px solid @color-delimeter-dark;
		padding: @card-padding;
		height: auto;		
	}

	.card-list-item{
		.card-footer
	}

	&--shrink{
		.card-body, .card-header, .card-list-item, .card-footer{
			padding-left: @card-padding + 2;
			padding-right: @card-padding + 2;
		}	
	}

	&__lateral-menu{
		//border-right: 1px solid @color-delimeter-dark;
		position: absolute;
		top: 0px;
		bottom: 0px;
		padding: 0px;	
		background-color: @secondary;	
		padding-top: 1.3em;

		&__item{
			display: block;
			width: 100%;
			padding: 1.5em 1em;
			color: white;
			background-color: darken(@secondary, 5%);
			border-bottom: 1px solid @secondary;
			text-transform: uppercase;
			transition: .3s background-color ease;

			&.active{
				color: @secondary;
				background-color: white;
				font-weight: bold;

				*{
					color: @secondary;
				}

			}

			* {
				color: white;
			}
		}

		&__title{			
			display: block;
			width: 100%;
			text-align: center;
			font-weight: bold;
			padding-bottom: 1.5em;
			text-transform: uppercase;
			color: darken(@secondary, 15%);
			font-size: 1.2em;			
			
		}		
	}

	[class^="mdi-"]{
		position: relative;
		top: 4px;
	}
}

// TODO: Put in a best place D:
.contrast-box{
    background-color: @gray-lighter;
    padding: 1em;
    margin-left: 2px;
    margin-bottom: 2px;
    display: inline-block;
}


