
@import url('../_trulii-variables');
@import url('../mixins/_image_processing');
@trulii-cover-height: 92vh;
@trulii-cover-height-regular: 60vh;
@trulii-cover-height-medium: 55vh;
@trulii-cover-height-small: 50vh;
.cover{
  margin-top: -20px; // Mientras se arregla la barra de navegacion
  position: relative;
  width: 100%;
  height: 100%;
  background: fixed center center;
  background-size: cover;
}
.cover:after{
  width: 100%;
  background-color:rgba(60, 61, 65, 0.4);
}

.detail-cover{

    &:extend(.container-fluid);
    &:extend(.cover);

    &:after{
      &:extend(.cover:after);
      height: 420px;
    }
    .text-container {
        position: absolute;
        text-align: center;
        vertical-align: middle;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 5em;

        * {
            color: @white;
        }
    }
}

.full-screen-cover{
  &:extend(.cover);
  &:after{
    &:extend(.cover:after);
  }
}
.icon-explore{
  color: white;
  vertical-align: sub;
  font-size: 1.4em;

}
.trulii-cover, .trulii-cover-small, .trulii-cover-medium, .trulii-cover-regular{

  margin-top: -20px; // Mientras se arregla la barra de navegacion
  min-height: @trulii-cover-height;
  width: 100%;
  position:relative;
  display: block;
  clear: both;

  &__home{
    margin-top: -110px;
  }
  .row{
    min-width:100%;

  }
  &__container{
    &:extend(.flex-center-container);
    min-height: inherit;
    z-index: 10;
    width: 100%;
    position: relative;
    &.align-bottom{
      padding-bottom: 10vh;
      -webkit-box-align: flex-end !important;
      -webkit-align-items: flex-end !important;
      -ms-flex-align: flex-end !important;
      align-items: flex-end !important;
    }
  }
  &__content{
    padding: 0 15px;
    &:extend(.flex-center-item);
    width: 100%;
    color: white;
    
    .limited-width{
       padding-right: 30px;
       padding-left: 30px;
    }
    .social{
      .btn-share{
        &-fb{
          background-color: transparent;
          border: 1px solid white;
          padding-top: 7px;
          padding-left: 0px;
          color: white;
          text-align: center;
          font-size: 1.1em;
        }
        &-twitter{
          background-color: transparent;
          border: 1px solid white;
          padding-top: 7px;
          padding-left: 0px;
          color: white;
          text-align: center;
          font-size: 1.1em;
        }
        &-email{
          background-color: transparent;
          border: 1px solid white;
          padding-top: 7px;
          padding-left: 1px;
          color: white;
          text-align: center;
          font-size: 1.1em;
        }

      }
    }
    .label{
      color: white;
      border: 2px solid transparent;
      background-color: transparent;
      &-default{
        color: white;
        border: 2px solid white;
        background-color: transparent;
      }
    }
    &-landing{
      .before-md({
        padding-bottom: 10vh;
      });
      .before-sm({
        padding-top: 20vh;
      });
    }

    &-detail{
      .before-md({
        min-height: 20vh;
      });
    }
    h1{
      font-size: 3em;
      line-height: 0.9em;
      .before-sm({
        font-size: 2em;
      });
    }
    h3{
      .before-sm({
        font-size: 1.25em;
      });
    }
    .well-header{
        font-size: 2.5em;
    }
    .sub-title{
      font-size: 3.5em;
      .before-sm({
        font-size: 1.5em;
      });
      &-light{
        font-weight: 200;
      }
    }
    .title{
      font-size: 4.4em;
      margin-top: 0.25em !important;

      .before-md({
        font-size: 2.5em;
        line-height: 0.85em;
        margin-bottom: 1em;

        &-mobile-no-margin{
          margin-bottom: 0.2em;
        }
      });



    }
    p{
      color:white;
      padding:0 5em;
      font-size: 1.8em;
      margin-top: 1em;
      margin-bottom: 1.5em;
      font-family: @font-sans;
      font-weight: 200;

      .before-sm({
        padding: 0;
      });

      .before-xs({
        font-size: 1.125em;
      });

    }
    .btn-lg{
      font-size: 1.35em;
      padding: 0.8em;
      .before-md({
        font-size: 0.75em;
      });
    }
    &__search.form-classic{
      input, select, button{
        border-radius: 0;
      }
      > *{
        background-color: white;
        height: 75px !important;
      }
      > *:nth-child(1){
        border-top-left-radius: @border-radius-base !important;
        border-bottom-left-radius: @border-radius-base !important;
        border-right: 1px solid @gray-lighter;
      }
      > *:not(:nth-child(1)):not(:last-child){
        border-right: 1px solid @gray-lighter;
      }
      > *:last-child{
        border-top-right-radius: @border-radius-base !important;
        border-bottom-right-radius: @border-radius-base !important;
      }
      > *:not(.btn){
        padding: 0 2em;
      }
      .form-control{
        background-image: none;
      }
      input, input:focus{
        width: 50%;
        display: inline-block;
        float: left;
        border-top: 5px solid @brand-primary;
      }
      select, select:focus{
        -webkit-appearance: none;
        -moz-appearance: none;
        background-size: 15px auto;
        background-position: 90% 50%;
        background-repeat: no-repeat;
        background-image: url('@{s3url}/static/img/about/arrow.png') !important;
        padding: 0 2em;
        display: inline-block;
        float: left;
        width: 35%;
        border-top: 5px solid @brand-success;
      }
      select:focus{
        background-image: linear-gradient(@brand-primary, @brand-primary), linear-gradient(@gray-light, @gray-light) !important;
        background-position: 0 bottom;
      }
      .btn.btn-default{
        width:15%;
        border-radius: 0;
        border-color: transparent;
        color: @gray-regular !important;
        border-top: 5px solid @brand-secondary;
        font-size: 1.25em;
      }

    }


    .well-container{
      float: none;
      margin: 0 auto;

      .well{
        font-size: 13px;
        padding: 5em 7em;

        p{
          color: @gray-regular !important;
          padding: 0;
        }

        h3{
          font-size: 1.65em;
        }

        h4{
          font-size: 1.25em;
          font-weight: 200;
          line-height: 1.5em;
        }

      }
    }

    &-presentation-controllers{
      position: absolute;
      right: 0px;
      bottom: 0px;
      width: 350px;
      padding: 2em 2em;

      a, a:hover, a:focus{
        color: white;
      }

      img{
        width: 50px;
        margin-top: 11px;
        margin-right: 5px;
      }
    }
    &-play-controllers{
      i{
            font-size: 1.8em;
            color: white;
            transition: all 0.25s;
            background-color: transparent;
            border: 3px solid;
            border-radius: 100%;
            padding: 1em 1.1em 1em 1.3em;
            margin-top: 0.5em;
      }
      i:hover{
        background-color: rgba(255, 255, 255, 0.4);
      }
    }
    &-contact-controllers{
      background-color: fade(@gray-regular, 40%);
      padding: 1em;
      ul{
        .before-md({
          padding-top: 3em;
        });
      }
      li{
        padding: 0 2.5%;
        .item, .item-long{
          position:relative;
          height: 110px;
          width: 110px;
          transition: all 0.5s;


          a, a:hover, a:focus{
            color: white;
          }
          img{
            padding-top: 20px;
            padding-bottom: 20px;
            transition: all 0.25s;
            position: absolute;
            bottom: 0px;
            left: 0px;
            margin-left: 50%;
            transform: translateX(-50%);
          }
          .item-icon{
            font-size: 2em;
            border: 2px solid;
            border-radius: 50%;
            transition: all 0.50s;
            margin-top: 1.2em;
            
          }
          .fa-phone{
              padding: 0.5em 0.6em;
           }
          .fa-twitter{
              padding: 0.55em 0.6em;
          }
          .fa-map-marker{
            padding: 0.6em 0.9em;
          }
          .fa-newspaper-o{
            padding: 0.6em;
          }
          .fa-linkedin-square{
            padding: 0.6em 0.7em;
          }
          .fa-facebook{
            padding: 0.6em 0.8em;
          }
          .fa-angellist{
            padding: 0.6em 0.75em;
          }
          .item-description{
            position: absolute;
            width: 200%;
            bottom: 0px;
            max-height: 0;
            overflow: hidden;
            transition: all 0.25s;
            margin-left: 50%;
            transform: translateX(-50%);
          }
          .item-img{
            opacity: 1;
          }
          .item-img-active{
            opacity: 0;
          }
        }
        .item:hover, .item-long:hover{
          .item-icon{
            background: @brand-success;
            transform: translateY(-50%);
          }
          .item-img{
            opacity: 0;
          }
          .item-img-active{
            opacity: 1;
          }
          .item-description{
            max-height: 100%;
          }
        }
        .item:hover{
          img{
            padding-bottom: 40px;
          }
        }
        .item-long:hover{
          .item-icon{
            transform: translateY(-65%);
          }
        }
      }
    }


  }

  &__background{
    width: 100%;
    min-width: 100vw;
    background-size: cover;
    background-attachment: initial; // Performance :(
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -11;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    overflow: hidden;
    &-video{
      position: absolute; 
      right: 0; 
      bottom: 0;
      min-width: 100%; 
      min-height: 100%;
      width: auto; 
      height: auto; 
      z-index: -100;
      background-size: cover;
      overflow: hidden;
    }
  }
  &__background:after {
    width: 100%;
    height: 100%;
    content: "";
    background-color:rgba(60, 61, 65, 0.6);
    z-index: 100000;
    position: absolute;
    top: 0;
    left: 0;
  }
  &__background.background-warning:after{
    background-color: fade(@brand-warning, 40%);
  }
  &__background.background-dots:after{
    background-image: url('@{s3url}/static/img/dots.png');
    background-color: transparent;
    background-attachment: initial;
  }
}

.trulii-cover-regular{
  min-height: @trulii-cover-height-regular;
  .before-md({
    min-height: @trulii-cover-height-regular/2;
    //padding-top: 5vh;
  });
  @media (min-height: 1081px){
    min-height: 700px;;
  }
}

.trulii-cover-small{
  min-height: @trulii-cover-height-small;
  .before-md({
    min-height: 45vh;
    //padding-top: 5vh;
  });
  @media (min-height: 1081px){
    min-height: 400px;;
  }
}
.trulii-cover-medium{
  min-height: @trulii-cover-height-medium;
  &.trulii-cover-detail{
    min-height: @trulii-cover-height-medium/2;
  }
  @media (min-height: 1081px){
    min-height: 550px;;
  }
}

.detail-organizer {
    position: absolute;
    z-index: 4;
    left: 25%;
    text-align: center;

    .detail-organizer-picture {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin-bottom: 4px;
    }

    div {
        color: @primary;
        font-weight: 400;
    }
}

.detail-organizer-name {
    margin-right: 20px;
}


/*@media (min-aspect-ratio: 16/9) {
  .trulii-cover__background-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .trulii-cover__background-video {
    width: auto;
    height: 100%;
  }
}*/

@media (max-width: 767px) {

  .trulii-cover__background{
    video{
      display: none;
    }
  }
}
@media (min-device-width: 768px){
  .trulii-cover__background-video{
    display: block;
  }
}
