.flex-cards{
    display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    
    .before-width(1290px, {
        -webkit-justify-content: space-around;
	     justify-content: space-around;
    })
}


