
@import "../_trulii-variables";

.form-submit-controls{
	text-align: right;
	position: relative;
	height: 4.5em;

	.btn{
		display: inline-block;
		width: 12em;		
	}

	.progress{
		position: absolute;
		margin-top: 0;
		top: 50%;
	}	
}

.material-form{

	.form-group{
		.clearfix();	
	}

	.control-label{
		font-weight: 200;
		color: lighten(@lightbg-text, 40%)
	}
}

.form-group{
	.input-error{
		color: @danger;
		font-weight: bold;
	}
}
	

	
	