
@import "../_trulii-variables";

.form-group:not(:first-child){
	margin-top: 3.4em;
}

.form-submit-controls{
	text-align: right;
	position: relative;
	height: 4.5em;

	.btn{
		display: inline-block;
		min-width: 12em;
		font-size: 1em;
		line-height: 1.5em;
		margin-left: 1em;
		font-weight: bold;
	}

	.progress{
		position: absolute;
		margin-top: 0;
		top: 50%;
	}
}

.material-form{

	.form-group{
		.clearfix();
	}

	.control-label{
		font-weight: 200;
		color: lighten(@lightbg-text, 40%)
	}
}

.form-group{
	.input-error{
		color: @danger;
		font-weight: bold;
	}
}
