@footer-light-color:    #393B3F;
@footer-medium-color:   #2E3034;
@footer-dark-color:     #25272A;

.home-footer{
  overflow: hidden;
  &__links{
    min-height: 300px;
    color: @gray-light-medium;
    background-color: @footer-light-color;
    padding: 4em 0em;
    .link-column{
      padding: 0em 2em;
      height: 200px;
      .header{
        color: white;
        font-size: 0.9em;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin-bottom: 2em;
        font-weight: bold;
      }
      .link{
        color: @gray-light;
        font-size: 0.75em;
        font-weight: bold;
        margin-bottom: 1em;
        img{
          padding-right: 1em;
        }
        a{
          color: @gray-light;
        }
        a:hover, a:focus{
          color: @brand-success;
        }
      }
      &.bordered{
        border-right: 1px solid @gray-light;
      }
    }
  }
  &__love{
    height: 60px;
    background-color: @footer-medium-color;
    p{
      font-size: 1.125em;
      padding-top: 20px;
      font-family: @font-sans;
      color: white;
      img{
        padding: 0 0.25em;
      }
    }
  }
  &__rights{
    height: 60px;
    background-color: @footer-dark-color;
    p{
      font-size: 1em;
      padding-top: 20px;
    }
  }
}

@media (max-width: 991px){
  .home-footer__links .link-column.bordered{
    border-right: none;
  }
}
