.order-detail{
  background-color: @gray-lighter;
  display: flex;
  margin: 0;
  border: 1px solid @gray-lighter;
  h5{
    font-family: @font-sans-alt;
  }
  .order-description, .order-info{
    align-items: stretch;
  }
  .order-description{
    padding: 25px 35px;
  }
  .btn-return{

    font-weight: 300;
    text-decoration: none;
    background-color: lighten(@gray-base, 85%);;

    img {
      width:25%;
    }

  }
  .order-info{
    background-color:white;
    padding: 0px 35px 25px 35px;
  }

  @media print {
    .order-description {
      background-color: @gray-lighter;
    }
    .order-tooltip, .order-tooltip:before, .order-tooltip:after {
      display: none;
    }
    a, button, .btn {
      display: none;
    }

  }
}
