@import url('../_trulii-variables');

.btn-return{

  font-weight: 300;
  text-decoration: none;
  background-color: lighten(@gray-darker, 85%);;
  img{
    height: 20px;
    width: auto;
  }

}

.order-detail{
  margin: 0;
  
  .pull-left{
    margin-right: 40px;
  }
  
  a{
    color: @gray-regular;
    text-decoration: underline;
    &.btn{
      text-decoration: none;
    }
  }
  
 
  &__total{
    display: flex;
    justify-content: space-between;
    width: 680px;
    margin-left: 1em;
  }
  .before-md({
    display: block;
    .pull-left{
      float: none;
    }
  });

  h5{
    font-family: @font-sans-alt;
  }
  .order-description, .order-info{
    background-color: @gray-lighter-brand;
    align-items: stretch;
  }
  .order-description{
    padding: 0px 35px;
  }
  
  .order-info{
    background-color:white;
    padding: 0px 35px 0px 20px ;
    
   
    
    .before-md({
      .table-responsive{
        .table{
          tbody, thead, tfoot{
            tr{
              th, td{
                padding: 20px .5em;
                font-size: 0.75em;
              }
            }
          }
        }
      }
    });
    
    .order-mounts{
       padding: 0px 10px !important;
       td{
         padding: 0px 1em;
         font-size: 1em;
       }
       
       
    }
    
    .order-mounts-first{
      padding: 0px 0px !important;
      border-top: 1px solid #dddddd;
      td{
         padding: 15px 1em 0px 1em;
      }
    }
    
    
    .order-mobile{
      &__asisstant{
        border: 1px solid @gray-lighter;
        margin-top: 1em;
        padding-bottom: 1em;
        max-height: 55px;
        overflow: hidden;
        transition: max-height 0.15s ease-out;
        
        &-show{
          max-height: 400px;
          transition: max-height 0.25s ease-in;
        }
        h4{
          font-size: 1.2em;
          font-weight: 600;
          i{
            font-size: 1.2em;
            font-weight: 700;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transform-origin: 50% 50%;
            -moz-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
            -o-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            -webkit-transition: 300ms ease all;
            -moz-transition: 300ms ease all;
            -o-transition: 300ms ease all;
            transition: 300ms ease all;
          }
          .rotate-icon{
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);

            -webkit-transform-origin: 50% 50%;
            -moz-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
            -o-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
          }
        }
        &-header{
          padding: 0.3em 1em;
        }
        
        &-row{
          border-bottom: 1px solid @gray-lighter;
          padding: 0.5em 1em;
        }
        
        &-row:last-child{
          border-bottom: none;
        }
      }
    }

  }
  
  
  
 
}

.btn-print{
    position: absolute;
    top: 12px;
    right: 15px;
    background: transparent;
    border: 2px solid @gray-dark-brand;
}

.order-container{
  .before-md({
    &.tab-content{
      padding: 0;
    }
  });
}

// .print-container {
//   width: 100%;
// }

.print-visible {
  display: none;
}

@media print {
  .print-visible {
    display: block;
  }
  .print-container{
    width: 100%;
    position: fixed;
    left: 40px;
    top: 48px;
    display: block;
  }
  .order-mobile{
    display: none !important;
  }
  .table-order{
    display: block !important;
  }
  .order-container{
    //position: fixed;
    //top: 0;
    //left: 0;
    //display: block;
  }
  .order-description {
    background-color: @gray-lighter;
    a {
      display: inline-block;
      text-decoration: none;
      color: @gray-regular !important;
    }
  }
  .order-tooltip, .order-tooltip:before, .order-tooltip:after {
    display: none;
  }
  .order-info{
    width: 100%;
  }
  button, .btn, a.btn {
    display: none !important;
  }
  .glyphicon, .column-button{
    display: none;
  }
  .home-footer__links {
    display: none;
  }
}

