.panel-dark > .panel-heading {
    color: @darkbg-text;
    background-color: @gray-dark;
    border: 0;
}
.panel-default{
    box-shadow: none;
    border: 1px solid @gray-lighter;
    border-radius: 0;
    color: @gray-lighter;
    font-family: @font-sans;
    .panel-heading{
        border: 0;
        color: @gray-regular;
        padding: 1em 1em;
        position: relative;
    }
    .panel-body{
        padding:3em;
        .before-md({
          padding: 20px 0;
        });
    }
    .panel-date{
        font-family: @font-sans-alt;
        width: 13em;
        float: left;
        padding: 0 3%;
        
        .before-md({
          width: 8em;  
        });
        
        &:nth-child(1){
            border-right: 1px solid @gray-light;;
        }
        &:nth-child(2){
            padding-left:4%;
        }
    }
    .panel-counter{
        width: 25em;
        float:right;
        padding: 0.85em 0;
        font-size: 0.85em;
        text-transform: uppercase;
        
        .before-md({
          display: none;
        });
        
        .numbers{
            font-family: @font-sans-alt;
        }
        .progress{
            margin: 0em 1em;
            height: 10px;
            width: 40%;
            background-color: #ffffff;
            border-radius: @border-radius-large;
            display: inline-block;
            border: 1px solid @gray-light;
        }
    }
    .expand{
        position: absolute;
        right: 1em;
        top: 1em;
        color: @gray-light;
    }
    table{
        tr{
          th{
            .before-md({
              background-color: white;
            });
          }
          td{
              padding: 2em 1em;
              font-size: 1em;
              color: @gray-regular;
          }
          th, td{
             .before-sm({
                padding: 1.5em 5px !important;
                font-size: 0.75em;
              });
              
              .before-md({
                padding: 1.5em 2em;
                font-size: 0.75em;
              });
          }
        }
    }
}
