.referral-input {
    height: 52px;
    box-sizing: content-box;
    border-radius: 12px;
    input, input:focus {
        border: 1px solid @gray-lighter;
        border-bottom: 3px solid @brand-success;
        border-top-left-radius: @border-radius-base;
        border-bottom-left-radius: @border-radius-base;
    }
    input, button {
        height: 100% !important;
    }
    input, input:focus {
        width: 70%;
        height: 55px;
        background-color: white;
        padding: 0 2em;
    }
    input {
        background-image: none;
    }
    button {
        width: 30%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        font-size: 0.75em;
    }
}
.referral-share{
  li.referral-link{
    input{
      background-color: white;
    }
  }
  li:nth-child(n+3){
    vertical-align: -6px;
  }
  .before-sm({
    li.referral-link{
      display: block;
      margin: 10px;
    }
  });
}
input[type=text].form-control.referral-link {
    border: 1px solid @gray-light;
    color: @gray-light;
    height: 48px;
    border-radius: @border-radius-base;
    background-image: none;
    padding: 0 2em;
    text-decoration: underline;
    width: 450px;
    .before-sm({
      width: 100%;
    });
    &:focus {
        border: 1px solid @brand-success;
        height: 48px;
    }
}

.referral-item {
    padding: 2em 0em;
    display: inline-block;
    width: 100%;
    &__picture, &__info, &__status {
        padding: 0 0.25em;
        display: inline-block;
        float: left;
        color: @gray-light;
        h4 {
            font-size: 1.3em;
        }
    }
    &__info {
        padding-left: 1em;
    }
    &__picture {
        width: 3.5em;
        margin-top: 10px;
    }
    &__status {
        float: right;
        padding-right: 2em;
        h5 {
            text-align: right;
            padding-top: 1.75em;
        }
        .btn {
            margin-top: 10px;
        }
    }
}

.referral-item:not(:last-child) {
    border-bottom: 2px solid @gray-light-medium;
}
