@import url('../_trulii-variables');

.search-bar {
    position: relative;
    input, select, button {
        border-radius: 0;
    }
    > * {
        background-color: white;

    }
    > *:nth-child(1) {
        border-top-left-radius: @border-radius-base !important;
        border-bottom-left-radius: @border-radius-base !important;
        border-right: 1px solid @gray-lighter;
        height: 75px !important;
        .before-sm({
          float: left;
          width: 80%;
          margin-top: 70px;
          border-color: transparent;
          border-right: none;
          height: 55px !important;
          &:focus{
            width: 80% !important;
          }
        });
    }
    > *:not(:nth-child(1)):not(:last-child) {
        border-right: 1px solid @gray-lighter;
        .before-sm({
          width: 100%;
          position: absolute;
          left: 0;
          border-color: transparent;
          background-color: @brand-success;
          color: white;
          border-radius: @border-radius-base;
          background-image: url(@{s3url}/static/img/about/arrow-white.png) !important;
          padding: 0;
        });
    }
    > *:last-child {
        border-top-right-radius: @border-radius-base !important;
        border-bottom-right-radius: @border-radius-base !important;
    }
    > *:not(.btn) {
        padding: 0 2.5em;
    }
    .form-control {
        background-image: none;
        .before-sm({
          font-size: 0.8em;
        });
    }

    input, input:focus {
        display: inline-block;
        width: 50%;
        float: left;
        
    }


    .select-city{
      width: 35%;
      height: 100%;
      display: inline-block;
      position: relative;
      padding: 0;
      border-top: 5px solid #38dbc8;
      float: left;
      background-size: 15px auto;
      background-position: 93% 50%;
      background-repeat: no-repeat;
      background-image: url('@{s3url}/static/img/about/arrow.png') !important;
      height: 75px !important;

      .before-sm({
        height: 55px !important
      });

      select, select:focus {
        display: inline-block;
        width: 100%;
        padding: 0 1em;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 100% !important;
        cursor: pointer;

      }

    }


    select:focus{
      animation: input-highlight 0.5s forwards;
      box-shadow: none;
      background-size: 0 2px, 100% 1px;
      background-image: linear-gradient(@brand-primary, @brand-primary), linear-gradient(@gray-light, @gray-light) !important;
      background-position: 0 bottom;
    }

    .btn.btn-default {
        width: 15%;
        color: @gray-regular !important;
        border-radius: 0;
        border-color: transparent;
        border-top: 5px solid @brand-secondary;
        font-size: 1.25em;
        float: left;
        height: 75px !important;
        .before-sm({
          width: 20%;
          float: right;
          background-color: @brand-primary;
          border: none;
          margin-top: 70px;
          color: white !important;
          height: 55px !important;
          .glyphicon{
              padding-top: 5px;
          }
        });
    }

    .dropdown-menu{
        width: 50%;
        padding: 0;
        border: none !important;
    }

    &__navbar {

        width: 40em;
        height: 45px;
        margin-top: 20px;
        margin-left: 20px;
        background: white;
        border-radius: 0;
        display: inline-block;
        position: relative;

        .dropdown-menu{
            width: 60%;
        }

        @media screen and (max-width: @screen-md ) {
            width: 40%;
        }

        @media screen and (max-width: @screen-sm ) {
            display: none !important;
        }

        ::-webkit-input-placeholder { 
          font-weight: 600;
          color: @gray-light;
        }
        :-moz-placeholder { 
         font-weight: 600;
          opacity:  1;
          color: @gray-light;
        }
        ::-moz-placeholder { 
          font-weight: 600;
          opacity:  1;
          color: @gray-light;
        }
        :-ms-input-placeholder { 
          font-weight: 600;
          color: @gray-light;
        }
        input, input:focus {
            display: block;
            position: relative;
            float: left;
            height: 100% !important;
            width: 60%;
            padding-left: 35px;
            border: 1px solid darken(@gray-lighter, 4%);
            border-right: none;
            background-image: none;
            border-radius: 1.5em 0em 0em 1.5em !important; 
            box-shadow: 0 0;
        }
        input[type="text"] {
            height: 100% !important;
            border-radius: 1.5em 0em 0em 1.5em !important;
            padding: 0em !important;
            padding-left: 1em !important;
            border-right-color: transparent;
        }

        input, select, button {
            background-color: transparent;
            background-image: none;
            font-family: @font-sans;
            font-size: 0.95em;
            font-weight: 200;
            float: left;
           
        }

        .select-city{
          width: 28%;
          height: 100%;
          display: inline-block;
          vertical-align: top;
          position: relative;
          padding: 0;
          border: 1px solid darken(@gray-lighter, 4%);
          float: left;
          color: @gray-regular;
          background-size: 15px auto;
          background-position: 93% 50%;
          background-repeat: no-repeat;
          background-image: url('@{s3url}/static/img/about/arrow.png') !important;
          border-left: none; 
          border-right: none;
          &:before {
            content: "";
            border-left: 1px solid darken(@gray-lighter, 4%);
            position: absolute;
            display: block;
            height: 31px;
            top: 8px;
            left: -5px;
          }
           &:after {
            content: "";
            border-left: 1px solid darken(@gray-lighter, 4%);
            position: absolute;
            display: block;
            height: 31px;
            top: 8px;
            right: -1px;
          }

          select, select:focus {
            display: inline-block;
            width: 100%;
            padding: 0 0.5em;
            -webkit-appearance: none;
            -moz-appearance: none;
            height: 100% !important;
            cursor: pointer;
            font-weight: 600;
            color: @gray-regular;
            border: none;
            box-shadow: 0 0;
            .text-overflow();

            &:focus {
              background-image: none; 
            }

          }
          .before-sm({ width: 25%; });
        }

        button {
            &:before {
                display: inline-block;
                color: @lightbg-text;
                font-size: 1.1em;
            }

            font-size: 18px;
            width: 10%;
            text-align: center;
            height: 100%;
            display: inline-block;
            border: 0;
            border: 1px solid darken(@gray-lighter, 4%);
            border-radius: 0;
            background: transparent;
            border-radius: 0em 1.5em 1.5em 0em; 
            border-left: none;
            padding: 0;
            &:extend(.show-after-sm);
            span{
                top: 3px;
                color: @gray-dark;
                font-size: 0.9em;
            }
            &:hover{
                background: transparent;
                border-color: darken(@gray-lighter, 4%);
            }
            &:focus{
                outline: 0 !important;
            }
        }



    }
}




/// New search

.search-container{
    margin-top: 0px;
    width: 100%;
    padding: 0 30px;
    @media (max-width: 768px){
        position: relative;
        height: ~"calc(90vh + 75px)";
    }
    
    .search-mobile-filters{
        height: 100px;
        .btn-filters{
            padding: 0;
            height: 40px;
            border: 1px solid #cbcbcb;
            border-radius: 25px;
            &:focus, &:hover{
                outline: none;
            }
        }
    }
    
    .search-sidebar{
        font-weight: 700;
        font-size: 0.85em;
        float: left;
        width: 400px;
        display: inline-block;
        padding: 0 45px;
        
        .search-order{
            padding: 0px 15px;
        }
        .search-orders{
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 600;
            font-size: 0.8em;
            letter-spacing: 1px;
            margin: 0 -15px;
            text-transform: uppercase;
            color: #9b9b9b;
            background-color: #ededed;
            
            li:not(:last-child){
                border-bottom: 1px solid #cbcbcb;
            }
            li:last-child{
                padding-bottom: 10px !important;
            }
            
        }
        &__element{
            width: 100%;
            border: 1px solid @gray-lighter;
            border-radius: @border-radius-standard;
            margin-bottom: 15px;
            
            &-expanded{
                margin-bottom: -5px;
            }
            &-not-expanded{
                margin-bottom: 0px !important;
                li:first-child{
                    border-bottom: none !important;
                }    
            }
            
            &__header{
                text-transform: uppercase;
                letter-spacing: 1px;
            }
            
            &__date{
                padding: 10px 15px 10px 15px;
                input{
                    width: ~"calc(100% - 30px)";
                    display: inline-block;
                    background-image: none;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-weight: 700;
                    font-size: 1em;
                    background-color: transparent;
                    border: none;
                    box-shadow: 0 0;
                }
                ::-webkit-input-placeholder {
                    font-weight: 700;
                    color: @gray-dark;
                }
                :-moz-placeholder {
                    font-weight: 700;
                    color: @gray-dark;
                }
                ::-moz-placeholder {
                    font-weight: 700;
                    color: @gray-dark; 
                }
                :-ms-input-placeholder {  
                    font-weight: 700;
                    color: @gray-dark;
                }
                span{
                    vertical-align: -5px;
                    color: @gray-dark;
                }
            }
            &__price{
                &-slider{
                    padding: 15px 35px 10px 35px !important;
                    .noUi-connect{
                        background-color: @gray-dark; 
                    }
                }
            }
            
            ul{
                list-style: none;
                li{
                    padding: 15px 15px 10px 15px;
                }
                li:not(:last-child){
                    border-bottom: 1px solid @gray-lighter;
                }
                li:last-child{
                    &.search-sidebar__sub-element-expanded{
                        margin-bottom: -10px;
                    }
                }
            }
            .search-sidebar__sub-element{
                position: relative;
                .fa{
                    position: absolute;
                    right: 15px;
                    color: @gray-dark-brand;
                }
            }
            .search-sidebar__sub-element-expanded{
                padding-bottom: 0;
                .subcategories{
                    margin-top: 10px;
                    li:last-child{
                        padding-bottom: 10px;
                    }
                }
            }
            .subcategories{
                font-weight: 600;
                font-size: 0.8em;
                letter-spacing: 1px;
                margin: 0 -15px;
                text-transform: uppercase;
                color: @gray-regular;
                background-color: @gray-lighter;
                li:not(:last-child){
                    border-bottom: 1px solid @gray-light;
                }
            }
        }
        @media (max-width: 768px){
            width: 100%;
            padding: 0;
            position: absolute;
            top: 75px;
            left: 0px;
            height: 90vh;
            overflow-y: scroll;
            width: 100%;
            padding: 0 50px;
            background-color: white;
            z-index: 1000;
        }
    }
    .search-content{
        float: left;
        width: ~"calc(100% - 400px)";
        display: inline-block;
        padding: 0 45px;
        
        &__results{
            float: left;
            text-transform: uppercase;
            @media (max-width: 768px){
                float: none;
                text-align: center;
            }
        }
        &__filters{
            float: right;
            .search-select{
                select{
                    height: 30px;
                    background-image: none;
                    width: 125px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    color: #767676 !important;
                    font-weight: 700;
                     padding-bottom: 0px;
                    border: none;
                    box-shadow: 0 0;
                    margin-top: -8px;
                    
                    &:hover, &:focus{
                        height: 30px;
                        background-image: none;
                    }
                }
                label {position:relative}
                label:after {
                    content: "\f078";   
                    font-family: "FontAwesome";
                    font-size: 11px;
                    color: @gray-dark-brand;
                    right: 8px;
                    top: 3px;
                    padding: 0 0 2px;
                    position: absolute;
                }
            }
            
            > div{
                float: right;
                height: 30px;
                padding: 0 10px;
                &:not(:first-child){
                    border-right: 1px solid @gray-lighter;
                }
            }
        }
        @media (max-width: 768px){
            width: 100%;
            padding: 0;
            position: absolute;
            top: 75px;
            left: 0px;
            height: 90vh;
            overflow-y: scroll;
            padding: 0 50px;
            background-color: white;
            z-index: 900;
        }
    }
}
