@import url('../_trulii-variables');

@sidebar-float-class: --float;
//Sidebar menu dashboards organizer and student

.sidebar{
	font-family: @font-sans;
	position: fixed;
	top: @navbar-height + 20px;
	background: white;
	display: block;
	z-index: 1000;
	overflow-x: visible;
	overflow-y: auto;
	padding: 20px 0 0 0;
	width: @sidebar-width;
  	transition: transform 0.5s;
	border-bottom: 1px solid @gray-lighter;  
	border-radius: 4px;
  &-edit-activity{
	position: absolute;
	top: 0px;
	.sidebar__item{
		border-bottom: 1px solid @gray-lighter;
		border-top: none; 
		&-publish{
			margin-top: 20px;
			background: @brand-info;
			text-align: center;
			text-transform: uppercase;
			border: none;
			border-radius: 4px;
			a{
				padding-left: 0;
				color: white !important;
				font-weight: 700;
				font-size: 0.9em;
				&:hover{
					color: white !important;
				}
			}
			
			&-deactivate{
				background: @gray-lighter;
				
				a{
					color: @gray-regular !important;
					cursor: auto;
					&:hover{
						color: @gray-regular !important;
					}
				}
			}
		}
		
		
		&-unpublish{
			margin-top: 20px;
			background: @brand-yellow;
			text-align: center;
			text-transform: uppercase;
			border: none;
			border-radius: 4px;
			a{
				padding-left: 0;
				color: @gray-darker !important;
				font-weight: 700;
				font-size: 0.9em;
				&:hover{
					color: @gray-darker !important;
				}
			}
		}
		
		&:first-child{
			border-top: 1px solid @gray-lighter;
		}
	}
	
	
  }
 
  &__absolute{
	position: absolute;
    height: auto;
    top: 1845px;
  }
  &__fixed{
	position: fixed;
    top: @navbar-height + 20px;
  }
  .before-md({
	position: absolute;
	width: 90%;
	top: 43px;
	left: 5%;
	padding: 0;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.15s ease-out;
	&-expanded{
		max-height: 700px;
		transition: max-height 0.25s ease-in;
	}
  });


	&__activity{
		padding: 1em.5em;
		display: block;
		width: 100%;
		height: 9em;
		color: white;
		font-size: 1.2em;
		text-align: center;
		position: relative;
		&:extend(.img-size-cover);
		&:extend(.img-position-center);

		&__title{
			display: block;
			height: 3em;
			overflow: hidden;
			margin-bottom: .5em
		}

		&__btn-back{
			color: white;
			display: block;
			margin-top: 1em;
			font-size: .8em;
		}

		&:after{
			content: '';
			display: block;
			position: absolute;
			background: fadeout(@sidebar-color, 55%) ;
			width: 100%;
			height: 100%;
			top: 0;
			right: 0;
			z-index: 1;

		}

		& *{
			position: relative;
			z-index: 10;
		}

	}

	&__item{
		border-radius: 0px;
		position: relative;
		color: @gray-dark;
		display: block;
		width: 100%;
		text-decoration: none;
		line-height: 3em;
		cursor: pointer;
		font-family: @font-sans-alt;
		font-weight: 600;
		font-size: .9em;
		border-left: 1px solid @gray-lighter;
		border-top: 1px solid @gray-lighter;
		border-right: 1px solid @gray-lighter;
		a{
			color: @gray-dark !important;
			width: 100%;
			display: block;
			padding: 5px;
			padding-left: 1em;
			&:hover, &:focus{
				text-decoration: none;
				outline: 0;
				color: @gray-darker !important;
			}
		}
		&-subitems{
			text-transform: Capitalize;
			font-weight: 400;
			font-size: 1em;
			max-height: 0;
            overflow: hidden;
            transition: max-height 0.15s ease-out;
		}
		&-expanded{
			max-height: 250px;
       	 	transition: max-height 0.25s ease-in;
		}
		&-subitem{
			border-bottom: 1px solid rgba(203, 203, 203, 0.4);
			background: @gray-lighter-brand;
			a{
				padding-left: 1.3em;
				color: @gray-regular !important;
				position: relative;
			}
			&--selected{
				a{
					color: @gray-darker !important;
				}
			}
			
			&:last-child{
				border-bottom: 1px solid transparent;
			}
		}
		
		.label-notification{
			position: absolute;
			right: 30px;
			font-size: 1em;
			border-radius: 45%;
			top: 13px;
			right: 30px;
			padding: 0.4em 0.7em;
			
			&-empty{
				display: block;
				padding: 0.4em;
				top: 18px;
				right: 33px;
			}
		}
		
		.arrow-right{
			float: right;
			margin-top: 10px;
			font-size: 1.4em;
			margin-right: 8px;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);

			-webkit-transform-origin: 50% 50%;
			-moz-transform-origin: 50% 50%;
			-ms-transform-origin: 50% 50%;
			-o-transform-origin: 50% 50%;
			transform-origin: 50% 50%;

			-webkit-transition: 300ms ease all;
			-moz-transition: 300ms ease all;
			-o-transition: 300ms ease all;
			transition: 300ms ease all;
		}
      .rotate-icon{
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          transform: rotate(90deg);

          -webkit-transform-origin: 50% 50%;
          -moz-transform-origin: 50% 50%;
          -ms-transform-origin: 50% 50%;
          -o-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
      }
		&-edit-activity{
			color: @gray-regular;

		}
		&--selected{
			background: @gray-lighter;
			transition: ease all 0.1s;
		}
		&--selected_message{
			background: @gray-lighter;
			transition: ease all 0.1s;
		}
		&--selected-edit-activity{
			background: @gray-lighter;
			transition: ease all 0.1s;
			color: @gray-regular;

			.@{sidebar-float-class} &{
				background: lighten(@gray-light, 50%);
				font-weight: bold !important;
				color: @success !important;
				border-width: 0;
			}
			&:focus{
				color:@gray-regular;
			}


		}



		

		&__icon{
			top: 0;
			bottom: 0;
			margin-right: .3em;

			&:before {
				position: relative;
				top: 0.2em;
				font-size: .8em;
				margin-right: .3em;
			}
		}

		.@{sidebar-float-class} &{
			color: @lightbg-text;
			font-weight: normal;
			margin: 0;

			&.--muted{
				color: lighten(@gray-light, 20%);
			}
		}
	}

	li {
		display: block;
	}
	.list-inline{
		li{
			display: inline-block;
		}
	}
	&__bottom-action-container{
		position: fixed;
		bottom: 0px;
		width: inherit;
		border-top: 1px solid @gray-light;
		.sidebar__bottom-action{
			margin-top: 0;
		}

		&-edit-activity{
			border-top: none;
			border-right: 0.1em solid @gray-light;
		}
	}
	&__bottom-action {
		background: @sidebar-color;
		width: 100%;
		padding: 1em;
		margin-top: 2em;
		font-family: @font-sans-alt;
		font-weight: normal;
		font-size: .9em;
		color: @gray-lighter;

		&-edit-activity{
			background: @gray-lighter;
			color: gray;
		}
		hr{
			display: block;
			width: 100%;
			margin: 1.6em 0;
			height: 0;

			&:before{
				content: '';
				display: inline-block;
				border-bottom: 1px solid @gray-light;
				width: 20%;
				vertical-align: top;
			}
		}

		.btn{
			font-size: 1em;
			margin-top: 1em;
			width: 80%;
			font-weight: 300;
			line-height: 0.3em;
		}
		&-dark{
			background-color: @gray-darker;
		    padding: 1em 0em 0.25em 0em;
			a{
				color: @gray-light;
				text-decoration: none;
			}
		}
		&-dark-edit-acitivity{
			background-color: gray;
			padding: 1em 0em 0.25em 0em;
			height: 60px;
			a{
				color: @white;
				text-decoration: none;
			}

			.icon-edit-activity{
				font-size: 1em;
			    border: 1px solid @white;
			    border-radius: 50%;
			    padding: 0.5em;
			    top: 0.2em;
			    margin-right: 0.3em;
			}
			.icon-edit-activity:hover{
				border: 1px solid @primary;
			}
			a:hover{
				.icon-edit-activity{
					border: 1px solid @primary;
				}
			}
		}


	}

	.mandatory-mark{
		display: inline-block;
		width: 8px;
		height: 8px;
		background-color: @brand-primary;
		border-radius: 50%;

		&-edit-activity{ 
			background-color: @gray-dark-brand;
		}
		&.--right{
			float: right;
			margin: 1.2em;


		}


	}

	& + *{
		padding-left: @sidebar-width;
    position: relative;
    min-height: ~"calc(100vh - 100px)";
    display: inline-block;
    width: 100%;
      .before-md({
        padding-left: 15px;
      });
	}
	
	&-about{
		top: 0;
		position: relative;
		
		.before-md({
			top: -8px;
			position: absolute;
			margin: 0;
			border: none;
			width: 95%;
			left:0;
		});
		
		&__expanded{
			max-height: 600px;
		}
		& + *{
			padding-left: 0 !important;
			position: relative;
			min-height: ~"calc(100vh - 100px)";
			width: 100%;
			.before-md({
				padding-left: 15px;
			});
		}
	} 

	&.@{sidebar-float-class}{
		background-color: white;
		border: 1px solid @gray-light;
		margin: 1em;
		border-radius: @border-radius-standard;
		bottom: auto;
		padding-bottom: 0;
		max-height: ~"calc(100vh - 100px)";
		overflow-y: auto;
	}

    &.ng-hide{
        transform: translateX(-@sidebar-width);
    }

}
.sidebar__item-edit-activity:hover {
    color: @gray-regular !important;
	background: @gray-lighter;
}

//Sidebar Help 
.sidebar__item{
	border-bottom: 1px solid @gray-lighter;
	border-top: none; 
	&:first-child{
		border-top: 1px solid @gray-lighter;
	}
	&-help{
		&-more{
			margin-top: 10px;
			text-align: center;
			border: none;
			color: @gray-regular-brand;
			font-weight: 600;
		}
		&-contact{
			margin-top: 15px;
			background-color: @gray-regular-brand;
			text-align: center;
			text-transform: uppercase;
			border: none;
			border-radius: 4px;
			a{
				padding-left: 0;
				color: white !important;
				font-weight: 700;
				font-size: 0.9em;
				&:hover{
					color: white !important;
				}
			}
		}
	}
}

 
//Principal menu side bar in Mobile


.sidebar-profile{
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    display: block;
    z-index: 10000;
    overflow-x: visible;
    overflow-y: auto;
    padding: 20px 0 0 0;
    background-color: @gray-darker;
    width: 17em;
    max-height: 100vh;
    transition: transform 0.5s;
	transition: .4s ease all;
	font-size: 1.2em;
	.profile{
		border-bottom: 1px solid @gray-dark-brand;
		padding: 1em 1.2em;
		display: flex;
    	align-items: center;
		font-weight: 600;
		img{
			border-radius: 50%;
			width: 3em;
		}
		span{
			color: white;
		}
	}
	
	.profile_name{
		position: absolute;
		top: 40px;
		right: 20px;
		color: white;
		font-weight: 600;
		text-align: justify;
		width: 200px;
		overflow: hidden;
		text-overflow: ellipsis;
		line-height: 2em;
		word-wrap: break-word;
		white-space: nowrap;
		
	}
	
	.sign{
		padding: 1em;
    	padding-top: 12em;
		a{
			font-weight: 700;
    		color: white;
			font-size: 0.8em;
			text-transform: uppercase;
		}
	}
	.social{
		position: absolute;
		bottom: 1em;
		left: 1.5em;
		a{
			font-size: 1.4em;
    		color: white;
		}
	}
	
	&__items{
		padding: 1em 1.5em;
    	margin-top: 1em;
		max-height: 75vh;
		overflow-y: auto;
		&-item{
			padding-bottom: 0.7em;
			position: relative;
			a{
				color: white;
				font-weight: 600;
				width: 100%;
    			display: block;
				font-size: 0.9em;
				text-decoration: none;
			}
			.label-notification{
				position: absolute;
				right: 0;
				top: 0px;
				z-index: 0;
				border-radius: 45%;
				padding: 0.4em 0.8em;
				font-size: 0.8em;
			}
			
		}
	}
	
	
	&__subitems{
		padding-left: 1.8em; 
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.15s ease-out;
		
		&-expanded{
			max-height: 250px;
       	 	transition: max-height 0.25s ease-in;
		}
		&-subitem{
			padding: 0.2em;
			a{
				font-weight: 100;
			}
		}
	}
}
.sidebar-mobile-toggle{
    color: @gray-regular;
    width: 100%;
    background-color: white;
    height: @navbar-short-height - 2;
    position: fixed;
    left: 0;
    top: 0;
	z-index: 1050;
    transition: @transition-navbar;
    padding: 1em 1em;
    &.short{
       height: @navbar-short-height;
    }
    &:focus, &:hover{
        color: @gray-regular;
    }
	.absolute-container__close{
		z-index: 1050;
		top: 18px;
		right: 15px;
		width: 25px;
		height: 25px;
	}


}
.with-sidebar{
    .col-xs-12;
    padding-bottom: 80px;
    min-height: ~"calc(100vh - 100px)";
}
@media print {
    .with-sidebar{
        margin: 0 20px 0 20px;
    }
}
