@import url('../_trulii-variables');

.nav-tabs-light {
    background-color: lighten(@lightbg-text, 95%) !important;
    border-top: 1px solid @gray-light-medium;

    li {

        height: 3em;
        width: 10em;



        a {
            height: 100%;
            text-align: center;
            color: @lightbg-text !important;
            padding: 0em 1.4em;

            img{
                padding-top: 0.5em;
            }

            span{
                display: inline-block;
                padding-top: 1em;
            }

        }


        &.active {
            background-color: @white;
            border-right: 1px solid @gray-light-medium;

            &:not(:first-child) {
                border-left: 1px solid @gray-light-medium;
            }

             * {
                 color: @lightbg-text !important;
             }
        }

        &:hover {
            background-color: @gray-light-medium;
            color: @lightbg-text !important;
        }
    }
}
