
@import url('../_trulii-variables');

.user-thumbnail-container {
    margin-top: 16px;
    margin-bottom: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-top: 2px solid @color-delimeter-dark;

    .user-thumbnail {
        display: inline-block;
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
        width: 33%;

        .user-img {
            width: 100%;
            height: auto;
            border-radius: 50%;
        }
    }
}