<div class="row">
    <div class="search-container limited-width-search-container">
        <div class="search-mobile-filters hidden-md hidden-lg">
            <div class="col-xs-12 limited-width-search">                
                <div class="search-mobile-filters__bar">
                    <input type="text" class="form-control" ng-model="search.newSearchQuery" placeholder="Buscar...">
                    <select name="" id="" class="form-control" ng-options="city as city.name for city in search.cities track by city.id" ng-model="search.searchCity" ng-change="search.updateCity()">
                        <option value="" selected
                            ng-hide="search.searchCity"
                            ng-bind="'Ciudad'"></option>
                    </select>
                    <button class="btn btn-default" ng-click="search.triggerSearch()">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </div>
                <button class="btn btn-default btn-block btn-filters" ng-click="search.toggleFilters()">
                    <i class="fa fa-filter" aria-hidden="true"></i>
                    <span ng-bind="search.strings.LABEL_FILTER_ACTIVITIES"></span>
                </button>
            </div>
        </div>
        <div class="search-sidebar" ng-class="{'hidden-xs hidden-sm': !search.showFilters}">
            <div class="search-sidebar__element search-sidebar__element-mobile hidden-md hidden-lg">
                <ul ng-class="{'search-sidebar__element-expanded': search.expandedSort, 'search-sidebar__element-not-expanded': !search.expandedSort}">
                    <li class="search-sidebar__element__header" ng-click="search.toggleExpandedSort()">
                        <span ng-bind="::search.strings.LABEL_SORT_BY"></span>
                        <i class="fa fa-chevron-right" ng-hide="search.expandedSort" aria-hidden="true"></i>
                        <i class="fa fa-chevron-down" ng-hide="!search.expandedSort" aria-hidden="true"></i>
                    </li>
                    <li class="search-order" ng-class="{'order-expanded': search.expandedSort}" ng-hide="!search.expandedSort">
                        <ul class="search-orders">
                            <li class="search-orders__item" ng-repeat="option in search.orderByOptions"
                                ng-click="search.changeOrderBy(option.orderByPredicate)" ng-bind="option.name">
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="search-sidebar__element">
                <ul>
                    <li class="search-sidebar__element__date">
                        <input id="date" type="text" class="form-control "
                            placeholder="{{::search.strings.LABEL_DATE}}"
                            name="date" ng-model="search.searchDate"
                            ng-change="search.setDate()"
                            datepicker-popup="{{search.format}}"
                            data-is-open="search.opened"
                            data-min-date="search.minStartDate"
                            data-datepicker-options="search.dateOptions"
                            data-close-text="{{search.strings.ACTION_CLOSE}}"
                            ng-click="search.openDatePicker($event)"
                            readonly="readonly" />
                        <span class="mdi-action-event text-muted" ng-click="search.openDatePicker($event)"></span>
                    </li>
                </ul>
            </div>
            <div class="search-sidebar__element">
                <ul>
                    <li class="search-sidebar__element__header">
                        <span ng-bind="::search.strings.LABEL_COST"></span>
                    </li>
                    <li class="search-sidebar__element__price-slider">
                        <trulii-slider class="search-slider" min="search.sliderOptions.min" max="search.sliderOptions.max"
                            step="search.sliderOptions.step" start="search.searchStartCost"
                            end="search.searchEndCost" update="search.updateCost(start, end)" stop-drag="search.stopDrag()"></trulii-slider>    
                    </li>
                    <li class="search-sidebar__element__price-free">
                         <div class="trulii-checkbox">
                            <input type="checkbox" id="free" ng-model="search.checkboxFilters.isFree" ng-change="search.setFree()">
                            <label for="free"><span></span>{{search.strings.LABEL_FREE}}</label>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="search-sidebar__element search-sidebar__element-cursor">
                <ul>
                    <li ng-click="search.setCategory(search.strings.ACTION_ALL_FILTER)">
                        <span ng-bind="::search.strings.ACTION_ALL_FILTER"></span>
                    </li>
                    <li class="search-sidebar__sub-element" 
                        ng-class="{'search-sidebar__sub-element-expanded': category.id === search.expandedCategory}"
                        ng-repeat="category in search.categories | orderBy:'name'"
                        ng-click="search.setCategory(category)">
                        <a href="#" id="{{::category.name}}"></a>
                        <i class="fa fa-chevron-right" ng-hide="category.id === search.expandedCategory" aria-hidden="true"></i>
                        <i class="fa fa-chevron-down" ng-hide="category.id !== search.expandedCategory" aria-hidden="true"></i>
                        <div class="header" ng-class="{'active': search.searchCategory === category.id}">
                            <div class="header__name">
                                <span ng-bind="::category.name"></span>
                            </div>
                        </div>
                        <ul class="subcategories" data-toggle="category.id === search.expandedCategory" trulii-expandable-content>
                            <li  class="subcategories__item" ng-repeat="subcategory in category.subcategories"
                                    ng-class="{'active': search.searchSubCategory === subcategory.id}"
                                    ng-click="search.setSubCategory(subcategory, $event)">
                                <span ng-bind="::subcategory.name" ></span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="search-sidebar__element">
                <ul>
                    <li class="search-sidebar__element__header">
                        <span ng-bind="::search.strings.LABEL_LEVEL"></span>
                    </li>
                    <ul>
                        <li>
                            <div ng-repeat="level in search.levels track by level.code" class="trulii-radio">
                                <input type="radio" name="level" ng-model="search.searchLevel.code"
                                    ng-click="search.setLevel(level)" ng-value="level.code" id="radio{{$index}}">
                                <label for="radio{{$index}}"><span></span>{{level.value}}</label>
                            </div>
                        </li>
                    </ul>
                </ul>
            </div>
            <div class="search-sidebar__element hidden-md hidden-lg">
                <ul>
                    <li class="search-sidebar__element__header">
                        <span ng-bind="::search.strings.LABEL_OTHERS"></span>
                    </li>
                    <li>
                        <div class="trulii-checkbox">
                            <input type="checkbox" id="cert" ng-model="search.checkboxFilters.withCert" ng-click="search.setCertification()">
                            <label for="cert"><span></span>{{search.strings.LABEL_WITH_CERTIFICATE}}</label>
                        </div>
                        
                        <div class="trulii-checkbox">
                            <input type="checkbox" id="weekend" ng-model="search.checkboxFilters.onWeekends" ng-click="search.setWeekends()">
                            <label for="weekend"><span></span>{{search.strings.LABEL_WEEKENDS}}</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
                          
        <div class="search-content separate-below-more">
            
          
            <div class="row">
                <div class="col-xs-12 limited-width-search search-content__result-info">
                    <div class="limited-width-search">
                        <div class="search-content__results">
                            <trulii-search-bar class="hidden-xs hidden-sm"  data-on-searchpage="true"></trulii-search-bar>
                            <div class="separate-left-less text-sm">
                                <strong ng-bind="search.activitiesPaginationOpts.totalItems"></strong>
                                <span> </span>
                                <span ng-bind="::search.strings.COPY_RESULTS"></span>
                                <span> </span>
                                <span ng-if="search.searchQuery">
                                    <span ng-bind="::search.strings.COPY_FOR"></span>
                                    <span> </span>
                                    <strong>
                                        <span ng-bind="search.searchQuery"></span>
                                    </strong>
                                </span>
                                <span ng-if="search.searchCategory">
                                    <span ng-bind="::search.strings.COPY_IN"></span>
                                    <span> </span>
                                    <strong ng-bind="search.searchData.category_display"></strong>
                                </span>
                                <span ng-if="search.searchSubCategory">
                                    <span><i class="fa fa-chevron-right"></i></span>
                                    <strong ng-bind="search.searchData.subcategory_display"></strong>
                                </span>
                            </div>
                        </div>
                        <div class="search-content__filters hidden-xs hidden-sm">
                            <div class="trulii-checkbox">
                                <input type="checkbox" id="cert" ng-model="search.checkboxFilters.withCert" ng-change="search.setCertification(search.checkboxFilters.withCert)" >
                                <label for="cert"><span></span>{{search.strings.LABEL_WITH_CERTIFICATE}}</label>
                            </div>
                            
                            <div class="trulii-checkbox">
                                <input type="checkbox" id="weekend" ng-model="search.checkboxFilters.onWeekends" ng-change="search.setWeekends(search.checkboxFilters.onWeekends)">
                                <label for="weekend"><span></span>{{search.strings.LABEL_WEEKENDS}}</label>
                            </div>
                            <div class="search-select">
                                <select class="form-control" name="sortSelect" id="sortSelect"
                                        ng-model="search.orderByPredicate" ng-change="search.changeOrderBy(search.orderByPredicate)"
                                        ng-options="option.predicate as option.name for option in search.orderByOptions | filter: search.freeOptions">
                                        <option ng-hide="search.orderByPredicate" selected
                                        ng-bind="search.strings.LABEL_SORT_BY"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 text-center  separate-above" ng-hide="search.cards.length > 0">
                    <div class="search-content__results-empty">
                            
                            <strong ng-bind="search.activitiesPaginationOpts.totalItems"></strong>
                            <span> </span>
                            <span ng-bind="::search.strings.COPY_RESULTS"></span>
                            <span> </span>
                            <span ng-if="search.searchQuery">
                                <span ng-bind="::search.strings.COPY_FOR"></span>
                                <span> </span>
                                <strong>
                                    <span ng-bind="search.searchQuery"></span>
                                </strong>
                            </span>
                            <span ng-if="search.searchCategory">
                                <span ng-bind="::search.strings.COPY_IN"></span>
                                <span> </span>
                                <strong ng-bind="search.searchData.category_display"></strong>
                            </span>
                            <span ng-if="search.searchSubCategory">
                                <span><i class="fa fa-chevron-right"></i></span>
                                <strong ng-bind="search.searchData.subcategory_display"></strong>
                            </span>
                        </div>
                    <h5 class="text-center separate-below text-muted padding-horizontal-regular">
                        <strong ng-bind="search.strings.LABEL_EMPTY_SEARCH"></strong>
                    </h5>
                    <button class="btn btn-md  btn-success"  ng-click="search.searchAll()"
                            ng-bind="search.strings.ACTION_ALL_ACTIVITIES">
                    </button>
                </div>
                <div class="flex-cards flex-cards__search separate-above-more" ng-show="search.cards.length > 0">
                    <trulii-activity-item data-activity="activity" ng-repeat="activity in search.cards"></trulii-activity-item>
                </div>
                <div class="col-xs-12 ">
                    <div class="text-center"
                        ng-if="search.activitiesPaginationOpts.totalItems > search.activitiesPaginationOpts.itemsPerPage">
                        <pagination class="pagination-sm"
                                ng-class="{'hidden-xs hidden-sm': search.showFilters}"
                                ng-model="search.activitiesPaginationOpts.pageNumber"
                                ng-change="search.pageChange()"
                                data-total-items="search.activitiesPaginationOpts.totalItems"
                                data-items-per-page="search.activitiesPaginationOpts.itemsPerPage"
                                previous-text="&lsaquo;" next-text="&rsaquo;" rotate="false"
                                max-size="search.activitiesPaginationOpts.maxPagesSize"></pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

                 
<div>
    <trulii-footer></trulii-footer>
</div>