    <div class="row">
      <div class="col-sm-6 col-md-4 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong> Inicie sesión</strong>
          </div>
          <div class="panel-body">
            <form name='vm.login_form' ng-submit="vm.login()">
              <fieldset>
                <div class="row">
                  <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="glyphicon glyphicon-envelope"></i>
                        </span> 
                        <input class="form-control" name="login" ng-model="vm.auth.email"  placeholder="Correo electrónico"  type="text" autofocus>
                      </div>
                      <div class="errors" ng-show="vm.login_form.login.$invalid">
                        {{ vm.errors.login }}
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="glyphicon glyphicon-lock"></i>
                        </span>
                        <input class="form-control" placeholder="Contraseña" name="password" ng-model="vm.auth.password"  type="password" value="">

                      </div>
                      <div class="errors" ng-show="vm.login_form.password.$invalid">
                       {{ vm.errors.password }}
                      </div>
                    </div>
                    <div class="alert alert-error" ng-show="vm.errors.__all__">
                      <strong>{{vm.errors.__all__}}</strong>
                    </div>
                    <div class="form-group">
                      <input type="submit" id="submit" class="btn btn-lg btn-primary btn-block" value="Inciar sesión">
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
          <a ui-sref="password-forgot">Olvidé mi contraseña</a>

          <div class="panel-footer ">
            No tienes cuenta <a ui-sref="register"> Registrate aquí</a>
          </div>
                </div>
      </div>
    </div>
<!-- <form name='vm.login_form' ng-submit="vm.login()">
  <div class="modal-body">
    <div class="row" >
      <div class="col-md-12">
        
        
        <fieldset>

          <a title="Facebook" class="socialaccount_provider facebook" href="javascript:allauth.facebook.login('', 'authenticate', 'login')">Facebook</a>

          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="login" ng-model="vm.auth.email" placeholder="">
            <div class="errors" ng-show="vm.login_form.login.$invalid">
              {{ vm.errors.login }}
            </div>
          </div>

          <div class="form-group">
            <label>Password</label>
            <input type="password"  class="form-control" name="password" ng-model="vm.auth.password"  placeholder="" >
            <div class="errors" ng-show="vm.login_form.password.$invalid">
             {{ vm.errors.password }}
            </div>
          </div>
          <div class="alert alert-error" ng-show="vm.errors.__all__">
            <strong>{{vm.errors.__all__}}</strong>
          </div>
          <a ui-sref="modal-dialog.password-forgot">Olvidé mi contraseña</a>
        </fieldset>   
        
      </div>
    </div>
  </div>
  <input type="submit" id="submit" class="btn btn-primary" value="Inciar Sesión"/>
</form> -->