    <div class="row">
      <div class="col-sm-6 col-md-4 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong> Sign in to continue</strong>
          </div>

          <div class="panel-body">
            <form name='vm.signup_form' ng-submit="vm.register()">
              <fieldset>
                <a title="Facebook" class="socialaccount_provider facebook" href="javascript:allauth.facebook.login('', 'authenticate', 'login')">Facebook</a>
                <div class="row">
                  <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="glyphicon glyphicon-user"></i>
                        </span> 
                        <input class="form-control" name="first_name" ng-model="vm.auth.first_name"  placeholder="Nombre"  type="text" autofocus>
                      </div>
                      <div class="errors" ng-show="vm.signup_form.first_name.$invalid">
                        {{ vm.errors.first_name }}
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="glyphicon glyphicon-user"></i>
                        </span> 
                        <input class="form-control" name="last_name" ng-model="vm.auth.last_name"  placeholder="Apellido"  type="text" autofocus>
                      </div>
                      <div class="errors" ng-show="vm.signup_form.last_name.$invalid">
                        {{ vm.errors.last_name }}
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="glyphicon glyphicon-envelope"></i>
                        </span> 
                        <input class="form-control" name="email" ng-model="vm.auth.email"  placeholder="Correo electrónico"  type="text" autofocus>
                      </div>
                      <div class="errors" ng-show="vm.signup_form.email.$invalid">
                        {{ vm.errors.email }}
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="glyphicon glyphicon-lock"></i>
                        </span>
                        <input class="form-control" placeholder="Contraseña" name="password1" ng-model="vm.auth.password1"  type="password" value="">

                      </div>
                      <div class="errors" ng-show="vm.signup_form.password1.$invalid">
                       {{ vm.errors.password1 }}
                      </div>
                    </div>
                    <input type="hidden" ng-model="vm.user_type" ng-init="vm.user_type='O'">
                    <div class="form-group">
                      <input type="submit" id="submit" class="btn btn-lg btn-primary btn-block" value="Iniciar sesión">
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
          <div class="panel-footer ">
            ¿Ya tienes cuenta? <a ui-sref="login"> Inicia sesión</a>
          </div>
        </div>
      </div>
    </div>









<!-- <div class="row" >
  <div class="col-md-12">
    <div>
      <fieldset>
      <a title="Facebook" class="socialaccount_provider facebook" href="javascript:allauth.facebook.login('', 'authenticate', 'login')">Facebook</a>

        
        <div class="form-group">
          <label>Nombre</label>
          <input type="text" class="form-control" name="first_name" ng-model="formObject.first_name"  server-error placeholder="Introduce tu nombre">
          <div class="errors" ng-show="generic_form.first_name.$invalid">
            <span ng-show="generic_form.first_name.$error.server">{{ formErrors.first_name }}</span>
          </div>
        </div>


        <div class="form-group">
          <label>Apellido</label>
          <input type="text" class="form-control" name="last_name" ng-model="formObject.last_name"  server-error placeholder="Introduce tu apellido">
          <div class="errors" ng-show="generic_form.last_name.$invalid">
            <span ng-show="generic_form.last_name.$error.server">{{ formErrors.last_name }}</span>
          </div>
        </div>

        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" name="email" ng-model="formObject.email"  server-error placeholder="Introduce un correo">
          <div class="errors" ng-show="generic_form.email.$invalid">
            <span ng-show="generic_form.email.$error.server">{{ formErrors.email }}</span>
          </div>
        </div>

        <div class="form-group">
          <label>Password</label>
          <input type="password"  class="form-control" name="password1" ng-model="formObject.password1" server-error placeholder="Introduce una contraseña" >
          <div class="errors" ng-show="generic_form.password1.$invalid">
            <span ng-show="generic_form.password1.$error.server">{{ formErrors.password1 }}</span>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</div> -->
<!-- <div class="row" >
  <div class="col-md-4 col-md-offset-4">
    <h1>Register</h1>

    <div class="well">
        <div class="form-group">

          <label for="email">Email</label>

          <input type="email" class="form-control" id="email" ng-model="formObject.email" name="email" placeholder="ex. john@notgoogle.com" / server-error>
          
          <span ng-show="formObject.email.$error.server">{{ formErrors.email }}</span>
          <div class="errors" ng-show="formObject.email.$dirty && formObject.email.$invalid">
            <span ng-show="formObject.email.$invalid">{{ formErrors.email }}</span>
          </div>
        </div>


        <div class="form-group">
          <label for="password1">Password</label>
          {{form.password1.$error.server}}
          <input type="password" class="form-control" id="password1" name="password1" ng-model="formObject.password1" placeholder="ex. thisisnotgoogleplus" server-error/>
          <div class="errors" ng-show="formObject.password1.$dirty && formObject.password1.$invalid">
            <span ng-show="formObject.password1.$error.server">{{ formErrors.password1 }}</span>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
  </div>
</div>
 -->