    <div class="row">
      <div class="col-sm-6 col-md-4 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong> Reiniciar Password</strong>
          </div>
          <div class="panel-body">
            <form name='vm.reset_password_form' ng-submit="vm.resetPassword()">
              <fieldset>
                <div class="row">
                  <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="glyphicon glyphicon-lock"></i>
                        </span>
                        <input class="form-control" placeholder="Contraseña nueva" name="password1" ng-model="vm.password1"  type="password" value="">

                      </div>
                      <div class="errors" ng-show="vm.reset_password_form.password1.$invalid">
                       {{ vm.errors.password1 }}
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="glyphicon glyphicon-lock"></i>
                        </span>
                        <input class="form-control" placeholder="Contraseña nueva (de nuevo)" name="password2" ng-model="vm.password2"  type="password" value="">

                      </div>
                      <div class="errors" ng-show="vm.reset_password_form.password2.$invalid">
                       {{ vm.errors.password2 }}
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="submit" id="submit" class="btn btn-lg btn-primary btn-block" value="Cambiar contraseña">
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>



<!-- 
<div class="modal-header">
    <h3 class="modal-title">Resetear Contraseña</h3>
</div>
<form name='vm.reset_password_form' ng-submit="vm.resetPassword()">
  <div class="modal-body">
    <div class="row" >
      <div class="col-md-12">
        
        
          <fieldset>

            <div class="form-group">
              <label>Nueva Contraseña</label>
              <input type="password" class="form-control" name="password1" ng-model="vm.password1"  server-error placeholder="Introduce la nueva contrasña">

              <ng-show="vm.activity_create_form.large_description.$invalid && !vm.activity_create_form.large_description.$dirty">
              <div class="errors" ng-show="vm.reset_password_form.password1.$invalid && !vm.reset_password_form.password1.$dirty">
                  <span>{{vm.errors.password1}}</span>
              </div>
            </div>


            <div class="form-group">
              <label>Nueva Contraseña(de nuevo)</label>
              <input type="password" class="form-control" name="password2" ng-model="vm.password2"  server-error placeholder="Introduce de nuevo tu contraseña">
              <div class="errors" ng-show="vm.reset_password_form.password2.$invalid && !vm.reset_password_form.password2.$dirty">
                  <span>{{vm.errors.password2}}</span>
              </div>
            </div>

          </fieldset>        
        
      </div>
    </div>
  </div>
  <div class="modal-footer">
      <input type="submit" id="submit" class="btn btn-primary" value="OK"/>
      <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</form>
 -->









<!-- <div class="row" >
  <div class="col-md-4 col-md-offset-4">
    <h1>Register</h1>

    <div class="well">
        <div class="form-group">

          <label for="email">Email</label>

          <input type="email" class="form-control" id="email" ng-model="formObject.email" name="email" placeholder="ex. john@notgoogle.com" / server-error>
          
          <span ng-show="formObject.email.$error.server">{{ formErrors.email }}</span>
          <div class="errors" ng-show="formObject.email.$dirty && formObject.email.$invalid">
            <span ng-show="formObject.email.$invalid">{{ formErrors.email }}</span>
          </div>
        </div>


        <div class="form-group">
          <label for="password1">Password</label>
          {{form.password1.$error.server}}
          <input type="password" class="form-control" id="password1" name="password1" ng-model="formObject.password1" placeholder="ex. thisisnotgoogleplus" server-error/>
          <div class="errors" ng-show="formObject.password1.$dirty && formObject.password1.$invalid">
            <span ng-show="formObject.password1.$error.server">{{ formErrors.password1 }}</span>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
  </div>
</div>
 -->