

 <div class="container-fluid">
        
  <div class="row">

    <div class="col-sm-2 sidebar">
      
      <li><a ui-sref=".general" class="sidebar__item sidebar__item--selected">General</a></li>

    </div>


    <div class="col-sm-offset-2 col-sm-10 with-sidebar" ui-view>
      

    </div>

  </div>
</div>

<!--

<div class="container-fluid">
  <div class="col-sm-2">
      <nav class="nav-sidebar">
      <ul class="nav tabs">

            <li><a ui-sref=".general">General</a></li>
            <li><a ui-sref=".general">Detalles</a></li>
      </ul>
    </nav>
      <div><h2 class="add">Place for your add!</h2></div>
  </div>
  <div class="tab-content">

  </div>
</div>

-->