<form name="vm.enrollForm" novalidate ng-submit="vm.enroll()">
    <div>
        <a ng-click="vm.minus()" style="cursor: pointer;">-</a>
        <span>{{ vm.quantity }}</span>
        <a ng-click="vm.plus()" style="cursor: pointer;">+</a>
    </div>

    <div class="form-group" ng-repeat="assistant in vm.assistants">
        <input class="form-control" name="first_name" type="text" placeholder="Nombre"  ng-model="assistant.first_name" required/>
        <div class="errors"  ng-show="vm.enrollForm.first_name.$invalid && !vm.enrollForm.first_name.$dirty">
          <span>{{ vm.errors.assistants[$index].first_name[0] }}</span>
        </div>

        <input class="form-control" name="last_name" type="text" placeholder="Apellido" ng-model="assistant.last_name" required/>
        <div class="errors"  ng-show="vm.enrollForm.last_name.$invalid && !vm.enrollForm.last_name.$dirty">
          <span>{{ vm.errors.assistants[$index].last_name[0] }}</span>
        </div>

        <input class="form-control" name="email" type="email" placeholder="Email" ng-model="assistant.email" required/>
        <div class="errors"  ng-show="vm.enrollForm.email.$invalid && !vm.enrollForm.email.$dirty">
          <span>{{ vm.errors.assistants[$index].email[0] }}</span>
        </div>
    </div>
    <button type="submit" class="btn btn-default">Inscribir</button>
</form>