
@import "bootstrap-variables"


.sidebar
	position: fixed
	top: $navbar-height + 1
	bottom: 0
	left: 0
	display: block
	z-index: 1000	
	overflow-x: hidden
	overflow-y: auto	
	background: red
	padding: 20px 0

	&__item
		display: block
		width: 100%
		padding: 15px



