<div class="container">

    <div class="card z-shadow-1">
        <div class="col-md-3 card__lateral-menu">

            <div class="card__lateral-menu__title">
                <i class="mdi-action-account-circle"></i> Mi Perfil
            </div>

            <form name="profile.picture_form">
                <div class="form-group">

                    <div class="img-input center-childs">

                        <div class="profile-photo profile-photo--xs img-size-cover img-position-center"
                             style="background-image: url('{{profile.student.photo}}')">


                            <trulii-preloader loader-control="profile.photo_loading"></trulii-preloader>

                        </div>

                    </div>

                    <div class="center-childs">

                        <div
                                ng-model="profile.student.photo_url" ng-file-drop="" ng-file-select=""
                                ng-multiple="false"
                                drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
                                ng-file-change="profile.uploadPicture(profile.student.photo_url)"
                                allow-dir="true" accept="image/*">


                            <button class="btn btn-bgsecondary btn-raised" aria-label="Eliminar"
                                    alt="Cambiar foto">
                                Cambiar foto
                            </button>
                        </div>
                    </div>

                    <div class="errors" ng-show="profile.photo_invalid">
                        <span>{{ profile.errors.photo }}</span>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-9 card-body col-md-offset-3">
            <div class="tab-content">
                <div class="tab-pane active text-style" id="profile-tab">
                    <form name="profile.profile_form" class="form-horizontal material-form"
                          ng-submit="profile.updateProfile()">
                        <fieldset>

                            <div class="row-fluid clearfix">
                                <div class="col-md-6">
                                    <div class="form-group no-margin input--main">
                                        <label for="first_name" class="control-label">Nombres</label>
                                        <input id="first_name" class="form-control text-left text-capitalize"
                                               name="first_name"
                                               ng-model="profile.student.user.first_name" type="text"
                                               placeholder="Nombres"/>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group no-margin input--main">
                                        <label for="last_name" class="control-label">Apellidos</label>
                                        <input id="last_name" class="form-control text-left text-capitalize"
                                               name="last_name"
                                               ng-model="profile.student.user.last_name" type="text"
                                               placeholder="Apellidos"/>

                                    </div>
                                </div>
                            </div>

                            <!-- <div class="form-group">
                                <h3>Información</h3>
                                <h4 class="text-muted">
                                    Completa la información de tu perfil
                                </h4>
                            </div> -->

                            <div class="row-fluid clearfix separate-above">
                                <div class="col-md-6">
                                    <div class="form-group no-margin">
                                        <label class="control-label" for="gender">Género</label>

                                        <select id="gender" class="form-control" ng-model="profile.selected_gender"
                                                name="gender"
                                                ng-options="gender as gender.name for gender in profile.genders track by gender.name"
                                                ng-change="profile.selectGender(profile.selected_gender)">
                                            <option value="" ng-show="!profile.student.gender"
                                                    selected>Seleccione...
                                            </option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group no-margin">
                                        <label class="control-label" for="birth_date">Fecha de Nacimiento</label>
                                        <div>
                                            <div class="col-md-9">
                                                <input id="birth_date" type="text" class="form-control" name="birth_date" 
                                                       ng-model="profile.student.birth_date"
                                                       datepicker-popup="{{profile.format}}" is-open="profile.opened" max-date="profile.maxStartDate"
                                                        datepicker-options="profile.dateOptions"
                                                       close-text="Close" ng-click="profile.openDatePicker($event)"/>
                                            </div>
                                            <div class="col-md-1">
<!--                                                 <button class="btn btn-default btn-sm no-margin" >
                                                    <i class="mdi-action-event"></i>
                                                </button> -->
                                            </div>
                                        </div>

                                        <trulii-input-alert field="profile_form.birth_date"
                                                            errors="profile.errors"></trulii-input-alert>
                                    </div>
                                </div>
                            </div>

                            <div class="row-fluid clearfix separate-above">

                                <div class="col-md-6">
                                    <div class="form-group no-margin">
                                        <label class="control-label" for="city">Ciudad</label>

                                        <label for="home-city-selector" class="sr-only">Cities</label>
                                        <select id="home-city-selector" class="form-control" name="city" ng-model="profile.selected_city"
                                                ng-options="city as city.name for city in profile.cities track by city.id"
                                                ng-change="profile.selectCity(profile.selected_city)">
                                        </select>

<!--                                         <input id="city" class="form-control text-capitalize" name="city"
                                               ng-model="profile.student.user.city" type="text"/>
 -->
                                    </div>
                                </div>

                            </div>

                            <div class="row-fluid clearfix separate-above">
                                <div class="col-md-12">
                                    <div class="form-group no-margin">
                                        <label class="control-label" for="bio">Cuéntanos un poco sobre tí, otros querrán
                                            conocerte</label>
                                    
                                    <textarea id="bio" class="form-control" name="bio"
                                              rows="5" ng-maxlength="profile.bio_max"
                                              ng-model="profile.student.user.bio"></textarea>

                                    </div>
                                </div>
                            </div>

                        </fieldset>

                        <div class="separate-above">
                            <trulii-submit-controls is-saving="profile.isSaving"
                                                    value="Guardar"></trulii-submit-controls>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>

</div>