<div class="container">
    
    <div class="card z-shadow-1" style="min-height: 30em">
        
        <div class="row-fluid clearfix">
            
            <div class="col-md-3 card__lateral-menu">
                <div class="card__lateral-menu__title">
                    <i class="mdi-action-settings"></i> Mis Actividades                    
                </div>
                <ul>
                    <li class="card__lateral-menu__item active" data-toggle="tab" data-target="#current-tab">
                        <a > <i class="mdi-action-https"></i>  Actuales</a>
                    </li>
                    <li class="card__lateral-menu__item" data-toggle="tab" data-target="#history-tab">
                        <a> <i class="mdi-communication-email"></i> Anteriores</a>
                    </li>
                    
                </ul>
            </div>

            <div class="col-md-9 col-md-offset-3">

                <div class="card-body tab-content">                    

                    <div  class="tab-pane text-style active fade  in" id="current-tab">
                        <h4 class="text-muted">
                            Revisa las actividades que estás cursando actualmente o que inician próximamente.
                        </h4>
                        <div class="row gallery-grid separate-above">
                            <div class="col-md-12" 
                                    ng-repeat="activity in activities.activities track by activity.id"
                                    
                                    >
                                <a ui-sref="activities-detail({activity_id: {{activity.id}} })" class="gallery-grid__photo gallery-grid__photo--grand img-fit" style="background: url('{{activity.main_photo}}')" alt="{{activity.title}}">

                                    <div class="gallery-grid__photo__caption">
                                        <span class="gallery-grid__photo__caption__title" ng-bind="::activity.title"></span>
                                        <span class="gallery-grid__photo__caption__complement" ng-bind="::activity.organizer.name"></span>
                                        
                                        <span class="gallery-grid__photo__caption__actions">
                                            
                                            <button class="btn">Contactar</button>
                                            
                                        </span>                                        
                                        <div class="gallery-grid__photo__caption__organizer img-fit" style="background-image: url('{{activity.organizer.photo}}')"></div>
                                    </div>    
                                </a>                               
                            </div>
                        </div>
                    </div>

                    <div  class="tab-pane text-style fade" id="history-tab">
                        <h4 class="text-muted">
                            Revisa las actividades que estás cursando actualmente o que inician próximamente.
                        </h4>
                        <div class="row gallery-grid separate-above">
                            <div class="col-md-6" 
                                    ng-repeat="activity in activities.activities track by activity.id"
                                    
                                    >

                                <!-- Course Card -->
                                <!-- Agregar la clase 'gallery-grid__photo--grand' para pasar a tarjeta grande  -->

                                <a ui-sref="activities-detail({activity_id: {{activity.id}} })" class="gallery-grid__photo img-fit" style="background: url('{{activity.main_photo}}')" alt="{{activity.title}}">

                                    <!-- PRICE -->
                                   <!-- <span class="gallery-grid__photo__price"> 300.000</span> -->

                                    <div class="gallery-grid__photo__caption">
                                        <span class="gallery-grid__photo__caption__title" ng-bind="::activity.title"></span>
                                        <span class="gallery-grid__photo__caption__complement" ng-bind="::activity.organizer.name"></span>

                                        <!-- Las estrellas se muestran en el dashboard de búsqueda sólo si ya alguien ha rankeado -->

                                        <!-- RANKER -->

                                        <!--
                                        <span class="ranking-star">
                                            <i class="mdi-action-grade ranking-star__star"></i>
                                            <i class="mdi-action-grade ranking-star__star"></i>
                                            <i class="mdi-action-grade ranking-star__star"></i>
                                            <i class="mdi-action-grade ranking-star__star"></i>
                                            <i class="mdi-action-grade ranking-star__star ranking-star__star--empty"></i> 
                                        </span>
                                        -->

                                        <div class="gallery-grid__photo__caption__organizer img-fit" style="background-image: url('{{activity.organizer.photo}}')"></div>
                                        <span class="gallery-grid__photo__caption__actions">
                                            <!-- Inicia en 3 días -->

                                            <!-- <button class="btn">Contactar</button>
                                                <button class="btn">Ver</button> -->

                                        </span>
                                    </div>    
                                </a>    

                                <!-- -->


                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

