


<div class="navbar-secondary">

    <ul>
        <li class="navbar-secondary__item active" data-toggle="tab" data-target="#change-password-tab">
            <span ng-bind="::account.strings.TAB_PASSWORD"></span>
        </li>

        <li class="navbar-secondary__item" data-toggle="tab" data-toggle="tab" data-target="#settings-tab">
            <span ng-bind="::account.strings.TAB_EMAIL"></span>
        </li>   
    </ul>    
    
</div>


<div class="row">

    <div class="col-md-6 col-md-offset-1 tab-content">
        
            <div class="tab-pane active fade  in" id="change-password-tab">

                <p class="text-muted" ng-bind="::account.strings.COPY_TAB_PASSWORD"></p>
                <form name='account.account_form_password' ng-submit="account.changePassword()">
                    <fieldset>                                
                                            
                        <div class="form-group" trulii-input-errors-control="oldpassword">
                            <label class="control-label" for="oldpassword"
                                   ng-bind="::account.strings.LABEL_CURRENT_PASSWORD"></label>
                            <input id="oldpassword" class="form-control" name="oldpassword"
                                   type="password"
                                   ng-model="account.password_data.oldpassword">
                        </div>
                        <div class="form-group" trulii-input-errors-control="password1">
                            <label class="control-label" for="password1"
                                   ng-bind="::account.strings.LABEL_NEW_PASSWORD"></label>
                            <input id="password1" class="form-control" name="password1"
                                   ng-model="account.password_data.password1"
                                   type="password">
                        </div>
                        <div class="form-group" trulii-input-errors-control="password2">
                            <label class="control-label" for="password2"
                                   ng-bind="::account.strings.LABEL_CONFIRM_PASSWORD"></label>
                            <input id="password2" class="form-control" name="password2"
                                   type="password"
                                   ng-model="account.password_data.password2">
                        </div>
                            
                        
                        <trulii-submit-controls is-saving="account.isSaving"
                                data-value="{{::account.strings.ACTION_SAVE}}"></trulii-submit-controls>
                        
                    </fieldset>
                </form>

            </div>
            <div class="tab-pane fade" id="settings-tab">
                <form name='account.account_form_email' ng-submit="account.changeEmail()">
                    <fieldset>
                        
                            <p class="text-muted" ng-bind="::account.strings.COPY_TAB_EMAIL"></p>
                                            
                            
                            <div class="form-group" trulii-input-errors-control="email">
                                <label class="control-label" for="email"
                                       ng-bind="::account.strings.LABEL_EMAIL"></label>
                                <input id="email" class="form-control" name="email"
                                       ng-model="account.student.email" type="email"/>
                            </div>
                        
                        
                            <trulii-submit-controls is-saving="account.isSaving"
                                data-value="{{account.strings.ACTION_SAVE}}"></trulii-submit-controls>
                        
                        
                    </fieldset>
                </form>
            </div>

         
    </div>
    
</div>

