<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Trulii Stylesguide</title>

	<link rel="stylesheet" href="css/trulii.css">

	<script src="lib/jquery/dist/jquery.js"></script>
	<script src="lib/angular/angular.js"></script>
	<script src="js/ui-components/ui-components.module.js"></script>
	<script src="js/ui-components/directives/input-alert.directive.js"></script>
	<script src="js/ui-components/directives/input-autofocus.directive.js"></script>
	<script src="js/ui-components/directives/preloader.directive.js"></script>
	<script src="js/ui-components/directives/submit.directive.js"></script>
	<script src="js/ui-components/directives/card-expandable.directive.js"></script>
	<script src="js/ui-components/services/toast.service.js"></script>

	<script>

	(function(){
		angular
			.module('trulii.styleguide', ['trulii.ui-components'])

			.controller('ExpandableContentTest', ExpandableContentTest);

			function ExpandableContentTest($scope){

				$scope.toggle = false;

				$scope.items = [];

				$scope.addItem = function(){

					$scope.items.push("Item " + ($scope.items.length + 1)) ;
				}

				$scope.removeItem = function(i){
					$scope.items.splice(i, 1);
				}
			}
	})()
	</script>
</head>
<body ng-app="trulii.styleguide">
	<!-- NAV BAR -->
	<nav class="navbar navbar-default navbar-fixed-top">
	    <div class="container-fluid">
	        <div class="navbar-header page-scroll">
	            <button type="button" class="navbar-toggle" data-toggle="collapse"
	                    data-target="#bs-example-navbar-collapse-1">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>
	            <a ui-sref="home" class="navbar__logo"></a>
	        </div>
	    </div>
	</nav>

	<div class="container-fluid with-navbar">
				<div class="row">
			<div class="col-sm-12 bg-secondary" style="padding: 1em 0; ">
				<h1 class="center-childs grand-title" >
					Trulii Style Guide
				</h1>
				<p class="center-childs" style="font-size: 1.4em">
					Componentes de UI de Trulii. Fundamentados en <a href="http://fezvrasta.github.io/bootstrap-material-design/bootstrap-elements.html">Material-Bootstrap</a> y <a href="http://materializecss.com/">Materialize.</a> 
				</p>
			</div>
		</div>	

		<div class="row">
			<div class="col-sm-12">
				<h2>Cards</h2>
				
				<div class="row">
					<div class="col-sm-6">
						<div class="card">
							<div class="card-header">
								<h2>.card-header</h2>
							</div>
							<div class="card-body">
								.card-body
							</div>	
							<div class="card-footer">
								.card-footer
							</div>
						</div>
						
					</div>	

					<div class="col-sm-6">
						<div class="card shadow-z-1">
							<div class="card-header">
								<h2>Con .shadow-z-1</h2>
							</div>
							<div class="card-body">
								Con la clase shadow-z-*, puede controlarse el nivel de la tarjeta. Los niveles van de 0 a 5.
							</div>	
						</div>
						
					</div>	
						
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="card">
							<div class="card-header">
								<div class="form-group input--main">
									<input type="text" class="form-control" placeholder="Header con input">
								</div>
							</div>
							<div class="card-body">
								Card body
							</div>	
						</div>
						
					</div>	
						
				</div>


			</div>

		</div>

		<div class="row">
			<div class="col-sm-12">
				<h2>Expandable Content</h2>
				<div class="col-sm-4" ng-controller="ExpandableContentTest">
					<div class="card shadow-z-1">
						<div class="card-header center-childs">
							<button class="btn btn-success" ng-click="toggle = !toggle">
							<span ng-show="!toggle">Expandir</span>
							<span ng-show="toggle">Retraer</span>
							</button>
						</div>
					
						<div class="card-body" trulii-expandable-content toggle="toggle"  >
							Con la clase shadow-z-*, puede controlarse el nivel de la tarjeta. Los niveles van de 0 a 5.
						</div>									
						

					</div>
					
				</div>	

				<div class="col-sm-4" ng-controller="ExpandableContentTest">
					<div class="card shadow-z-1">
						<div class="card-header center-childs">							
							<button class="btn btn-success" ng-click="addItem()">
							Agregar item							
							</button>
						</div>
					
						<div class="card-footer" trulii-expandable-content ng-repeat="i in items" >
							<div class="row">								
								{{i}}		
								
							</div>
							 
						</div>									
						

					</div>
					
				</div>	
			</div>
		</div>
	</div>


	
</body>
</html>