<form name='account.account_form_email' ng-submit="account.changeEmail()">
    <fieldset>
        <p class="text-muted" ng-bind="::account.strings.COPY_TAB_EMAIL"></p>
        <div class="form-group" trulii-input-errors-control="email">
            <label class="control-label" for="email"
                   ng-bind="::account.strings.LABEL_EMAIL"></label>
            <input id="email" class="form-control" name="email"
                   ng-model="account.student.user.email" type="email"/>
        </div>
        <trulii-submit-controls is-saving="account.isSaving"
            data-value="{{account.strings.ACTION_SAVE}}"></trulii-submit-controls>
    </fieldset>
</form>
