<p class="text-muted separate-below-more" ng-bind="::account.strings.COPY_TAB_PASSWORD"></p>
<form class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-0" name='account.account_form_password' ng-submit="account.changePassword()">
    <div class="row">
        <div class="col-xs-12 col-lg-8">
            <fieldset>
                <div class="form-group" trulii-input-errors-control="password">
                    <label class="control-label" for="password"
                        ng-bind="::account.strings.LABEL_CURRENT_PASSWORD"></label>
                    <input id="password" class="form-control" name="password"
                        type="password"
                        ng-model="account.password_data.password">
                </div>
                <div class="form-group" trulii-input-errors-control="password1">
                    <label class="control-label" for="password1"
                        ng-bind="::account.strings.LABEL_NEW_PASSWORD"></label>
                    <input id="password1" class="form-control" name="password1"
                        ng-model="account.password_data.password1"
                        type="password">
                </div>
                <div class="form-group" trulii-input-errors-control="password2">
                    <label class="control-label" for="password2"
                        ng-bind="::account.strings.LABEL_CONFIRM_PASSWORD"></label>
                    <input id="password2" class="form-control" name="password2"
                        type="password"
                        ng-model="account.password_data.password2">
                </div>
                <trulii-submit-controls is-saving="account.isSaving"
                        data-value="{{::account.strings.ACTION_SAVE}}"></trulii-submit-controls>
            </fieldset>
        </div>
    </div>
</form>
