<!--If there are activities-->
<div ng-if="activities.future_activities.length > 0">
  <div class="row">
    <div class="col-xs-12 dynamic-layout-wrapper separate-below">
        <div class="dynamic-layout-container-fluid separate-above-medium">
          <div class="text-center">
              <div dynamic-layout items="activities.future_cards" class="dynamic-layout"></div>
          </div>
        </div>
      </div>
  </div>
  <div class="text-center" ng-if="activities.nextPaginationOpts.totalItems > activities.nextPaginationOpts.itemsPerPage">
    <pagination class="pagination-sm"
      ng-model="activities.nextPaginationOpts.pageNumber"
      ng-change="activities.updateByQuery(activities.TYPE_NEXT)"
      data-total-items="activities.nextPaginationOpts.totalItems"
      data-items-per-page="activities.nextPaginationOpts.itemsPerPage"></pagination>
  </div>
</div>

<!--If there are no activities-->
<div ng-if="activities.future_activities.length <= 0" class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
        <img class="separate-below-less" width="120" ng-src="{{dash.getAmazonUrl('static/img/student_dashboard_activities_empty.png')}}"
             alt="{{activities.strings.LABEL_EMPTY_ACTIVITIES}}"/>
        <h4 class="standout-text" ng-bind="::activities.strings.LABEL_EMPTY_ACTIVITIES"></h4>
        <div class="separate-below separate-above standout-text"
             ng-bind="::activities.strings.COPY_EMPTY_ACTIVITIES">
        </div>
        <button class="btn btn-lg btn-success" ng-click="activities.searchActivities()"
           ng-bind="activities.strings.ACTION_SEARCH_ACTIVITIES">
        </button>
    </div>
</div>
