<div class="row">

    <div class="col-md-10 col-md-offset-1 tab-content">

        <div class="card-body tab-content">
            <div class="tab-pane active fade in" id="history-orders-tab">
                <!--If there are orders-->
                <div ng-if="history.orders.length > 0">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group search-input">
                                <label class="control-label sr-only"
                                       ng-bind="::history.strings.LABEL_SEARCH"></label>

                                <div class="input-group">
                                    <input class="form-control floating-label" type="text"
                                           ng-model="history.orderQuery"
                                           placeholder="{{history.strings.COPY_SEARCH}}">
                                    <span class="input-group-addon">
                                        <i class="mdi-action-search"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive table-fixed table-condensed">
                                <table class="table table-hover">
                                    <tr class="text-center">
                                        <th><strong ng-bind="::history.strings.HEADER_ORDER"></strong></th>
                                        <th><strong ng-bind="::history.strings.HEADER_ACTIVITY"></strong></th>
                                        <th><strong ng-bind="::history.strings.HEADER_DATE"></strong></th>
                                        <th><strong ng-bind="::history.strings.HEADER_TOTAL"></strong></th>
                                    </tr>
                                    <tr ng-repeat="order in history.orders track by order.id | filter:history.orderQuery">
                                        <td>
                                            <a ui-sref="student-dashboard.history.orders.order({'orderId': order.id})" ng-bind="order.id"></a>
                                        </td>
                                        <td>
                                            <span ng-bind="::(history.strings.COPY_EMPTY_ORDERS | limitTo: 35) + '...'"></span>
                                            <br/>
                                            <strong ng-bind="::history.strings.COPY_START_DATE"></strong> <span>13 Jun 2015</span>
                                        </td>
                                        <td>
                                            <span>14 Ene. 2015</span>
                                        </td>
                                        <td>
                                            <span ng-bind="order.amount | currency"></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
                <!--If there are no orders-->
                <div ng-if="history.orders.length <= 0" class="row">
                    <div class="col-md-12">
                        <h4 ng-bind="::history.strings.LABEL_EMPTY_ORDERS"></h4>

                        <p ng-bind="::history.strings.COPY_EMPTY_ORDERS"></p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
