<div class="col-xs-12">
  <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1 tab-content">
          <div class="card-body tab-content">
              <div class="tab-pane active fade in" id="history-orders-tab">
                  <!-- If there are orders-->
                  <div ng-if="history.refunds.length > 0">
                      <div class="row">
                          <div class="col-xs-12">
                              <div class="form-group search-input">
                                  <div class="row">
                                      <div class="col-xs-12">
                                          <p class="control-label sr-only text-center pt-serif"
                                            ng-bind="::history.strings.LABEL_SEARCH"></p>
                                      </div>
                                  </div>
                                  <div class="row dashboard-filters separate-below hidden-xs hidden-sm hidden-md hidden-lg">
                                        <div class="col-xs-6 col-md-2">
                                          <div class="input-group filter-group">
                                            <span class="input-group-addon" id="from_date_icon" ng-click="history.openDatePicker($event, 'refunds_from_date')">
                                              <i class="mdi-action-today"></i>
                                            </span>
                                            <input id="from_date" type="text" class="form-control date-picker"
                                              aria-describedby="from_date_icon"
                                              name="from_date"
                                              placeholder="Desde"
                                              ng-model="history.refundsFilter.from_date"
                                              datepicker-popup="{{::history.format}}"
                                              data-is-open="history.refundsFilter.from_date_opened"
                                              data-max-date="history.maxStartDate"
                                              data-datepicker-options="history.dateOptions"
                                              data-close-text="{{history.strings.ACTION_CLOSE}}"
                                              ng-click="history.openDatePicker($event, 'refunds_from_date')"/>
                                          </div>
                                        </div>
                                        <div class="col-xs-6 col-md-2">
                                          <div class="input-group filter-group">
                                            <span class="input-group-addon" id="until_date_icon" ng-click="history.openDatePicker($event, 'refunds_until_date')">
                                              <i class="mdi-action-today"></i>
                                            </span>
                                            <input id="until_date" type="text" class="form-control date-picker"
                                              aria-describedby="until_date_icon"
                                              name="until_date"
                                              placeholder="Hasta"
                                              ng-model="history.refundsFilter.until_date"
                                              datepicker-popup="{{::history.format}}"
                                              data-is-open="history.refundsFilter.until_date_opened"
                                              data-max-date="history.maxStartDate"
                                              data-datepicker-options="history.dateOptions"
                                              data-close-text="{{history.strings.ACTION_CLOSE}}"
                                              ng-click="history.openDatePicker($event, 'refunds_until_date')"/>
                                          </div>
                                        </div>
                                        <div class="col-xs-6 col-md-2">
                                          <div class="input-group filter-group">
                                            <span class="input-group-addon" id="activity_icon">
                                              <i class="mdi mdi-action-dashboard"></i>
                                            </span>
                                            <select name="activity"
                                              id="" class="form-control"
                                              ng-model="history.refundsFilter.activity"
                                              aria-describedby="activity_icon"
                                              ng-options="activity.id as activity.title for activity in history.activityList">
                                              <option value="">Actividad</option>
                                            </select>
                                          </div>
                                        </div>
                                        <div class="col-xs-6 col-md-2">
                                          <div class="input-group filter-group">
                                            <select name="status" 
                                              id="" class="form-control"
                                              ng-model="history.refundsFilter.status">
                                              <option value="">Estatus</option>
                                              <option value="approved">Aprobadas</option>
                                              <option value="pending">Pendientes</option>
                                              <option value="cancelled">Canceladas</option>
                                              <option value="declined">Rechazadas</option>
                                            </select>
                                          </div>
                                        </div>
                                        <div class="col-xs-6 col-md-3">
                                          <input class="form-control floating-label" type="text"
                                            ng-model="history.refundsFilter.query"
                                            placeholder="{{::history.strings.COPY_SEARCH_ORDERS_HELPER}}"/>
                                        </div>
                                        <div class="col-xs-6 col-md-1">
                                          <button class="btn btn-default btn-block" ng-click="history.updateByQuery(history.TYPE_REFUNDS)">
                                            <i class="mdi-action-search"></i>
                                          </button>
                                        </div>
                                      </div>
                              </div>
                          </div>
                      </div>
                      <!--If there are refunds-->
                      <div class="row" ng-if="history.refunds.length > 0">
                          <div class="col-xs-12">
                              <div class="table-responsive table-fixed table-condensed">
                                  <table class="table table-hover">
                                      <tr class="text-center">
                                          <th><strong ng-bind="::history.strings.HEADER_ORDER"></strong></th>
                                          <th><strong ng-bind="::history.strings.HEADER_ACTIVITY"></strong></th>
                                          <th class="hidden-xs hidden-sm"><strong ng-bind="::history.strings.HEADER_REFUND_DATE"></strong></th>
                                          <th class="hidden-xs hidden-sm"><strong ng-bind="::history.strings.HEADER_REFUND_TOTAL"></strong></th>
                                          <th class="hidden-xs hidden-sm"><strong ng-bind="::history.strings.HEADER_ASSISTANT"></strong></th>
                                          <th class="hidden-xs hidden-sm"><strong ng-bind="::history.strings.HEADER_REFUND_STATUS"></strong></th>
                                          <th class="hidden-md hidden-lg"></th>
                                      </tr>
                                      <tr ng-repeat="refund in history.refunds track by refund.id | filter:history.refundQuery">
                                          <td>
                                              <a ui-sref="student-dashboard.history.orders.order({'orderId': refund.order,
                                              'previousState':{'state':'student-dashboard.history.refunds'}}) " ng-bind="refund.order"></a>
                                          </td>
                                          <td>
                                              <span ng-bind="::(refund.activity.title | truncateText:true:35:'...')"></span>
                                          </td>
                                          <td class="hidden-xs hidden-sm">
                                              <span class="text-capitalize" ng-bind="::refund.created_at | date:'EEEE d MMM y'"></span>
                                          </td>
                                          <td class="hidden-xs hidden-sm">
                                              <span ng-bind="::(refund.amount | currency:$:0)"></span>
                                          </td>
                                          <td class="hidden-xs hidden-sm">
                                              <span class="text-capitalize" ng-show="::refund.assistant" ng-bind="::(refund.assistant.full_name)"></span>
                                              <span ng-show="::!refund.assistant" ng-bind="::history.strings.LABEL_EVERYBODY"></span>
                                          </td>
                                          <td class="hidden-xs hidden-sm">
                                              <span class="sinkin-medium" ng-bind="::refund.status"></span>
                                          </td>
                                          <td class="column-button hidden-md hidden-lg">
                                            <a ui-sref="student-dashboard.history.orders.order({'orderId': order.id})">
                                              <button class="btn btn-default">
                                                <span class="hidden-md hidden-lg">
                                                  >
                                                </span>
                                              </button>
                                            </a>
                                          </td>
                                      </tr>
                                  </table>
                                  <div class="text-center" ng-if="history.refundsPaginationOpts.totalItems > history.refundsPaginationOpts.itemsPerPage">
                                      <pagination class="pagination-sm"
                                        ng-model="history.refundsPaginationOpts.pageNumber"
                                        ng-change="history.updateByQuery(history.TYPE_REFUNDS)"
                                        data-total-items="history.refundsPaginationOpts.totalItems"
                                        data-items-per-page="history.refundsPaginationOpts.itemsPerPage"></pagination>    
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!--If there are no refunds-->
                  <div ng-if="history.refunds.length <= 0" class="row">
                      <div class="row">
                          <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
                              <img ng-src="{{dash.getAmazonUrl('static/img/student_dashboard_activities_empty.png')}}"
                                  alt="{{history.strings.LABEL_EMPTY_REIMBURSEMENT}}"/>
                              <h3 class="separate-below separate-above montserrat-ultralight text-muted" ng-bind="::history.strings.LABEL_EMPTY_REFUND">
                              </h3>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>