<div class="row order-detail">
    <!--ng-bind="::history.strings.HEADER_ACTIVITY"-->
    <div class="col-xs-4 order-description">
        <h5 class="sinkin-semibold">Orden #4</h5>
        <br/>
        <h5 class="sinkin-ultralight">Actividad</h5>
        <h5 class="sinkin-semibold">Yoga en el parque</h5>
        <br/>
        <h5 class="sinkin-ultralight">Forma de pago</h5>
        <h5 class="sinkin-semibold">Credito *****1234</h5>
        <br/>
        <h5 class="sinkin-ultralight">Realizado el dia:</h5>
        <h5 class="sinkin-semibold">19 Jun 2014</h5>
    </div>
    <div class="col-xs-8 order-info">
        <div class="table-responsive table-fixed table-condensed">
            <table class="table table-hover" valign="middle">
                <tr class="text-center">
                    <th><strong>Asistente</strong></th>
                    <th><strong>Correo</strong></th>
                    <th><strong>Precio</strong></th>
                    <th><strong></strong></th>
                </tr>
                <tr>
                    <td>
                        <span>Tyler Durden</span>
                    </td>
                    <td>
                        <span>tyler@fightclub.com</span>
                    </td>
                    <td>
                        <span ng-bind="100000 | currency"></span>
                    </td>
                    <td>
                        <button class="btn btn-default">Reembolsar <br/>asistente</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Tyler Durden</span>
                    </td>
                    <td>
                        <span>tyler@fightclub.com</span>
                    </td>
                    <td>
                        <span ng-bind="100000 | currency"></span>
                    </td>
                    <td>
                        <button class="btn btn-default">Reembolsar <br/>asistente</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <h4>Total</h4>
            </div>
            <div class="col-xs-5">
                <h4 class="text-right" ng-bind="100000 | currency"></h4>
            </div>
            <div class="col-xs-4">
                <button class="btn btn-block btn-primary">Reembolsar orden</button>
            </div>
        </div>
    </div>
</div>