<div class="row">
    <div class="col-md-12">
        <div class="table-responsive table-fixed table-condensed">
            <table class="table table-hover">
                <tr class="text-center">
                    <th><strong ng-bind="::history.strings.HEADER_ORDER"></strong></th>
                    <th><strong ng-bind="::history.strings.HEADER_ACTIVITY"></strong></th>
                    <th><strong ng-bind="::history.strings.HEADER_DATE"></strong></th>
                    <th><strong ng-bind="::history.strings.HEADER_TOTAL"></strong></th>
                </tr>
                <tr ng-repeat="order in history.orders track by order.id | filter:history.orderQuery">
                    <td>
                        <a ui-sref="student-dashboard.history.order({'orderId': order.id})" ng-bind="order.id"></a>
                    </td>
                    <td>
                        <span ng-bind="::(history.strings.COPY_EMPTY_ORDERS | limitTo: 35) + '...'"></span>
                        <br/>
                        <strong ng-bind="::history.strings.COPY_START_DATE"></strong> <span>13 Jun 2015</span>
                    </td>
                    <td>
                        <span>14 Ene. 2015</span>
                    </td>
                    <td>
                        <span ng-bind="order.amount | currency"></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>