<div class="navbar-secondary" ng-class="{'navbar-secondary-short': dash.scroll > 80}">
</div>
<div class="col-md-11 col-md-offset-1">
    <div class="row dashboard-messages">
        <div class="col-xs-12 col-md-9 col-md-offset-1 separate-above ">
            <form class="separate-above  ">
                <fieldset>
                    <div class="form-group" >

                        <input type="text" class="form-control" placeholder="{{::messages.strings.SEARCH_PLACEHOLDER}}" ng-model='messages.search'
                        name="search" id="search"> <i class="mdi mdi-action-search"></i></input>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="separate-above dashboard-messages-container col-xs-12 col-md-9 col-md-offset-1">
        <a ui-sref="student-dashboard.messages-detail({'messageId': 1})"  class="row student">
              <div class="col-xs-12 row separate-below-less">
                  <div class="col-md-1">
                      <img class="user-picture" src="css/img/default_profile_pic.jpg" alt="">
                  </div>
                  <div class="col-md-7 text-line-more-xl">
                      <span class=" text-dark montserrat-semibold">Universidad de los Andes</span>
                  </div>
                  <div class="col-md-4 text-line-more-xl text-right">
                      <span class="text-gray-light montserrat-light">14, Ene. 2016</span>
                  </div>
              </div>
             <div class="col-xs-12 col-md-11 col-md-offset-1">
                 <div class="text-dark montserrat-regular">
                     <span>Clases de yoga en el virrey</span>
                 </div>
                 <div class="montserrat-light">
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione sit animi tempora soluta odio ea reprehenderit at voluptatibus tenetur, suscipit molestias facilis, veniam itaque error. Cum odio, vitae error atque.</p>
                 </div>
             </div>

        </a>
        <a ui-sref="student-dashboard.messages-detail({'messageId': 1})"  class="row student">
              <div class="col-xs-12 row separate-below-less">
                  <div class="col-md-1">
                      <img class="user-picture" src="css/img/default_profile_pic.jpg" alt="">
                  </div>
                  <div class="col-md-7 text-line-more-xl">
                      <span class=" text-dark montserrat-semibold">Universidad de los Andes</span>
                  </div>
                  <div class="col-md-4 text-line-more-xl text-right">
                      <span class="text-gray-light montserrat-light">14, Ene. 2016</span>
                  </div>
              </div>
             <div class="col-xs-12 col-md-11 col-md-offset-1">
                 <div class="text-dark montserrat-regular">
                     <span>Clases de yoga en el virrey</span>
                 </div>
                 <div class="montserrat-light">
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione sit animi tempora soluta odio ea reprehenderit at voluptatibus tenetur, suscipit molestias facilis, veniam itaque error. Cum odio, vitae error atque.</p>
                 </div>
             </div>

        </a>
        <a ui-sref="student-dashboard.messages-detail({'messageId': 1})"  class="row student">
              <div class="col-xs-12 row separate-below-less">
                  <div class="col-md-1">
                      <img class="user-picture" src="css/img/default_profile_pic.jpg" alt="">
                  </div>
                  <div class="col-md-7 text-line-more-xl">
                      <span class=" text-dark montserrat-semibold">Universidad de los Andes</span>
                  </div>
                  <div class="col-md-4 text-line-more-xl text-right">
                      <span class="text-gray-light montserrat-light">14, Ene. 2016</span>
                  </div>
              </div>
             <div class="col-xs-12 col-md-11 col-md-offset-1">
                 <div class="text-dark montserrat-regular">
                     <span>Clases de yoga en el virrey</span>
                 </div>
                 <div class="montserrat-light">
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione sit animi tempora soluta odio ea reprehenderit at voluptatibus tenetur, suscipit molestias facilis, veniam itaque error. Cum odio, vitae error atque.</p>
                 </div>
             </div>

        </a>
        <a ui-sref="student-dashboard.messages-detail({'messageId': 1})"  class="row student">
              <div class="col-xs-12 row separate-below-less">
                  <div class="col-md-1">
                      <img class="user-picture" src="css/img/default_profile_pic.jpg" alt="">
                  </div>
                  <div class="col-md-7 text-line-more-xl">
                      <span class=" text-dark montserrat-semibold">Universidad de los Andes</span>
                  </div>
                  <div class="col-md-4 text-line-more-xl text-right">
                      <span class="text-gray-light montserrat-light">14, Ene. 2016</span>
                  </div>
              </div>
             <div class="col-xs-12 col-md-11 col-md-offset-1">
                 <div class="text-dark montserrat-regular">
                     <span>Clases de yoga en el virrey</span>
                 </div>
                 <div class="montserrat-light">
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione sit animi tempora soluta odio ea reprehenderit at voluptatibus tenetur, suscipit molestias facilis, veniam itaque error. Cum odio, vitae error atque.</p>
                 </div>
             </div>

        </a>
        <a ui-sref="student-dashboard.messages-detail({'messageId': 1})"  class="row student">
              <div class="col-xs-12 row separate-below-less">
                  <div class="col-md-1">
                      <img class="user-picture" src="css/img/default_profile_pic.jpg" alt="">
                  </div>
                  <div class="col-md-7 text-line-more-xl">
                      <span class=" text-dark montserrat-semibold">Universidad de los Andes</span>
                  </div>
                  <div class="col-md-4 text-line-more-xl text-right">
                      <span class="text-gray-light montserrat-light">14, Ene. 2016</span>
                  </div>
              </div>
             <div class="col-xs-12 col-md-11 col-md-offset-1">
                 <div class="text-dark montserrat-regular">
                     <span>Clases de yoga en el virrey</span>
                 </div>
                 <div class="montserrat-light">
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione sit animi tempora soluta odio ea reprehenderit at voluptatibus tenetur, suscipit molestias facilis, veniam itaque error. Cum odio, vitae error atque.</p>
                 </div>
             </div>

        </a>
        <a ui-sref="student-dashboard.messages-detail({'messageId': 1})"  class="row student">
              <div class="col-xs-12 row separate-below-less">
                  <div class="col-md-1">
                      <img class="user-picture" src="css/img/default_profile_pic.jpg" alt="">
                  </div>
                  <div class="col-md-7 text-line-more-xl">
                      <span class=" text-dark montserrat-semibold">Universidad de los Andes</span>
                  </div>
                  <div class="col-md-4 text-line-more-xl text-right">
                      <span class="text-gray-light montserrat-light">14, Ene. 2016</span>
                  </div>
              </div>
             <div class="col-xs-12 col-md-11 col-md-offset-1">
                 <div class="text-dark montserrat-regular">
                     <span>Clases de yoga en el virrey</span>
                 </div>
                 <div class="montserrat-light">
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione sit animi tempora soluta odio ea reprehenderit at voluptatibus tenetur, suscipit molestias facilis, veniam itaque error. Cum odio, vitae error atque.</p>
                 </div>
             </div>

        </a>

    </div>

</div>
<trulii-dashboard-footer></trulii-dashboard-footer>
