<div class="row fade in">
  <div class="col-xs-10 col-xs-offset-1 col-md-10 col-lg-8 with-footer limited-width-dashboard">
      <div class="col-xs-12 panel-default panel-default__dashboard ">
        <a class="btn btn-default separate-right-less"
            ui-sref="student-dashboard.notifications">
            <span ng-bind="::detail.strings.ACTION_GO_BACK"></span>
        </a>
        <span class="panel-default__dashboard-title" ng-bind="::detail.strings.SECTION_MESSAGES"></span>
        <i class="dashboard-messages-detail__delete glyphicon glyphicon-trash pull-right" ng-click="detail.deleteMessage()"></i>
    </div>
      <div class="separate-above dashboard-messages-detail col-xs-12">
        <!--<a class="btn btn-default float-right separate-above separate-right-less" ng-if="!detail.message.is_read" href="" ng-click="detail.readMessage()" ng-bind="::detail.strings.MARK_AS_READ">
        </a>-->
        <div class="content-message">
            <div class="col-xs-12  dashboard-messages__header">
                
                <div class="dashboard-messages__header-first">
                    <div class="dashboard-messages__avatar">
                        <trulii-avatar user="detail.message.organizer" size="40" avatar-class="small" ></trulii-avatar>
                    </div>
                    <div class="text-line-more-xl dashboard-messages__title">
                        <h4 class="text-blue-dark font-semibold" ng-bind="::detail.message.organizer.name"></h4>
                        <span class="font-semibold text-gray-dark" ng-bind="::detail.message.activity"></span>
                        <div class="font-light">
                            <p ng-bind="::detail.message.message"></p>
                        </div>
                    </div>
                </div> 
                <div class="text-line-more-xl text-right dashboard-messages__date">
                     <span class="text-gray-dark font-regular" ng-bind="::detail.message.created_at | date: 'dd MMM yyyy'"></span>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>
