<div class="navbar-secondary" ng-class="{'navbar-secondary-short': dash.scroll > 80}">
</div>
<div class="col-md-11 col-md-offset-1">
    <div class="row dashboard-messages" ng-if="messages.messages.length > 0">
        <div class="col-xs-12 col-md-9 col-md-offset-1 separate-above ">
            <form class="separate-above  ">
                <fieldset>
                    <div class="form-group" >

                        <input type="text" class="form-control" placeholder="{{::messages.strings.SEARCH_PLACEHOLDER}}" ng-model='messages.search'
                        name="search" id="search"> <i class="mdi mdi-action-search"></i></input>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="separate-above dashboard-messages-container col-xs-12 col-md-9 col-md-offset-1" ng-if="messages.messages.length > 0">
        <a ng-repeat="message in messages.messages track by message.id" ui-sref="student-dashboard.messages-detail({'messageId': message.id})" class="row student">
            <div class="col-xs-12 row separate-below-less">
                <div class="col-md-1">
                  <img class="user-picture" ng-if="message.organizer.photo === null" ng-src="{{dash.getAmazonUrl('static/img/default_profile_pic.jpg')}}" alt="">
                  <img class="user-picture" ng-if="message.organizer.photo !== null" ng-src="{{message.organizer.photo}}" alt="">
                </div>
                <div class="col-md-7 text-line-more-xl">
                    <span class=" text-dark montserrat-semibold" ng-bind="::message.organizer.name"></span>
                </div>
                <div class="col-md-4 text-line-more-xl text-right">
                    <span class="text-gray-light montserrat-light" ng-bind="::message.created_at | date: 'dd MMM yyyy'"></span>
                </div>
            </div>
            <div class="col-xs-12 col-md-11 col-md-offset-1">
                <div class="text-dark montserrat-regular">
                    <span ng-bind="::message.activity"></span>
                </div>
                <div class="montserrat-light">
                    <p ng-bind="::message.message"></p>
                </div>
            </div>
        </a>
    </div>
    <div class="text-center col-xs-10" ng-if="messages.messages.length > 0">
        <pagination class="pagination-sm"
            ng-model="messages.paginationOpts.pageNumber"
            ng-change="messages.pageChange()"
            data-total-items="messages.paginationOpts.totalItems"
            previous-text="{{::messages.strings.PREVIOUS_TEXT}}"
            next-text="{{::messages.strings.NEXT_TEXT}}"
            data-items-per-page="messages.paginationOpts.itemsPerPage"></pagination>
    </div>
    <div ng-if="messages.messages.length === 0">
      <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 text-center separate-above">
          <img ng-src="{{dash.getAmazonUrl('static/img/organizer_dashboard_activities_empty.png')}}"
              alt="{{messages.strings.COPY_NO_MESSAGES}}"
              class="center-block img-responsive"/>
          <p class="separate-below separate-above font-family-sans-alt text-muted"
                ng-bind="::messages.strings.COPY_NO_MESSAGES">
          </p>
      </div>
    </div>
</div>
<trulii-dashboard-footer></trulii-dashboard-footer>
