<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-10 col-lg-8 with-footer limited-width-dashboard">
        <div class="col-xs-12 panel-default panel-default__dashboard panel-default__dashboard-sub">
            <h4 class="panel-default__dashboard-title" ng-bind="::messages.strings.SECTION_MESSAGES"></h4>
            
            <div class="panel-default__dashboard-search"   ng-if="messages.messages.length > 0">
                    <input type="text" class="form-control" 
                            placeholder="{{::messages.strings.SEARCH_PLACEHOLDER}}" 
                            ng-model='messages.search'
                            name="search" id="search"> 
                            <i class="mdi mdi-action-search"></i></input>
                </div>               
        </div>
        <div class="col-xs-12 panel-default panel-default__dashboard panel-default__dashboard-sub-second">
                <span class="text-gray-dark" ng-bind="::messages.strings.COPY_MESSAGES"></span>
        </div>
        <div class="separate-above dashboard-messages col-xs-12" ng-if="messages.messages.length > 0">
            <a ng-repeat="message in messages.messages track by message.id" ui-sref="student-dashboard.messages-detail({'messageId': message.id})" >
                <div class="col-xs-12  dashboard-messages__header">
                    
                    <div class="dashboard-messages__header-first">
                        <div class="dashboard-messages__avatar">
                            <trulii-avatar user="message.organizer" size="40" avatar-class="small" ></trulii-avatar>
                        </div>
                        <div class="text-line-more-xl dashboard-messages__title" ng-class="{'dashboard-messages__title-read': message.is_read}">
                            <h4 class="text-blue-dark font-semibold" ng-bind="::message.organizer.name"></h4>
                            <span class="font-semibold text-gray-dark" ng-bind="::message.activity"></span>
                            <div class="font-light">
                                <p ng-bind="::message.message"></p>
                            </div> 
                        </div>
                    </div> 
                    <div class="text-line-more-xl text-right dashboard-messages__date">
                        <span class="text-gray-dark font-regular" ng-bind="::message.created_at | date: 'dd MMM yyyy'"></span>
                    </div>
                </div>
                <div ng-show="!message.is_read" class="dashboard-messages__is-read"></div>
            </a>
        </div>
        <div class="text-center col-xs-12" ng-if="messages.messages.length > 0">
            <pagination class="pagination-sm"
                ng-model="messages.paginationOpts.pageNumber"
                ng-change="messages.pageChange()"
                data-total-items="messages.paginationOpts.totalItems"
                previous-text="{{::messages.strings.PREVIOUS_TEXT}}"
                next-text="{{::messages.strings.NEXT_TEXT}}"
                data-items-per-page="messages.paginationOpts.itemsPerPage"></pagination>
        </div>
        <div ng-if="messages.messages.length === 0" class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center separate-above">
            <p class="separate-below separate-above text-muted text-normal"
                    ng-bind="::messages.strings.COPY_NO_MESSAGES">
            </p>
        </div>
        </div>
    </div>
</div>