<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <!-- <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> -->
            <a ui-sref="home" class="navbar__logo"></a>

            <!--<div class="navbar__center-wrapper">-->
                <!--<div class="navbar__search-box">-->
                    <!--<input type="text" placeholder="¿Qué quieres aprender hoy?"><span-->
                    <!--class="navbar__search-box__city-select">Bogotá<span-->
                    <!--class="mdi-navigation-expand-more"></span></span>-->
                    <!--<button class="navbar__search-box__btn mdi-action-search"></button>-->
                <!--</div>-->
            <!--</div>-->
            <div class="navbar__center-wrapper">
                <!--TODO cableado por testing-->
                <div ng-if="isStudent()" class="navbar__search-box">
                    <input type="text" placeholder="{{strings.PLACEHOLDER_WANT_TO_LEARN}}">
                    <label for="city-select-landing" class="sr-only"
                           ng-bind="::strings.CITY_LABEL"></label>
                    <div class="input-group">
                        <select id="city-select-landing" name="city"
                                class="form-control navbar__search-box__city-select"
                                ng-model="current_city"
                                ng-options="city as city.name for city in cities"
                                ng-change="setCurrentCity(current_city)">
                            <option value="" selected ng-bind="::strings.CITY_DEFAULT_LABEL">
                            </option>
                        </select>
                    </div>
                    <button class="navbar__search-box__btn mdi-action-search"></button>
                </div>
            </div>

            <div>
                <a ui-sref="activities-new.general" class="btn btn-default btn-lg">
                    <i class="mdi-content-add"></i>
                </a>
            </div>

            <div>
                <div class="navbar__user" data-toggle="dropdown">
                    <img class="navbar__user__picture" src="/css/img/avatar-test.jpg" alt="">
                    <span class="navbar__user__name" ng-bind="user.user.full_name">
                    </span>
                    <span class="mdi-navigation-expand-more"></span>
                </div>

                <div class="dropdown" role="menu">
                    <a class="dropdown__item" ui-sref="organizer-dashboard.profile">
                        <span class="mdi-action-account-circle dropdown__item__icon"></span>Mi perfil
                    </a>
                    <a ui-sref="logout" class="dropdown__item">
                        <span class="mdi-action-exit-to-app dropdown__item__icon"></span>Logout
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>