<form name="search_box" ng-class="{'search-bar__navbar': onNavbar, 'search-bar': !onNavbar}" ng-submit="search()">
    <input type="text" class="form-control" typeahead="suggestion for suggestion in getSuggestions($viewValue)"
     typeahead-min-length="3" typeahead-focus-first="false" ng-model="q" placeholder="{{strings.PLACEHOLDER_WANT_TO_LEARN}}"/>
    <button class="btn btn-default" type="submit">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </button>
</form>
