<div class="sidebar-popup" ng-show="show">
    <div class="sidebar-background" ng-click="toggleShow()"></div>
    <div class="col-xs-10 col-sm-8 col-md-6 sidebar-content">
        <div class="sidebar-header">
            <button class="pull-right" ng-click="toggleShow()">
                <img class="img-responsive" ng-src="{{getAmazonUrl('static/img/activity-enroll/close.png')}}" alt=""/>
            </button>
            <h1 ng-bind="::title"></h1>
        </div>
        <div class="sidebar-body">
            <h3 class="text-success" ng-bind="::header" ng-if="header.length > 0"></h3>
            <br/>
            <p ng-bind-html="body" ng-show="body.length > 0"></p>

            <div ng-if="body.length === 0" class="content limited-width separate-above-more separate-below-more text-dark">
                <h4><strong>POLÍTICA GENERAL DE PRIVACIDAD Y PROTECCIÓN DE DATOS PERSONALES TRULII S.A.S.</strong></h4>
                <ol class="text-lg">
                        <li class="font-bold separate-above-less">
                            <span>Definiciones.</span>
                            <ol class="font-dark" type="a">
                                <li class="separate-above-less"><u>Trulii:</u> Se refiere a Trulii S.A.S., sociedad comercial colombiana con NIT No. 900.823.805 – 9 y domicilio social en Bogotá D.C., que presta servicios de intermediación de actividades educativas de manera virtual a través de su página web <a href="https://trulii.com/">https://trulii.com/</a>.<br/>
                                Plataforma o Portal: Es un marketplace especializado en la publicación de actividades educativas donde los visitantes pueden encontrar diferentes tipos de contenido sobre actividades recreativas y/o académicas e información sobre clases, talleres, cursos y diplomados que se realicen en la ciudad que seleccionen. Cuando se usen las palabras Plataforma o Portal, se estará haciendo referencia a la página web de Trulii, ubicada en el dominio <a href="https://trulii.com/">https://trulii.com/</a>.
                                </li>
                                <li class="separate-above-less"><u>Organizador:</u> Personas naturales o jurídicas que ofrecen los Programas y que, al registrarse y aceptar los términos y condiciones del Portal, podrán disponer de un espacio virtual para anunciar sus Programas a Potenciales Asistentes.
                                </li>
                                <li class="separate-above-less"><u>Programa:</u> Actividad o conjunto de actividades ofrecidos y prestados por el Organizador para efectos de formar, cualificar o recrear al Asistente en un área dada del conocimiento. Incluye, sin limitarse a, cursos, clases, talleres, diplomados, seminarios, etc., en todo caso, presenciales.
                                </li>
                                <li class="separate-above-less"><u>Potenciales Asistentes:</u> Personas que están interesadas en la Plataforma y que ingresen a la misma para buscar en el Catálogo uno o varios Programas, y, por tanto, son personas que potencialmente podrán inscribirse o inscribir a un tercero en los Programas publicitados por los Organizadores.</li>
                                <li class="separate-above-less"><u>Asistentes:</u> Son las personas que se inscriben en uno de los Programas ofrecidos por los Organizadores en la Plataforma.</li>
                                <li class="separate-above-less"><u>Catálogo:</u> Hace referencia al conjunto de Programas ofrecidos a través de la Plataforma.</li>
                                <li class="separate-above-less"><u>Parte:</u> Para efectos de los Términos, hace referencia a Trulii y el Organizador, individualmente considerados.</li>
                                <li class="separate-above-less"><u>Partes:</u> Para efectos de los Términos, hace referencia a Trulii y el Organizador, conjuntamente considerados.</li>
                                <li class="separate-above-less"><u>Usuarios:</u> Hace referencia, en general, a Potenciales Asistentes, Asistentes y Organizadores.</li>
                            </ol>
                        </li>
                        <li class="font-bold separate-above-less">
                            <span>Políticas de privacidad.</span>
                            <div  class="font-dark separate-above-less">
                                <span>Por medio de este documento, Trulii desea que las personas interesadas en utilizar la Plataforma conozcan de la forma más precisa posible, el uso que le damos a la información personal que recibimos y el modo en que la compartimos y protegemos.</span>
                                <br/>
                                <br/>
                                <span>Este documento es aplicable al tratamiento de la información recibida de los Usuarios y es parte integrante de los Términos y Condiciones publicados en la Plataforma, tanto para Organizadores como para Asistentes, los cuales pueden ser consultados en cualquier momento para mayor información.</span>
                                <br/>
                                <br/>
                                <span>La Plataforma podrá desactivarse o cambiar de dominio, según los procesos de reorganización que implementemos, cambios que serán informados oportunamente a los Usuarios registrados.</span>
                            </div>
                        </li>
                        <li class="font-bold separate-above-less">
                            <span>Información y datos personales que obtenemos.</span>
                            <div  class="font-dark separate-above-less">
                                <span>Trulii recibe y almacena toda la información y datos personales que los Usuarios introducen en nuestra Plataforma o que nos facilitan por cualquier otro medio. Dicha información puede incluir, en todo o en parte según las necesidades, entre otros los siguientes datos</span>

                            </div>
                            <ul class="font-dark separate-above-less separate-left">
                                <li class="separate-above-less">Nombres y apellidos.</li>
                                <li class="separate-above-less">Tipo y número de identificación.</li>
                                <li class="separate-above-less">Fecha de nacimiento y género.</li>
                                <li class="separate-above-less">Teléfonos fijos y celulares de contacto (personales y/o laborales).</li>
                                <li class="separate-above-less">Direcciones postales y electrónicas (personales y/o laborales).</li>
                                <li class="separate-above-less">IP del cliente, a través de cookies.</li>
                                <li class="separate-above-less">Profesión u oficio.</li>
                                <li class="separate-above-less">Información y datos personales recolectados a través de encuestas u otros métodos de investigación de mercado.</li>
                                <li class="separate-above-less">Información requerida por los representantes de las áreas de ventas y/o de relaciones con el cliente con la finalidad de atender solicitudes o reclamos. </li>
                                <li class="separate-above-less">Datos biométricos, tales como videos, fotografías, entre otros. Los titulares no estarán obligados en ningún evento a autorizar el tratamiento de datos sensibles.</li>
                            </ul>
                            <div  class="font-dark separate-above-less">
                                <span>La información requerida en la Plataforma, es necesaria para ofrecer los Programas de los Organizadores a los Asistentes o para responder sus peticiones. La recolección de dicha información permite a Trulii ofrecer servicios y funcionalidades que se adecuen mejor a sus necesidades y personalizar nuestros servicios.</span>
                            </div>
                            <div  class="font-dark separate-above-less">
                                <span>Para prestar un excelente servicio y para que los Usuarios puedan realizar operaciones en forma ágil y segura, deberán ingresar cierta información que será requerida en la Plataforma.</span>
                            </div>
                            <div  class="font-dark separate-above-less">
                                <span>Estos podrán elegir no proporcionar dicha información. Sin embargo, esto impedirá que disfruten de todas las funciones ofrecidas en la Plataforma.</span>
                            </div>
                            <div  class="font-dark separate-above-less">
                                <span>Los datos pueden ser almacenados y/o procesados en servidores ubicados en centros de cómputo, ya sean propios o contratados con terceros proveedores, localizados en distintos países, lo cual es autorizado por los Usuarios al aceptar esta Política de Privacidad.</span>
                            </div>

                        </li>
                        <li class="font-bold separate-above-less">
                            <span>Uso de la información.</span>
                            <div  class="font-dark separate-above-less">
                                <span>La información personal requerida en la Plataforma, es utilizada para procesar, confirmar, cumplir y proveer los servicios requeridos, así como para promocionar y publicitar las actividades y Programas ofrecidos por Trulii.</span>

                            </div>
                            <div  class="font-dark separate-above-less">
                                <span>Así mismo, los Usuarios, en su calidad de titulares de los datos recolectados, al aceptar esta política de privacidad, nos autorizan para:</span>
                            </div>
                            <ul class="font-dark separate-above-less separate-left">
                               <li class="separate-above-less">Contactarlos.</li>
                               <li class="separate-above-less">Desarrollar estudios internos sobre los intereses, comportamientos y patrones de los Usuarios para para comprender mejor sus necesidades e intereses y ofrecer mejores servicios o proveerles información relacionada.</li>
                               <li class="separate-above-less">Mejorar nuestras iniciativas comerciales y promocionales y analizar las páginas visitadas y las búsquedas realizadas por los Usuarios para mejorar nuestra oferta de contenidos, personalizar dichos contenidos, su presentación y servicios.</li>
                               <li class="separate-above-less">Enviar a los correos electrónicos registrados información sobre nuevos servicios, mostrar publicidad o promociones, banners, de interés para los Usuarios.</li>
                               <li class="separate-above-less">Suministrar la información personal de los Usuarios a las entidades que intervengan en la resolución de disputas entre los mismos, tales como: Compañías de Seguros, Amigables Componedores o Tribunales de Arbitraje o tribunales competentes para solucionar tales disputas.</li>
                               <li class="separate-above-less">Suministrar los datos personales a las autoridades de control y vigilancia de policía o judiciales, en virtud de un requerimiento legal o reglamentario y/o usar o revelar esta información y datos personales en defensa de sus derechos y/o su patrimonio en cuanto dicha defensa tenga relación con los Programas contratados a través de la Plataforma.</li>
                               <li class="separate-above-less">Permitir el acceso a la información y datos personales a los auditores o terceros contratados para llevar a cabo procesos de auditoría interna o externa propios de la actividad que desarrolla Trulii.</li>
                               <li class="separate-above-less">Contratar con terceros el almacenamiento y/o procesamiento de la información y datos personales para la correcta ejecución de los contratos celebrados con nosotros, bajo los estándares de seguridad y confidencialidad a los cuales estamos obligados.</li>

                            </ul>
                            <div  class="font-dark separate-above-less">
                                <span>Adicionalmente, al aceptar esta Política de Privacidad, los Usuarios, en su calidad de titulares de los datos recolectados, autorizan que Trulii realice el tratamiento de los mismos, de forma parcial o total, incluyendo la recolección, almacenamiento, grabación, uso, circulación, procesamiento, supresión, transmisión y/o transferencia de los datos suministrados, para la ejecución de las actividades relacionadas con los Programas contratados.</span>
                            </div>
                            <div  class="font-dark separate-above-less">
                                <span>Informamos que en estas actividades pueden estar involucrados terceros proveedores (tales como proveedores de herramientas de seguridad para procesamiento de transacciones bancarias, call centers y operadores de servicios), entidades bancarias, aseguradoras, nuestros representantes o agentes, sin perjuicio de otras finalidades que hayan sido informadas en este documento y en los términos y condiciones que se encuentran publicados en la Plataforma.</span>
                            </div>
                            <div  class="font-dark separate-above-less">
                                <span>Los terceros contratados por Trulii, están igualmente obligados a adherirse y dar cumplimiento a las políticas y manuales de seguridad de la información, así como a los protocolos de seguridad que aplicamos a todos nuestros procesos.</span>
                            </div>
                        </li>
                        <li class="font-bold separate-above-less">
                            <span>Confidencialidad de la información.</span>
                            <div  class="font-dark separate-above-less">
                                <span>La información registrada en la Plataforma por los Usuarios no será vendida, alquilada o compartida excepto en las formas establecidas en esta Política de Privacidad. Sin perjuicio de ello, los Usuarios consienten en forma expresa que Trulii transfiera total o parcialmente la información personal a cualquiera de sus sociedades controladas, controlantes y/o vinculadas a cualquier título y en el momento, forma y condiciones que estime pertinentes.</span>

                            </div>
                        </li>
                        <li class="font-bold separate-above-less">
                            <span>Uso de cookies.</span>
                            <div  class="font-dark separate-above-less">
                                <span>Trulii podrá hacer uso de cookies, web beacons y otras tecnologías similares, en la Plataforma y en los dispositivos electrónicos utilizados para acceder a éstas, con el fin de conocer la procedencia, actividades y preferencias de los Usuarios al navegar en la web, incrementar la funcionalidad y la accesibilidad de los sitios web, verificar que estos cumplan con los criterios requeridos para procesar sus solicitudes y para adaptar sus servicios a las necesidades de los Usuarios, pudiendo obtener la siguiente información general:</span>

                            </div>
                            <ul class="font-dark separate-above-less separate-left">
                               <li class="separate-above-less">El tipo de navegador y sistema operativo utilizado.</li>
                               <li class="separate-above-less">Idioma del dispositivo.</li>
                               <li class="separate-above-less">Los sitios web visitados.</li>
                               <li class="separate-above-less">Los vínculos accedidos.</li>
                               <li class="separate-above-less">La dirección IP.</li>
                               <li class="separate-above-less">El sitio visitado antes de entrar a trulii.com.</li>
                               <li class="separate-above-less">Duración del tiempo de navegación.</li>
                               <li class="separate-above-less">Estas cookies, web beacons y otras tecnologías similares pueden ser deshabilitadas y eliminadas por los Usuarios cuando lo deseen. Para este efecto, estos pueden consultar y/o solicitar la ayuda del navegador de internet que utilice.</li>
                            </ul>
                        </li>
                        <li class="font-bold separate-above-less">
                            <span>Seguridad y procedimiento en el almacenamiento de la información.</span>
                            <ul class="font-dark separate-above-less separate-left">
                                <li class="separate-above-less">Toda la información que es transmitida a los servidores de Trulii se encuentra encriptada bajo un algoritmo que usa SHA-2 (certificado SSL). Dicho certificado fue adquirido en GoDaddy.</li>
                                <li class="separate-above-less">Todas las contraseñas son guardadas en nuestra base de datos de forma encriptada.</li>
                                <li class="separate-above-less">Los datos de las tarjetas de pago (crédito o débito) no se almacenan en nuestra base de datos.</li>
                            </ul>
                        </li>
                        <li class="font-bold separate-above-less">
                            <span>Requerimiento de información por autoridades competentes.</span>
                            <div  class="font-dark separate-above-less">
                                <span>Trulii hará todo lo que esté a su alcance para proteger la privacidad de la información. Sin embargo, esta coopera con las autoridades competentes y con otros terceros para garantizar el cumplimiento de las normas colombianas, por ejemplo en materia de protección de derechos de propiedad industrial e intelectual, prevención del fraude y otras.</span>
                            </div>
                            <div  class="font-dark separate-above-less">
                                <span>En caso de requerimiento de información personal por parte de las autoridades judiciales o gubernamentales competentes, Trulii revelará la información que esté relacionada con las investigaciones que adelanten dichas autoridades.</span>
                            </div>
                        </li>
                        <li class="font-bold separate-above-less">
                            <span>Veracidad de la Información suministrada por los Usuarios.</span>
                            <div  class="font-dark separate-above-less">
                                <span>Los Usuarios deberán suministrar información veraz sobre sus datos personales en el momento del registro y durante la prestación del servicio requerido. Trulii presume la veracidad de dicha información y no verificará, ni asume la obligación de verificar la identidad de los Usuarios, ni la veracidad, vigencia, suficiencia y autenticidad de los datos que cada uno de ellos proporcione.</span>
                            </div>
                            <div  class="font-dark separate-above-less">
                                <span>Por tanto, Trulii no asume responsabilidad por los daños y/o perjuicios que pudieran tener origen en la falta de veracidad de dicha información, incluyendo daños y perjuicios que puedan deberse a la homonimia o a la suplantación de la identidad.</span>
                            </div>
                        </li>
                        <li class="font-bold separate-above-less">
                            <span>Veracidad de la Información suministrada por los Usuarios.</span>
                            <div  class="font-dark separate-above-less">
                                <span>Los Usuarios tienen derecho a acceder a los datos personales que se encuentran bajo el control de Trulii y a ejercer los derechos que les asisten como titulares de los mismos, en los términos de las normas de protección de datos que les sean aplicables y conforme lo establecido en la presente Política de Privacidad.</span>
                            </div>
                            <div  class="font-dark separate-above-less">
                                <span>Para el caso de los datos personales cuyo tratamiento se realice en Colombia, los procedimientos para el ejercicio de los derechos de los titulares será el previsto en la Ley 1581 de 2012 reglamentada a través del Decreto 1377 de 2013.</span>
                            </div>
                            <div  class="font-dark separate-above-less">
                                <span>Los Usuarios tienen derecho a consultar y conocer los detalles del tratamiento de los datos personales que realizamos, así como a rectificarlos en caso de ser inexactos o incompletos y a cancelarlos cuando no estén siendo utilizados conforme a finalidades y términos legales o contractuales o según las finalidades y términos contemplados en esta Política de Privacidad.</span>
                            </div>
                            <div  class="font-dark separate-above-less">
                                <span>En este sentido, los Usuarios pueden ejercer sus derechos de conocer, actualizar, rectificar y suprimir sus datos personales enviando su solicitud al correo electrónico alo@trulii.com, de conformidad con esta Política de Privacidad.</span>
                            </div>
                            <div  class="font-dark separate-above-less">
                                <span>Debe incluir en la solicitud los siguientes datos:</span>
                            </div>
                            <ul class="font-dark separate-above-less separate-left">
                               <li class="separate-above-less">Nombres y apellidos</li>
                               <li class="separate-above-less">Teléfono</li>
                               <li class="separate-above-less">Correo electrónico</li>
                               <li class="separate-above-less">Asunto</li>
                            </ul>
                            <div  class="font-dark separate-above-less">
                                <span>En el caso de que cualquiera de los Usuarios considere que un contenido utilizado en cualquiera de nuestros canales, conlleva alguna violación de sus derechos de propiedad intelectual, deberá enviar una comunicación con la siguiente información a las direcciones arriba indicadas:</span>
                            </div>
                            <ul class="font-dark separate-above-less separate-left">
                               <li class="separate-above-less">Datos personales: nombre, dirección, número de teléfono y dirección de correo electrónico del reclamante.</li>
                               <li class="separate-above-less">Firma auténtica, con los datos personales del titular de los derechos de propiedad intelectual presuntamente infringidos o de la persona autorizada para actuar en nombre y por cuenta del titular de los derechos de propiedad intelectual presuntamente infringidos.</li>
                               <li class="separate-above-less">Indicación precisa y completa del contenido protegido mediante los derechos de propiedad intelectual presuntamente infringidos, así como su localización.</li>
                               <li class="separate-above-less">Declaración expresa y clara de que la utilización del contenido indicado se ha realizado sin el consentimiento del titular de los derechos de propiedad intelectual presuntamente infringidos.</li>
                               <li class="separate-above-less">Declaración expresa, clara y bajo la responsabilidad del reclamante que la información proporcionada en la notificación es exacta y que la utilización del contenido constituye una presunta violación de sus derechos de propiedad intelectual.</li>

                            </ul>
                            <div  class="font-dark separate-above-less">
                                <span>Las reclamaciones originadas en estos hechos se someterán en su tratamiento y solución a los trámites jurídicos aplicables, según la naturaleza y alcance de las mismas. Trulii responderá a la solicitud en un plazo de quince (15) días hábiles, en virtud de lo estipulado en el artículo 15 de la ley 1581 de 2012. Cuando no fuere posible atender la consulta dentro de dicho término, avisaremos, expresando los motivos de la demora y señalando la fecha en que se atenderá su consulta.</span>
                            </div>
                        </li>

                        <li class="font-bold separate-above-less">
                            <span>Modificaciones a la Política de Privacidad.</span>
                            <div  class="font-dark separate-above-less">
                                <span>Debido al desarrollo continuo de nuestro negocio, esta Política de Privacidad y los Términos y Condiciones podrán modificarse. Igualmente, Trulii se reserva el derecho de efectuar en cualquier momento modificaciones o actualizaciones a esta Política de Privacidad, para la atención de novedades legislativas, políticas internas o nuevos requerimientos para la prestación u ofrecimiento de sus servicios.</span>
                            </div>
                            <div  class="font-dark separate-above-less">
                                <span>Le recomendamos que visite nuestra Plataforma frecuentemente para consultar los cambios más recientes. A menos que se indique lo contrario, la Política de Privacidad actual será aplicable para toda la información que tratamos referente a usted y a su cuenta. No obstante, somos fieles a nuestra palabra y en ningún caso modificaremos sustancialmente nuestras políticas ni prácticas para hacerlas menos eficaces en la protección de los datos personales.</span>
                            </div>
                        </li>
                        <li class="font-bold separate-above-less">
                            <span>Otros.</span>
                            <ol class="font-dark" type="a">
                                <li class="separate-above-less"><u>Transmisión de negocios.</u>  A medida que Trulii desarrolla su negocio, podrá comprar o vender sociedades, subsidiarias o unidades de negocio. En dichas transacciones, la información que se encuentra en las bases de datos de Trulii suelen ser uno de los activos de los negocios transferidos; sin embargo, dicha información estará en todo caso sujeta a los compromisos adquiridos a esta Política de Privacidad. Debido a lo anterior, en el caso de que Trulii o la mayor parte de sus activos sean adquiridos por un tercero, la información relativa a los Usuarios sería uno de los activos transferidos.
                                </li>
                                <li class="separate-above-less"><u>Menores de Edad.</u> Los servicios ofrecidos en la Plataforma no podrán ser adquiridos por menores de edad o personas que no estén en capacidad legal para contratar. En caso de que deseen contratar nuestros servicios éstos deberán hacerlo a través de uno de sus representantes legales. Trulii solicita a los menores de edad abstenerse de suministrar información personal en la Plataforma.</li>
                                <li class="separate-above-less"><u>Prevención de uso de la cuenta por parte de terceros.</u> AEs importante que se proteja contra el acceso no autorizado de terceros a su contraseña y a su computador. Al finalizar, asegúrese haber cerrado su sesión, siempre que esté utilizando un computador compartido.
                            </ol>
                        </li>
                        <li class="font-bold separate-above-less">
                            <span>Aceptación de esta Política de Privacidad.</span>
                            <div  class="font-dark separate-above-less">
                                <span>Los Usuarios aceptan el tratamiento de sus datos personales conforme los términos de esta Política de Privacidad, cuando proporcionan los datos a través de la Plataforma y  cuando hacen "clic" en la función "Registrarme" (asistentes) y “Comenzar” (organizadores).</span>
                            </div>
                        </li>
                        <li class="font-bold separate-above-less">
                            <span>Vigencia.</span>
                            <div  class="font-dark separate-above-less">
                                <span>Esta Política de Privacidad es efectiva desde la fecha de su publicación.</span>
                            </div>
                            <div  class="font-dark separate-above-less">
                                <span><strong>La última revisión publicada:</strong>26 de septiembre del 2016.</span>
                            </div>
                            <div  class="font-dark separate-above-less">
                                <span><strong>Los datos de contacto de Trulii en Colombia son:</strong></span>
                            </div>
                            <div  class="font-dark separate-above-less">
                                <span><strong>Dirección: </strong>Calle 127 Bis #19-57  IN 4, Bogotá D.C., Colombia.</span><br/>
                                <span><strong>Correo electrónico:</strong> alo@trulii.com</span>
                            </div>
                        </li>
                    </ol>
            </div>
        </div>
    </div>
</div>
