<!--suppress HtmlUnknownTarget -->
<nav class="navbar navbar-default navbar-fixed-top " ng-class="{'navbar-landing': isLandingState() }">
    <div class="row">
        <div class="navbar__logo-container">
            <a ng-click="clickLogo()" ui-sref="home" class="navbar__logo "></a>
        </div>
        <div class="navbar__left-wrapper" ng-class="{'long': !user}">
            <trulii-search-bar ng-if="isSearchVisible" data-on-navbar="true"></trulii-search-bar>
            <div class="buttons buttons-login float-right" ng-if="!user">
                <a ui-sref="register" class=" montserrat-regular  margin-horizontal-less" ng-class="{'text-dark': scroll > 80 || !isLandingState() }" ng-bind="::strings.ACTION_REGISTER"></a>
            </div>
            <div class="buttons buttons-login float-right" ng-if="!user">
                <a ui-sref="login" class=" montserrat-regular  margin-horizontal-less " ng-bind="::strings.ACTION_LOGIN"></a>
            </div>
            <!--<div class="buttons float-right hidden-xs hidden-sm" ng-if="user.is_organizer">
                <a ng-click="createActivity()" ui-sref="dash.activities-new.general" class="btn btn-primary font-regular" ng-bind="::strings.ACTION_CREATE"></a>
            </div>-->
        </div>
        <div class="navbar__right-wrapper" >
            
            <a ng-if="userLogged" class="navbar__option navbar__option--right  hidden-xs hidden-sm" ng-click="goToProfile() "  ng-mouseover="showDropMenu()" ng-mouseleave="hideDropMenu()" >
                <!--<img ng-if="user" ng-src="{{user.photo}}" class="user-picture hidden-xs hidden-sm" alt="{{user.user.full_name}}"/>-->
                <trulii-avatar user="user" size="40" avatar-class="small" ng-class="{'avatar-landing': !user.photo}"></trulii-avatar>
                <span class=" montserrat-regular  margin-horizontal-less hidden-xs hidden-sm" ng-bind="user.user.first_name"></span>
                <i class="fa fa-angle-down"  ng-class="{'text-gray-lighter': isLandingState(), 'text-gray': !isLandingState()}" aria-hidden="true"></i>
            </a>
            <a class="navbar__option navbar__option--right  hidden-md hidden-lg" ng-click="toggleSideBar()">
                 <i class="fa fa-bars " ng-class="{'text-gray-lighter': isLandingState(), 'text-gray': !isLandingState()}" aria-hidden="true"></i>
            </a>
        </div>
        
    </div>
</nav>
<!--Dropdown menu when hiver in profile picture"-->
<div class="drop-menu" ng-show="showMenu" ng-mouseover="showDropMenu()" ng-mouseleave="hideDropMenu()" ng-class="{'short': scroll > 80, 'landing': isLandingState() }">
    <ul class="list-unstyled" ng-if="user.is_organizer">
        
        <li>
            <a ui-sref="organizer-dashboard.profile"
                ng-click=" hideDropMenu(); clickItemSidebar(strings.LABEL_ORGANIZER_PROFILE)"
                ng-bind="::strings.LABEL_ORGANIZER_PROFILE"></a>
        </li>
        <li>
            <a ui-sref="organizer-dashboard.account.settings"
                ng-click=" hideDropMenu(); clickItemSidebar(strings.LABEL_ORGANIZER_ACCOUNT)"
                ng-bind="::strings.LABEL_ORGANIZER_ACCOUNT"></a>
        </li>
        <li>
            <a ui-sref="organizer-dashboard.activities.open"
                ng-click="hideDropMenu(); clickItemSidebar(strings.LABEL_ORGANIZER_ACTIVITIES)"
                ng-bind="::strings.LABEL_ORGANIZER_ACTIVITIES"></a>
        </li>
        <li>
            <a ui-sref="organizer-dashboard.instructors"
                ng-click=" hideDropMenu(); clickItemSidebar(strings.LABEL_ORGANIZER_INSTRUCTORS)"
                ng-bind="::strings.LABEL_ORGANIZER_INSTRUCTORS"></a>
        </li>
        <li>
            <a ui-sref="organizer-dashboard.reviews.pending"
                ng-click=" hideDropMenu(); clickItemSidebar(strings.LABEL_ORGANIZER_REVIEWS)"
                ng-bind="::strings.LABEL_ORGANIZER_REVIEWS"></a>
             <span class="label label-notification separate-left-less"
                      ng-if="unreadReviewsCount"
                      ng-bind="unreadReviewsCount"></span>
        </li>
        <li>
            <a ui-sref="organizer-dashboard.transactions.sales"
                ng-click=" hideDropMenu(); clickItemSidebar(strings.LABEL_ORGANIZER_SALES)"
                ng-bind="::strings.LABEL_ORGANIZER_SALES"></a>
        </li>
        <li>
            <a href="#"
                ng-click=" hideDropMenu(); clickItemSidebar(strings.LABEL_ORGANIZER_SALES)"
                ng-bind="::strings.LABEL_ORGANIZER_MESSAGES"></a>
        </li>
        <li>
            <a  ng-click=" hideDropMenu(); logout(); clickItemSidebar(strings.ACTION_EXIT)"
                ng-bind="::strings.ACTION_EXIT"></a>
        </li>
    </ul>
    <!--Student Sidebar-->
    <ul class="list-unstyled" ng-if="user.is_student">
        <li>
            <a ui-sref="referrals.home"
                ng-click=" hideDropMenu(); clickItemSidebar(strings.LABEL_STUDENT_INVITE)"
                ng-bind="::strings.LABEL_STUDENT_INVITE"></a>
        </li>
        <li>
            <a ui-sref="student-dashboard.profile"
                ng-click=" hideDropMenu(); clickItemSidebar(strings.LABEL_STUDENT_PROFILE)"
                ng-bind="::strings.LABEL_STUDENT_PROFILE"></a>
        </li>
        <li>
            <a ui-sref="student-dashboard.account.password"
                ng-click=" hideDropMenu(); clickItemSidebar(strings.LABEL_STUDENT_ACCOUNT)"
                ng-bind="::strings.LABEL_STUDENT_ACCOUNT"></a>
        </li>
        <li>
            <a ui-sref="student-dashboard.activities.open"
                ng-click=" hideDropMenu(); clickItemSidebar(strings.LABEL_STUDENT_ACTIVITIES)"
                ng-bind="::strings.LABEL_STUDENT_ACTIVITIES"></a>
        </li>
        <li>
            <a ui-sref="student-dashboard.wishlist"
                ng-click="hideDropMenu(); clickItemSidebar(strings.LABEL_STUDENT_WISHLIST)"
                ng-bind="::strings.LABEL_STUDENT_WISHLIST"></a>
        </li>
        <li>
            <a href="#"
                ng-click=" hideDropMenu(); clickItemSidebar(strings.LABEL_ORGANIZER_SALES)"
                ng-bind="::strings.LABEL_STUDENT_NOTIFICATIONS"></a>
        </li>
        <li>
            <a ui-sref="student-dashboard.history.orders"
                ng-click=" hideDropMenu(); clickItemSidebar(strings.LABEL_STUDENT_PURCHASES)"
                ng-bind="::strings.LABEL_STUDENT_PURCHASES"></a>
        </li>
        
        <li>
            <a  ng-click=" hideDropMenu(); logout(); clickItemSidebar(strings.ACTION_EXIT)"
                ng-bind="::strings.ACTION_EXIT"></a>
        </li>
    </ul>
</div>

<!-- Menu side bar mobile-->
<div class="cover-sidebar hidden-md hidden-lg" ng-show="showSideBar"   ng-click="toggleSideBar()"></div>

<div class="sidebar-profile lateral-slide-right hidden-md hidden-lg" ng-show="showSideBar"  >
    <div class="profile" ng-if="user">
        <trulii-avatar user="user" size="40" avatar-class="small" class="avatar-landing"></trulii-avatar>
        <span class=" montserrat-bold  margin-horizontal-less " ng-bind="user.user.full_name"></span>
    </div>
    
    <div class="sign" ng-if="!user">
        <a ui-sref="login" class=" montserrat-regular  margin-horizontal-less "  ng-click="toggleSideBar();" ng-bind="::strings.ACTION_LOGIN"></a>
        <a ui-sref="register" class=" montserrat-regular  margin-horizontal-less" ng-click="toggleSideBar();" ng-bind="::strings.ACTION_REGISTER"></a>
    </div>
    <ul class="sidebar-profile__items list-unstyled" ng-if="user.is_organizer">
        <li class="sidebar-profile__items-item">
            <a ui-sref="organizer-dashboard.profile"
                ng-click=" toggleSideBar(); clickItemSidebar(strings.LABEL_ORGANIZER_PROFILE)"
                ng-bind="::strings.LABEL_ORGANIZER_PROFILE"></a>
        </li>
        <li class="sidebar-profile__items-item">
            <a ng-click="showSubItems(strings.SUBITEM_ACCOUNT); clickItemSidebar(strings.LABEL_ORGANIZER_ACCOUNT)"
                ng-bind="::strings.LABEL_ORGANIZER_ACCOUNT"></a>
               <ul class="sidebar-profile__subitems list-unstyled" ng-class="{'sidebar-profile__subitems-expanded': subItems[strings.SUBITEM_ACCOUNT]}">
                   <li class="sidebar-profile__subitems-subitem">
                       <a  ui-sref="organizer-dashboard.account.settings"
                           ng-click=" toggleSideBar(); clickItemSidebar(strings.LABEL_ORGANIZER_ACCOUNT)">
                           <span ng-bind="::strings.LABEL_ORGANIZER_ACCOUNT_SETTINGS"></span>
                       </a>
                   </li>
                   <li class="sidebar-profile__subitems-subitem">
                       <a ui-sref="organizer-dashboard.account.banking"
                          ng-click=" toggleSideBar(); clickItemSidebar(strings.LABEL_ORGANIZER_ACCOUNT)">
                           <span ng-bind="::strings.LABEL_ORGANIZER_ACCOUNT_BANK"></span>
                       </a>
                   </li>
               </ul>
        </li>
        <li class="sidebar-profile__items-item">
            <a  ng-click="showSubItems(strings.SUBITEM_ACTIVITIES); clickItemSidebar(strings.LABEL_ORGANIZER_ACTIVITIES)"
                ng-bind="::strings.LABEL_ORGANIZER_ACTIVITIES"></a>
                
            <ul class="sidebar-profile__subitems list-unstyled" ng-class="{'sidebar-profile__subitems-expanded': subItems[strings.SUBITEM_ACTIVITIES]}" > 
                    <li class="sidebar-profile__subitems-subitem" >
                        <a ui-sref="organizer-dashboard.activities.open" 
                            ng-click=" toggleSideBar(); clickItemSidebar(strings.LABEL_ORGANIZER_ACTIVITIES_OPEN)">
                            <span ng-bind="::strings.LABEL_ORGANIZER_ACTIVITIES_OPEN"></span>
                        </a>
                    </li>
                    <li class="sidebar-profile__subitems-subitem" >
                        <a ui-sref="organizer-dashboard.activities.closed" 
                            ng-click=" toggleSideBar(); clickItemSidebar(strings.LABEL_ORGANIZER_ACTIVITIES_CLOSED)">
                            <span ng-bind="::strings.LABEL_ORGANIZER_ACTIVITIES_CLOSED" ></span>
                        </a>
                    </li>
                    <li class="sidebar-profile__subitems-subitem">
                        <a ui-sref="organizer-dashboard.activities.inactive"  
                             ng-click=" toggleSideBar(); clickItemSidebar(strings.LABEL_ORGANIZER_ACTIVITIES_INACTIVE)">
                            <span ng-bind="::strings.LABEL_ORGANIZER_ACTIVITIES_INACTIVES" ></span>
                        </a>
                    </li>
                </ul>
        </li>
        <li class="sidebar-profile__items-item">
            <a ui-sref="organizer-dashboard.instructors"
                ng-click=" toggleSideBar(); clickItemSidebar(strings.LABEL_ORGANIZER_INSTRUCTORS)"
                ng-bind="::strings.LABEL_ORGANIZER_INSTRUCTORS"></a>
        </li>
        <li class="sidebar-profile__items-item">
            <a ng-click="showSubItems(strings.SUBITEM_REVIEWS); clickItemSidebar(strings.LABEL_ORGANIZER_REVIEWS)"
                ng-bind="::strings.LABEL_ORGANIZER_REVIEWS"></a>
             <span class="label label-notification separate-left-less"
                      ng-if="unreadReviewsCount"
                      ng-bind="unreadReviewsCount"></span>
                      
            <ul class="sidebar-profile__subitems list-unstyled" ng-class="{'sidebar-profile__subitems-expanded': subItems[strings.SUBITEM_REVIEWS]}" >
                   <li class="sidebar-profile__subitems-subitem">
                       <a  ui-sref="organizer-dashboard.reviews.pending"
                            ng-click=" toggleSideBar(); clickItemSidebar(strings.LABEL_ORGANIZER_REVIEWS_UNREAD)">
                           <span ng-bind="::strings.LABEL_ORGANIZER_REVIEWS_UNREAD"></span>
                       </a>
                   </li>
                   <li class="sidebar-profile__subitems-subitem">
                       <a ui-sref="organizer-dashboard.reviews.done"
                             ng-click=" toggleSideBar(); clickItemSidebar(strings.LABEL_ORGANIZER_REVIEWS_DONE)">
                           <span ng-bind="::strings.LABEL_ORGANIZER_REVIEWS_DONE"></span>
                       </a>
                   </li>
               </ul>
        </li>
        <li class="sidebar-profile__items-item">
            <a ng-click="showSubItems(strings.SUBITEM_TRANSACTIONS); clickItemSidebar(strings.LABEL_ORGANIZER_TRANSACTIONS)"
                ng-bind="::strings.LABEL_ORGANIZER_TRANSACTIONS"></a>
                
                 <ul class="sidebar-profile__subitems list-unstyled" ng-class="{'sidebar-profile__subitems-expanded': subItems[strings.SUBITEM_TRANSACTIONS]}">
                   <li class="sidebar-profile__subitems-subitem">
                       <a ui-sref="organizer-dashboard.transactions.sales"
                        ng-click=" toggleSideBar(); clickItemSidebar(strings.LABEL_ORGANIZER_TRANSACTIONS_SALES)">
                           <span ng-bind="::strings.LABEL_ORGANIZER_TRANSACTIONS_SALES"></span>
                       </a>
                   </li>
               </ul>    
            </a>
        </li>
        <li class="sidebar-profile__items-item">
            <a href="#"
                ng-click=" toggleSideBar(); clickItemSidebar(strings.LABEL_ORGANIZER_SALES)"
                ng-bind="::strings.LABEL_ORGANIZER_MESSAGES"></a>
        </li>
        <li class="sidebar-profile__items-item">
            <a ui-sref="logout"
                ng-click=" toggleSideBar(); clickItemSidebar(strings.ACTION_EXIT)"
                ng-bind="::strings.ACTION_EXIT"></a>
        </li>
    </ul>
    <!--Student Sidebar-->
    <ul class="sidebar-profile__items-items list-unstyled" ng-if="user.is_student">
        <li class="sidebar-profile__items-item">
            <a ui-sref="referrals.home"
                ng-click=" toggleSideBar(); clickItemSidebar(strings.LABEL_STUDENT_INVITE)"
                ng-bind="::strings.LABEL_STUDENT_INVITE"></a>
        </li>
        <li class="sidebar-profile__items-item">
            <a ui-sref="student-dashboard.profile"
                ng-click=" toggleSideBar(); clickItemSidebar(strings.LABEL_STUDENT_PROFILE)"
                ng-bind="::strings.LABEL_STUDENT_PROFILE"></a>
        </li>
        <li class="sidebar-profile__items-item">
            <a ui-sref="student-dashboard.account.password"
                ng-click=" toggleSideBar(); clickItemSidebar(strings.LABEL_STUDENT_ACCOUNT)"
                ng-bind="::strings.LABEL_STUDENT_ACCOUNT"></a>
        </li>
        <li class="sidebar-profile__items-item">
            <a ui-sref="student-dashboard.activities.open"
                ng-click=" toggleSideBar(); clickItemSidebar(strings.LABEL_STUDENT_ACTIVITIES)"
                ng-bind="::strings.LABEL_STUDENT_ACTIVITIES"></a>
        </li>
        <li class="sidebar-profile__items-item">
            <a ui-sref="student-dashboard.wishlist"
                ng-click="toggleSideBar(); clickItemSidebar(strings.LABEL_STUDENT_WISHLIST)"
                ng-bind="::strings.LABEL_STUDENT_WISHLIST"></a>
        </li>
        <li class="sidebar-profile__items-item">
            <a href="#"
                ng-click=" toggleSideBar(); clickItemSidebar(strings.LABEL_ORGANIZER_SALES)"
                ng-bind="::strings.LABEL_STUDENT_NOTIFICATIONS"></a>
        </li>
        <li class="sidebar-profile__items-item">
            <a ui-sref="student-dashboard.history.orders"
                ng-click=" toggleSideBar(); clickItemSidebar(strings.LABEL_STUDENT_PURCHASES)"
                ng-bind="::strings.LABEL_STUDENT_PURCHASES"></a>
        </li>
        
        <li class="sidebar-profile__items-item">
            <a ui-sref="logout"
                ng-click="toggleSideBar(); clickItemSidebar(strings.ACTION_EXIT)"
                ng-bind="::strings.ACTION_EXIT"></a>
        </li>
    </ul>
    
    <div class="social">
        <a href="https://twitter.com/trulii_">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a class="separate-left" href="https://www.facebook.com/truliilatam/">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
    </div>
</div>
