<div class="row home-footer">
    <div class="col-xs-12 home-footer__links">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="row">
                    <div class="col-xs-12 col-sm-8">
                        <div class="col-xs-12 col-sm-4">
                            <div class="link-column bordered">
                                <h4 class="header" ng-bind="::strings.FOOTER_LINKS_ABOUT_US_HEADER">
                                </h4>
                                <ul class="list-unstyled">
                                    <li class="link">
                                        <a ui-sref="about.team" ng-bind="::strings.FOOTER_LINKS_ABOUT_US_ABOUT"></a>
                                    </li>
                                    <li class="link">
                                        <a href="" ng-bind="::strings.FOOTER_LINKS_ABOUT_US_BLOG"></a>
                                    </li>
                                    <li class="link">
                                        <a href="" ng-bind="::strings.FOOTER_LINKS_ABOUT_US_TERMS"></a>
                                    </li>
                                    <li class="link">
                                        <a href="" ng-bind="::strings.FOOTER_LINKS_ABOUT_US_PRIVACY"></a>
                                    </li>
                                    <li class="link">
                                        <a ui-sref="contact-us" ng-bind="::strings.FOOTER_LINKS_ABOUT_US_CONTACT"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="link-column bordered">
                                <h4 class="header" ng-bind="::strings.FOOTER_LINKS_STUDENTS_HEADER">
                                </h4>
                                <ul class="list-unstyled">
                                    <li class="link">
                                        <a href="" ng-bind="::strings.FOOTER_LINKS_STUDENTS_HOW"></a>
                                    </li>
                                    <li class="link">
                                        <a href="" ng-bind="::strings.FOOTER_LINKS_STUDENTS_SUGGEST"></a>
                                    </li>
                                    <li class="link">
                                        <a href="" ng-bind="::strings.FOOTER_LINKS_STUDENTS_FEEDBACK"></a>
                                    </li>
                                    <li class="link">
                                        <a href="" ng-bind="::strings.FOOTER_LINKS_STUDENTS_SUPPORT"></a>
                                    </li>
                                    <li class="link">
                                        <a href="" ng-bind="::strings.FOOTER_LINKS_STUDENTS_FAQ"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="link-column bordered">
                                <h4 class="header" ng-bind="::strings.FOOTER_LINKS_ORGANIZER_HEADER">
                                </h4>
                                <ul class="list-unstyled">
                                    <li class="link">
                                        <a ui-sref="organizer-landing" ng-bind="::strings.FOOTER_LINKS_ORGANIZER_BE"></a>
                                    </li>
                                    <li class="link">
                                        <a href="" ng-bind="::strings.FOOTER_LINKS_ORGANIZER_HOW"></a>
                                    </li>
                                    <li class="link">
                                        <a href="" ng-bind="::strings.FOOTER_LINKS_ORGANIZER_TIPS"></a>
                                    </li>
                                    <li class="link">
                                        <a href="" ng-bind="::strings.FOOTER_LINKS_ORGANIZER_FEEDBACK"></a>
                                    </li>
                                    <li class="link">
                                        <a href="" ng-bind="::strings.FOOTER_LINKS_ORGANIZER_SUPPORT"></a>
                                    </li>
                                    <li class="link">
                                        <a href="" ng-bind="::strings.FOOTER_LINKS_ORGANIZER_FAQ"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="link-column">
                            <h4 class="header" ng-bind="::strings.FOOTER_LINKS_SOCIAL_HEADER">
                            </h4>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <ul class="list-unstyled">
                                        <li class="link">
                                            <a href="">
                                                <div class="icon">
                                                    <img src="/css/img/home/fb.png" alt="">
                                                </div>
                                                Facebook
                                            </a>
                                        </li>
                                        <li class="link">
                                            <a href="">
                                                <div class="icon">
                                                    <img src="/css/img/home/in.png" alt="">
                                                </div>
                                                Linkedin
                                            </a>
                                        </li>
                                        <li class="link">
                                            <a href="">
                                                <div class="icon">
                                                    <img src="/css/img/home/yt.png" alt="">
                                                </div>
                                                YouTube
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <ul class="list-unstyled">
                                        <li class="link">
                                            <a href="">
                                                <div class="icon">
                                                    <img src="/css/img/home/angelist.png" alt="">
                                                </div>
                                                Angellist
                                            </a>
                                        </li>
                                        <li class="link">
                                            <a href="">
                                                <div class="icon">
                                                    <img src="/css/img/home/tw.png" alt="">
                                                </div>
                                                Twitter
                                            </a>
                                        </li>
                                        <li class="link">
                                            <a href="">
                                                <div class="icon">
                                                    <img src="/css/img/home/ss.png" alt="">
                                                </div>
                                                Slideshare
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 home-footer__love">
        <p class="text-uppercase text-center">Hecho con <img src="/css/img/home/heart.png" alt=""> para Colombia</p>
    </div>
    <div class="col-xs-12 home-footer__rights">
        <p class="text-center">&#9400; 2015 Trulii S.A.S.</p>
    </div>
</div>
