<div class="trulii-cover">
    <div class="trulii-cover__container">
        <div class="trulii-cover__content">
            <div class="col-xs-12 limited-width">
                <div class="row separate-above-less">
                    <div class="col-xs-3 col-sm-3 col-md-2 center-block float-none">
                        <img ng-src="{{ ::referrals.referrer.photo }}" alt="" class="img-circle img-responsive">
                    </div>
                </div>
                <div ng-if="referrals.student">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <h1 class="text-center"><strong ng-bind="::referrals.strings.HEADER_IS_STUDENT"></strong></h1>
                        </div>
                    </div>
                    <div class="row separate-above-less">
                        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
                            <h3 class="text-center font-regular">
                                <span ng-bind="::referrals.strings.COPY_IS_STUDENT_HI"></span>
                                <span ng-bind="::referrals.student.user.first_name"></span>
                                <span ng-bind="::referrals.strings.COPY_IS_STUDENT_COPY"></span>
                            </h3>
                        </div>
                    </div>
                    <div class="row separate-above separate-below">
                        <h3 class="text-center" ng-bind="::referrals.strings.COPY_IS_STUDENT_DISCOVER"></h3>
                    </div>
                    <div class="row separate-above separate-below">
                        <div class="col-xs-12 col-sm-4 col-sm-offset-4 text-center">
                            <a class="center-block btn btn-success btn-lg" ui-sref="search"
                               ng-bind="::referrals.strings.ACTION_SEARCH_ACTIVITIES"></a>
                        </div>
                    </div>
                </div>
                <div ng-if="!referrals.student">
                    <div class="row separate-above-less separate-below">
                        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
                            <h1 class="text-center separate-below">
                              <strong>
                                {{referrals.referrer.user.first_name}}
                                te está regalando COP 20.000
                              </strong>
                              
                            </h1>
                            <h3 class="text-center" ng-bind="::referrals.strings.HEADER_TEXT_COPY"></h3>
                        </div>
                    </div>
                    <div class="row separate-above separate-below">
                        <button class="center-block btn btn-success btn-lg"
                                ng-click="referrals.register()"
                                ng-bind="::referrals.strings.ACTION_REDEEM"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="trulii-cover__background" ng-style="{ 'background-image' : 'url({{referrals.getAmazonUrl('static/img/referrals/banner.jpg')}})' }">
        </div>
    </div>
</div>
<div class="col-xs-12 container-muted" id="anchor-how">
  <div class="row limited-width">
    <div class="col-xs-12 separate-above separate-below">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="text-primary title text-center"><strong ng-bind="::referrals.strings.HOW_TITLE_COPY"></strong></h1>
        </div>
      </div>
      <div class="row separate-below-more">
        <div class="col-xs-12 col-md-3">
          <div class="container-how separate-above ">
            <div class="container-how__image container-how__image-find">
              <img ng-src="{{referrals.getAmazonUrl('static/img/home/encuentra.png')}}" alt="{{ ::referrals.strings.HOW_FIND_COPY }}" 
              class="img-responsive center-block">
              
            </div>
            <h4 class="text-uppercase font-bold text-center text-color-secondary separate-above-less separate-below-less"
              ng-bind="::referrals.strings.HOW_FIND_COPY"></h4>
            <p class="text-center" ng-bind="::referrals.strings.HOW_FIND_TEXT"></p>
            <i class="fa fa-long-arrow-right hidden-xs hidden-sm" aria-hidden="true"></i>
            <i class="fa fa-long-arrow-down hidden-md hidden-lg" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-xs-12 col-md-3">
          <div class="container-how separate-above">
            <div class="container-how__image container-how__image-sign">
              <img ng-src="{{referrals.getAmazonUrl('static/img/home/inscribite.png')}}" alt="{{ ::referrals.strings.HOW_SIGN_UP_COPY }}" 
              class="img-responsive center-block">
            </div>
            <h4 class="text-uppercase font-bold text-center text-success separate-above-less separate-below-less"
              ng-bind="::referrals.strings.HOW_SIGN_UP_COPY"></h4>
            <p class="text-center" ng-bind="::referrals.strings.HOW_SIGN_UP_TEXT"></p>
            <i class="fa fa-long-arrow-right hidden-xs hidden-sm" aria-hidden="true"></i>
            <i class="fa fa-long-arrow-down hidden-md hidden-lg" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-xs-12 col-md-3">
          <div class="container-how separate-above">
            <div class="container-how__image container-how__image-learn">
              <img ng-src="{{referrals.getAmazonUrl('static/img/home/aprende.png')}}" alt="{{ ::referrals.strings.HOW_LEARN_COPY }}" 
              class="img-responsive center-block">
            </div>
            <h4 class="text-uppercase font-bold text-center text-warning separate-above-less separate-below-less"
              ng-bind="::referrals.strings.HOW_LEARN_COPY"></h4>
            <p class="text-center" ng-bind="::referrals.strings.HOW_LEARN_TEXT"></p>
            <i class="fa fa-long-arrow-right hidden-xs hidden-sm" aria-hidden="true"></i>
            <i class="fa fa-long-arrow-down hidden-md hidden-lg" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-xs-12 col-md-3">
          <div class="container-fluid container-how separate-above">
            <div class="container-how__image container-how__image-review">
              <img ng-src="{{referrals.getAmazonUrl('static/img/home/evalua.png')}}" alt="{{ ::referrals.strings.HOW_REVIEW_COPY }}" 
              class="img-responsive center-block">
            </div>
            <h4 class="text-uppercase font-bold text-center text-warning separate-above-less separate-below-less"
              ng-bind="::referrals.strings.HOW_REVIEW_COPY"></h4>
            <p class="text-center" ng-bind="::referrals.strings.HOW_REVIEW_TEXT"></p>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
<!--End of info section-->

<!--Video section-->
<div class="col-xs-12">
  <div class="row">
      <div class="trulii-cover__container">
        <div class="trulii-cover__video limited-width"  >
          <div class="trulii-cover__video-text">
            <h2 class="title " ng-bind="::referrals.strings.VIDEO_COPY"></h2>
            <p ng-bind="::referrals.strings.VIDEO_TEXT"></p>
          </div>
          
          <div class="trulii-cover__video-play " ng-click="truliiVideo.playVideo(); referrals.toggleVideoShow()">
            <i class="fa fa-play" aria-hidden="true"></i>
          </div>
        </div> 
        <div class="trulii-cover__background background-none" ng-style="{'background-image': 'url({{referrals.getAmazonUrl('static/img/home/cover_video.jpg')}})'}"></div>
      </div>
  </div>
</div>
<div class="absolute-container" ng-show="referrals.showVideo">
  <div class="absolute-container__cover-close"  ng-click="truliiVideo.stopVideo(); referrals.toggleVideoShow()"></div>
  <button class="pull-right absolute-container__close" ng-click="truliiVideo.stopVideo(); referrals.toggleVideoShow()">
    <img class="img-responsive" ng-src="{{referrals.getAmazonUrl('static/img/activity-enroll/close.png')}}" alt=""/>
  </button>
  <div class="col-xs-12 col-md-8">
    <div class="youtube-container separate-above separate-below">
      <youtube-video player="truliiVideo" video-url="'https://www.youtube.com/watch?v=fCED7SMj3Kg'"></youtube-video>
    </div>
  </div> 
</div> 

<div class="row">
  <div class="col-xs-12 container-muted">
    <div class="limited-width separate-above separate-below">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="text-primary title text-center"><strong ng-bind="::referrals.strings.BENEFITS_TITLE"></strong></h1>
        </div>
      </div>
      <div class="container-reasons">
        <div class="reason ">
          <div class="reason-img reason-img__commisions">
            <img ng-src="{{referrals.getAmazonUrl('static/img/home/comiciones.png')}}"
            alt="{{ ::referrals.strings.REASON_NO_COMMISSIONS }}"/>
          </div>
          <div class="reason-text">
            <div class="reason-title " ng-bind="::referrals.strings.REASON_NO_COMMISSIONS"></div>
            <div class="reason-copy" ng-bind="::referrals.strings.REASON_COPY_NO_COMMISSIONS"></div>
          </div>
        </div>
        <div class="reason ">
          <div class="reason-img reason-img__refund">
            <img ng-src="{{referrals.getAmazonUrl('static/img/home/devolucion.png')}}"
            alt="{{ ::referrals.strings.REASON_REFUND }}"/>
          </div>
          <div class="reason-text">
            <div class="reason-title " ng-bind="::referrals.strings.REASON_REFUND"></div>
            <div class="reason-copy" ng-bind="::referrals.strings.REASON_COPY_REFUND"></div>
          </div>
        </div>
        <div class="reason ">
          <div class="reason-img reason-img__payment">
            <img  ng-src="{{referrals.getAmazonUrl('static/img/home/pago_seguro.png')}}"
          alt="{{ ::referrals.strings.REASON_SECURE }}"/>
          </div>
          <div class="reason-text">
            <div class="reason-title " ng-bind="::referrals.strings.REASON_SECURE"></div>
            <div class="reason-copy" ng-bind="::referrals.strings.REASON_COPY_SECURE"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 separate-above-more separate-below">
          <button class="center-block btn btn-success btn-lg"
              ng-click="referrals.register()"
              ng-bind="::referrals.strings.ACTION_REDEEM"></button>
        </div>
      </div>
    </div>
  </div>
</div>

<trulii-footer></trulii-footer>
