
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="container-fluid">
            <div class="row activity-grid">
                <!--TODO agregar de nuevo el track by cuando Harvey haga fix "track by activity.id"-->
                <trulii-activity-item 
                        ng-repeat="activity in home.activities"
                        data-activity="activity" data-options="{{home.options}}"></trulii-activity-item>
            </div>
        </div>
    </div>
</div>
