<div class="row">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <li>
                <label for="home-city-selector" class="sr-only">Cities</label>
                <select id="home-city-selector" class="form-control" name="city" ng-model="home.current_city"
                        ng-options="city as city.name for city in home.cities track by city.id"
                        ng-change="home.setCurrentCity(current_city)">
                </select>
            </li>
        </ul>
    </div>
    <div class="col-md-10">
        <div class="container-fluid">
            <div class="row">
                <trulii-activity-item
                    ng-repeat="activity in home.activities track by activity.id"
                    data-activity="activity"></trulii-activity-item>
            </div>
        </div>
    </div>
</div>
