<!--First section-->
<div class="trulii-cover">
  <div class="trulii-cover__container">
    <div class="trulii-cover__content">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
            <h1 class="text-center title"><strong ng-bind="::home.strings.HEADER_TITLE_COPY"></strong></h1>
          </div>
          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <p class="text-center" ng-bind="::home.strings.HEADER_TEXT_COPY"></p>
              </div>
            </div>  
          </div>
          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
                <trulii-search-bar></trulii-search-bar>
              </div>      
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--First section background-->
    <div class="trulii-cover__background" style="background-image:url(/videos/home1_poster.png)">
      <section class="video" ng-video>
        <video class="trulii-cover__background-video" ng-model="home.coverVideo" autoplay vi-screen></video>
      </section>
    </div>
  </div>
</div>
<!--End of first section-->

<!--Reasons section-->
<div class="col-xs-12">
  <div class="row">
    <div class="col-md-12">
      <div class="reasons-container separate-below container-muted">
        <div class="reason">
          <img class="reason-img" src="css/img/activity-detail/reason_no_commissions.png"
            alt="{{ ::home.strings.REASON_NO_COMMISSIONS }}"/>
          <div class="reason-text">
            <div class="reason-title text-uppercase" ng-bind="::home.strings.REASON_NO_COMMISSIONS"></div>
            <div class="reason-copy" ng-bind="::home.strings.REASON_COPY_NO_COMMISSIONS"></div>
          </div>
        </div>
        <div class="reason">
          <img class="reason-img" src="css/img/activity-detail/reason_guaranteed_refund.png"
            alt="{{ ::home.strings.REASON_REFUND }}"/>
          <div class="reason-text">
            <div class="reason-title text-uppercase" ng-bind="::home.strings.REASON_REFUND"></div>
            <div class="reason-copy" ng-bind="::home.strings.REASON_COPY_REFUND"></div>
          </div>
        </div>
        <div class="reason">
          <img class="reason-img" src="css/img/activity-detail/reason_secure_payment.png"
          alt="{{ ::home.strings.REASON_SECURE }}"/>
          <div class="reason-text">
            <div class="reason-title text-uppercase" ng-bind="::home.strings.REASON_SECURE"></div>
            <div class="reason-copy" ng-bind="::home.strings.REASON_COPY_SECURE"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End of reasons section-->

<!--Activities section-->
<div class="col-xs-12 separate-above separate-below-more">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="text-primary title text-center">
            <strong ng-bind="::home.strings.ACTIVITIES_TITLE_COPY"></strong>
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <h3 class="text-center pt-serif text-muted sub-title" ng-bind="::home.strings.ACTIVITIES_TEXT_COPY"></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="container-fluid separate-above-medium">
            <div class="row activity-grid">
              <trulii-activity-item
              ng-repeat="activity in home.activities track by activity.id"
              data-activity="activity" data-options="{{home.options}}"></trulii-activity-item>
            </div>
          </div>
        </div>
      </div>
      <div class="row separate-above">
        <div class="col-xs-8 center-block float-none no-padding">
          <span class="btn btn-primary btn-block btn-padding"
            ng-show="home.activities.length > 0" ng-click="home.viewMoreActivities()">
          <span ng-bind="::home.strings.ACTIVITIES_BUTTON_COPY"></span>
          <span ng-bind="'(' + home.activitiesCount + ')'"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End of activities section-->

<!--Video section-->
<div class="col-xs-12">
  <div class="row">
    <div class="trulii-cover">
      <div class="trulii-cover__container">
        <div class="trulii-cover__content">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
                <h1 class="text-center title"><strong ng-bind="::home.strings.VIDEO_COPY"></strong></h1>
                <a href="" class="trulii-cover__content-play-controllers" ng-click="truliiVideo.playVideo(); home.toggleVideoShow()">
                  <img src="/css/img/home/play.png" alt="" class="img-responsive center-block separate-above">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="trulii-cover__background background-dots" style="background-image:url(/css/img/home/banners/video.png)"></div>
      </div>
    </div>    
  </div>
</div>

<!--End of video section-->

<!--Video container section-->
<div class="absolute-container" ng-show="home.showVideo">
  <button class="pull-right absolute-container__close" ng-click="truliiVideo.stopVideo(); home.toggleVideoShow()">
    <img class="img-responsive" src="/css/img/activity-enroll/close.png" alt=""/>
  </button>
  <div class="col-xs-12 col-md-8">
    <div class="youtube-container separate-above separate-below">
      <youtube-video player="truliiVideo" video-url="'https://www.youtube.com/watch?v=fCED7SMj3Kg&feature=youtu.be'"></youtube-video>
    </div>
  </div>
</div>
<!--End of video container section-->

<!--Categories section-->
<div class="col-xs-12 separate-above-more separate-below-more">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="text-primary text-center">
            <strong ng-bind="::home.strings.CATEGORIES_TITLE_COPY"></strong>
          </h1>
        </div>
      </div>
      <div class="row separate-below-medium">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <h3 class="text-center pt-sans text-muted" ng-bind="::home.strings.CATEGORIES_TEXT_COPY"></h3>
        </div>
      </div>
      <div class="category-card-container">
        <div class="row">
          <div class="col-xs-12 col-md-6" ng-repeat="category in home.categories track by category.id">
            <a ui-sref="search({category:category.id})" class="category-card category-card-lg">
              <div class="category-card__veil"></div>
              <div class="category-card__background" ng-style="{'background-image': 'url(' + category.cover + ')'}"></div>
              <h2 class="category-card__title" ng-bind="::category.name"></h2>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End of categories section-->

<!--Info section-->
<div class="col-xs-12 container-muted">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 separate-above separate-below">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="text-primary text-center"><strong ng-bind="::home.strings.HOW_TITLE_COPY"></strong></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <h3 class="text-center pt-sans text-muted" ng-bind="::home.strings.HOW_TEXT_COPY"></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <div class="container-fluid separate-above">
            <img src="/css/img/home/find.png" alt="{{ ::home.strings.HOW_FIND_COPY }}" style="width: 8em;"
              class="img-responsive center-block">
            <p class="text-uppercase text-center text-color-secondary font-family-sans separate-above-less separate-below-less"
              ng-bind="::home.strings.HOW_FIND_COPY"></p>
            <p class="text-center" ng-bind="::home.strings.HOW_FIND_TEXT"></p>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="container-fluid separate-above">
            <img src="/css/img/home/signup.png" alt="{{ ::home.strings.HOW_SIGN_UP_TEXT }}" style="width: 8em;"
            class="img-responsive center-block">
            <p class="text-uppercase text-center text-success font-family-sans separate-above-less separate-below-less"
              ng-bind="::home.strings.HOW_SIGN_UP_COPY"></p>
            <p class="text-center" ng-bind="::home.strings.HOW_SIGN_UP_TEXT"></p>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="container-fluid separate-above">
            <img src="/css/img/home/learn.png" alt="{{ ::home.strings.HOW_LEARN_TEXT }}" style="width: 8em;"
              class="img-responsive center-block">
            <p class="text-uppercase text-center text-warning font-family-sans separate-above-less separate-below-less"
              ng-bind="::home.strings.HOW_LEARN_COPY"></p>
            <p class="text-center" ng-bind="::home.strings.HOW_LEARN_TEXT"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End of info section-->

<!--Publish section-->
<div class="col-xs-12 container-success">
  <div class="row separate-above-more separate-below-more">
    <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
      <h1 class="text-center text-color-secondary separate-below-medium title">
        <strong ng-bind="::home.strings.PUBLISH_COPY"></strong>
      </h1>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
      <h4 class="text-center text-line-more" ng-bind="::home.strings.PUBLISH_TEXT_1"></h4>
      <br>
      <h4 class="text-center text-line-more" ng-bind="::home.strings.PUBLISH_TEXT_2"></h4>
      <br>
      <h3 class="text-center separate-below">
        <strong ng-bind="::home.strings.PUBLISH_TEXT_3"></strong>
      </h3>
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <a class="btn btn-block btn-primary btn-lg"
          ui-sref="organizer-landing"
          ng-bind="::home.strings.PUBLISH_BUTTON_COPY">
        </a>
      </div>
    </div>
  </div>
</div>
<!--End of publish section-->

<trulii-footer></trulii-footer>
