<div class="container-fluid">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 text-center">
            <h1 class="text-muted"><strong ng-bind="notFound.strings.TITLE_DOES_NOT_EXISTS"></strong></h1>
            <h4 class="text-muted" ng-bind="notFound.strings.COPY_DOES_NOT_EXISTS"></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <img src="css/img/404.png" alt="Not Found" class="img-responsive"/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <h5 class="text-center separate-below" ng-bind="notFound.strings.COPY_FIND_NEW_ACTIVITIES"></h5>
        </div>
    </div>
    <div class="row not-found-search-bar">
        <div class="col-xs-12 col-md-6 col-md-offset-3 separate-above separate-below">
            <trulii-search-bar></trulii-search-bar>
        </div>
    </div>
    <div class="row">
        <trulii-footer></trulii-footer>
    </div>
</div>
