    <div class="row">
      <div class="col-sm-6 col-md-4 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>Resetear contraseña</strong>
          </div>

          <div class="panel-body">
            <form name='vm.forgot_password_form' ng-submit="vm.forgotPassword()">
              <fieldset>
                <div class="row">
                  <div class="col-sm-12 col-md-10  col-md-offset-1 ">

                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="glyphicon glyphicon-envelope"></i>
                        </span> 
                        <input type="text" class="form-control" name="email" ng-model="vm.email"   placeholder="Correo electrónico">
                      </div>
                      <div class="errors" ng-show="vm.forgot_password_form.email.$invalid">
                          <span>{{vm.errors.email}}</span>
                      </div>
                    </div>
                    <div class="alert alert-error" ng-show="vm.errors.__all__">
                      <strong>{{vm.errors.__all__}}</strong>
                    </div>

                    <input type="hidden" ng-model="vm.user_type" ng-init="vm.user_type='O'">
                    <div class="form-group">
                      <input type="submit" id="submit" class="btn btn-lg btn-primary btn-block" value="Resetear">
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
          <div class="panel-footer ">
            <a ui-sref="login"> Regresar</a>
          </div>

        </div>
      </div>
    </div>


<!-- 


<div class="modal-header">
    <h3 class="modal-title">Resetear contraseña</h3>
</div>
<form name='vm.forgot_password_form' ng-submit="vm.forgotPassword()">
  <div class="modal-body">
    <div class="row" >
      <div class="col-md-12">
        
        
        <fieldset>

          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email" ng-model="vm.email"  server-error placeholder="">
            <div class="errors" ng-show="vm.forgot_password_form.email.$invalid">
                <span>{{vm.errors.email}}</span>
            </div>
          </div>


          <div class="alert alert-error" ng-show="vm.errors.__all__">
            <strong>{{vm.errors.__all__}}</strong>
          </div>

        </fieldset>        
        
      </div>
    </div>
  </div>
  <div class="modal-footer">
      <input type="submit" id="submit" class="btn btn-primary" value="OK"/>
      <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</form> -->


