
<div class="white-curtain"></div>



<div class="container-fluid separate-horizontal">
    <div class="row center-childs">
        <div class="size-xs fit-in-xs separate-horizontal-inner">            
        
                <a ui-sref="home">
                    <div class="trulii-inverse-med" style="height: 7.5em;">
                        
                    </div>    
                </a>
                
                <h3>Reseteo de contraseña</h3>
                <div class="row">                    

                    <form name='vm.forgot_password_form' ng-submit="vm.forgotPassword()">
                        <fieldset>
                          <div class="separate-vertical">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                      <i class="mdi-communication-email"></i>
                                    </span>
                                    <input type="text" class="form-control input--med" name="email" ng-model="vm.email"
                                           placeholder="Correo electrónico">
                                </div>
                                <trulii-input-alert field="vm.forgot_password_form.email"
                                                    errors="vm.errors"></trulii-input-alert>
                            </div>
                            <div class="alert alert-error" ng-show="vm.errors.__all__">
                                <strong>{{vm.errors.__all__}}</strong>
                            </div>

                            <input type="hidden" ng-model="vm.user_type" ng-init="vm.user_type='O'">

                          </div>
                            
                            <button type="submit" id="submit" class="btn btn-ls btn-block btn-primary">
                                Resetear
                            </button>
                            
                        </fieldset>
                    </form>
                </div>             

      
        </div>        
    </div>

</div>

