
<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 separate-below-more">
        <div class="well remove-shadow separate-below-more">
            <h2 class="text-center text-muted well-header">
                <strong ng-bind="vm.strings.SIGNUP_CONFIRMATION_LABEL"></strong>
            </h2>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <h3 class="text-center text-muted separate-vertical">!Ya estás aprobado como organizador! Solo falta que coloques tu contraseña para empezar a disfrutar de Trulii.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
                    <form class="form-classic separate-below" name='vm.signup_form' ng-submit="vm.registerOrganizer()">
                        <fieldset>
                            <div>
                                <div class="form-group">
                                    <input class="form-control input-s, " ng-readonly="true" name="name"
                                        ng-model="vm.auth.name" placeholder="Nombre de la Organización"
                                        type="text">
                                    <trulii-input-alert field="vm.signup_form.name"
                                                        errors="vm.errors"></trulii-input-alert>
                                </div>
                                <div class="form-group" trulii-input-errors-control="email">
                                    <input class="form-control input-s, " ng-readonly="true" name="email"
                                        ng-model="vm.auth.email" placeholder="Correo electrónico"
                                        type="text">
                                    <trulii-input-alert field="vm.signup_form.email"
                                                        errors="vm.errors"></trulii-input-alert>
                                </div>
                                <div class="form-group" trulii-input-errors-control="password">
                                    <input class="form-control input-s, "
                                        placeholder="{{::vm.strings.PASSWORD_LABEL}}" name="password"
                                        ng-model="vm.auth.password" type="password" value="">
                                    <trulii-input-alert field="vm.signup_form.password"
                                                        errors="vm.errors"></trulii-input-alert>
                                </div>
                                <div class="form-group" trulii-input-errors-control="__all__">
                                    <input type="hidden" ng-model="__all__" name="__all__"/>
                                </div>
                                <input type="hidden" ng-model="vm.user_type" ng-init="vm.user_type='O'">

                                <!--TODO replace with toast-->
                                <div class="alert alert-error" ng-show="vm.errors.__all__">
                                    <strong>{{vm.errors.__all__}}</strong>
                                </div>
                            </div>
                            <button type="submit" id="submit" class="btn btn-lg btn-primary btn-block"
                                    ng-bind="::vm.strings.SIGNUP_SUBMIT"></button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<trulii-footer></trulii-footer>
