<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4 separate-below-more separate-above">
            <div class="well well-auth no-padding remove-shadow separate-below-more">
                <h5 class="text-center separate-above-less" ng-bind="vm.strings.SIGNUP_ALTERNATIVES_LABEL">
                </h5>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 separate-above-less separate-below-less">
                        <button type="button" class="btn btn-block btn-lg btn-facebook"
                                ng-click="vm.fbRegister()" ng-bind="vm.strings.REGISTER_WITH_FACEBOOK_MSG">
                        </button>

                        <!--TODO replace with toast-->
                        <div class="alert alert-danger" ng-show="!!vm.facebook.error">
                            <span ng-bind="vm.strings.FACEBOOK_ERROR"></span>
                        </div>
                    </div>
                  <div class="row">
                      <div class="col-xs-10 col-xs-offset-1">
                          <hr class="">
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-12">
                        <h5 class="text-center" ng-bind="vm.strings.SIGNUP_EMAIL_LABEL">
                        </h5>
                      </div>
                      <div class="col-xs-10 col-xs-offset-1">
                          <form name='vm.signup_form' ng-submit="vm.register()">
                              <div class="row">
                                  <div class="col-sm-12">
                                      <div class="separate-above-less">
                                          <div class="form-group" trulii-input-errors-control="first_name">
                                              <input class="form-control input-sm " name="first_name" type="text"
                                                    ng-model="vm.auth.first_name"
                                                    placeholder="{{::vm.strings.FIRST_NAME_LABEL}}">
                                          </div>
                                          <div class="form-group" trulii-input-errors-control="last_name">
                                              <input class="form-control input-sm " name="last_name" type="text"
                                                    ng-model="vm.auth.last_name"
                                                    placeholder="{{::vm.strings.LAST_NAME_LABEL}}">
                                          </div>
                                          <div class="form-group" trulii-input-errors-control="email">
                                              <input class="form-control input-sm " name="email" type="text"
                                                    ng-model="vm.auth.email"
                                                    placeholder="{{::vm.strings.EMAIL_LABEL}}">
                                          </div>
                                          <div class="form-group" trulii-input-errors-control="password1">
                                              <input class="form-control input-sm " name="password1" type="password"
                                                    placeholder="{{::vm.strings.PASSWORD_LABEL}}"
                                                    ng-model="vm.auth.password1">
                                          </div>
                                      </div>
                                      <input type="hidden" ng-model="vm.user_type">
                                      <button type="submit" id="submit" class="btn btn-lg btn-primary btn-block separate-above-medium separate-below-less"
                                              ng-bind="::vm.strings.SIGNUP_LABEL">
                                      </button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
                  <div class="accept-terms" >
                      <div class="trulii-checkbox ">
                                <input type="checkbox" id="cert" ng-model="vm.acceptTerms">
                                <label  class="text-regular" for="cert"><span></span></label>
                       </div>
                       <h5 class="text-md text-center font-dark text-brand-dark">
                            <span ng-bind="vm.strings.TERMS_AND_CONDITIONS_COPY_1"></span>
                            <a ui-sref="about.privacy-policy" class="text-underline font-regular text-brand-dark" ng-bind="vm.strings.LABEL_PRIVACY"></a>
                            <span ng-bind="vm.strings.TERMS_AND_CONDITIONS_COPY_3"></span>
                            <a ui-sref="about.terms" class="text-underline font-regular text-brand-dark" ng-bind="vm.strings.LABEL_TERMS"></a>
                            <span ng-bind="vm.strings.TERMS_AND_CONDITIONS_COPY_5"></span>
                        </h5>
                          
                  </div>
                  <div class="row">
                    <div class="text-center separate-vertical" id="anchor">
                        <span class="fit-in-xs" ng-bind="vm.strings.ALREADY_HAVE_AN_ACCOUNT_COPY"></span>
                        <a ng-click="vm.toLoginState()">
                            <strong ng-bind="::vm.strings.LOGIN_LABEL"></strong>
                        </a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="text-center separate-below" id="anchor">
                        <a ui-sref="organizer-landing" class="text-underline font-regular text-warning" ng-bind="::vm.strings.REGISTER_ORGANIZER_LABEL">
                        </a>
                    </div>
                   </div>
                  
                  
              </div> 
            </div>
        </div>
    </div>
</div>

<trulii-footer></trulii-footer>
