<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4 separate-below-more separate-above">
            <div class="well well-auth no-padding remove-shadow separate-below-more">
                <h5 class="text-center separate-above-less text-muted font-medium" ng-bind="vm.strings.SIGNUP_ALTERNATIVES_LABEL">
                </h5>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                        <button type="button" class="btn btn-block btn-facebook"
                                ng-click="vm.fbRegister()">
                            <i class="trulii-icon-facebook text-spaced-more"></i>
                            <strong class="text-uppercase text-spaced" ng-bind="vm.strings.REGISTER_WITH_FACEBOOK_MSG"></strong>
                        </button>

                        <!--TODO replace with toast-->
                        <div class="alert alert-danger" ng-show="!!vm.facebook.error">
                            <span ng-bind="vm.strings.FACEBOOK_ERROR"></span>
                        </div>
                    </div>
                  <div class="row">
                      <div class="col-xs-10 col-xs-offset-1">
                          <hr class="separate-above-less">
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-12">
                        <h5 class="text-center text-muted font-medium" ng-bind="vm.strings.SIGNUP_EMAIL_LABEL">
                        </h5>
                      </div>
                      <div class="col-xs-10 col-xs-offset-1">
                          <form class="form-classic" name='vm.signup_form' ng-submit="vm.register()">
                              <div class="row">
                                  <div class="col-sm-12">
                                      <div class="separate-above-less">
                                          <div class="form-group" trulii-input-errors-control="first_name">
                                              <input class="form-control input-sm " name="first_name" type="text"
                                                    ng-model="vm.auth.first_name"
                                                    placeholder="{{::vm.strings.FIRST_NAME_LABEL}}">
                                          </div>
                                          <div class="form-group" trulii-input-errors-control="last_name">
                                              <input class="form-control input-sm " name="last_name" type="text"
                                                    ng-model="vm.auth.last_name"
                                                    placeholder="{{::vm.strings.LAST_NAME_LABEL}}">
                                          </div>
                                          <div class="form-group" trulii-input-errors-control="email">
                                              <input class="form-control input-sm " name="email" type="text"
                                                    ng-model="vm.auth.email"
                                                    placeholder="{{::vm.strings.EMAIL_LABEL}}">
                                          </div>
                                          <div class="form-group" trulii-input-errors-control="password1">
                                              <input class="form-control input-sm " name="password1" type="password"
                                                    placeholder="{{::vm.strings.PASSWORD_LABEL}}"
                                                    ng-model="vm.auth.password1">
                                          </div>
                                      </div>
                                      <input type="hidden" ng-model="vm.user_type">
                                      <button type="submit" id="submit" class="btn btn-xlg btn-primary btn-block"
                                              ng-bind="::vm.strings.SIGNUP_LABEL">
                                      </button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
                  <div class="row">
                    <div class="text-center separate-vertical" id="anchor">
                        <a ui-sref="organizer-landing" class="text-underline font-regular" ng-bind="::vm.strings.REGISTER_ORGANIZER_LABEL">
                        </a>
                    </div>
                  <div class="row">
                      <div class="separator"></div>
                      <div class="col-xs-10 col-xs-offset-1">
                          <h5 class="text-muted text-tiny text-center separate-above font-light">
                              <span ng-bind="vm.strings.TERMS_AND_CONDITIONS_COPY_1"></span>
                              <a ui-sref="about.privacy-policy" class="text-muted text-underline font-regular" ng-bind="vm.strings.LABEL_PRIVACY"></a>
                              <span ng-bind="vm.strings.TERMS_AND_CONDITIONS_COPY_3"></span>
                              <a ui-sref="about.terms" class="text-muted text-underline font-regular" ng-bind="vm.strings.LABEL_TERMS"></a>
                              <span ng-bind="vm.strings.TERMS_AND_CONDITIONS_COPY_5"></span>
                          </h5>
                      </div>
                  </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>

<trulii-footer></trulii-footer>
