

<div class="white-curtain"></div>



<div class="container-fluid separate-horizontal">
    <div class="row center-childs">
        <div class="size-xs fit-in-xs separate-horizontal-inner">            
        
                <a ui-sref="home">
                    <div class="trulii-inverse-med" style="height: 7.5em;">
                        
                    </div>    
                </a>
                
                <h3>Reinicio de password</h3>
                <div class="row">                    

                    <form name='vm.reset_password_form' ng-submit="vm.resetPassword()">
                    <fieldset>
                        <div class="separate-vertical">
                            <div class="form-group" trulii-input-errors-control="password1">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                      <i class="mdi-action-lock"></i>
                                    </span>
                                    <input class="form-control" placeholder="Contraseña nueva" name="password1"
                                           ng-model="vm.password1" type="password" value="">
                                </div>
                            </div>
                            <div class="form-group" trulii-input-errors-control="password2">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                      <i class="mdi-action-lock"></i>
                                    </span>
                                    <input class="form-control" placeholder="Contraseña nueva (de nuevo)"
                                           name="password2" ng-model="vm.password2" type="password" value="">

                                </div>

                            </div>

                            <div class="form-group" trulii-input-errors-control="__all__">
                                <input type="hidden" ng-model="__all__" name="__all__"/>
                            </div>

                        </div>

                        
                        <button type="submit" id="submit" class="btn btn-lg btn-block btn-primary">
                            Cambiar contraseña
                        </button>
                            
                        
                    </fieldset>
                </form>
            </div>             

      
        </div>        
    </div>

</div>