

<div class="white-curtain"></div>



<div class="container-fluid separate-horizontal">
    <div class="row center-childs">
        <div class="size-xs fit-in-xs separate-horizontal-inner">            
        
                <a ui-sref="home">
                    <div class="trulii-inverse-med" style="height: 7.5em;">
                        
                    </div>    
                </a>
                
                <h3>Reinicio de password</h3>
                <div class="row">                    

                    <form name='vm.reset_password_form' ng-submit="vm.resetPassword()">
                    <fieldset>
                        <div class="separate-vertical">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                      <i class="mdi-action-lock"></i>
                                    </span>
                                    <input class="form-control" placeholder="Contraseña nueva" name="password1"
                                           ng-model="vm.password1" type="password" value="">
                                </div>
                                <trulii-input-alert field="vm.reset_password_form.password1"
                                                    errors="vm.errors"></trulii-input-alert>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                      <i class="mdi-action-lock"></i>
                                    </span>
                                    <input class="form-control" placeholder="Contraseña nueva (de nuevo)"
                                           name="password2" ng-model="vm.password2" type="password" value="">

                                </div>
                                <trulii-input-alert field="vm.reset_password_form.password2"
                                                    errors="vm.errors"></trulii-input-alert>

                            </div>

                            <input type="hidden" ng-model="__all__" name="__all__"/>

                            <!--TODO replace with toast-->
                            <div class="alert alert-error" ng-show="vm.errors.__all__">
                                <strong>{{vm.errors.__all__}}</strong>
                            </div>
                        </div>

                        
                        <button type="submit" id="submit" class="btn btn-lg btn-block btn-primary">
                            Cambiar contraseña
                        </button>
                            
                        
                    </fieldset>
                </form>
            </div>             

      
        </div>        
    </div>

</div>