<div class="row">
    <div class="col-md-12">
        <p class="copy">
            <span ng-bind="attendees.strings.COPY_SO_FAR"></span>
        </p>
    </div>
</div>
<div ng-if="attendees.totalItems > 0">
    <div class="row">
        <div class="col-md-12">
            <div class="paged-container">
                <span class="pager-btn mdi-navigation-chevron-left"
                      ng-class="{'disabled': !attendees.hasPrevious}"
                      ng-click="attendees.goToPrevious()"></span>
                <div class="attendee-thumbnail" ng-repeat="assistant in attendees.assistants track by assistant.id">
                    <img class="attendee-img" ng-src="{{assistant.photo}}"
                         alt="{{::assistant.first_name}}"/>
                    <span ng-bind="::assistant.first_name"></span>
                </div>
                <span class="mdi-navigation-chevron-right pager-btn"
                      ng-class="{'disabled': !attendees.hasNext}"
                     ng-click="attendees.goToNext()"></span>
            </div>
        </div>
    </div>
</div>
