<div class="col-xs-12 col-lg-3 flex-container">
  <div class="attendees-container">
    <div class="attendees-container__header" ng-class="{'attendees-container__header__not-empty': attendees.assistants.length > 0}">
      <h3 ng-bind="attendees.strings.LABEL_ATTENDEES"></h3>
      <h5 ng-if="attendees.assistants.length > 0" ng-bind="attendees.strings.COPY_ATTENDEES_LIST"></h5>
    </div>
    <div class="attendees-container__body" ng-class="{'attendees-container__body__not-empty' :attendees.assistants.length > 0}">
        <div class="attendees-container__body__placeholder" ng-if="attendees.assistants.length <= 0" ng-bind="attendees.strings.COPY_ATTENDEES_LIST">
            <h5 ng-bind="attendees.strings.COPY_BE_THE_FIRST"></h5>
            <a href="" ng-bind="attendees.strings.SEE_MORE_DATES"></a>
        </div>
      <div class="attendees-container__body__attendees-list" ng-if="attendees.assistants.length > 0">
        <div class="attendee-item" ng-repeat="attendee in attendees.assistants track by attendee.id">
          <trulii-avatar user="attendee" size="40" avatar-class="small" ng-class="{'avatar-landing': !attendee.photo}"></trulii-avatar>
          <div class="attendee-item__name" ng-bind="attendee.full_name">
          </div>
        </div>
      </div>
    </div>
    <div class="attendees-container__footer">
      <div class="attendees-container__footer__prev" ng-click="attendees.attendeesScrollUp()">
        <i class="fa fa-chevron-up" aria-hidden="true"></i>
      </div>
      <div class="attendees-container__footer__next" ng-click="attendees.attendeesScrollDown()">
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
