<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <tr class="text-center">
                    <th></th>
                    <th>Fecha de Inicio</th>
                    <th>Nro. de Sesiones</th>
                    <th>Cupos restantes</th>
                    <th>Cierre de ventas</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                </tr>
                <!--TODO set selected_calendar-->
                <tr class="text-center" ng-repeat="calendarItem in detail.calendars track by $index">
                    <td>
                        <label class="sr-only" ng-attr-for="{{'calendar_' + calendarItem.id}}"></label>
                        <input ng-attr-id="{{'calendar_' + calendarItem.id}}" type="radio" name="calendar"
                               ng-model="detail.calendar_selected" ng-checked="calendarItem"
                               ng-change="detail.changeSelectedCalendar(calendarItem)"/>
                    </td>
                    <td><span ng-bind="::calendarItem.initial_date | date:'dd MMMM yyyy'"></span></td>
                    <td><span ng-bind="::calendarItem.number_of_sessions"></span></td>
                    <td><span ng-bind="::(calendarItem.capacity - calendarItem.assistants.length)"></span></td>
                    <td><span ng-bind="::calendarItem.closing_sale | date:'dd MMMM yyyy'"></span></td>
                    <td><span ng-bind="::calendarItem.session_price | currency"></span></td>
                    <td><span ng-bind="::calendarItem.capacity"></span></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <tr class="text-center">
                    <th colspan="2">Cronogramas</th>
                </tr>
                <tr ng-repeat="session in detail.calendar_selected.sessions">
                    <td><span ng-bind="session.date | date:'EEEE, dd MMMM'"></span></td>
                    <td class="pull-right">{{ session.start_time | date:'h:mma'}} - {{ session.end_time | date:'h:mma' }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-lg btn-primary pull-right"
           ng-disabled="detail.isSelectedCalendarFull()"
           ui-sref="activities-enroll({activity_id: pc.activity.id, calendar_id: calendar.calendar_selected.id})"
            >Inscribirme</a>
    </div>
</div>