<div class="trulii-cover-regular trulii-cover__detail">
  <div class="trulii-cover__container align-bottom">
    <div class="trulii-cover__content">
      <div class="col-xs-12 col-md-offset-1 col-md-10 limited-width padding-vertical-regular">
        <div class="row ">
          <div class="col-xs-12 separate-below-more">
            <span class="label" ng-bind="::detail.activity.category.name"
              ng-style="{'background-color': '{{detail.activity.category.color}}'}"></span>
            <h1 class="title text-center font-light separate-above-less" ng-bind="::detail.activity.title"></h1>
            <h5 class="organizer" ng-bind="::detail.organizer.name"></h5>
            <div class="rating">
              <rating ng-model="detail.organizer.rating" max="5" state-on="'glyphicon glyphicon-star star'"
                      readonly="true" state-off="'glyphicon glyphicon-star star-empty-off'" aria-labelledby="organizer-rating"></rating> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="trulii-cover__background" style="background-image: url({{detail.activity.main_photo}});">
    </div>
  </div>
</div>
<!--General Info and Sidebar-->
<div class="col-xs-12 limited-width">
  <div class="row activity-detail">
    <div class="activity-detail__enroll-widget" ng-class="{'widget-fixed': (detail.scroll  > detail.widgetOriginalPosition - 110) && (detail.scroll  < detail.widgetMaxPosition)}" ng-style="(detail.scroll >= detail.widgetMaxPosition && {'top': detail.widgetAbsolutePosition}) || ((detail.scroll  > detail.widgetOriginalPosition - 110) && (detail.scroll  < detail.widgetMaxPosition) && {'left': detail.widgetFixedPositionRight})">
      <div class="activity-detail__enroll-widget__content">
            <div class="seats" >
                <div ng-show="!detail.isSelectedCalendarFull()">
                    <span ng-bind="detail.calendar_selected.available_capacity"></span>
                    <ng-pluralize count="detail.calendar_selected.available_capacity"
                        when="{
                        '1': detail.strings.COPY_VACANCY_SINGULAR,
                        'other': detail.strings.COPY_VACANCY
                        }">
                    </ng-pluralize>
                </div>
                <div ng-show="detail.isSelectedCalendarFull()">
                    <span ng-bind="detail.strings.COPY_NO_VACANCY"></span>
                </div>
            </div>
            <div class="price" ng-show="!detail.isSelectedCalendarFull()">
                <div ng-show="!detail.isSelectedCalendarFull()">
                    <div ng-if="!detail.calendar_selected.is_free">
                        <div class="price__number" ng-bind="detail.calendar_selected.session_price | currency:'':0">
                        </div>
                        <div class="price__currency">
                            COP
                        </div>
                    </div>
                    <div ng-if="detail.calendar_selected.is_free">
                        <div class="price__number">
                            <s ng-bind="detail.calendar_selected.session_price | currency:'':0"></s>
                        </div>
                        <div class="price__currency">
                            COP
                        </div>
                        <br>
                        <h4 class="text-center" ng-bind="::detail.strings.COPY_FREE"></h4>
                    </div>
                </div>
            </div>
            <div class="next-date">
                <div class="next-date__copy" ng-bind="::detail.strings.LABEL_NEXT_DATE">
                </div>
                <div class="next-date__date" ng-bind="detail.calendar_selected.initial_date | date:'d MMM y'">
                </div>
            </div>
            <button class="btn btn-success btn-lg btn-rounded btn-block" ng-bind="::detail.strings.ACTION_SIGN_UP"
                ng-disabled="detail.isSelectedCalendarFull()"
                ng-hide="detail.isSelectedCalendarFull()"
                ng-click="detail.signUp(detail.activity.id,detail.calendar_selected.id); detail.widgetSignup()">
            </button>
            <div class="more-dates">
                <a href="" ng-click="detail.viewMoreCalendars()" ng-bind="detail.strings.ACTION_VIEW_OTHER_DATES"></a>
            </div>
        </div>
        <div class="activity-detail__enroll-widget__likes" ng-click="detail.wishList()">
          <div class="heart">
            <i class="mdi-action-favorite-outline"
              ng-class="{'mdi-action-favorite': detail.verifyWishList(), 'text-muted': !detail.verifyWishList()}">
            </i>
          </div>
          <div class="copy">
            <!--12 personas aman esta actividad-->
            <span ng-bind="::detail.activity.wishlist_count"></span>
            <span ng-bind="::detail.strings.COPY_NUMBER_OF_LIKES"></span>
            <!--<span ng-if="detail.activity.wishlist_count === 0" ng-bind="::detail.strings.COPY_BE_THE_FIRST"></span>-->
          </div>
        </div>
      </div>
      <div class="activity-detail__share-widget" ng-class="{'widget-fixed': (detail.scroll  > detail.widgetOriginalPosition - 110) && (detail.scroll  < detail.widgetMaxPosition)}" ng-style="(detail.scroll >= detail.widgetMaxPosition && {'top': detail.widgetAbsolutePosition}) || ((detail.scroll  > detail.widgetOriginalPosition - 110) && (detail.scroll  < detail.widgetMaxPosition) && {'left': detail.widgetFixedPositionLeft})">
        <ul class="list-unstyled">
          <li class="hidden-xs hidden-sm">
            <span ng-bind="detail.facebookShares"></span>
          </li>
          <li>
            <a href="#"
               ng-click="detail.shareSocialAnalytic(detail.social.FACEBOOK_SOCIAL_PROVIDER, detail.social.FACEBOOK_SHARE_URL)"
               socialshare
               socialshare-provider="{{::detail.social.FACEBOOK_SOCIAL_PROVIDER}}"
               socialshare-type="{{::detail.social.FACEBOOK_SHARE_TYPE}}"
               socialshare-via="{{::detail.social.FACEBOOK_API_KEY}}"
               socialshare-redirect-uri="{{::detail.social.FACEBOOK_REDIRECT_URI}}"
               socialshare-media="{{::detail.social.FACEBOOK_SHARE_MEDIA}}"
               socialshare-text="{{::detail.social.FACEBOOK_SHARE_TEXT}}"
               socialshare-caption="{{::detail.social.FACEBOOK_SHARE_CAPTION}}"
               socialshare-description="{{::detail.social.FACEBOOK_SHARE_DESCRIPTION}}"
               socialshare-url="{{::detail.social.FACEBOOK_SHARE_URL}}">
              <img ng-src="{{detail.getAmazonUrl('static/img/share/facebook.png')}}" alt="">
            </a>
          </li>
          <li>

            <a href="#"
               ng-click="detail.shareSocialAnalytic(detail.social.TWITTER_SOCIAL_PROVIDER, detail.social.TWITTER_SHARE_URL)"
               socialshare
               socialshare-provider="{{::detail.social.TWITTER_SOCIAL_PROVIDER}}"
               socialshare-text="{{::detail.social.TWITTER_SHARE_TEXT}}"
               socialshare-url="{{::detail.social.TWITTER_SHARE_URL}}">
              <img ng-src="{{detail.getAmazonUrl('static/img/share/twitter.png')}}" alt="">
            </a>
          </li>
          <li>
            <a href="#"
               ng-click="detail.shareSocialAnalytic(detail.social.FACEBOOK_SOCIAL_PROVIDER, detail.social.FACEBOOK_SHARE_URL)"
               socialshare
               socialshare-provider="{{::detail.social.LINKEDIN_SOCIAL_PROVIDER}}"
               socialshare-text="{{::detail.social.LINKEDIN_SHARE_TEXT}}"
               socialshare-description="{{::detail.social.LINKEDIN_SHARE_DESCRIPTION}}"
               socialshare-url="{{::detail.social.LINKEDIN_SHARE_URL}}">
              <img ng-src="{{detail.getAmazonUrl('static/img/share/linkedin.png')}}" alt="">
            </a>
          </li>
          <li>
            <a href="#"
               ng-click="detail.toggleEmailShow()">
              <img ng-src="{{detail.getAmazonUrl('static/img/share/email.png')}}" alt="">
            </a>
          </li>
          <li class="hidden-md hidden-lg">
            <a href="#"
               socialshare
               socialshare-provider="{{::detail.social.WHATSAPP_SOCIAL_PROVIDER}}"
               socialshare-text="{{::detail.social.WHATSAPP_SHARE_TEXT}}"
               socialshare-url="{{::detail.social.WHATSAPP_SHARE_URL}}">
              <img ng-src="{{detail.getAmazonUrl('static/img/share/whatsapp.png')}}" alt="">
            </a>
          </li>
          <li class="hidden-md hidden-lg">
            <a href="#"
               socialshare
               socialshare-provider="{{::detail.social.MESSENGER_SOCIAL_PROVIDER}}"
               socialshare-url="{{::detail.social.MESSENGER_SHARE_URL}}">
              <img ng-src="{{detail.getAmazonUrl('static/img/share/messenger.png')}}" alt="">
            </a>
          </li>
        </ul>
      </div>
      <!--Description-->
      <div class="row separate-above-medium">
        <div class="col-xs-12">
          <p ng-bind="::detail.activity.short_description"></p>
        </div>
      </div>
      <!--Gallery-->
      <div class="row gallery-container">
        <div class="col-xs-12">
          <div class="gallery">
            <div class="gallery-gradient"></div>
            <div class="gallery-slide" ng-repeat="picture in detail.activity.gallery track by picture.id" ng-class="{'active': detail.currentGalleryPicture === $index}">
              <img class=""
              src="{{ picture.photo }}" alt=""
              ng-show="detail.currentGalleryPicture === $index"/>
            </div>
            <img class="gallery-previous" ng-hide="detail.currentGalleryPicture < 1"
              ng-src="{{detail.getAmazonUrl('static/img/activity-detail/gallery_slider_left.png')}}" alt="Previous Picture"
              ng-click="detail.previousGalleryPicture()"/>
            <img class="gallery-next"
              ng-src="{{detail.getAmazonUrl('static/img/activity-detail/gallery_slider_right.png')}}" alt="Next Picture"
              ng-hide="detail.currentGalleryPicture >= detail.activity.gallery.length - 1"
              ng-click="detail.nextGalleryPicture()"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="info separate-above hidden-xs hidden-sm">
          <div class="info__content">
              <div class="col-xs-4">
                <p class="text-center" ng-bind="detail.activity.level_display"></p>
              </div>
              <div class="col-xs-4">
                <p ng-if="detail.activity.certification" class="text-center"
                   ng-bind="::detail.strings.VALUE_WITH_CERTIFICATION"></p>
                <p ng-if="!detail.activity.certification" class="text-center"
                   ng-bind="::detail.strings.VALUE_WITHOUT_CERTIFICATION"></p>
              </div>
              <div class="col-xs-4">
                <p class="text-center" ng-bind="detail.calendar_selected.duration | formatDuration: 'seconds' "></p>
              </div>
          </div>
        </div>
      </div>

      <!--Audience-->
      <div class="row separate-above-medium" ng-show="detail.activity.audience">
        <div class="col-xs-12 section">
          <h4 ng-click="detail.showAudience = !detail.showAudience;">
            <strong ng-bind="::detail.strings.LABEL_AUDIENCE"></strong>
            <img ng-src="{{detail.getAmazonUrl('static/img/plus.png')}}" class="collapse-icon" alt="" ng-show="!detail.showAudience">
            <img ng-src="{{detail.getAmazonUrl('static/img/minus.png')}}" class="collapse-icon" alt="" ng-show="detail.showAudience">
          </h4>
          <p class="content" ng-bind-html="::detail.activity.audience" ng-class="{'content-mobile': !detail.showAudience}"></p>
        </div>
      </div>


      <!--Content-->
      <div class="row separate-above-less" ng-show="detail.activity.content">
        <div class="col-xs-12 section">
          <div class="separator separate-vertical"></div>
          <h4 ng-click="detail.showContent = !detail.showContent;">
            <strong ng-bind="::detail.strings.LABEL_CONTENT"></strong>
            <img ng-src="{{detail.getAmazonUrl('static/img/plus.png')}}" class="collapse-icon" alt="" ng-show="!detail.showContent">
            <img ng-src="{{detail.getAmazonUrl('static/img/minus.png')}}" class="collapse-icon" alt="" ng-show="detail.showContent">
          </h4>
          <p class="content" ng-bind-html="::detail.activity.content" ng-class="{'content-mobile': !detail.showAudience}"></p>
        </div>
      </div>


      <!--Goals-->
      <div class="row separate-above-less" ng-show="detail.activity.goals">
        <div class="col-xs-12 section">
          <div class="separator separate-vertical"></div>
          <h4 ng-click="detail.showGoals = !detail.showGoals;">
            <strong ng-bind="::detail.strings.LABEL_GOALS"></strong>
            <img ng-src="{{detail.getAmazonUrl('static/img/plus.png')}}" class="collapse-icon" alt="" ng-show="!detail.showGoals">
            <img ng-src="{{detail.getAmazonUrl('static/img/minus.png')}}" class="collapse-icon" alt="" ng-show="detail.showGoals">
          </h4>
          <p class="content" ng-bind-html="::detail.activity.goals" ng-class="{'content-mobile': !detail.showAudience}"></p>
        </div>
      </div>


      <!--Video-->
      <div class="row separate-below youtube-video-container" ng-if="detail.activity.youtube_video_url">
        <div class="col-xs-12">
          <div class="youtube-container separate-above-medium separate-below-less">
            <youtube-video video-url="detail.activity.youtube_video_url"></youtube-video>
          </div>
        </div>
      </div>


      <!--Methodology-->
      <div class="row separate-above-less" ng-show="detail.activity.methodology">
        <div class="col-xs-12 section">
          <div class="separator separate-vertical" ng-if="!detail.activity.youtube_video_url"></div>
          <h4 ng-click="detail.showMethodology = !detail.showMethodology;">
            <strong ng-bind="::detail.strings.LABEL_METHODOLOGY"></strong>
            <img ng-src="{{detail.getAmazonUrl('static/img/plus.png')}}" class="collapse-icon" alt="" ng-show="!detail.showMethodology">
            <img ng-src="{{detail.getAmazonUrl('static/img/minus.png')}}" class="collapse-icon" alt="" ng-show="detail.showMethodology">
          </h4>
          <p class="content" ng-bind-html="::detail.activity.methodology" ng-class="{'content-mobile': !detail.showAudience}"></p>
        </div>
      </div>


      <!--Requirements-->
      <div class="row separate-above-less" ng-show="detail.activity.requirements">
        <div class="col-xs-12 section">
          <div class="separator separate-vertical"></div>
          <h4 ng-click="detail.showRequirements = !detail.showRequirements;">
            <strong ng-bind="::detail.strings.LABEL_REQUIREMENTS"></strong>
            <img ng-src="{{detail.getAmazonUrl('static/img/plus.png')}}" class="collapse-icon" alt="" ng-show="!detail.showRequirements">
            <img ng-src="{{detail.getAmazonUrl('static/img/minus.png')}}" class="collapse-icon" alt="" ng-show="detail.showRequirements">
          </h4>
          <p class="content" ng-bind-html="::detail.activity.requirements" ng-class="{'content-mobile': !detail.showAudience}"></p>
        </div>
      </div>


      <!--Extra-->
      <div class="row separate-above-less" ng-show="detail.activity.extra_info">

        <div class="col-xs-12 section separate-below">
          <div class="separator separate-vertical"></div>
          <h4 ng-click="detail.showExtra = !detail.showExtra;">
            <strong ng-bind="::detail.strings.LABEL_EXTRA_INFO"></strong>
            <img ng-src="{{detail.getAmazonUrl('static/img/plus.png')}}" class="collapse-icon" alt="" ng-show="!detail.showExtra">
            <img ng-src="{{detail.getAmazonUrl('static/img/minus.png')}}" class="collapse-icon" alt="" ng-show="detail.showExtra">
          </h4>
          <p class="content" ng-bind-html="::detail.activity.extra_info" ng-class="{'content-mobile': !detail.showAudience}"></p>
        </div>
      </div>

      <!--<div class="separate-above-more" ng-show="!detail.activity.extra_info"></div>-->
      <!--Instructors-->
      <div class="row" ng-show="detail.activity.instructors.length">
          <div class="col-xs-12 section separate-below">
              <div class="separator separate-vertical"></div>
              <h4>
                  <strong ng-bind="::detail.strings.LABEL_INSTRUCTORS"></strong>
              </h4>
              <div class="separate-above">
                  <div class="row instructor" ng-repeat="instructor in detail.activity.instructors track by instructor.id">
                      <div class="col-xs-12">
                          <div class="name" ng-bind="::instructor.full_name"></div>
                          <p class="bio" ng-bind="::instructor.bio"></p>
                          <hr ng-if="!$last"/>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="calendars-mobile hidden-md hidden-lg" id="more_calendars_section">

        <div class="calendar-mobile" ng-repeat="calendar in detail.activity.upcoming_calendars | orderBy: 'initial_date' track by calendar.id"
        ng-class="{'active': detail.selectedActivity === $index}" ng-click="detail.selectedActivity = $index;">
          <div class="row">
            <div class="col-xs-6 text-uppercase calendar-mobile__labels">
              <strong>
                <h5>
                  <span ng-bind="::detail.strings.LABEL_START"></span>
                </h5>
                <h5>
                  <span ng-bind="::detail.strings.LABEL_SESSIONS_NUMBER"></span>
                </h5>
                <h5>
                  <span ng-bind="::detail.strings.LABEL_VACANCY"></span>
                </h5>
                <h5>
                  <span ng-bind="::detail.strings.LABEL_COST"></span>
                </h5>
              </strong>
            </div>
            <div class="col-xs-6 calendar-mobile__info">
              <h5>
                <span ng-bind="calendar.initial_date | date:'d MMM' "></span>
              </h5>
              <h5>
                <span ng-bind="calendar.number_of_sessions "></span>
                <span ng-bind="detail.strings.COPY_OTHER_SESSION" ng-if="calendar.number_of_sessions === 1"></span>
                <span ng-bind="detail.strings.COPY_OTHER_SESSIONS" ng-if="calendar.number_of_sessions !== 1"></span>
              </h5>
              <h5>
                <span ng-bind="calendar.available_capacity"></span>
              </h5>
              <h5>
                <span ng-if="!calendar.is_free" ng-bind="calendar.session_price | currency:$:0"></span>
                <s ng-if="calendar.is_free" ng-bind="calendar.session_price | currency:$:0"></s>
                <span ng-if="calendar.is_free" ng-bind="detail.strings.COPY_FREE"></span>
              </h5>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 calendar-mobile__sessions">
              <h5 class="sessions__header text-uppercase" ng-bind="::detail.strings.LABEL_SCHEDULE"></h5>
              <h5 class="separate-above-less" ng-repeat="session in calendar.sessions">
                <span ng-bind="session.date | date: 'EEEE d MMM y' "></span>
                <br>
                <span ng-bind="session.start_time | amDateFormat: 'h:mm a' "></span>
                <span ng-bind="detail.COPY_TO"></span>
                <span ng-bind="session.end_time | amDateFormat: 'h:mm a'"></span>
              </h5>
              <button class="btn btn-rounded btn-primary text-uppercase" ng-if="calendar.available_capacity > 0"
                 ng-click="detail.signUp(detail.activity.id, calendar.id); detail.calendarSignUp()"
                 ng-bind="::detail.strings.ACTION_SIGN_UP">
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Calendars-->
<div class="col-xs-12 sign-up-container more-calendars hidden-xs hidden-sm" id="more_calendars_section">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 limited-width">
      <div class="sign-up-container__title">
        <div class="row">
          <div class="col-xs-12">
            <h1 class="title" ng-bind="::detail.strings.COPY_HEADER_SIGN_UP"></h1>
            <p class="" ng-bind="::detail.strings.COPY_SIGN_UP" ng-if="detail.activity.upcoming_calendars.length > 0"></p>
            <p ng-bind="::detail.strings.COPY_SIGN_UP_NO_DATES" ng-if="detail.activity.upcoming_calendars.length === 0"></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="row flex-wrap">

            <div class="col-xs-12 col-lg-9 col-lg-offset-0 calendars-container separate-above-medium flex-container">
              <table class="table table-responsive table-justified">
                <tr>
                  <th>
                  </th>
                  <th ng-bind="::detail.strings.LABEL_START">
                  </th>
                  <th ng-bind="::detail.strings.LABEL_CLOSING_DATE" class="hidden-xs hidden-sm">
                  </th>
                  <th ng-bind="::detail.strings.LABEL_SESSIONS_NUMBER">
                  </th>
                  <th ng-bind="::detail.strings.LABEL_VACANCY" class="hidden-xs hidden-sm">
                  </th>
                  <th ng-bind="::detail.strings.LABEL_COST">
                  </th>
                </tr>
                <tr
                  class="text-uppercase"
                  ng-repeat-start="calendar in detail.activity.upcoming_calendars | orderBy: 'initial_date' track by calendar.id "
                  ng-class="{'active': detail.selectedActivity === $index}" ng-click="detail.selectedActivity = $index; detail.toggleSessions()">
                  <td>
                    <span class="checkbox"></span>
                  </td>
                  <td>
                    <span ng-bind="calendar.initial_date | date:'d MMM' "></span>
                  </td>
                  <td class="hidden-xs hidden-sm">
                    <span ng-bind="calendar.closing_sale | date:'d MMM' "></span>
                  </td>
                  <td>
                    <span ng-bind="calendar.number_of_sessions "></span>
                    <span ng-bind="detail.strings.COPY_OTHER_SESSION" ng-if="calendar.number_of_sessions === 1"></span>
                    <span ng-bind="detail.strings.COPY_OTHER_SESSIONS" ng-if="calendar.number_of_sessions !== 1"></span>
                  </td>
                  <td class="hidden-xs hidden-sm">
                    <span ng-bind="calendar.available_capacity"></span>
                  </td>
                  <td>
                    <span ng-if="!calendar.is_free" ng-bind="calendar.session_price | currency:$:0"></span>
                    <s ng-if="calendar.is_free" ng-bind="calendar.session_price | currency:$:0"></s>
                    <span ng-if="calendar.is_free" ng-bind="detail.strings.COPY_FREE"></span>
                  </td>
                  <!--<td>
                    <a class="btn btn-primary btn-block text-uppercase" ng-if="calendar.available_capacity > 0"
                      ng-click="detail.signUp(detail.activity.id, calendar.id); detail.calendarSignUp()"
                      ng-bind="::detail.strings.ACTION_SIGN_UP">
                    </a>
                  </td>-->
                </tr>
                <tr ng-repeat-end class="signup-row hidden-xs hidden-sm" ng-show="detail.selectedActivity === $index">
                  <td colspan=1>
                  </td>
                  <td colspan=4>
                    <div class="text-left" ng-if="calendar.available_capacity == 0">
                      <span ng-bind="::detail.strings.COPY_NO_VACANCY"></span>
                    </div>
                  </td>
                  <td colspan=1>
                    <a class="btn btn-primary btn-rounded btn-block text-uppercase" ng-if="calendar.available_capacity > 0"
                       ng-click="detail.signUp(detail.activity.id, calendar.id); detail.calendarSignUp()"
                       ng-bind="::detail.strings.ACTION_SIGN_UP">
                    </a>
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-xs-12 col-lg-3 col-lg-offset-0 sessions-container separate-above-medium flex-container">
              <div class="sessions">
                <h4 class="sessions__header text-uppercase" ng-bind="::detail.strings.LABEL_SCHEDULE"></h4>
                  <h5 class="separate-above-less" ng-repeat="session in detail.activity.upcoming_calendars[detail.selectedActivity].sessions">
                    <span ng-bind="session.date | date: 'EEEE d MMM y' "></span>
                    <br>
                    <span ng-bind="session.start_time | amDateFormat: 'h:mm a' "></span>
                    <span ng-bind="detail.COPY_TO"></span>
                    <span ng-bind="session.end_time | amDateFormat: 'h:mm a'"></span>
                  </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Location-->
<div class="col-xs-12 hidden-xs hidden-sm">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 limited-width">
      <div class="row flex-wrap">
        <div class="col-xs-12 col-lg-9 flex-container">
          <div class="location col-xs-12">
            <div class="row " ng-show="::detail.activity.location">
              <div class="address">
                <h5>
                  <strong class="text-uppercase" ng-bind="detail.strings.LABEL_ADDRESS"></strong>
                  <span>:</span>
                  <span ng-bind="detail.activity.location.address"></span>
                </h5>
              </div>
              <ui-gmap-google-map class="map" center='detail.map.center' zoom='detail.map.zoom'
                                  bounds="detail.map.bounds" options="detail.map.options"
                                  events="detail.map.events">
                <ui-gmap-marker coords="detail.marker.coords" options="detail.marker.options"
                                events="detail.marker.events"
                                idkey="detail.marker.id"></ui-gmap-marker>
              </ui-gmap-google-map>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-lg-3 flex-container">
          <div class="attendees-container">
            <div class="attendees-container__header" ng-class="{'attendees-container__header__not-empty' :detail.calendar_selected.assistants.length > 0}">
              <h3 ng-bind="detail.strings.LABEL_ATTENDEES"></h3>
              <h5 ng-if="detail.calendar_selected.assistants.length > 0" ng-bind="detail.strings.COPY_ATTENDEES_LIST"></h5>
            </div>
            <div class="attendees-container__body" ng-class="{'attendees-container__body__not-empty' :detail.calendar_selected.assistants.length > 0}">
                <div class="attendees-container__body__placeholder" ng-if="detail.calendar_selected.assistants.length <= 0" ng-bind="detail.strings.COPY_ATTENDEES_LIST">
                    <h5>!Se el primero en inscribirte y aprovecha en invitar a tus amigos¡</h5>
                    <a href="">Ver más fechas de inicio</a>
                </div>
              <div class="attendees-container__body__attendees-list" ng-if="detail.calendar_selected.assistants.length > 0">
                <div class="attendee-item" ng-repeat="attendee in detail.calendar_selected.assistants track by attendee.id">
                  <trulii-avatar user="attendee" size="40" avatar-class="small" ng-class="{'avatar-landing': !attendee.photo}"></trulii-avatar>
                  <div class="attendee-item__name" ng-bind="attendee.full_name">
                  </div>
                </div>
              </div>
            </div>
            <div class="attendees-container__footer">
              <div class="attendees-container__footer__prev" ng-click="detail.attendeesScrollUp()">
                <i class="fa fa-chevron-up" aria-hidden="true"></i>
              </div>
              <div class="attendees-container__footer__next" ng-click="detail.attendeesScrollDown()">
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
              </div>
            </div>
          </div>

          <!--&lt;!&ndash;Attendees&ndash;&gt;-->

          <!--<div class="col-xs-12 limited-width" ng-if="::detail.assistants.length > 0">-->
          <!--<div class="row">-->
          <!--<div class="col-xs-12">-->
          <!--<div class="attendees-container">-->
          <!--<h1 class="text-primary text-center title">-->
          <!--<strong ng-bind="::detail.strings.LABEL_ATTENDEES"></strong>-->
          <!--</h1>-->
          <!--<div ui-view="attendees"></div>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
        </div>

      </div>
    </div>
  </div>
</div>







<!--Reviews-->
<div class="reviews-container col-xs-12 hidden-xs hidden-sm">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 limited-width">
      <p class="reviews-container--ratings" ng-if="detail.reviews.length>0" >
        <span class="title">
          <ng-pluralize count="detail.totalReviews"
                        when="{
              '1': detail.strings.COPY_ONE_REVIEW,
              'other': detail.strings.COPY_OTHER_REVIEWS
            }">
          </ng-pluralize>
        </span>
        <br class="hidden-md hidden-lg">
        <span class="text-uppercase">
          <rating ng-model="detail.organizer.rating" max="5"
                  state-on="'glyphicon glyphicon-star star'"
                  state-off="'glyphicon glyphicon-star star-empty-off'"
                  readonly="true" aria-labelledby="custom-icons-1"></rating>
          <span class="rating" ng-bind="::(detail.organizer.rating | number: 1)+ '/5'"></span>
        </span>
      </p>
      <p class="reviews-container--reviews-empty" ng-if="detail.reviews.length==0" >
        <span ng-bind="::detail.strings.COPY_EMPTY_REVIEWS">
        </span>
      </p>

      <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1" ng-repeat="review in detail.reviews track by review.id">
          <trulii-activity-review data-review="review"
              data-activity="detail.activity"
              data-on-dashboard="false" ></trulii-activity-review>
        </div>
      </div>

      <div class="row" ng-show="detail.hasMoreReviews">
        <div class="col-xs-12">
          <button class="btn btn-rounded btn-sm btn-dark text-uppercase separate-above center-block"
              ng-bind="::detail.strings.LABEL_MORE_COMMENTS">
              <strong ng-click="detail.showMoreReviews()"></strong>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Why Use Trulii-->
<div class="reasons-container col-xs-12 hidden-xs hidden-sm">
  <div class="row">
    <div class="col-xs-12 limited-width">
      <h3 class="text-center title" ng-bind="::detail.strings.COPY_HEADER_REASONS_TO_USE">
      </h3>
      <div class="reason reason-first col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-0">
        <div class="">
          <img class="reason-img" ng-src="{{detail.getAmazonUrl('static/img/activity-detail/reason_no_commissions.png')}}"
          alt="{{ ::detail.strings.REASON_NO_COMMISSIONS }}"/>
          <div class="reason-text">
            <div class="reason-title" ng-bind="::detail.strings.REASON_NO_COMMISSIONS"></div>
            <div class="reason-copy" ng-bind="::detail.strings.REASON_COPY_NO_COMMISSIONS_1"></div>
            <div class="reason-copy" ng-bind="::detail.strings.REASON_COPY_NO_COMMISSIONS_2"></div>
          </div>
        </div>
      </div>
      <div class="reason col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-0">
        <div class="">
          <img class="reason-img" ng-src="{{detail.getAmazonUrl('static/img/activity-detail/reason_guaranteed_refund.png')}}"
          alt="{{ ::detail.strings.REASON_REFUND }}"/>
          <div class="reason-text">
            <div class="reason-title" ng-bind="::detail.strings.REASON_REFUND"></div>
            <div class="reason-copy" ng-bind="::detail.strings.REASON_COPY_REFUND_1"></div>
            <div class="reason-copy" ng-bind="::detail.strings.REASON_COPY_REFUND_2"></div>
          </div>
        </div>
      </div>
      <div class="reason  reason-last col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-0">
        <div class="">
          <img class="reason-img" ng-src="{{detail.getAmazonUrl('static/img/activity-detail/reason_secure_payment.png')}}"
          alt="{{ ::detail.strings.REASON_SECURE }}"/>
          <div class="reason-text">
            <div class="reason-title" ng-bind="::detail.strings.REASON_SECURE"></div>
            <div class="reason-copy text-sm" ng-bind="::detail.strings.REASON_COPY_SECURE_1"></div>
            <div class="reason-copy text-sm" ng-bind="::detail.strings.REASON_COPY_SECURE_2"></div>
            <div class="reason-copy text-sm" ng-bind="::detail.strings.REASON_COPY_SECURE_3"></div>
          </div>
        </div>
      </div>
      <p class="contact-us">
        <span ng-bind="::detail.strings.COPY_DOUBTS"></span>
        <a class="text-uppercase" ui-sref="contact-us(detail.current_state)" ng-bind="::detail.strings.ACTION_CONTACT_US"></a>
      </p>
    </div>
  </div>
</div>
<div class="related-activities-container col-xs-12 hidden-xs hidden-sm" ng-if="detail.relatedActivities.length > 0">
  <div class="row">
    <div class="col-xs-12 limited-width">
      <h3 class="title" ng-bind="::detail.strings.COPY_SIMILAR_ACTIVITIES"></h3>
      <div class="col-xs-12 dynamic-layout-wrapper">
        <div class="dynamic-layout-container-fluid separate-above-medium">
          <div class="text-center">
              <div dynamic-layout items="detail.cards" class="dynamic-layout"></div>
          </div>
          </div>
      </div>
      <div class="col-xs-12">
        <button class="btn btn-lg btn-block btn-info" ng-bind="detail.strings.COPY_MORE_SIMILAR_ACTIVITIES"></button>
      </div>
    </div>
  </div>
</div>

<div class="absolute-container" ng-show="detail.showEmail">
  <button class="pull-right absolute-container__close" ng-click="detail.toggleEmailShow()">
    <img class="img-responsive" ng-src="{{detail.getAmazonUrl('static/img/activity-enroll/close.png')}}" alt=""/>
  </button>
  <div class="col-xs-12 col-md-7">
    <div class="modal-content modal-email">
      <div class="modal-header">
        <div class="well-title">
          <h3 class="text-center" ng-bind="::detail.strings.EMAIL_MODAL_HEADER">
          </h3>
        </div>
      </div>
      <div class="modal-body">
        <form name='detail.email_form' ng-submit="detail.shareEmailForm()" class="separate-above separate-below-less form-classic">
          <fieldset>
            <div class="form-group" trulii-input-errors-control="name">
                <label for="emails" ng-bind="detail.strings.EMAIL_MODAL_SEND_TO_LABEL">
                </label>
                <input id="emails" class="form-control" name="emails" type="text"
                  ng-model="detail.formData.emails"
                  placeholder="{{detail.strings.EMAIL_MODAL_SEND_TO_PLACEHOLDER}}" >
            </div>
            <div class="form-group" trulii-input-errors-control="message">
              <label for="message" ng-bind="detail.strings.EMAIL_MODAL_MESSAGE_LABEL"></label>
              <textarea name="message" id="message" class="form-control"
                        ng-model="detail.formData.message"
                        placeholder="{{detail.strings.EMAIL_MODAL_MESSAGE_PLACEHOLDER}}">
              </textarea>
            </div>
            <div class="form-group" trulii-input-errors-control="__all__">
                <input type="hidden" name="__all__" ng-model="__all__"/>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                  <button type="submit" id="submit"
                    class="btn btn-lg btn-success btn-block"
                    ng-bind="::detail.strings.EMAIL_MODAL_SEND">
                  </button>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
<trulii-footer>
</trulii-footer>