<div class="trulii-cover-regular trulii-cover__detail">
  <div class="trulii-cover__container align-bottom">
    <div class="trulii-cover__content">
      <div class="col-xs-12 col-md-offset-1 col-md-10 limited-width padding-vertical-regular">
        <div class="row ">
          <div class="col-xs-12">
            <a class="organizer separate-below" ui-sref="organizer-profile({organizer__name: detail.organizer.name, organizer_id: detail.organizer.id})" target="_blank">
              <img class="organizer-picture" ng-src="{{::detail.organizer.photo}}" alt="">
              <h5 ng-bind="::detail.organizer.name">
              </h5>
            </a>
            <h1 class="title text-center font-light separate-above-less" ng-bind="::detail.activity.title"></h1>
            
            <div class="rating">
              <rating ng-model="detail.organizer.rating" max="5" state-on="'glyphicon glyphicon-star star'"
                      readonly="true" state-off="'glyphicon glyphicon-star star-empty-off'" aria-labelledby="organizer-rating"></rating> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="trulii-cover__background" style="background-image: url({{detail.activity.main_photo}});">
    </div>
  </div>
</div>
<!--General Info and Sidebar-->
<div class="col-xs-12 limited-width">
  <div class="row activity-detail">
    <div class="activity-detail__enroll-widget" ng-class="{'widget-fixed': (detail.scroll  > detail.widgetOriginalPosition - 110) && (detail.scroll  < detail.widgetMaxPosition)}" 
      ng-style="(detail.scroll >= detail.widgetMaxPosition && {'top': detail.widgetAbsolutePosition}) || ((detail.scroll  > detail.widgetOriginalPosition - 110) && (detail.scroll  < detail.widgetMaxPosition) && {'left': detail.widgetFixedPositionRight})">
      <div class="activity-detail__enroll-widget__content" 
        ng-class="{'activity-detail__enroll-widget__content-free': detail.calendar_selected.is_free}">
            <div class="schedules-container" ng-class="{'expanded': detail.showSchedules}">
              <div class="schedules-container__header">
                <p class="text-uppercase">
                  <strong>Horarios</strong>
                  <i class="fa fa-times" aria-hidden="true" ng-click="detail.toggleSchedules()"></i>
                </p>
              </div>
              <div class="schedules-container__html">
                <div ng-bind-html="detail.calendar_selected.schedules"></div>
                <div ng-if="detail.calendar_selected.note" class="text-uppercase separate-above"><p><strong>Nota</strong></p></div>
                <div ng-if="detail.calendar_selected.note" ng-bind-html="detail.calendar_selected.note"></div>
              </div>
              <div class="schedules-container__footer">
                <div class="schedules-container__footer__prev" ng-click="detail.schedulesScrollUp()">
                  <i class="fa fa-chevron-up" aria-hidden="true"></i>
                </div>
                <div class="schedules-container__footer__next" ng-click="detail.schedulesScrollDown()">
                  <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div class="seats">
                <p ng-show="!detail.isSelectedCalendarFull() && !detail.activity.is_open">
                    <span ng-bind="detail.calendar_selected.available_capacity"></span>
                    <ng-pluralize count="detail.calendar_selected.available_capacity"
                        when="{
                        '1': detail.strings.COPY_VACANCY_SINGULAR,
                        'other': detail.strings.COPY_VACANCY
                        }">
                    </ng-pluralize>
                </p>
                <p ng-show="detail.isSelectedCalendarFull() && !detail.activity.is_open">
                    <span ng-bind="detail.strings.COPY_NO_VACANCY"></span>
                </p>
            </div>
            <hr>
            <p class="text-uppercase text-center" ng-show="!detail.activity.is_open && !detail.isSelectedCalendarFull()">
              <span ng-bind="::detail.strings.LABEL_STARTS"></span>
            </p>
            <p class="text-uppercase text-center" ng-show="detail.activity.is_open && !detail.isSelectedPackageFull()">
              <span ng-bind="::detail.strings.LABEL_PACKAGES"></span>
            </p>
            <p class="text-uppercase text-center" ng-show="(detail.isSelectedCalendarFull() && !detail.activity.is_open) || (detail.isSelectedPackageFull() && detail.activity.is_open)">

              <span ng-bind="::detail.strings.COPY_ENROLL_CLOSED" ng-show="::!vm.calendar_selected.enroll_open"></span>
              <span ng-bind="::detail.strings.COPY_SIGN_UP_NO_DATES" ng-show="::vm.calendar_selected.enroll_open"></span>
            </p>
            <select class="form-control"
              ng-if="::(!detail.activity.is_open) && !detail.isSelectedCalendarFull()"
              ng-model="detail.calendar_selected" 
              ng-options="calendar as calendar.initial_date | date:'d MMM y' for calendar in detail.activity.upcoming_calendars track by calendar.id"
              name="calendars">
            </select>
            <select class="form-control" 
              ng-if="::(detail.activity.is_open) && !detail.isSelectedPackageFull()"
              ng-model="detail.selectedPackage"
              name="calendars"
              ng-change="detail.changePackage(detail.selectedPackage)">
              <option
                value="{{package.id}}"
                ng-repeat="package in detail.activity.calendars[0].packages track by package.id"
                ng-pluralize count="package.quantity"
                when="{
                '1': package.quantity +' '+ package.type_name,
                'other': package.quantity +' '+  package.type_name
                }">
              </option>
            </select>
            <div class="price" ng-show="(!detail.isSelectedCalendarFull() && !detail.activity.is_open) || (!detail.isSelectedPackageFull() && detail.activity.is_open)">
                <div ng-show="::!detail.activity.is_open">
                    <div ng-hide="detail.calendar_selected.is_free">
                        <div class="price__number" ng-bind="detail.calendar_selected.session_price | currency:'':0">
                        </div>
                        <div class="price__currency">
                            COP
                        </div>
                    </div>
                    <div ng-show="detail.calendar_selected.is_free">
                        <div class="price__number">
                            <s ng-bind="detail.calendar_selected.session_price | currency:'':0"></s>
                        </div>
                        <div class="price__currency">
                            COP
                        </div>
                        <br>
                        <h2 class="text-center no-margin" ng-bind="::detail.strings.COPY_FREE"></h2>
                    </div>
                </div>
                <div ng-show="::detail.activity.is_open">
                  <div class="price__number" ng-bind="detail.package_selected.price | currency:'':0">
                      </div>
                      <div class="price__currency">
                          COP
                      </div>
                </div>
            </div>
            <button class="btn btn-success btn-lg btn-rounded btn-block"
                ng-bind="::detail.strings.ACTION_SIGN_UP"
                ng-disabled="detail.isSelectedCalendarFull()"
                ng-hide="detail.isSelectedCalendarFull()"
                ng-if="!detail.activity.is_open"
                ng-click="detail.signUp(detail.activity.id,detail.calendar_selected.id); detail.widgetSignup()">
            </button>
            <button class="btn btn-success btn-lg btn-rounded btn-block"
              ng-bind="::detail.strings.ACTION_SIGN_UP"
              ng-if="detail.activity.is_open"
              ng-click="detail.signUp(detail.activity.id, detail.calendar_selected.id); detail.widgetSignup()"
             >
            </button>
            <div class="row">
              <div class="col-xs-4 col-xs-offset-4">
                <hr>
              </div>
            </div>
            <div class="schedules">
                <a href="#" ng-click="detail.toggleSchedules()" ng-bind="detail.strings.ACTION_VIEW_SCHEDULES"></a>
            </div>
        </div>
        <div class="activity-detail__enroll-widget__likes">
          <div class="heart">
            <i class="mdi-action-favorite-outline"
              ng-click="detail.wishList()"
              ng-class="{'mdi-action-favorite': detail.verifyWishList(), 'text-muted': !detail.verifyWishList()}">
            </i>
          </div>
          <div class="copy">
            <!--12 personas aman esta actividad-->
            <span class="text-center" ng-show="!detail.detail.verifyWishList()" ><strong ng-bind="::detail.strings.COPY_ADD_TO_WISHLIST"></strong></span>
            <span class="text-center" ng-show="detail.detail.verifyWishList()" ng-bind="::detail.strings.COPY_REMOVE_FROM_WISHLIST"></span><br>
            <span ng-bind="detail.activity.wishlist_count"></span>
            <span>
              <ng-pluralize count="detail.activity.wishlist_count"
                        when="{
                        '0': detail.strings.COPY_NUMBER_OF_LIKES,
                        '1': detail.strings.COPY_SINGULAR_NUMBER_OF_LIKES,
                        'other': detail.strings.COPY_NUMBER_OF_LIKES
                        }">
              </ng-pluralize>
            </span>
            
            
            
            <!--<span ng-if="detail.activity.wishlist_count === 0" ng-bind="::detail.strings.COPY_BE_THE_FIRST"></span>-->
          </div>
        </div>
      </div>
      <div class="activity-detail__share-widget">
        <ul class="list-unstyled">
          <li class="hidden-xs hidden-sm">
            <span ng-bind="detail.facebookShares"></span>
          </li>
          <li>
            <a href="#"
               ng-click="detail.shareSocialAnalytic(detail.social.FACEBOOK_SOCIAL_PROVIDER, detail.social.FACEBOOK_SHARE_URL)"
               socialshare
               socialshare-provider="{{::detail.social.FACEBOOK_SOCIAL_PROVIDER}}"
               socialshare-type="{{::detail.social.FACEBOOK_SHARE_TYPE}}"
               socialshare-via="{{::detail.social.FACEBOOK_API_KEY}}"
               socialshare-redirect-uri="{{::detail.social.FACEBOOK_REDIRECT_URI}}"
               socialshare-media="{{::detail.social.FACEBOOK_SHARE_MEDIA}}"
               socialshare-text="{{::detail.social.FACEBOOK_SHARE_TEXT}}"
               socialshare-caption="{{::detail.social.FACEBOOK_SHARE_CAPTION}}"
               socialshare-description="{{::detail.social.FACEBOOK_SHARE_DESCRIPTION}}"
               socialshare-url="{{::detail.social.FACEBOOK_SHARE_URL}}">
              <img class="img-on" ng-src="{{detail.getAmazonUrl('static/img/share/facebook.png')}}" alt="">
              <img class="img-off" ng-src="{{detail.getAmazonUrl('static/img/share/facebook-off.png')}}" alt="">
            </a>
          </li>
          <li>

            <a href="#"
               ng-click="detail.shareSocialAnalytic(detail.social.TWITTER_SOCIAL_PROVIDER, detail.social.TWITTER_SHARE_URL)"
               socialshare
               socialshare-provider="{{::detail.social.TWITTER_SOCIAL_PROVIDER}}"
               socialshare-text="{{::detail.social.TWITTER_SHARE_TEXT}}"
               socialshare-url="{{::detail.social.TWITTER_SHARE_URL}}">
              <img class="img-on" ng-src="{{detail.getAmazonUrl('static/img/share/twitter.png')}}" alt="">
              <img class="img-off" ng-src="{{detail.getAmazonUrl('static/img/share/twitter-off.png')}}" alt="">
            </a>
          </li>
          <li>
            <a href="#"
               ng-click="detail.shareSocialAnalytic(detail.social.FACEBOOK_SOCIAL_PROVIDER, detail.social.FACEBOOK_SHARE_URL)"
               socialshare
               socialshare-provider="{{::detail.social.LINKEDIN_SOCIAL_PROVIDER}}"
               socialshare-text="{{::detail.social.LINKEDIN_SHARE_TEXT}}"
               socialshare-description="{{::detail.social.LINKEDIN_SHARE_DESCRIPTION}}"
               socialshare-url="{{::detail.social.LINKEDIN_SHARE_URL}}">
              <img class="img-on" ng-src="{{detail.getAmazonUrl('static/img/share/linkedin.png')}}" alt="">
              <img class="img-off" ng-src="{{detail.getAmazonUrl('static/img/share/linkedin-off.png')}}" alt="">
            </a>
          </li>
          <li>
            <a href="#"
               ng-click="detail.toggleEmailShow()">
              <img class="img-on" ng-src="{{detail.getAmazonUrl('static/img/share/email.png')}}" alt="">
              <img class="img-off" ng-src="{{detail.getAmazonUrl('static/img/share/email-off.png')}}" alt="">
            </a>
          </li>
          <li class="hidden-md hidden-lg">
            <a href="#"
               socialshare
               socialshare-provider="{{::detail.social.WHATSAPP_SOCIAL_PROVIDER}}"
               socialshare-text="{{::detail.social.WHATSAPP_SHARE_TEXT}}"
               socialshare-url="{{::detail.social.WHATSAPP_SHARE_URL}}">
              <img class="img-on" ng-src="{{detail.getAmazonUrl('static/img/share/whatsapp.png')}}" alt="">
              <img class="img-off" ng-src="{{detail.getAmazonUrl('static/img/share/whatsapp-off.png')}}" alt="">
            </a>
          </li>
          <li class="hidden-md hidden-lg">
            <a href="#"
               socialshare
               socialshare-provider="{{::detail.social.MESSENGER_SOCIAL_PROVIDER}}"
               socialshare-url="{{::detail.social.MESSENGER_SHARE_URL}}">
              <img class="img-on" ng-src="{{detail.getAmazonUrl('static/img/share/messenger.png')}}" alt="">
              <img class="img-off" ng-src="{{detail.getAmazonUrl('static/img/share/messenger-off.png')}}" alt="">
            </a>
          </li>
        </ul>
      </div>
      <!--Description-->
      <div class="row separate-above-medium">
        <div class="col-xs-12">
          <p ng-bind="::detail.activity.short_description"></p>
        </div>
      </div>
      <!--Gallery-->
      <div class="row gallery-container" ng-if="detail.activity.gallery.length > 0">
        <div class="col-xs-12">
          <div class="gallery">
            <div class="gallery-gradient"></div>
            <div class="gallery-slide" ng-repeat="picture in detail.activity.gallery track by picture.id" ng-class="{'active': detail.currentGalleryPicture === $index}">
              <!--<img class=""
              src="{{ picture.photo }}" alt=""
              ng-show="detail.currentGalleryPicture === $index"/>-->
              <div class="gallery-slide-picture" ng-show="detail.currentGalleryPicture === $index" style="background-image: url('{{ picture.photo }}')">
              </div>
            </div>

            <i class="gallery-previous mdi-hardware-keyboard-arrow-left" ng-hide="detail.currentGalleryPicture < 1"
              ng-click="detail.previousGalleryPicture()">
            </i>
            <i class="gallery-next mdi-hardware-keyboard-arrow-right" ng-hide="detail.currentGalleryPicture >= detail.activity.gallery.length - 1"
              ng-click="detail.nextGalleryPicture()">
            </i>
            
          </div>
        </div>
      </div>
      <div class="row">
        <div class="info separate-above hidden-xs hidden-sm">
          <div class="info__content">
            <div ng-class="{'col-xs-4': detail.activity.level_display, 'ng-hide': !!!detail.activity.level_display}">
                <p class="text-center">
                  <span ng-bind="detail.calendar_selected.assistants.length"></span>
                  <span >Asistente</span>
                </p>
              </div>
              <div ng-class="{'col-xs-4': detail.activity.level_display, 'ng-hide': !!!detail.activity.level_display}">
                <p class="text-center">
                  <span ng-bind="::detail.strings.VALUE_LEVEL"></span>
                  <span ng-bind="::detail.activity.level_display"></span>
                </p>
              </div>
              <div ng-class="{'col-xs-4': detail.activity.level_display, 'col-xs-12': !!!detail.activity.level_display}">
                <p ng-if="detail.activity.certification" class="text-center"
                   ng-bind="::detail.strings.VALUE_WITH_CERTIFICATION"></p>
                <p ng-if="!detail.activity.certification" class="text-center"
                   ng-bind="::detail.strings.VALUE_WITHOUT_CERTIFICATION"></p>
              </div>
          </div>
        </div>
      </div>

      <!--Audience-->
      <div class="row separate-above-medium" ng-show="detail.activity.audience">
        <div class="col-xs-12 section">
          <h4 ng-click="detail.showAudience = !detail.showAudience;">
            <strong class="text-dark" ng-bind="::detail.strings.LABEL_AUDIENCE"></strong>
            <img ng-src="{{detail.getAmazonUrl('static/img/plus.png')}}" class="collapse-icon" alt="" ng-show="!detail.showAudience">
            <img ng-src="{{detail.getAmazonUrl('static/img/minus.png')}}" class="collapse-icon" alt="" ng-show="detail.showAudience">
          </h4>
          <p class="content" ng-bind-html="::detail.activity.audience" ng-class="{'content-mobile': !detail.showAudience}"></p>
        </div>
      </div>


      <!--Content-->
      <div class="row separate-above-less" ng-show="detail.activity.content">
        <div class="col-xs-12 section">
          <div class="separator separate-vertical"></div>
          <h4 ng-click="detail.showContent = !detail.showContent;">
            <strong class="text-dark" ng-bind="::detail.strings.LABEL_CONTENT"></strong>
            <img ng-src="{{detail.getAmazonUrl('static/img/plus.png')}}" class="collapse-icon" alt="" ng-show="!detail.showContent">
            <img ng-src="{{detail.getAmazonUrl('static/img/minus.png')}}" class="collapse-icon" alt="" ng-show="detail.showContent">
          </h4>
          <p class="content" ng-bind-html="::detail.activity.content" ng-class="{'content-mobile': !detail.showContent}"></p>
        </div>
      </div>


      <!--Goals-->
      <div class="row separate-above-less" ng-show="detail.activity.goals">
        <div class="col-xs-12 section">
          <div class="separator separate-vertical"></div>
          <h4 ng-click="detail.showGoals = !detail.showGoals;">
            <strong class="text-dark" ng-bind="::detail.strings.LABEL_GOALS"></strong>
            <img ng-src="{{detail.getAmazonUrl('static/img/plus.png')}}" class="collapse-icon" alt="" ng-show="!detail.showGoals">
            <img ng-src="{{detail.getAmazonUrl('static/img/minus.png')}}" class="collapse-icon" alt="" ng-show="detail.showGoals">
          </h4>
          <p class="content" ng-bind-html="::detail.activity.goals" ng-class="{'content-mobile': !detail.showGoals}"></p>
        </div>
      </div>


      <!--Video-->
      <div class="row separate-below youtube-video-container" ng-if="detail.activity.youtube_video_url">
        <div class="col-xs-12">
          <div class="youtube-container separate-above-medium separate-below-less">
            <youtube-video video-url="detail.activity.youtube_video_url"></youtube-video>
          </div>
        </div>
      </div>


      <!--Methodology-->
      <div class="row separate-above-less" ng-show="detail.activity.methodology">
        <div class="col-xs-12 section">
          <div class="separator separate-vertical" ng-if="!detail.activity.youtube_video_url"></div>
          <h4 ng-click="detail.showMethodology = !detail.showMethodology;">
            <strong class="text-dark" ng-bind="::detail.strings.LABEL_METHODOLOGY"></strong>
            <img ng-src="{{detail.getAmazonUrl('static/img/plus.png')}}" class="collapse-icon" alt="" ng-show="!detail.showMethodology">
            <img ng-src="{{detail.getAmazonUrl('static/img/minus.png')}}" class="collapse-icon" alt="" ng-show="detail.showMethodology">
          </h4>
          <p class="content" ng-bind-html="::detail.activity.methodology" ng-class="{'content-mobile': !detail.showMethodology}"></p>
        </div>
      </div>


      <!--Requirements-->
      <div class="row separate-above-less" ng-show="detail.activity.requirements">
        <div class="col-xs-12 section">
          <div class="separator separate-vertical"></div>
          <h4 ng-click="detail.showRequirements = !detail.showRequirements;">
            <strong class="text-dark" ng-bind="::detail.strings.LABEL_REQUIREMENTS"></strong>
            <img ng-src="{{detail.getAmazonUrl('static/img/plus.png')}}" class="collapse-icon" alt="" ng-show="!detail.showRequirements">
            <img ng-src="{{detail.getAmazonUrl('static/img/minus.png')}}" class="collapse-icon" alt="" ng-show="detail.showRequirements">
          </h4>
          <p class="content" ng-bind-html="::detail.activity.requirements" ng-class="{'content-mobile': !detail.showRequirements}"></p>
        </div>
      </div>


      <!--Extra-->
      <div class="row separate-above-less" ng-show="detail.activity.extra_info">

        <div class="col-xs-12 section separate-below">
          <div class="separator separate-vertical"></div>
          <h4 ng-click="detail.showExtra = !detail.showExtra;">
            <strong class="text-dark" ng-bind="::detail.strings.LABEL_EXTRA_INFO"></strong>
            <img ng-src="{{detail.getAmazonUrl('static/img/plus.png')}}" class="collapse-icon" alt="" ng-show="!detail.showExtra">
            <img ng-src="{{detail.getAmazonUrl('static/img/minus.png')}}" class="collapse-icon" alt="" ng-show="detail.showExtra">
          </h4>
          <p class="content" ng-bind-html="::detail.activity.extra_info" ng-class="{'content-mobile': !detail.showExtra}"></p>
        </div>
      </div>

      <!--<div class="separate-above-more" ng-show="!detail.activity.extra_info"></div>-->
      <!--Instructors-->
      <div class="row" ng-show="detail.activity.instructors.length">
          <div class="col-xs-12 section separate-below">
              <div class="separator separate-vertical"></div>
              <h4 class="text-dark">
                  <strong ng-bind="::detail.strings.LABEL_INSTRUCTORS"></strong>
              </h4>
              <div class="separate-above">
                  <div class="row instructor" ng-repeat="instructor in detail.activity.instructors track by instructor.id">
                      <div class="col-xs-12">
                          <div class="name" ng-bind="::instructor.full_name"></div>
                          <p class="bio" ng-bind="::instructor.bio"></p>
                          <hr ng-if="!$last"/>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

<!--Location-->
<div class="col-xs-12 hidden-xs hidden-sm separate-above address-attendees-container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 limited-width">
      <div class="row flex-wrap">
        <div class="col-xs-12 flex-container detail-address">
          <div class="location col-xs-12">
            <div class="row " ng-show="::detail.activity.location">
              <div class="address">
                <h5>
                  <strong class="text-uppercase" ng-bind="detail.strings.LABEL_ADDRESS"></strong>
                  <span>:</span>
                  <span class="text-uppercase" ng-bind="detail.activity.location.address"></span>
                </h5>
              </div>
              <ui-gmap-google-map class="map" center='detail.map.center' zoom='detail.map.zoom'
                                  bounds="detail.map.bounds" options="detail.map.options"
                                  events="detail.map.events">
                <ui-gmap-marker coords="detail.marker.coords" options="detail.marker.options"
                                events="detail.marker.events"
                                idkey="detail.marker.id"></ui-gmap-marker>
              </ui-gmap-google-map>
            </div>
          </div>
        </div>
        <!--<div class="hidden-xs hidden-sm detail-attendees" ui-view="attendees"></div>-->
      </div>
    </div>
  </div>
</div>

<!--Reviews-->
<div class="reviews-container col-xs-12 separate-above hidden-xs hidden-sm">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 limited-width">
      <div class="reviews-container--ratings">
        <img class="img-responsive reviews-container--ratings__avatar" ng-src="{{detail.organizer.photo}}" alt="">
        <span class="reviews-container--ratings__info">
          <span class="header" ng-bind="::detail.strings.LABEL_EVALUATIONS">
          </span>
          <a ui-sref="organizer-profile({organizer__name: detail.organizer.name, organizer_id: detail.organizer.id})" ng-bind="detail.organizer.name"></a>
          <span class="text-uppercase">
            <rating ng-model="detail.organizer.rating" max="5"
                    state-on="'glyphicon glyphicon-star star'"
                    state-off="'glyphicon glyphicon-star star-empty-off'"
                    readonly="true" aria-labelledby="custom-icons-1"></rating>
            <span class="rating" ng-bind="::detail.organizerRating + '/5'"></span>
          </span>
        </span>
        <span class="reviews-container--ratings__activities">
          <a ui-sref="organizer-profile({organizer__name: detail.organizer.name, organizer_id: detail.organizer.id})">
            <span ng-bind="detail.strings.COPY_VIEW_PUBLISHED_ACTIVITIES"></span>
          </a>  
        </span>
        <br class="hidden-md hidden-lg">
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-11 col-md-offset-1 review-row" ng-repeat="review in detail.reviews track by review.id">
          <trulii-activity-review data-review="review"
              data-activity="detail.activity"
              data-on-dashboard="false" ></trulii-activity-review>
        </div>
      </div>

      <div class="row" ng-show="detail.hasMoreReviews">
        <div class="col-xs-12">
          <button class="btn btn-rounded btn-sm btn-dark text-uppercase separate-above center-block"
              ng-bind="::detail.strings.LABEL_MORE_COMMENTS">
              <strong ng-click="detail.showMoreReviews()"></strong>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="related-activities-container col-xs-12 hidden-xs hidden-sm" ng-if="detail.relatedActivities.length > 0">
  <div class="row">
      <div class="limited-width">
        <h3 class="title" ng-bind="::detail.strings.COPY_SIMILAR_ACTIVITIES"></h3>
      </div>
      <div class="flex-cards separate-above-more" >
           <trulii-activity-item data-activity="activity" ng-repeat="activity in detail.cards"></trulii-activity-item>
      </div>
      <div class="col-xs-12 limited-width">
        <a class="btn btn-lg btn-block btn-info" ui-sref="search(detail.searchData)" ng-bind="detail.strings.COPY_MORE_SIMILAR_ACTIVITIES"></a>
      </div>
  </div>
</div>

<!--Why Use Trulii-->
<div class="reasons-container col-xs-12 hidden-xs hidden-sm">
  <div class="row">
    <div class="col-xs-12 limited-width">
      <h3 class="text-center title" ng-bind="::detail.strings.COPY_HEADER_REASONS_TO_USE">
      </h3>
      <div class="reason reason-first col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-0">
        <div class="">
          <img class="reason-img" ng-src="{{detail.getAmazonUrl('static/img/activity-detail/reason_no_commissions.png')}}"
          alt="{{ ::detail.strings.REASON_NO_COMMISSIONS }}"/>
          <div class="reason-text">
            <div class="reason-title" ng-bind="::detail.strings.REASON_NO_COMMISSIONS"></div>
            <div class="reason-copy" ng-bind="::detail.strings.REASON_COPY_NO_COMMISSIONS_1"></div>
            <div class="reason-copy" ng-bind="::detail.strings.REASON_COPY_NO_COMMISSIONS_2"></div>
          </div>
        </div>
      </div>
      <div class="reason col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-0">
        <div class="">
          <img class="reason-img" ng-src="{{detail.getAmazonUrl('static/img/activity-detail/reason_guaranteed_refund.png')}}"
          alt="{{ ::detail.strings.REASON_REFUND }}"/>
          <div class="reason-text">
            <div class="reason-title" ng-bind="::detail.strings.REASON_REFUND"></div>
            <div class="reason-copy" ng-bind="::detail.strings.REASON_COPY_REFUND_1"></div>
            <div class="reason-copy" ng-bind="::detail.strings.REASON_COPY_REFUND_2"></div>
          </div>
        </div>
      </div>
      <div class="reason  reason-last col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-0">
        <div class="">
          <img class="reason-img" ng-src="{{detail.getAmazonUrl('static/img/activity-detail/reason_secure_payment.png')}}"
          alt="{{ ::detail.strings.REASON_SECURE }}"/>
          <div class="reason-text">
            <div class="reason-title" ng-bind="::detail.strings.REASON_SECURE"></div>
            <div class="reason-copy text-sm" ng-bind="::detail.strings.REASON_COPY_SECURE_1"></div>
            <div class="reason-copy text-sm" ng-bind="::detail.strings.REASON_COPY_SECURE_2"></div>
            <div class="reason-copy text-sm" ng-bind="::detail.strings.REASON_COPY_SECURE_3"></div>
          </div>
        </div>
      </div>
      <p class="contact-us">
        <span ng-bind="::detail.strings.COPY_DOUBTS"></span>
        <a class="text-uppercase" target="_blank" ui-sref="contact-us(detail.current_state)" ng-bind="::detail.strings.ACTION_CONTACT_US"></a>
      </p>
    </div>
  </div>
</div>

<div class="absolute-container" ng-show="detail.showEmail">
  <div class="col-xs-12 col-md-5">
    <div class="modal-content modal-email">
      <div class="modal-header">
        <div class="well-title">
          <h4 ng-bind="::detail.strings.EMAIL_MODAL_HEADER">
          </h4>
        </div>
      </div>

      <div class="modal-body">
        <form name='detail.email_form' ng-submit="detail.shareEmailForm()" class="separate-above separate-below-less">
          <fieldset>
            <div class="form-group" trulii-input-errors-control="name">
                <label for="emails" ng-bind="detail.strings.EMAIL_MODAL_SEND_TO_LABEL">
                </label>
                <input id="emails" class="form-control" name="emails" type="text"
                  ng-model="detail.formData.emails"
                  placeholder="{{detail.strings.EMAIL_MODAL_SEND_TO_PLACEHOLDER}}" >
            </div>
            <div class="form-group" trulii-input-errors-control="message">
              <label for="message" ng-bind="detail.strings.EMAIL_MODAL_MESSAGE_LABEL"></label>
              <textarea name="message" id="message" class="form-control"
                        ng-model="detail.formData.message"
                        placeholder="{{detail.strings.EMAIL_MODAL_MESSAGE_PLACEHOLDER}}">
              </textarea>
            </div>
            <div class="form-group" trulii-input-errors-control="__all__">
                <input type="hidden" name="__all__" ng-model="__all__"/>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-4 col-lg-offset-4">
                  <button type="button" id="button"
                    class="btn btn-cancel btn-md btn-block"
                    ng-bind="::detail.strings.EMAIL_MODAL_DISMISS"
                    ng-click="detail.toggleEmailShow()">
                  </button>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-4">
                  <button type="submit" id="submit"
                    class="btn btn-success btn-md btn-block"
                    ng-bind="::detail.strings.EMAIL_MODAL_SEND">
                  </button>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <div class="absolute-container__background"  ng-click="detail.toggleEmailShow()">
  </div>
</div>
<trulii-footer>
</trulii-footer>