<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
                <h3 class="text-muted font-family-sans-alt" ng-bind="success.strings.COPY_HEADER_TITLE"></h3>
                <h1 class="text-primary">
                    <strong ng-bind="::success.activity.title"></strong>
                </h1>
                <h3 class="text-muted font-family-sans-alt" ng-bind="success.strings.COPY_HEADER_DESCRIPTION"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 remember-container text-center">
                <div class="separator"></div>
                <h3 class="text-muted sinkin-semibold" ng-bind="success.strings.LABEL_REMEMBER"></h3>
                <div class="items-container">
                    <div class="item">
                        <img class="item-img" src="css/img/activity-enroll/remember_start.png"
                             alt="{{::success.strings.LABEL_START_DATE}}"/>
                        <div class="item-text">
                            <div class="item-title text-uppercase"
                                 ng-bind="::success.strings.LABEL_START_DATE"></div>
                            <div class="item-copy text-capitalize"
                                 ng-bind="::success.calendar.initial_date | date : 'fullDate'"></div>
                        </div>
                    </div>
                    <div class="item">
                        <img class="item-img" src="css/img/activity-enroll/remember_location.png"
                             alt="{{::success.strings.LABEL_LOCATION}}"/>
                        <div class="item-text">
                            <div class="item-title text-uppercase" ng-bind="::success.strings.LABEL_LOCATION"></div>
                            <div class="item-copy">
                                <span ng-bind="::success.activity.location.address"></span>
                                <span>, </span>
                                <span ng-bind="::success.activity.location.city.name"></span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img class="item-img" src="css/img/activity-enroll/remember_doubts.png" alt="Doubts"/>
                        <div class="item-text">
                            <div class="item-title text-uppercase" ng-bind="success.strings.LABEL_QUESTIONS"></div>
                            <div class="item-copy"><a ui-sref="contact-us({'toState': success.currentState})"
                                                      ng-bind="::success.strings.ACTION_CONTACT_US"></a></div>
                        </div>
                    </div>
                </div>
                <div class="separator"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h3 class="text-muted sinkin-semibold" ng-bind="success.strings.LABEL_REQUIREMENTS"></h3>
                <p class="separate-above separate-below-more" ng-bind="success.activity.requirements"></p>
            </div>
        </div>
        <!--Attendees-->
        <div class="row">
            <div class="col-md-12 attendees-container img-carpet">
                <h1 class="text-primary text-center"><strong ng-bind="::success.strings.LABEL_ATTENDEES"></strong></h1>
                <div ui-view="attendees"></div>
            </div>
        </div>
        <div class="row share-container">
            <div class="col-md-12">
                <h2 ng-bind="success.strings.LABEL_SHARE"></h2>
                <p class="separate-above-less" ng-bind="success.strings.COPY_SHARE"></p>
                <img src="css/img/activity-enroll/share_facebook.png" alt=""/>
                <img src="css/img/activity-enroll/share_twitter.png" alt=""/>
                <img src="css/img/activity-enroll/share_email.png" alt=""/>
            </div>
        </div>

        <div class="row separate-above separate-below">
            <div class="col-md-10 col-md-offset-1">
                <div ng-if="success.organizerActivities.length > 0">
                    <h4 class="text-center" ng-bind="success.strings.LABEL_SIMILAR"></h4>
                    <div class="row activity-grid separate-above">
                        <trulii-activity-item class="col-md-4"
                              ng-repeat="activity in success.organizerActivities track by activity.id"
                              data-activity="activity"></trulii-activity-item>
                    </div>
                </div>
                <div ng-if="success.organizerActivities.length <= 0"
                     ng-bind="::success.strings.COPY_NO_ACTIVITIES">
                </div>
            </div>
        </div>

        <div class="row navigation-container img-carpet">
            <div class="col-md-6">
                <a class="btn btn-link" ui-sref="activities-detail({activity_id: enroll.activity.id})">
                    <img src="css/img/activity-enroll/navigation_back.png" alt="{{ ::success.strings.ACTION_GO_BACK }}"
                         class="img-responsive inline-block"/>
                    <span ng-bind="::success.strings.ACTION_GO_BACK"></span>
                </a>
            </div>
            <div class="col-md-6">
                <a class="btn btn-link pull-right" ui-sref="student-dashboard.activities">
                    <span ng-bind="::success.strings.ACTION_GO_TO_ACTIVITIES"></span>
                    <img src="css/img/activity-enroll/navigation_go.png" alt="{{ ::success.strings.ACTION_GO_TO_ACTIVITIES }}"
                         class="img-responsive inline-block"/>
                </a>
            </div>
        </div>
    </div>
</div>
