<div class="row">
    <div class="col-md-12">
        <div class="panel pse-panel">
            <div class="panel-heading">
                <h4>
                    <img src="css/img/activity-enroll/logo_PSE.png" alt="PSE Logo"/>
                    <span ng-bind="::pseResponse.strings.COPY_PAYMENT_INFO"></span>
                </h4>
            </div>
            <div class="panel-body">
                <div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <tr ng-repeat="(index,data) in pseResponse.pseData">
                                <td>
                                    <span ng-bind="data.name"></span>
                                </td>
                                <td ng-bind="data.value"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="text-right">
                    <a class="btn btn-link" ui-sref="student-dashboard.activities"
                       ng-bind="::pseResponse.strings.ACTION_VIEW_RECEIPT"></a>
                    <button  class="btn btn-primary"
                             ng-show="!pseResponse.paymentDeclined"
                             ng-click="pseResponse.finishPayment()"
                             ng-bind="pseResponse.strings.ACTION_FINISH_PAYMENT"></button>
                    <button  class="btn btn-primary"
                             ng-show="pseResponse.paymentDeclined"
                             ng-click="pseResponse.retryPayment()"
                             ng-bind="pseResponse.strings.ACTION_RETRY_PAYMENT"></button>
                </div>
            </div>
        </div>
    </div>
</div>
