<div>
    <div class="trulii-cover-regular trulii-cover__detail">
        <div class="trulii-cover__container align-bottom">
            <div class="trulii-cover__content">
                <div class="col-xs-12 col-md-offset-1 col-md-10 limited-width padding-vertical-regular separate-above-more">
                    <div class="row ">
                        <div class="col-xs-12">
                            <h2 class="text-center" ng-bind="success.strings.COPY_HEADER_TITLE"></h2>
                            <h1 class="title text-center font-light separate-above-less" ng-bind="::success.activity.title"></h1>
                            <div class="row">
                              <div class="col-xs-12 col-lg-6 col-lg-offset-3">
                                <h3 class="text-center" ng-bind="::success.strings.COPY_HEADER_DESCRIPTION"></h3>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xs-4 col-md-1 center-block">
                                <hr>
                              </div>
                            </div>
                            <h4 class="text-center" ng-bind="::success.strings.COPY_TELL_YOUR_FRIENDS"></h4>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="trulii-cover__content__share">
                          <ul class="list-unstyled">
                            <li>
                              <a href="#"
                                ng-click="success.shareSocialAnalytic(success.social.FACEBOOK_SOCIAL_PROVIDER, success.social.FACEBOOK_SHARE_URL)"
                                socialshare
                                socialshare-provider="{{::success.social.FACEBOOK_SOCIAL_PROVIDER}}"
                                socialshare-type="{{::success.social.FACEBOOK_SHARE_TYPE}}"
                                socialshare-via="{{::success.social.FACEBOOK_API_KEY}}"
                                socialshare-redirect-uri="{{::success.social.FACEBOOK_REDIRECT_URI}}"
                                socialshare-media="{{::success.social.FACEBOOK_SHARE_MEDIA}}"
                                socialshare-text="{{::success.social.FACEBOOK_SHARE_TEXT}}"
                                socialshare-caption="{{::success.social.FACEBOOK_SHARE_CAPTION}}"
                                socialshare-description="{{::success.social.FACEBOOK_SHARE_DESCRIPTION}}"
                                socialshare-url="{{::success.social.FACEBOOK_SHARE_URL}}">
                                <img ng-src="{{success.getAmazonUrl('static/img/share/facebook.png')}}" alt="">
                              </a>
                            </li>
                            <li>

                              <a href="#"
                                ng-click="success.shareSocialAnalytic(success.social.TWITTER_SOCIAL_PROVIDER, success.social.TWITTER_SHARE_URL)"
                                socialshare
                                socialshare-provider="{{::success.social.TWITTER_SOCIAL_PROVIDER}}"
                                socialshare-text="{{::success.social.TWITTER_SHARE_TEXT}}"
                                socialshare-url="{{::success.social.TWITTER_SHARE_URL}}">
                                <img ng-src="{{success.getAmazonUrl('static/img/share/twitter.png')}}" alt="">
                              </a>
                            </li>
                            <li>
                              <a href="#"
                                ng-click="success.shareSocialAnalytic(success.social.LINKEDIN_SOCIAL_PROVIDER, success.social.LINKEDIN_SHARE_URL)"
                                socialshare
                                socialshare-provider="{{::success.social.LINKEDIN_SOCIAL_PROVIDER}}"
                                socialshare-text="{{::success.social.LINKEDIN_SHARE_TEXT}}"
                                socialshare-description="{{::success.social.LINKEDIN_SHARE_DESCRIPTION}}"
                                socialshare-url="{{::success.social.LINKEDIN_SHARE_URL}}">
                                <img ng-src="{{success.getAmazonUrl('static/img/share/linkedin.png')}}" alt="">
                              </a>
                            </li>
                            <li>
                              <a href="#"
                                ng-click="success.toggleEmailShow()">
                                <img ng-src="{{success.getAmazonUrl('static/img/share/email.png')}}" alt="">
                              </a>
                            </li>
                            <li class="hidden-md hidden-lg">
                              <a href="#"
                                socialshare
                                socialshare-provider="{{::success.social.WHATSAPP_SOCIAL_PROVIDER}}"
                                socialshare-text="{{::success.social.WHATSAPP_SHARE_TEXT}}"
                                socialshare-url="{{::success.social.WHATSAPP_SHARE_URL}}">
                                <img ng-src="{{success.getAmazonUrl('static/img/share/whatsapp.png')}}" alt="">
                              </a>
                            </li>
                            <li class="hidden-md hidden-lg">
                              <a href="#"
                                socialshare
                                socialshare-provider="{{::success.social.MESSENGER_SOCIAL_PROVIDER}}"
                                socialshare-url="{{::success.social.MESSENGER_SHARE_URL}}">
                                <img ng-src="{{success.getAmazonUrl('static/img/share/messenger.png')}}" alt="">
                              </a>
                            </li>
                          </ul>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="trulii-cover__background" style="background-image: none; background-color: white;">
              <canvas id="confetti"></canvas>
            </div>
        </div>
    </div>
    <div class="col-xs-12 limited-width">
      <div class="activity-enroll-success">
        <div class="activity-enroll-success__attendees-widget">
          
          <div class="col-xs-12 col-lg-3 flex-container">
            <div class="activity-enroll-success__attendees-widget__contact">
              <h5 ng-bind="::success.strings.LABEL_QUESTIONS"></h5>
              <p>
                <a href="#" ng-bind="::success.strings.ACTION_CONTACT_US"></a>
              </p>
            </div>
          </div>
          <div class="hidden-xs hidden-sm" ui-view="attendees"></div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h4 class="text-center">
              <strong>
                <span ng-bind="success.strings.COPY_VIEW_YOUR_ORDER_1"></span>
                <a target="_blank" ui-sref="student-dashboard.history.orders.order({'activity_id':success.activity.id,'orderId': success.orderId})" ng-bind="success.strings.COPY_VIEW_YOUR_ORDER_2">
              </strong>
            </a>
            </h4>
          </div>
        </div>
          <!--Audience-->
          <div class="row separate-above-medium" ng-show="success.activity.audience">
            <div class="col-xs-12 section">
              <h4>
                <strong ng-bind="success.strings.LABEL_REQUIREMENTS"></strong>
              </h4>
              <p class="content"  ng-bind-html="success.activity.requirements" ng-class="{'content-mobile': !success.showAudience}"></p>
            </div>
          </div>
          <div class="row separate-above-less" ng-show="success.activity.content">
            <div class="col-xs-12 section">
              <div class="separator separate-vertical"></div>
              <h4>
                <strong ng-bind="::success.strings.LABEL_START_DATE"></strong>
              </h4>
              <p class="text-capitalize content" ng-class="{'content-mobile': !success.showAudience}">
                <span ng-bind="::(success.calendar.initial_date | date : 'EEEE d MMM y')">
                </span>
                <br>
                <span ng-bind="::('A las ' + (success.calendar.sessions[0].start_time | date: 'h:mm a'))">
                </span>
              </p>
            </div>
         </div>
         <div class="row separate-above-less" ng-show="success.activity.content">
            <div class="col-xs-12 section">
              <div class="separator separate-vertical"></div>
              <h4>
                <strong ng-bind="::success.strings.LABEL_LOCATION"></strong>
              </h4>
              <div class="content location" ng-class="{'content-mobile': !success.showAudience}">
                <div class="address">
                  <h5>
                    <strong class="text-uppercase" ng-bind="success.strings.LABEL_ADDRESS"></strong>
                    <span>:</span>
                    <span class="text-uppercase" ng-bind="success.activity.location.address"></span>
                  </h5>
                </div>
                <ui-gmap-google-map class="map hidden-xs hidden-sm" center='success.map.center' zoom='success.map.zoom'
                  bounds="success.map.bounds" options="success.map.options"
                  events="success.map.events">
                  <ui-gmap-marker coords="success.marker.coords" options="success.marker.options"
                      events="success.marker.events"
                      idkey="success.marker.id"></ui-gmap-marker>
                </ui-gmap-google-map>
              </div>
            </div>
         </div>
      </div>
      <div class="row hidden-xs hidden-sm">
        <div class="related-activities-container-enroll col-xs-12" ng-if="success.organizerActivities.length > 0">
          <div class="row">
           <div class="col-xs-12 section">
             <h4>
              <strong ng-bind="::success.strings.LABEL_SIMILAR"></strong>
            </h4>
           </div>
         </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="col-xs-12 dynamic-layout-wrapper">
                <div class="dynamic-layout-container-fluid separate-above-less">
                  <div class="text-center">
                      <div dynamic-layout items="success.cards" class="dynamic-layout"></div>
                  </div>
                  </div>
              </div>
              <div class="col-xs-12">
                <button class="btn btn-lg btn-block btn-info" ng-bind="success.strings.COPY_MORE_SIMILAR_ACTIVITIES"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<trulii-footer></trulii-footer>

<div class="absolute-container" ng-show="success.showEmail">
  <button class="pull-right absolute-container__close" ng-click="success.toggleEmailShow()">
    <img class="img-responsive" ng-src="{{success.getAmazonUrl('static/img/activity-enroll/close.png')}}" alt=""/>
  </button>
  <div class="col-xs-12 col-md-7">
    <div class="modal-content modal-email">
      <div class="modal-header">
        <div class="well-title">
          <h3 class="text-center" ng-bind="::success.strings.EMAIL_MODAL_HEADER">
          </h3>
        </div>
      </div>
      <div class="modal-body">
        <form name='success.email_form' ng-submit="success.shareEmailForm()" class="separate-above separate-below-less form-classic">
          <fieldset>
            <div class="form-group" trulii-input-errors-control="name">
                <label for="emails" ng-bind="success.strings.EMAIL_MODAL_SEND_TO_LABEL">
                </label>
                <input id="emails" class="form-control" name="emails" type="text"
                  ng-model="success.formData.emails"
                  placeholder="{{success.strings.EMAIL_MODAL_SEND_TO_PLACEHOLDER}}" >
            </div>
            <div class="form-group" trulii-input-errors-control="message">
              <label for="message" ng-bind="success.strings.EMAIL_MODAL_MESSAGE_LABEL"></label>
              <textarea name="message" id="message" class="form-control"
                        ng-model="success.formData.message"
                        placeholder="{{success.strings.EMAIL_MODAL_MESSAGE_PLACEHOLDER}}">
              </textarea>
            </div>
            <div class="form-group" trulii-input-errors-control="__all__">
                <input type="hidden" name="__all__" ng-model="__all__"/>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                  <button type="submit" id="submit"
                    class="btn btn-lg btn-success btn-block"
                    ng-bind="::success.strings.EMAIL_MODAL_SEND">
                  </button>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
