<div class="row print-container">
    <div class="order-container tab-content">
        <div class="card-body tab-content">
            <div class="tab-pane active fade in">
                <div>
                    <div class="row print-visible">
                        <div class="col-xs-4 separate-below-less">
                            <img class="img-responsive" src="../../css/img/logo-yellow.png" alt="">
                        </div>
                    </div>
                    <div class="row order-detail">
                        <div class="col-xs-3 order-description">
                            <h5 class="sinkin-medium separate-below"><span ng-bind="::order.strings.LABEL_ORDER"></span>&nbsp;<span
                                    ng-bind="::order.order.id"></span></h5>
                            <!--Activity-->
                            <h5 class="sinkin-ultralight " ng-bind="::order.strings.LABEL_ACTIVITY"></h5>
                            <a ui-sref="activities-detail({activity_id: {{::order.order.activity.id}} })">
                                <h5 class="sinkin-medium separate-below" ng-bind="::order.order.activity.name"></h5>
                            </a>
                            <!--Buyer-->
                            <h5 class="sinkin-ultralight " ng-bind="::order.strings.LABEL_BUYER"></h5>
                            <h5 class="sinkin-medium separate-below"
                                ng-bind="::(order.order.student.user.first_name + ' ' +
                                                order.order.student.user.last_name)"></h5>
                            <!--Payment-Type-->
                            <h5 class="sinkin-ultralight" ng-bind="::order.strings.LABEL_PAYMENT_TYPE"></h5>
                            <h5 class="sinkin-medium separate-below" ng-show="::order.order.is_free"
                                ng-bind="::order.strings.LABEL_FREE"></h5>
                            <h5 class="sinkin-medium separate-below">
                                <span ng-bind="::order.order.payment.payment_type"></span>
                                <span ng-show="::order.order.payment.last_four_digits">*****</span><span
                                    ng-bind="::order.order.payment.last_four_digits"></span>
                            </h5>
                            <!--Status-->
                            <h5 class="sinkin-ultralight" ng-bind="::order.strings.LABEL_ORDER_STATUS"></h5>
                            <h5 class="sinkin-medium separate-below" ng-bind="::order.order.status"></h5>
                            <!--Date-->
                            <h5 class="sinkin-ultralight" ng-bind="::order.strings.LABEL_ORDER_CREATE_AT"></h5>
                            <h5 class="sinkin-medium"><span class="text-capitalize"
                                                            ng-bind="::order.order.created_at | date:'EEEE d MMM y'"></span>
                            </h5>
                            <div class="separate-above-more">
                                <button class="btn btn-default btn-block"
                                        ng-click="order.printOrder()"
                                        ng-bind="::order.strings.ACTION_PRINT"></button>
                            </div>
                            <div class="separate-above-less">
                                <a class="btn btn-default btn-return btn-block"
                                   ui-sref="{{order.previousState.state}}({{order.previousState.params}})">
                                    <img src="css/img/activity-enroll/navigation_back.png"
                                         alt="{{ ::order.strings.ACTION_GO_BACK }}"
                                         class="img-responsive inline-block"/>
                                    <span ng-bind="::order.strings.ACTION_GO_BACK"></span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-9 order-info no-padding">
                            <div class="table-responsive table-fixed table-condensed">
                                <table class="table table-hover border-bottom" valign="middle">
                                    <tr class="text-center">
                                        <th><strong ng-bind="::order.strings.HEADER_ASSISTANT"></strong></th>
                                        <th><strong ng-bind="::order.strings.HEADER_EMAIL"></strong></th>
                                        <th><strong ng-bind="::order.strings.HEADER_PRICE"></strong></th>
                                        <th ng-show="::order.isStudent"><strong
                                                ng-bind="::order.strings.HEADER_ASSISTANT_CODE"></strong>
                                            <i class="glyphicon glyphicon-question-sign" aria-hidden="true"
                                               tooltip-placement="right"
                                               tooltip="{{::order.strings.COPY_ASSISTANT_CODE_TOOLTIP}}"></i>
                                        </th>
                                        <th><strong></strong></th>
                                    </tr>
                                    <tr ng-repeat="assistant in order.order.assistants track by assistant.id">
                                        <td>
                                            <span ng-bind="::(assistant.first_name +' '+ assistant.last_name)"></span>
                                        </td>
                                        <td>
                                            <span ng-bind="::assistant.email"></span>
                                        </td>
                                        <td>
                                        <span ng-bind="::(order.order.amount / order.order.assistants.length | currency:$:0)"
                                              ng-class="{'text-strike':assistant.lastest_refund.status === order.strings.REFUND_APPROVED_STATUS}"></span>
                                        </td>
                                        <td ng-show="::order.isStudent">
                                            <span ng-bind="::assistant.token"></span>
                                        </td>
                                        <td ng-show="assistant.lastest_refund">
                                            <span ng-bind="::order.strings.LABEL_REIMBURSEMENTS_STATUS"></span><br/>
                                        <span class="sinkin-medium"
                                              ng-bind="assistant.lastest_refund.status"></span>
                                            <i ng-show="!assistant.lastest_refund.requested_by_me"
                                               class="glyphicon glyphicon-question-sign order-tooltip"
                                               aria-hidden="true" tooltip-placement="right"
                                               tooltip="{{::order.strings.COPY_REFUND_REQUESTED_BY_OTHER}}"></i>
                                        </td>
                                        <td class="column-button" ng-show="!assistant.lastest_refund">
                                            <trulii-preloader
                                                    loader-control="order.requestingRefund[assistant.id]"></trulii-preloader>
                                            <button class="btn btn-default"
                                                    ng-show="!assistant.lastest_refund && !order.order.lastest_refund && !order.requestingRefund[assistant.id]"
                                                    ng-click="order.requestAssistantRefund(order.order.id,assistant)"
                                                    ng-bind="::order.strings.ACTION_REIMBURSE"></button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!--Sub-Total-->
                            <div class="row no-margin">
                                <div class="col-xs-3">
                                    <h4 class="text-lg montserrat-light" ng-bind="::order.strings.LABEL_SUB_TOTAL"></h4>
                                </div>
                                <div class="col-xs-5">
                                    <h4 class="text-right text-lg montserrat-light"
                                        ng-bind="::(order.order.amount | currency:$:0)"></h4>
                                </div>
                            </div>
                            <!--Coupons-->
                            <div class="row no-margin" ng-show="::(order.order.coupon.amount > 0 && order.isStudent)">
                                <div class="col-xs-3">
                                    <h4 class="text-lg montserrat-light"
                                        ng-bind="::(order.strings.LABEL_COUPON +' '+ order.order.coupon.code)"></h4>
                                </div>
                                <div class="col-xs-5">
                                    <h4 class="text-right text-lg montserrat-light"
                                        ng-bind="::('-' + (order.order.coupon.amount | currency:$:0))"></h4>
                                </div>
                                <i ng-show="::(order.order.total_without_coupon === 0)"
                                   class="glyphicon glyphicon-question-sign" aria-hidden="true"
                                   tooltip-placement="right"
                                   tooltip="{{::order.strings.COPY_COUPON_NOT_REFUND_TOOLTIP}}"></i>
                            </div>
                            <!--Reimbursements-->
                            <div class="row no-margin" ng-show="order.order.total_refunds_amount > 0">
                                <div class="col-xs-3">
                                    <h4 class="text-lg montserrat-light"
                                        ng-bind="order.strings.LABEL_REIMBURSEMENTS"></h4>

                                </div>
                                <div class="col-xs-5">
                                    <h4 class="text-right text-lg montserrat-light"
                                        ng-bind="'-' + (order.order.total_refunds_amount | currency:$:0)"></h4>
                                </div>
                            </div>
                            <!--Fee-->
                            <div class="row no-margin" ng-show="::order.isOrganizer">
                                <div class="col-xs-3">
                                    <h4 class="text-lg montserrat-light"
                                        ng-bind="order.strings.LABEL_TRULII_FEE + ' ' + (order.order.fee * 100) + '%'"></h4>
                                </div>
                                <div class="col-xs-5">
                                    <h4 class="text-lg montserrat-light text-right "
                                        ng-bind="::('-' + (order.feeAmount | currency:$:0))"></h4>
                                </div>
                            </div>
                            <!--Separator-->
                            <div class="row no-margin" ng-show="::(order.order.total !== order.order.amount)">
                                <div class="col-xs-12 no-padding">
                                    <hr class="complete no-margin"/>
                                </div>
                            </div>
                            <!--Amount-->
                            <div class="row no-margin">
                                <div class="col-xs-3">
                                    <h4 class="separate-above-less" ng-bind="::order.strings.LABEL_TOTAL"></h4>
                                </div>

                                <div class="col-xs-5">
                                    <h4 class="text-right " ng-show="::order.isStudent"
                                        ng-bind="::(order.order.total | currency:$:0)"
                                        ng-class="::{'text-strike':order.order.is_free}"></h4>
                                    <h4 class="text-right " ng-show="::order.isOrganizer"
                                        ng-bind="::(order.totalAmount | currency:$:0)"
                                        ng-class="::{'text-strike':order.order.is_free}"></h4>
                                    <h4 class="text-right" ng-show="::order.order.is_free"
                                        ng-bind="::order.strings.LABEL_FREE"></h4>
                                </div>


                            </div>
                            <!--Refund Button-->
                            <div class="row no-margin">
                                <div class="col-xs-4 col-xs-push-8">
                                    <div ng-show="order.order.lastest_refund">
                                        <span ng-bind="::order.strings.LABEL_REIMBURSEMENTS_STATUS"></span>
                                        <span class="sinkin-medium" ng-bind="order.order.lastest_refund.status"></span>
                                        <i ng-show="!order.order.lastest_refund.requested_by_me"
                                           class="glyphicon glyphicon-question-sign" aria-hidden="true"
                                           tooltip-placement="right"
                                           tooltip="{{::order.strings.COPY_REFUND_REQUESTED_BY_OTHER}}"></i>
                                    </div>
                                    <trulii-preloader loader-control="order.requestingOrderRefund"></trulii-preloader>

                                    <button class="btn btn-block btn-primary"
                                            ng-show="!order.order.lastest_refund && !(order.order.total_refunds_amount > 0) && !order.requestingOrderRefund"
                                            ng-click="order.requestOrderRefund(order.order.id)"
                                            ng-bind="::order.strings.ACTION_REIMBURSE_ORDER"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
