<div class="row print-container">
     
    <div class="order-container tab-content">
        <div class="col-xs-12 panel-default panel-default__dashboard ">
            <a class="btn btn-default separate-right-less hidden-sm hidden-xs"
                ui-sref="{{order.previousState.state}}({{order.previousState.params}})">
                <span ng-bind="::order.strings.ACTION_GO_BACK"></span>
            </a>
            <span class="panel-default__dashboard-title" ng-bind="::order.strings.TAB_ORDER"></span>
           
        </div>
        <div class="card-body tab-content">
            <div class="tab-pane active fade in">
                <div>
                    <div class="row print-visible">
                        <div class="col-xs-4 separate-below">
                            <img class="img-responsive" ng-src="{{order.getAmazonUrl('static/img/logo-green.png')}}" alt="">
                        </div>
                    </div>
                    <div class="row order-detail">
                        <div class="col-xs-12 order-description">
                            <h3 class="sinkin-medium separate-below text-blue-dark text-lg font-semibold text-capitalize ">
                              <span ng-bind="::order.strings.LABEL_ORDER"></span>
                              <span>&nbsp; #</span>
                              <span ng-bind="::order.order.id"></span>
                            </h3>
                             <button class="btn btn-default btn-print hidden-sm hidden-xs"
                                    ng-click="order.printOrder()"
                                    ng-bind="::order.strings.ACTION_PRINT"></button>
                            <!--Activity-->
                            <div class="hidden-xs hidden-sm pull-left">
                              <h5 class="sinkin-ultralight text-blue-dark font-semibold" ng-bind="::order.strings.LABEL_ACTIVITY"></h5>
                              <a ui-sref="activities-detail({activity_id: {{::order.order.activity.id}} })">
                                  <h5 class="sinkin-medium separate-below  text-blue-dark" ng-bind="::order.order.activity.name"></h5>
                              </a>
                            </div>
                            <!--Buyer-->
                            <div class="hidden-xs hidden-sm pull-left">
                              <h5 class="sinkin-ultralight text-blue-dark font-semibold" ng-bind="::order.strings.LABEL_BUYER"></h5>
                              <h5 class="sinkin-medium separate-below text-blue-dark"
                                ng-bind="::(order.order.student.user.first_name + ' ' +
                                order.order.student.user.last_name)">
                              </h5>
                            </div>
                            <!--Payment-Type-->
                            <div class="pull-left">
                              <h5 class="sinkin-ultralight text-blue-dark font-semibold" ng-bind="::order.strings.LABEL_PAYMENT_TYPE"></h5>
                              <h5 class="sinkin-medium separate-below text-blue-dark font-semibold" ng-show="::order.order.is_free"
                                  ng-bind="::order.strings.LABEL_FREE"></h5>
                              <h5 class="sinkin-medium separate-below text-blue-dark">
                                  <span ng-bind="::order.order.payment.payment_type"></span>
                                  <span ng-show="::order.order.payment.last_four_digits">*****</span><span
                                      ng-bind="::order.order.payment.last_four_digits"></span>
                              </h5>
                            </div>

                            <!--Status-->
                            <div class="pull-left">
                              <h5 class="sinkin-ultralight text-blue-dark font-semibold" ng-bind="::order.strings.LABEL_ORDER_STATUS"></h5>
                              <h5 class="sinkin-medium separate-below text-blue-dark" ng-bind="::order.order.status"></h5>
                            </div>
                            <!--Date-->
                            <div class="pull-left ">
                              <h5 class="sinkin-ultralight text-blue-dark font-semibold" ng-bind="::order.strings.LABEL_ORDER_CREATE_AT"></h5>
                              <h5 class="sinkin-medium text-blue-dark">
                                <span class="text-capitalize"
                                  ng-bind="::order.order.created_at | date:'EEEE d MMM y'">
                                </span>
                              </h5>
                            </div>


                        </div>
                        <div class="col-xs-12 order-info">
                            <div class="table-responsive table-fixed table-condensed hidden-sm hidden-xs">
                                <table class="table table-hover border-bottom" valign="middle">
                                    <tr class="text-center">
                                        <th>
                                          <strong ng-bind="::order.strings.HEADER_ASSISTANT"></strong>
                                        </th>
                                        <th class="hidden-xs hidden-sm">
                                          <strong ng-bind="::order.strings.HEADER_EMAIL"></strong>
                                        </th>
                                        <th>
                                          <strong ng-bind="::order.strings.HEADER_PRICE"></strong>
                                        </th>
                                        <th ng-show="::order.isStudent">
                                          <strong ng-bind="::order.strings.HEADER_ASSISTANT_CODE"></strong>
                                          <i class="glyphicon glyphicon-question-sign" aria-hidden="true"
                                            tooltip-placement="right"
                                            tooltip="{{::order.strings.COPY_ASSISTANT_CODE_TOOLTIP}}"></i>
                                        </th>
                                        <th class="hidden-xs">
                                        </th>
                                    </tr>
                                    <tr ng-repeat="assistant in order.order.assistants track by assistant.id">
                                        <td>
                                            <span ng-bind="::(assistant.first_name +' '+ assistant.last_name)"></span>
                                        </td>
                                        <td class="hidden-xs hidden-sm">
                                            <span ng-bind="::assistant.email"></span>
                                        </td>
                                        <td>
                                        <span ng-bind="::(order.order.amount / order.order.assistants.length | currency:$:0)"></span>
                                        </td>
                                        <td ng-show="::order.isStudent">
                                            <span ng-bind="::assistant.token"></span>
                                        </td>


                                    </tr>
                                    <!--Sub-Total-->
                                    <tr class="order-mounts order-mounts-first">
                                        <td>
                                            <h4 class="text-md font-light text-dark font-semibold"  ng-bind="::order.strings.LABEL_SUB_TOTAL"></h4>
                                        </td>
                                        <td>
                                            <span></span>
                                        </td>
                                        <td>
                                           <h4 class="text-md text-dark font-semibold"
                                                 ng-bind="::(order.order.amount | currency:$:0)"></h4>
                                        </td>
                                    </tr>
                                    <!--Coupons-->
                                    <tr class="order-mounts"  ng-show="::(order.order.coupon.amount > 0 && order.isStudent)">
                                        <td>
                                            <h4  class="text-md text-dark font-semibold"
                                                 ng-bind="::(order.strings.LABEL_COUPON +' '+ order.order.coupon.code)"></h4>
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                            <h4  class=" text-md text-dark font-semibold"
                                                 ng-bind="::('-' + (order.order.coupon.amount | currency:$:0))"></h4>
                                        </td>
                                    </tr>
                                     <!--Fee-->
                                    <tr class="order-mounts">
                                        <td>
                                            <h4 class="text-md font-light text-dark font-semibold"
                                                 ng-bind="order.strings.LABEL_TRULII_FEE + ' ' + (order.order.fee * 100) + '%'"></h4>
                                        </td>
                                        
                                        <td>
                                            
                                        </td>
                                        <td>
                                            <h4 class="text-md font-light text-dark font-semibold"
                                                ng-bind="::('-' + (order.feeAmount | currency:$:0))"></h4>
                                        </td>
                                    </tr>
                                     <!--Amount-->
                                    <tr class="order-mounts">
                                        <td>
                                            <h4 class="separate-above-less text-lg text-dark font-semibold" ng-bind="::order.strings.LABEL_TOTAL"></h4>
                                        </td>
                                        <td>
                                            
                                        </td>
                                        <td>
                                            <h4 class="text-md text-dark font-semibold" ng-show="::order.isStudent"
                                                ng-bind="::(order.order.total | currency:$:0)"
                                                ng-class="::{'text-strike':order.order.is_free}"></h4>
                                            <h4 class="text-lg text-dark font-semibold" ng-show="::order.isOrganizer"
                                                ng-bind="::(order.totalAmount | currency:$:0)"
                                                ng-class="::{'text-strike':order.order.is_free}"></h4>
                                            <h4 class="text-lg text-dark font-semibold" ng-show="::order.order.is_free"
                                                ng-bind="::order.strings.LABEL_FREE"></h4>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            
                            <div class="order-mobile hidden-md hidden-lg" >
                                <div class="order-mobile__asisstant" ng-class="{'order-mobile__asisstant-show': assistant.showMobile}" ng-repeat="assistant in order.order.assistants track by assistant.id">
                                    <div class="order-mobile__asisstant-header"  ng-click="assistant.showMobile=!assistant.showMobile">
                                        <h4 >
                                            <span ng-bind="::order.strings.HEADER_ASSISTANT"></span>
                                            <span>:</span>
                                            <span ng-bind="::(assistant.first_name +' '+ assistant.last_name)"> </span>
                                            <i class="fa fa-angle-right pull-right" ng-class="{'rotate-icon': assistant.showMobile}" aria-hidden="true"></i>
                                        </h4>
                                        
                                    </div> 
                                    
                                    <div class="order-mobile__asisstant-row">
                                        <h4 ng-bind="::order.strings.HEADER_PRICE"></h4>
                                        <span ng-bind="::(order.order.amount / order.order.assistants.length | currency:$:0)"></span>
                                    </div>
                                     <div class="order-mobile__asisstant-row">
                                        <h4 ng-bind="::order.strings.HEADER_EMAIL"></h4>
                                        <span ng-bind="::assistant.email"></span>
                                    </div>
                                     <div class="order-mobile__asisstant-row">
                                        <h4 ng-bind="::order.strings.HEADER_ASSISTANT_CODE"></h4>
                                        <span ng-bind="::assistant.token"></span>
                                    </div>
                                </div>
                            </div>
                            <!--Sub-Total
                            <div class="row no-margin hidden-xs hidden-sm">
                                <div class="col-xs-6 col-md-3">
                                    
                                </div>
                                <div class="col-xs-5 col-md-7">
                                    
                                </div>
                            </div>
                            <!--Coupons
                            <div class="row no-margin hidden-xs hidden-sm" ng-show="::(order.order.coupon.amount > 0 && order.isStudent)">
                                <div class="col-xs-6 col-md-3">
                                    
                                </div>
                                <div class="col-xs-5 col-md-7">
                                    
                                </div>
                                <i ng-show="::(order.order.total_without_coupon === 0)"
                                   class="glyphicon glyphicon-question-sign" aria-hidden="true"
                                   tooltip-placement="right"
                                   tooltip="{{::order.strings.COPY_COUPON_NOT_REFUND_TOOLTIP}}"></i>
                            </div>

                            <!--Fee
                            <div class="row no-margin hidden-xs hidden-sm" ng-show="::order.isOrganizer">
                                <div class="col-xs-6 col-md-3">
                                   
                                </div>
                                <div class="col-xs-5 col-md-7">
                                    
                                </div>
                            </div>
                            <!--Separator
                            <div class="row no-margin hidden-xs hidden-sm" ng-show="::(order.order.total !== order.order.amount)">
                                <div class="col-xs-12 no-padding">
                                    <hr class="complete no-margin"/>
                                </div>
                            </div>
                            <!--Amount
                            <div class="row no-margin">
                                <div class="col-xs-6 col-md-3">
                                    
                                </div>

                                <div class="col-xs-5 col-md-7">
                                   
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
