<div class="fade in">
    <p class="text-muted" ng-bind="::account.strings.COPY_BANKING"></p>
    <form name='account.account_form_banking_info' ng-submit="account.updateBankingInfo()">
        <fieldset>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-sm-8">
                    <div class="form-group" trulii-input-errors-control="">
                        <label for="beneficiary" ng-bind="::account.strings.LABEL_BENEFICIARY"></label>
                        <input id="beneficiary" class="form-control" name="beneficiary"
                               ng-model="account.bankingData.beneficiary"
                               type="text">
                    </div>
                    <div class="form-group" trulii-input-errors-control="">
                        <label for="bank" ng-bind="::account.strings.LABEL_BANK"></label>
                        <select id="bank" class="form-control" name="bank" ng-model="account.bankingData.bank"
                            ng-options="bank.bank_id as bank.bank_name for bank in account.bankingInfo.banks">
                            <option value="" ng-bind="::account.strings.OPTION_DEFAULT_SELECT_BANK"></option>
                        </select>
                    </div>
                    <div class="row separate-above">
                        <div class="col-xs-12 separate-above">
                            <label ng-bind="::account.strings.LABEL_DOCUMENT"></label>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group" trulii-input-errors-control="">
                                <label class="sr-only" for="document-type" ng-bind="::account.strings.LABEL_DOCUMENT"></label>
                                <select id="document-type" class="form-control" name="nit" ng-model="account.bankingData.document_type"
                                        ng-options="document.document_id as document.document_name for document in account.bankingInfo.documents">
                                    <option value="" ng-bind="::account.strings.OPTION_DEFAULT_SELECT_DOCUMENT_TYPE"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <label class="sr-only" for="document-number" ng-bind="::account.strings.LABEL_DOCUMENT_NUMBER"></label>
                            <input id="document-number" class="form-control" name="document-number"
                                   ng-model="account.bankingData.document"
                                   placeholder="{{ ::account.strings.PLACEHOLDER_DOCUMENT_NUMBER }}"
                                   type="text">
                        </div>
                    </div>
                    <div class="form-group" trulii-input-errors-control="">
                        <label for="account-type" ng-bind="::account.strings.LABEL_ACCOUNT_TYPE"></label>
                        <select id="account-type" class="form-control" name="account-type" ng-model="account.bankingData.account_type"
                                ng-options="account.account_id as account.account_name for account in account.bankingInfo.accounts">
                            <option value="" ng-bind="::account.strings.OPTION_DEFAULT_SELECT_ACCOUNT_TYPE"></option>
                        </select>
                    </div>
                    <div class="form-group" trulii-input-errors-control="">
                        <label for="account-number" ng-bind="::account.strings.LABEL_ACCOUNT_NUMBER"></label>
                        <input id="account-number" class="form-control" name="account-number"
                               ng-model="account.bankingData.account"
                               placeholder="{{ ::account.strings.PLACEHOLDER_ACCOUNT_NUMBER }}"
                               type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <trulii-submit-controls is-saving="account.isSaving"
                            data-value="{{::account.strings.ACTION_SAVE}}"></trulii-submit-controls>
                </div>
            </div>
        </fieldset>
    </form>
</div>
