<div class="fade in">
    <div class="row activity-grid --left">
        <trulii-activity-item
                ng-repeat="activity in activities.inactive_activities track by activity.id"
                data-activity="activity"
                data-options="{{activities.inactiveOptions}}"></trulii-activity-item>
    </div>
    <div class="text-center col-xs-10" ng-if="activities.inactive_activities.length > 0">
        <pagination class="pagination-sm"
            ng-model="activities.inactivePaginationOpts.pageNumber"
            ng-change="activities.pageChange(activities.TYPE_INACTIVE)"
            data-total-items="activities.inactivePaginationOpts.totalItems"
            data-items-per-page="activities.inactivePaginationOpts.itemsPerPage"></pagination>
      </div>
    <!--If there are no activities-->
    <div ng-if="activities.inactive_activities.length <= 0" class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <img ng-src="{{dash.getAmazonUrl('static/img/organizer_dashboard_activities_empty.png')}}"
                 alt="{{activities.strings.LABEL_EMPTY_ACTIVITIES}}"/>
            <p class="font-family-sans-alt separate-below separate-above">
                <span ng-bind="::activities.strings.LABEL_EMPTY_INACTIVE"></span>
                <span ng-bind="::activities.strings.COPY_EMPTY_INACTIVE"></span>
            </p>
            <a class="btn btn-lg btn-success"
               ui-sref="dash.activities-new.general"
               ng-bind="activities.strings.ACTION_CREATE_ACTIVITY"></a>
        </div>
    </div>
</div>
