<div class="fade in">
    <p ng-bind="activities.strings.COPY_CLOSED"></p>
    <div class="row activity-grid --left">
        <trulii-activity-item
                ng-repeat="activity in activities.closed_activities track by activity.id"
                data-activity="activity"
                data-options="{{activities.closedOptions}}"></trulii-activity-item>
    </div>
    <!--If there are no activities-->
    <div ng-if="activities.closed_activities.length <= 0" class="row">
        <div class="col-md-12 text-center">
            <img src="css/img/organizer_dashboard_activities_empty.png"
                 alt="{{activities.strings.LABEL_EMPTY_CLOSED}}"/>
            <h4 class="standout-text" ng-bind="::activities.strings.LABEL_EMPTY_CLOSED"></h4>
            <div class="separate-below separate-above standout-text"
                 ng-bind="::activities.strings.COPY_EMPTY_CLOSED">
            </div>
            <a class="btn btn-lg btn-primary"
               ui-sref="dash.activities-new.general"
               ng-bind="activities.strings.ACTION_CREATE_ACTIVITY"></a>
            <a ng-if="activities.inactive_activities" class="btn btn-lg btn-default"
               ui-sref="^.inactive"
               ng-bind="activities.strings.ACTION_PUBLISH_ACTIVITY">
            </a>
        </div>
    </div>
</div>