<div class="fade in">
    <div class="col-xs-12 panel-default panel-default__dashboard panel-default__dashboard-sub">
            <h4 class="panel-default__dashboard-title" ng-bind="::activities.strings.TAB_OPEN"></h4>
     </div>
     <div class="col-xs-12 panel-default panel-default__dashboard panel-default__dashboard-sub-second">
            <span class="separate-left text-gray-dark" ng-bind="::activities.strings.COPY_OPEN"></span>
     </div>
    <div ng-if="activities.open_activities.length > 0">
        <div class="row activity-grid-organizer">
            <trulii-activity-item
                    ng-repeat="activity in activities.open_activities track by activity.id"
                    data-activity="activity"
                    data-organizer="activities.dashOrganizer"
                    data-options="{{activities.openOptions}}"></trulii-activity-item>
        </div>
        <div class="text-center col-xs-12">
          <pagination class="pagination-sm"
              ng-model="activities.openPaginationOpts.pageNumber"
              ng-change="activities.pageChange(activities.TYPE_OPEN)"
              data-total-items="activities.openPaginationOpts.totalItems"
              previous-text="&lsaquo;" next-text="&rsaquo;" rotate="false"
              data-items-per-page="activities.openPaginationOpts.itemsPerPage"></pagination>
        </div>
    </div>
    <!--If there are no activities-->

    <div class="row" ng-if="activities.open_activities.length <= 0">
        <div class="col-sm-6 col-md-8 text-left separate-left-less separate-above">
            <p class="separate-below separate-above text-muted"
                 ng-bind="::activities.strings.COPY_EMPTY_OPEN">
            </p>
            <a class="btn btn-lg btn-success margin-horizontal-less"
               ui-sref="dash.activities-new.general"
               ng-bind="activities.strings.ACTION_CREATE_ACTIVITY"></a>
            <a ng-if="activities.closed_activities"
               class="btn btn-lg btn-default margin-horizontal-less"
               ui-sref="^.closed"
               ng-bind="activities.strings.ACTION_REPUBLISH_ACTIVITY">
            </a>
        </div>
    </div>
</div>
