<div class="fade in">
    
    <div class="col-xs-12 panel-default panel-default__dashboard panel-default__dashboard-sub">
            <h4 class="panel-default__dashboard-title" ng-bind="::activities.strings.TAB_CLOSED"></h4>
     </div>
     <div class="col-xs-12 panel-default panel-default__dashboard panel-default__dashboard-sub-second">
            <span class="text-gray-dark" ng-bind="::activities.strings.COPY_CLOSED"></span>
     </div>
    <div class="row activity-grid-organizer" ng-if="activities.closed_activities.length > 0">
        <trulii-activity-item
                ng-repeat="activity in activities.closed_activities track by activity.id"
                data-activity="activity"
                data-organizer="activities.dashOrganizer"
                data-options="{{activities.closedOptions}}"></trulii-activity-item>
    </div>
    <div class="text-center col-xs-12" ng-if="activities.closed_activities.length > 0">
        <pagination class="pagination-sm"
            ng-model="activities.closedPaginationOpts.pageNumber"
            ng-change="activities.pageChange(activities.TYPE_CLOSED)"
            data-total-items="activities.closedPaginationOpts.totalItems"
            previous-text="&lsaquo;" next-text="&rsaquo;" rotate="false"
            data-items-per-page="activities.closedPaginationOpts.itemsPerPage"></pagination>
      </div>
    <!--If there are no activities-->
    <div ng-if="activities.closed_activities.length <= 0" class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center separate-above">
            <p class="separate-below separate-above "
                 ng-bind="::activities.strings.COPY_EMPTY_CLOSED">
            </p>
            <a class="btn btn-md btn-success margin-horizontal-less separate-below-less"
               ui-sref="dash.activities-new.general"
               ng-bind="activities.strings.ACTION_CREATE_ACTIVITY"></a>
        </div>
    </div>
</div>
