<div class="navbar-secondary">
</div>
<div class="row" style="margin-bottom:60px;">
    <div class="col-md-8 col-md-offset-1">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h4 ng-bind="::instructors.strings.SECTION_INSTRUCTORS"></h4>
                    <p ng-bind="::instructors.strings.COPY_INSTRUCTORS"></p>
                </div>
            </div>
        </div>
        <div class="row">
            <form name='instructors.organizer_instructors_forms'>
                <div class="col-md-12 horizontal-fade" ng-repeat="instructor in instructors.instructors">
                    <trulii-instructor-card instructor="instructor"
                                            organizer="instructors.organizer"  on-dashboard="true"
                                            on-change="instructors.onChange()"></trulii-instructor-card>
                </div>
            </form>
        </div>
    </div>
</div>