<div class="navbar-secondary" ng-class="{'navbar-secondary-short': dash.scroll > 80}">
    <div class="new-message pull-right" ng-click="messages.toggleEmailShow()">
        <span>{{::messages.strings.TITLE_NEW_MESSAGE}}</span>
        <span><img src="css/img/msj_nuevo.png" alt=""></span>
    </div>
</div>
<div class="row fade in">
  <div class="col-xs-12 col-md-11 col-md-offset-1">
    <div class="row dashboard-messages">
      <div class="col-xs-12 col-md-9 col-md-offset-1 separate-above ">
          <form class="separate-above  ">
              <fieldset>
                  <div class="form-group" >

                      <input type="text" class="form-control" placeholder="{{::messages.strings.SEARCH_PLACEHOLDER}}" ng-model='messages.search'
                             name="search" id="search"> <i class="mdi mdi-action-search"></i></input>
                  </div>
              </fieldset>
          </form>
      </div>
    </div>
      <div class="separate-above dashboard-messages-container col-xs-12 col-md-9 col-md-offset-1">
          <a ui-sref="organizer-dashboard.messages-detail({'messageId': 1})"  class="row">
                <div class="col-xs-12 row separate-below-less">
                    <div class="col-md-8">
                        <span class=" text-dark montserrat-semibold">Clases de Yoga en el Virrey</span>
                    </div>
                    <div class="col-md-4 text-right">
                        <span class="text-gray-light montserrat-light">14, Ene. 2016</span>
                    </div>
                </div>
                <div class="col-xs-12 text-dark montserrat-regular">
                    <span>Fecha de inicio: </span>
                    <span>16 Feb, 2016</span>
                </div>
                <div class="col-xs-12 montserrat-light">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione sit animi tempora soluta odio ea reprehenderit at voluptatibus tenetur, suscipit molestias facilis, veniam itaque error. Cum odio, vitae error atque.</p>
                </div>

          </a>
          <a ui-sref="organizer-dashboard.messages-detail({'messageId': 1})"  class="row">
                <div class="col-xs-12 row separate-below-less">
                    <div class="col-md-8">
                        <span class=" text-dark montserrat-semibold">Clases de Yoga en el Virrey</span>
                    </div>
                    <div class="col-md-4 text-right">
                        <span class="text-gray-light montserrat-light">14, Ene. 2016</span>
                    </div>
                </div>
                <div class="col-xs-12 text-dark montserrat-regular">
                    <span>Fecha de inicio: </span>
                    <span>16 Feb, 2016</span>
                </div>
                <div class="col-xs-12 montserrat-light">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione sit animi tempora soluta odio ea reprehenderit at voluptatibus tenetur, suscipit molestias facilis, veniam itaque error. Cum odio, vitae error atque.</p>
                </div>

          </a>
          <a ui-sref="organizer-dashboard.messages-detail({'messageId': 1})"  class="row">
                <div class="col-xs-12 row separate-below-less">
                    <div class="col-md-8">
                        <span class=" text-dark montserrat-semibold">Clases de Yoga en el Virrey</span>
                    </div>
                    <div class="col-md-4 text-right">
                        <span class="text-gray-light montserrat-light">14, Ene. 2016</span>
                    </div>
                </div>
                <div class="col-xs-12 text-dark montserrat-regular">
                    <span>Fecha de inicio: </span>
                    <span>16 Feb, 2016</span>
                </div>
                <div class="col-xs-12 montserrat-light">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione sit animi tempora soluta odio ea reprehenderit at voluptatibus tenetur, suscipit molestias facilis, veniam itaque error. Cum odio, vitae error atque.</p>
                </div>

          </a>
          <a ui-sref="organizer-dashboard.messages-detail({'messageId': 1})"  class="row">
                <div class="col-xs-12 row separate-below-less">
                    <div class="col-md-8">
                        <span class=" text-dark montserrat-semibold">Clases de Yoga en el Virrey</span>
                    </div>
                    <div class="col-md-4 text-right">
                        <span class="text-gray-light montserrat-light">14, Ene. 2016</span>
                    </div>
                </div>
                <div class="col-xs-12 text-dark montserrat-regular">
                    <span>Fecha de inicio: </span>
                    <span>16 Feb, 2016</span>
                </div>
                <div class="col-xs-12 montserrat-light">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione sit animi tempora soluta odio ea reprehenderit at voluptatibus tenetur, suscipit molestias facilis, veniam itaque error. Cum odio, vitae error atque.</p>
                </div>

          </a>
          <a ui-sref="organizer-dashboard.messages-detail({'messageId': 1})"  class="row">
                <div class="col-xs-12 row separate-below-less">
                    <div class="col-md-8">
                        <span class=" text-dark montserrat-semibold">Clases de Yoga en el Virrey</span>
                    </div>
                    <div class="col-md-4 text-right">
                        <span class="text-gray-light montserrat-light">14, Ene. 2016</span>
                    </div>
                </div>
                <div class="col-xs-12 text-dark montserrat-regular">
                    <span>Fecha de inicio: </span>
                    <span>16 Feb, 2016</span>
                </div>
                <div class="col-xs-12 montserrat-light">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione sit animi tempora soluta odio ea reprehenderit at voluptatibus tenetur, suscipit molestias facilis, veniam itaque error. Cum odio, vitae error atque.</p>
                </div>

          </a>
          <a ui-sref="organizer-dashboard.messages-detail({'messageId': 1})"  class="row">
                <div class="col-xs-12 row separate-below-less">
                    <div class="col-md-8">
                        <span class=" text-dark montserrat-semibold">Clases de Yoga en el Virrey</span>
                    </div>
                    <div class="col-md-4 text-right">
                        <span class="text-gray-light montserrat-light">14, Ene. 2016</span>
                    </div>
                </div>
                <div class="col-xs-12 text-dark montserrat-regular">
                    <span>Fecha de inicio: </span>
                    <span>16 Feb, 2016</span>
                </div>
                <div class="col-xs-12 montserrat-light">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione sit animi tempora soluta odio ea reprehenderit at voluptatibus tenetur, suscipit molestias facilis, veniam itaque error. Cum odio, vitae error atque.</p>
                </div>

          </a>
          <a ui-sref="organizer-dashboard.messages-detail({'messageId': 1})"  class="row">
                <div class="col-xs-12 row separate-below-less">
                    <div class="col-md-8">
                        <span class=" text-dark montserrat-semibold">Clases de Yoga en el Virrey</span>
                    </div>
                    <div class="col-md-4 text-right">
                        <span class="text-gray-light montserrat-light">14, Ene. 2016</span>
                    </div>
                </div>
                <div class="col-xs-12 text-dark montserrat-regular">
                    <span>Fecha de inicio: </span>
                    <span>16 Feb, 2016</span>
                </div>
                <div class="col-xs-12 montserrat-light">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione sit animi tempora soluta odio ea reprehenderit at voluptatibus tenetur, suscipit molestias facilis, veniam itaque error. Cum odio, vitae error atque.</p>
                </div>

          </a>
      </div>
  </div>
</div>

<div class="absolute-container" ng-show="messages.showEmail">
  <button class="pull-right absolute-container__close" ng-click="messages.toggleEmailShow()">
    <img class="img-responsive" src="/css/img/activity-enroll/close.png" alt=""/>
  </button>
  <div class="col-xs-12 col-md-7">
    <div class="modal-content modal-email">
      <div class="modal-header">
        <div class="well-title">
          <h3 class="text-center" ng-bind="::detail.strings.EMAIL_MODAL_HEADER">
          </h3>
        </div>
      </div>
      <div class="modal-body">
        <form name='detail.email_form' ng-submit="detail.shareEmailForm()" class="separate-above separate-below-less form-classic">
          <fieldset>
              <div  trulii-input-errors-control="activities">
                  <label for="activities-select" class="sr-only"
                         ng-bind="::messages.strings.LABEL_ACTIVITIE"></label>
                  <select id="activities-select" name="activities"
                         class="form-control" ng-model="messages.selectedActivity"
                         ng-options="activitie as activitie.title for activitie in messages.activities track by activitie.id">
                         <option value="" ng-hide="messages.selectedActivity"
                                 ng-bind="::messages.strings.OPTION_ACTIVITY_DEFAULT" selected>
                         </option>
                  </select>
              </div>
              <div class="separate-above" trulii-input-errors-control="calendar">
                  <label for="calendar-select" class="sr-only"
                         ng-bind="::messages.strings.LABEL_CALENDAR"></label>
                  <select id="calendar-select" name="calendar"
                         class="form-control" ng-model="messages.selectedCalendar"
                         ng-options="calendar as (calendar.initial_date | date : 'MMM d, y') for calendar in messages.selectedActivity.calendars track by calendar.id">
                         <option value="" ng-hide="messages.selectedCalendar"
                                 ng-bind="::messages.strings.OPTION_CALENDAR_DEFAULT" selected>
                         </option>
                  </select>
              </div>
              <div class="separate-above-less" trulii-input-errors-control="subject">
                  <label for="subject-input" ng-bind="::message.strings.SUBJECT_MESSAGE_PLACEHOLDER">
                  </label>
                  <input id="subject-input" class="form-control" name="subject" type="text"
                    ng-model="message.formData.subject"
                    placeholder="{{messages.strings.SUBJECT_MESSAGE_PLACEHOLDER}}" >
              </div>
            <div  trulii-input-errors-control="message">
              <label for="message" ng-bind="detail.strings.EMAIL_MODAL_MESSAGE_LABEL"></label>
              <textarea name="message" id="message" class="form-control"
                        ng-model="detail.formData.message"
                        placeholder="{{messages.strings.MODAL_MESSAGE_PLACEHOLDER}}">
              </textarea>
            </div>
            <div class="form-group" trulii-input-errors-control="__all__">
                <input type="hidden" name="__all__" ng-model="__all__"/>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                  <button type="submit" id="submit"
                    class="btn btn-lg btn-success btn-block"
                    ng-bind="::messages.strings.LABEL_SEND_MESSAGE">
                  </button>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
