<div class="navbar-secondary" ng-class="{'navbar-secondary-short': dash.scroll > 80}">
    <div class="new-message pull-right" ng-click="messages.toggleEmailShow()">
        <span>{{::detail.strings.TITLE_NEW_MESSAGE}}</span>
        <span><img src="css/img/msj_nuevo.png" alt=""></span>
    </div>
</div>
<div class="row fade in">
  <div class="col-xs-12 col-md-11 col-md-offset-1">
      <div class="separate-above dashboard-messages-detail col-xs-12 col-md-9 col-md-offset-1">
        <i class="delete-message glyphicon glyphicon-trash"></i>
        <div class="title-message">
            <h1 class="montserrat-light">Clases de yoga en el virrey</h1>
        </div>
        <div class="content-message">
            <div class="row">
                <div class="col-xs-4 col-md-1">
                    <img class="user-picture" src="css/img/default_profile_pic.jpg" alt="">
                </div>
                <div class="col-xs-8 col-md-8 text-line-more-xl">
                    <span class="montserrat-regular text-lg">Universidad de los Andes</span>
                </div>
                <div class="col-xs-12 col-md-3 text-line-more-xl text-right">
                    <span class="text-gray-light montserrat-light">14, Ene. 2016</span>
                </div>
            </div>

            <div class="separate-above-less ">
                <p class="text-dark montserrat-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora beatae illo aut doloremque quo possimus labore nisi, dicta obcaecati minima a et, eveniet at, voluptates quidem iure libero repellat quam. </p>
            </div>
        </div>
      </div>
  </div>
</div>
