<div class="navbar-secondary" ng-class="{'navbar-secondary-short': dash.scroll > 80}">
</div>
<div class="row separate-below-more">
    <div class="col-xs-10 col-xs-offset-1 col-md-8">
        <!--Profile-->
        <div class="row">
            <div class="col-xs-12">
                <h4 class="dashboard-header" ng-bind="profile.strings.SECTION_PROFILE"></h4>
                <p ng-bind="::profile.strings.COPY_PROFILE"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <form name="profile.profile_picture_form">
                    <fieldset>
                        <div class="form-group inline-childs">
                            <div class="profile-photo-input">
                                <img class="profile-photo-input__photo"
                                     ng-src="{{profile.organizer.photo}}" alt="{{profile.organizer.name}}"
                                     ng-hide="profile.photo_loading"/>
                                <trulii-preloader loader-control="profile.photo_loading"></trulii-preloader>
                                <div class="separate-left" ng-model="profile.organizer.photo_url" ng-file-drop=""
                                     ng-file-select=""
                                     ng-multiple="false"
                                     data-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
                                     ng-file-change="profile.uploadPicture(profile.organizer.photo_url)"
                                     data-allow-dir="true" data-accept="image/*">

                                    <button class="btn btn-default profile-photo-input__action"
                                            aria-label="{{::profile.strings.ACTION_UPDATE_PICTURE}}">
                                        <span ng-bind="::profile.strings.ACTION_UPDATE_PICTURE"></span>
                                    </button>
                                </div>
                            </div>
                            <a class="btn btn-primary"
                               ui-sref="organizer-profile({organizer_id: profile.organizer.id})">
                                <div ng-bind="::profile.strings.ACTION_VIEW_PROFILE"></div>
                            </a>
                            <div class="form-group" trulii-input-errors-control="photo">
                                <input type="hidden" ng-model="profile.organizer.photo" name="photo"/>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <form class="row separate-above" name='profile.profile_form_info' ng-submit="profile.submitInfo()">
            <fieldset>
                <div class="col-md-12">
                    <div class="form-group" trulii-input-errors-control="name">
                        <label for="name" class="control-label" ng-bind="::profile.strings.LABEL_FULL_NAME"></label>
                        <input type="text" class="form-control" ng-model='profile.organizer.name'
                               name="name" id="name">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="headline"
                               ng-bind="::profile.strings.LABEL_HEADLINE"></label>
                            <textarea elastic id="headline" class="form-control" ng-model='profile.organizer.headline'
                                      name="headline"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="bio" ng-bind="::profile.strings.LABEL_BIO"></label>
                            <textarea elastic id="bio" class="form-control" ng-model='profile.organizer.bio' name="bio"></textarea>
                    </div>
                    <trulii-submit-controls is-saving="profile.isSaving"
                                            data-value="{{profile.strings.ACTION_SAVE}}"></trulii-submit-controls>
                </div>
            </fieldset>
        </form>

        <!--Video-->
        <div class="separate-above-more">
            <h4 class="dashboard-header" ng-bind="profile.strings.SUB_SECTION_VIDEO"></h4>
            <p ng-bind="::profile.strings.COPY_VIDEO"></p>
        </div>
        <form name='profile.profile_form_photo' ng-submit="profile.submitVideo()">
            <fieldset>
                <div class="form-group">
                    <label ng-bind="::profile.strings.LABEL_VIDEO"></label>
                    <input type="text" class="form-control" ng-model="profile.organizer.youtube_video_url"
                           name="video">
                </div>
                <div class="form-group">
                    <youtube-video video-url="profile.organizer.youtube_video_url" player-width="'100%'">
                    </youtube-video>
                </div>
                <trulii-submit-controls is-saving="profile.isSaving"
                                        data-value="{{profile.strings.ACTION_SAVE}}"></trulii-submit-controls>
            </fieldset>
        </form>

        <!--Location-->
        <div class="separate-above-more">
            <h4 class="dashboard-header" ng-bind="profile.strings.SUB_SECTION_LOCATION"></h4>
            <p ng-bind="::profile.strings.COPY_LOCATION"></p>
        </div>
        <form name='profile.organizer_location_form' ng-submit="profile.submitLocation()">
            <fieldset>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" trulii-input-errors-control="city">
                            <label for="city" ng-bind="::profile.strings.LABEL_CITY"></label>
                            <select id="city" name="city" class="form-control"
                                    ng-model="profile.organizer.location.city"
                                    ng-options="city as city.name for city in profile.cities track by city.id">
                                <option value="" ng-show="!profile.organizer.location.city"
                                        ng-bind="::profile.strings.OPTION_SELECT" selected>
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" trulii-input-errors-control="address">
                            <label for="address" ng-bind="::profile.strings.LABEL_ADDRESS"></label>
                                <textarea id="address" class="form-control"
                                          ng-model='profile.organizer.location.address'
                                          name="address"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="map-help separate-above">
                            <strong>Arrastre</strong><span> el indicador (</span>
                            <span class="mdi-action-room" style="color: #F86161"></span>
                            <span>) en el mapa hasta el lugar donde se llevará a cabo su actividad.</span>
                        </div>
                        <ui-gmap-google-map center='profile.map.center' zoom='profile.map.zoom'
                                            bounds="profile.map.bounds"
                                            events="profile.map.events" control="profile.map.control">
                            <ui-gmap-marker coords="profile.marker.coords" options="profile.marker.options"
                                            events="profile.marker.events"
                                            idkey="profile.marker.id"></ui-gmap-marker>
                        </ui-gmap-google-map>

                        <div class="separate-above">
                            <trulii-submit-controls is-saving="profile.isSaving"
                                                    data-value="{{profile.strings.ACTION_SAVE}}"></trulii-submit-controls>
                        </div>


                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
