<div class="fade in">
     <div class="col-xs-12 panel-default panel-default__dashboard panel-default__dashboard-sub">
            <h4 class="panel-default__dashboard-title" ng-bind="::reviews.strings.TAB_REVIEWS_DONE"></h4>
            <div class="panel-default__dashboard-search"  ng-if="reviews.read_reviews.length > 0">
                <input class="form-control floating-label" type="text"
                        ng-model="reviews.searchReadQuery"
                        placeholder="{{reviews.strings.LABEL_SEARCH_ORDERS}}">
                   <i class="mdi-action-search"></i>
            </div>
    </div>
    <div class="col-xs-12 panel-default panel-default__dashboard panel-default__dashboard-sub-second">
            <span class="text-gray-dark" ng-bind="::reviews.strings.COPY_REVIEWS_DONE"></span>
    </div>
    <div class="col-xs-12">
        <p class="text-center separate-above-less" ng-bind="::reviews.strings.COPY_SEARCH_REVIEWS"></p>
    </div>
    

    <div class="col-xs-12 review-detail separate-above-medium separate-below-less"
            ng-repeat="reviewObject in reviews.read_reviews | filter:{$: reviews.searchReadQuery} ">
        <trulii-activity-review data-review="reviewObject" data-activity="reviewObject.activity"
                                data-on-dashboard="true"></trulii-activity-review>
    </div>
    <div class="text-center" ng-if="reviews.readPaginationOpts.totalItems > reviews.readPaginationOpts.itemsPerPage">
        <pagination class="pagination-sm"
            ng-model="reviews.readPaginationOpts.pageNumber"
            ng-change="reviews.changeReviewStatus()"
            data-total-items="reviews.readPaginationOpts.totalItems"
            data-items-per-page="reviews.readPaginationOpts.itemsPerPage"></pagination>
    </div>
    <div class="col-xs-8 col-xs-offset-2 text-center" ng-if="reviews.read_reviews.length <= 0">
        <img ng-src="{{dash.getAmazonUrl('static/img/organizer_dashboard_activities_empty.png')}}"
                alt="{{reviews.strings.COPY_EMPTY_READ}}"
                class="img-responsive center-block"/>
        <p class="separate-below separate-above text-muted"
            ng-bind="::reviews.strings.COPY_EMPTY_READ">
        </p>
    </div>
</div>
