<div class="row">
    <div class="col-xs-12">
        <p class="text-center separate-vertical" ng-bind="::reviews.strings.COPY_SEARCH_REVIEWS"></p>
    </div>
    <div class="col-xs-12">
        <div class="form-group">
            <label class="control-label sr-only" ng-bind="::reviews.strings.LABEL_SEARCH_ORDERS"></label>
            <div class="input-group">
                <input class="form-control floating-label" type="text"
                       ng-model="transactions.orderQuery"
                       placeholder="{{reviews.strings.LABEL_SEARCH_ORDERS}}">
                <span class="input-group-addon">
                     <i class="mdi-action-search"></i>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-10 col-xs-offset-1 review-detail separate-above-medium separate-below-less">

        <!-- Comment -->
        <div class="row">
            <div class="col-xs-2 review-profile-picture">
                <!-- Profile picture -->
                <img src="/css/img/default_profile_pic.jpg" class="img-responsive img-circle"/>
                <!-- End profile picture-->
            </div>
            <div class="col-xs-10 paragraph-condensed">
                <div class="review-detail-header text-muted">

                    <!-- Name-->
                    <span class="text-center text-sm text-uppercase text-dark montserrat-regular">
                        Carlos Schiavino
                    </span>
                    <!-- End name -->

                    <span>|</span>

                    <!-- Score -->
                    <span class="text-uppercase text-muted montserrat-regular">
                        <span class="glyphicon glyphicon-star star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star star-empty" aria-hidden="true"></span>
                    </span>
                    <!-- End score-->

                    <span>|</span>

                    <!-- Date -->
                    <span class="text-sm">
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span> <em>11 Jun. 2015</em>
                    </span>
                    <!-- End date-->

                    <!-- Activity link-->
                    <span class="float-right text-sm">
                        <a href="#">
                            Yoga en el parque
                        </a>
                    </span>
                    <!-- End activity link-->
                </div>

                <!-- Comment message -->
                <p>
                    Safety standards advise against manipulating drive settings while engines are powered and in use, Mr. Moreau.
                </p>
                <!-- End comment message -->

            </div>
        </div>

        <!-- Response -->
        <div ng-hide="false" class="row separate-above-medium separate-below-medium">
            <div class="col-xs-2 col-xs-offset-1 review-profile-picture">
                <!-- Profile picture -->
                <img src="/css/img/default_profile_pic.jpg" class="img-responsive img-circle"/>
                <!-- End profile picture-->
            </div>
            <div class="col-xs-9 paragraph-condensed">
                <p class="review-detail-header">

                    <!-- Organizer name -->
                    <span class="montserrat-semibold organizer-name">
                        Croydon School of Art
                    </span>
                    <!-- End organizer name-->

                    <span>|</span>

                    <!-- Date -->
                    <span class="text-sm">
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span> <em>11 Jun. 2015</em>
                    </span>
                    <!-- End date-->

                </p>
                <p>
                    <!-- Message -->
                    <em>
                        Hearing about the Protheans makes me wonder if some distant civilization is going to find our artifacts someday and study us.
                    </em>
                    <!-- End message-->
                </p>
            </div>
        </div>

        <!-- End response-->
        <hr/>
    </div>
</div>
