<div class="row">
    <div class="col-xs-12">
        <p class="text-center separate-vertical" ng-bind="::reviews.strings.COPY_SEARCH_REVIEWS"></p>
    </div>
    <div class="col-xs-12">
        <div class="form-group">
            <label class="control-label sr-only" ng-bind="::reviews.strings.LABEL_SEARCH_ORDERS"></label>
            <div class="input-group">
                <input class="form-control floating-label" type="text"
                       ng-model="reviews.searchReadQuery"
                       placeholder="{{reviews.strings.LABEL_SEARCH_ORDERS}}">
                <span class="input-group-addon">
                     <i class="mdi-action-search"></i>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-10 col-xs-offset-1 review-detail separate-above-medium separate-below-less"
         ng-repeat="reviewObject in reviews.read_reviews track by reviewObject.id  | filter:{$: reviews.searchReadQuery} ">
        <trulii-activity-review data-review="reviewObject.review" data-activity="reviewObject.activity"
                                data-on-dashboard="true"></trulii-activity-review>
    </div>
</div>
