<div class="navbar-secondary" ng-class="{'navbar-secondary-short': dash.scroll > 80}">
    <ul>
        <li class="navbar-secondary__item active" ui-sref=".pending" ui-sref-active="active">
            <span ng-bind="::reviews.strings.TAB_REVIEWS_PENDING"></span>
        </li>
        <li class="navbar-secondary__item" ui-sref=".done" ui-sref-active="active">
            <span ng-bind="::reviews.strings.TAB_REVIEWS_DONE"></span>
        </li>
    </ul>
</div>
<div class="row ">
    <div class="col-xs-12 with-footer limited-width" ui-view></div>
</div>
<trulii-dashboard-footer></trulii-dashboard-footer>
