<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-12 panel-default panel-default__dashboard panel-default__dashboard-sub">
            <span class="panel-default__dashboard-title" ng-bind="::transactions.strings.TAB_SALES"></span>
            <span class="separate-left text-gray-dark" ng-bind="::transactions.strings.COPY_SALES"></span>
        </div>
        <div class="col-xs-12 panel-default panel-default__dashboard panel-default__dashboard-sub-second">
                
          <div class="row dashboard-filters">
            <div class="dashboard-filters__searchbox ">
              <input class="form-control floating-label" type="text"
                ng-model="transactions.salesFilter.query"
                placeholder="{{::transactions.strings.COPY_SEARCH_ORDERS_HELPER}}"/>
            </div>
            <div class="dashboard-filters__selects">
              <div class="input-group filter-group select-forms">
                <label >
                  <input id="from_date" type="text" class="form-control date-picker"
                  aria-describedby="from_date_icon"
                  name="from_date"
                  placeholder="Desde"
                  ng-model="transactions.salesFilter.from_date"
                  ng-change="transactions.updateByQuery(transactions.TYPE_SALES)"
                  datepicker-popup="{{::transactions.format}}"
                  data-is-open="transactions.salesFilter.from_date_opened"
                  data-max-date="transactions.maxStartDate"
                  data-datepicker-options="transactions.dateOptions"
                  data-close-text="{{transactions.strings.ACTION_CLOSE}}"
                  ng-click="transactions.openDatePicker($event, 'sales_from_date')"/>
                </label>
                
              </div>
              <div class="input-group filter-group select-forms">
                <label >
                  <input id="until_date" type="text" class="form-control date-picker"
                  aria-describedby="until_date_icon"
                  name="until_date"
                  placeholder="Hasta"
                  ng-model="transactions.salesFilter.until_date"
                  ng-change="transactions.updateByQuery(transactions.TYPE_SALES)"
                  datepicker-popup="{{::transactions.format}}"
                  data-is-open="transactions.salesFilter.until_date_opened"
                  data-max-date="transactions.maxStartDate"
                  data-datepicker-options="transactions.dateOptions"
                  data-close-text="{{transactions.strings.ACTION_CLOSE}}"
                  ng-click="transactions.openDatePicker($event, 'sales_until_date')"/>
                </label>
                
              </div>
              <div class="input-group filter-group select-forms dashboard-filters__activity ">
                <label>
                   <select name="activity"
                            id="" class="form-control"
                            ng-model="transactions.salesFilter.activity"
                            aria-describedby="activity_icon"
                            ng-change="transactions.updateByQuery(transactions.TYPE_SALES)"
                            ng-options="activity.id as activity.title for activity in transactions.activities">
                            <option value="">Actividad</option>
                    </select>
                </label>
               
             </div>
              <div class="input-group filter-group select-forms">
                <label>
                  <select name="status"
                          id="" class="form-control"
                          ng-change="transactions.updateByQuery(transactions.TYPE_SALES)"
                          ng-model="transactions.salesFilter.status">
                          <option value="">Estatus</option>
                          <option value="approved">Aprobadas</option>
                          <option value="pending">Pendientes</option>
                          <option value="cancelled">Canceladas</option>
                          <option value="declined">Rechazadas</option>
                   </select>
                </label>
                
              </div>
            </div>
            
          </div>
        </div>
        <div class="form-group">
          <label class="control-label sr-only" ng-bind="::transactions.strings.LABEL_SEARCH_ORDERS"></label>
         
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div ng-if="transactions.sales.length > 0" class="table-responsive">
          <table class="table table-responsive table-hover">
            <tr class="text-center">
              <th ng-bind="::transactions.strings.LABEL_ORDER"></th>
              <th ng-bind="::transactions.strings.LABEL_ACTIVITY"></th>
              <th class="hidden-xs" ng-bind="::transactions.strings.LABEL_DATE"></th>
              <th class="hidden-xs hidden-sm" >
                <span ng-bind="::transactions.strings.LABEL_TOTAL"></span>
                <i class="glyphicon glyphicon-question-sign" aria-hidden="true" tooltip-placement="left"  tooltip="{{::transactions.strings.COPY_TOTAL_SALES_TOOLTIP}}"></i>
              </th>
              <th class="hidden-xs hidden-sm" >
                <span ng-bind="::transactions.strings.LABEL_FINAL_TOTAL"></span>
                <i class="glyphicon glyphicon-question-sign" aria-hidden="true" tooltip-placement="left" tooltip="{{::transactions.strings.COPY_FINAL_TOTAL_SALES_TOOLTIP}}"></i>
              </th>
              <th></th>
            </tr>
            <tr ng-repeat="order in transactions.sales track by order.id | filter:transactions.queries.saleQuery">
              <td>
                <a  ui-sref="dash.activities-manage.orders.order({'activity_id':order.activity.id,'orderId': order.id, 'previousState':{'state':'organizer-dashboard.transactions.sales'} })">
                 <span ng-bind="::order.id"></span>
                </a>
              </td>
              <td>
                <span ng-bind="::(order.activity.name | truncateText:true:35:'...')"></span>
                <br/>
                <strong class="hidden-xs hidden-sm" ng-bind="::transactions.strings.COPY_START_DATE"></strong> <span class="text-capitalize" ng-bind="::order.calendar_initial_date | date:'EEEE d MMM y'"></span>
              </td>
              <td class="hidden-xs">
                <span class="text-capitalize" ng-bind="::order.created_at | date:'EEEE d MMM y'"></span>
              </td>
              <td class="hidden-xs hidden-sm">
                <span ng-bind="::(order.amount | currency:$:0)"></span>
              </td>
              <td class="hidden-xs hidden-sm">
                <span ng-bind="::(order.amount - order.amount*order.fee | currency:$:0)"></span>
              </td>
              <!--<td class="column-button">
                <a ui-sref="dash.activities-manage.orders.order({'activity_id':order.activity.id,'orderId': order.id, 'previousState':{'state':'organizer-dashboard.transactions.sales'} })">
                  <button class="btn btn-default">
                    <span class="hidden-xs hidden-sm" ng-bind="::transactions.strings.ACTION_VIEW_DETAIL"></span>
                    <span class="hidden-md hidden-lg">
                     >
                    </span>
                  </button>
                </a>
              </td>-->
            </tr>
          </table>
          <div class="text-center" ng-if="transactions.salesPaginationOpts.totalItems > transactions.salesPaginationOpts.itemsPerPage">
            <pagination class="pagination-sm"
              ng-model="transactions.salesPaginationOpts.pageNumber"
              ng-change="transactions.updateByQuery(transactions.TYPE_SALES)"
              data-total-items="transactions.salesPaginationOpts.totalItems"
              data-items-per-page="transactions.salesPaginationOpts.itemsPerPage"
              previous-text="&lsaquo;" next-text="&rsaquo;" rotate="false"
              max-size="transactions.salesPaginationOpts.maxPagesSize"
              ></pagination>
          </div>
        </div>
        <!--If there are no Sales-->
        <div class="row" ng-if="transactions.sales.length <= 0">
            <div class="col-sm-6 col-md-8 text-left separate-left-less separate-above">
                <p class="separate-below separate-above "
                   ng-bind="::transactions.strings.COPY_NO_ORDERS">
                </p>
                <a class="btn btn-lg btn-success margin-horizontal-less"
                  ui-sref="dash.activities-new.general"
                  ng-bind="transactions.strings.ACTION_CREATE_ACTIVITY"></a>
               
            </div>
        </div>
    </div>
  </div>
</div>
