<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label class="control-label sr-only" ng-bind="::transactions.strings.LABEL_SEARCH_ORDERS"></label>
          <div class="row dashboard-filters separate-below hidden-xs hidden-sm hidden-md hidden-lg">
            <div class="col-xs-6 col-md-2">
              <div class="input-group filter-group">
                <span class="input-group-addon" id="from_date_icon" ng-click="transactions.openDatePicker($event, 'refunds_from_date')">
                  <i class="mdi-action-today"></i>
                </span>
                <input id="from_date" type="text" class="form-control date-picker"
                  aria-describedby="from_date_icon"
                  name="from_date"
                  placeholder="Desde"
                  ng-model="transactions.refundsFilter.from_date"
                  datepicker-popup="{{::transactions.format}}"
                  data-is-open="transactions.refundsFilter.from_date_opened"
                  data-max-date="transactions.maxStartDate"
                  data-datepicker-options="transactions.dateOptions"
                  data-close-text="{{transactions.strings.ACTION_CLOSE}}"
                  ng-click="transactions.openDatePicker($event, 'refunds_from_date')"/>
              </div>
            </div>
            <div class="col-xs-6 col-md-2">
              <div class="input-group filter-group">
                <span class="input-group-addon" id="until_date_icon" ng-click="transactions.openDatePicker($event, 'refunds_until_date')">
                  <i class="mdi-action-today"></i>
                </span>
                <input id="until_date" type="text" class="form-control date-picker"
                  aria-describedby="until_date_icon"
                  name="until_date"
                  placeholder="Hasta"
                  ng-model="transactions.refundsFilter.until_date"
                  datepicker-popup="{{::transactions.format}}"
                  data-is-open="transactions.refundsFilter.until_date_opened"
                  data-max-date="transactions.maxStartDate"
                  data-datepicker-options="transactions.dateOptions"
                  data-close-text="{{transactions.strings.ACTION_CLOSE}}"
                  ng-click="transactions.openDatePicker($event, 'refunds_until_date')"/>
              </div>
            </div>
            <div class="col-xs-6 col-md-3">
              <div class="input-group filter-group">
                <span class="input-group-addon" id="activity_icon">
                  <i class="mdi mdi-action-dashboard"></i>
                </span>
                <select name="activity"
                  id="" class="form-control"
                  ng-model="transactions.refundsFilter.activity"
                  aria-describedby="activity_icon"
                  ng-options="activity.id as activity.title for activity in transactions.activities">
                  <option value="">Actividad</option>
                </select>
              </div>
            </div>
            <div class="col-xs-6 col-md-2">
              <div class="input-group filter-group">
                <select name="status" 
                  id="" class="form-control"
                  ng-model="transactions.refundsFilter.status">
                  <option value="">Estatus</option>
                  <option value="approved">Aprobadas</option>
                  <option value="pending">Pendientes</option>
                  <option value="cancelled">Canceladas</option>
                  <option value="declined">Rechazadas</option>
                </select>
              </div>
            </div>
            <div class="col-xs-6 col-md-2">
              <input class="form-control floating-label" type="text"
                ng-model="transactions.refundsFilter.query"
                placeholder="{{::transactions.strings.COPY_SEARCH_ORDERS_HELPER}}"/>
            </div>
            <div class="col-xs-6 col-md-1">
              <button class="btn btn-default btn-block" ng-click="transactions.updateByQuery(transactions.TYPE_REFUNDS)">
                <i class="mdi-action-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="table-responsive" ng-if="transactions.refunds.length > 0">
          <table class="table table-hover">
            <tr class="text-center">
              <th ng-bind="::transactions.strings.LABEL_ORDER"></th>
              <th ng-bind="::transactions.strings.LABEL_ACTIVITY"></th>
              <th ng-bind="::transactions.strings.LABEL_REFUND_DATE" class="hidden-xs hidden-sm"></th>
              <th ng-bind="::transactions.strings.LABEL_REFUND_AMOUNT" class="hidden-xs hidden-sm"></th>
              <th ng-bind="::transactions.strings.LABEL_ASSISTANT" class="hidden-xs hidden-sm"></th>
              <th ng-bind="::transactions.strings.LABEL_REFUND_STATE" class="hidden-xs"></th>
              <th></th>
            </tr>
            <tr ng-repeat="refund in transactions.refunds track by refund.id | filter:transactions.refundQuery">
              <td>
                <a ui-sref="dash.activities-manage.orders.order({'activity_id':refund.activity.id,'orderId': refund.order,
                  'previousState':{'state':'organizer-dashboard.transactions.reimbursements'} })">
                  <strong>#<span ng-bind="::refund.order"></span></strong>
                </a>
              </td>
              <td>
                <span ng-bind="::(refund.activity.title | truncateText:true:35:'...')"></span>
              </td>
              <td class="hidden-xs hidden-sm">
                <span class="text-capitalize" ng-bind="::refund.created_at | date:'EEEE d MMM y'"></span>
              </td>
              <td class="hidden-xs hidden-sm">
                <span ng-bind="::(refund.amount | currency:$:0)"></span>
              </td>
              <td class="hidden-xs hidden-sm">
                <span class="text-capitalize" ng-show="::refund.assistant" ng-bind="::(refund.assistant.full_name)"></span>
                <span ng-show="::!refund.assistant" ng-bind="::transactions.strings.LABEL_EVERYBODY"></span>
              </td>
              <td class="hidden-xs">
                <span ng-bind="::refund.status"></span>
              </td>
              <td class="column-button">
                <a ui-sref="dash.activities-manage.orders.order({'activity_id':order.activity.id,'orderId': order.id, 'previousState':{'state':'organizer-dashboard.transactions.reimbursements'} })">
                  <button class="btn btn-default">
                    <span class="hidden-xs hidden-sm" ng-bind="::transactions.strings.ACTION_VIEW_DETAIL"></span>
                    <span class="hidden-md hidden-lg">
                      >
                    </span>
                  </button>
                </a>
              </td>
            </tr>
          </table>
          <div class="text-center" ng-if="transactions.refundsPaginationOpts.totalItems > transactions.refundsPaginationOpts.itemsPerPage">
            <pagination class="pagination-sm"
              ng-model="transactions.refundsPaginationOpts.pageNumber"
              ng-change="transactions.updateByQuery(transactions.TYPE_REFUNDS)"
              data-total-items="transactions.refundsPaginationOpts.totalItems"
              data-items-per-page="transactions.refundsPaginationOpts.itemsPerPage"
              previous-text="&lsaquo;" next-text="&rsaquo;" rotate="false"  
              max-size="transactions.refundsPaginationOpts.maxPagesSize"
              ></pagination>    
          </div>
        </div>
        <!--If there are no refunds-->
        <div ng-if="transactions.refunds.length <= 0">
            <h4 ng-bind="::transactions.strings.LABEL_NO_REIMBURSEMENTS"></h4>
            <span ng-show="transactions.refundsPaginationOpts.totalItems > 0" ng-bind="::transactions.strings.COPY_NO_REIMBURSEMENTS"></span>
        </div>
      </div>
    </div>
  </div>
</div>