<!-- If user hasnt posted a review yet -->
<div ng-hide="hasReview">
    <div class="separate-above-medium separate-below-medium">
        <h3 class="text-center text-muted montserrat-light" ng-bind="strings.LABEL_RATE_EXPERIENCE"></h3>
        <div>
            <h4 class="text-center text-muted montserrat-light">
                <rating ng-model="review.rating" max="5" state-on="'glyphicon glyphicon-star star'"
                        state-off="'glyphicon glyphicon-star star-empty'" aria-labelledby="custom-icons-1"></rating>
                <span ng-bind="review.rating + ' / 5'"></span>
            </h4>
        </div>
    </div>
    <!-- Should be hidden until a score has been chosen-->
    <div ng-show="review.rating">
        <div class="separate-above-medium separate-below-more">
            <input id="review-comment" class="form-control" name="review-comment"
                   ng-model="review.comment"
                   placeholder="{{ strings.PLACEHOLDER_REVIEW_COMMENT }}"
                   type="text">
        </div>
        <div class="separate-above-medium separate-below-medium">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8">
                    <button class="btn btn-success btn-block btn-md" ng-bind="strings.ACTION_DONE" ng-click="postReview()">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- If it has a review -->
<div ng-show="hasReview" class="review-detail">
    <div class="row separate-above-less">
        <!-- Comment -->
        <div class="col-xs-3 col-md-2">
            <!-- Profile picture -->
            <div class="review-avatar" style="background-image: url({{user.photo}})">
            </div>
            <!-- End profile picture-->
        </div>
        <div class="col-xs-9 col-md-10 paragraph-condensed review-content">
            <div class="col-xs-12">
                <!-- Name-->
                <span class="text-center text-sm text-uppercase text-dark montserrat-semibold" ng-bind="user.user.full_name"></span>
                <!-- End name -->
                <span class="hidden-xs hidden-sm">|</span>
                <br class="hidden-md hidden-lg">
                <!-- Score -->
                <span class="text-uppercase montserrat-regular">
                    <rating ng-model="review.rating" max="5" state-on="'glyphicon glyphicon-star star'"
                      readonly="true" state-off="'glyphicon glyphicon-star star-empty'" aria-labelledby="custom-icons-1">
                    </rating>
                </span>
                <!-- End score-->
                <span class="hidden-xs hidden-sm">|</span>
                <br class="hidden-md hidden-lg">
                <!-- Date -->
                <span class="text-sm" ng-if="review.created_at">
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    <em class="text-capitalize" ng-bind="review.created_at | date : 'MMM d, y'"></em>
                </span>
                <!-- End date-->
                <!-- Activity link-->
                <br class="hidden-md hidden-lg">
                <span class="text-sm pull-right">
                    <a ui-sref="activities-detail({'activity_id': activity.id})" ng-bind="activity.title"></a>
                </span>
                <!-- End activity link-->
            </div>
            <div class="col-xs-12 separate-above-less">
                <p ng-bind="review.comment"></p>
            </div>
        </div>
    </div>
    <!-- Review Reported -->
    <div class="row">
        <div class="col-xs-10 col-xs-offset-2">
            <!-- Review being reviewed -->
            <div ng-show="review.reported">
                <h4 class="text-success text-right reported-copy" ng-bind="::strings.COPY_REPORTED"></h4>
            </div>
        </div>
    </div>
    <!-- No response yet-->
    <div class="row" ng-if="isOrganizer && onDashboard" ng-hide="hasReply || review.read">
        <div class="col-xs-10 col-xs-offset-2">
            <div class="row">
                <div class="col-xs-12 separate-above-less separate-below-less">
                    <input id="review-reply" class="form-control" name="review-reply"
                           ng-model="review.reply"
                           placeholder="{{strings.COPY_COMMENT_PLACEHOLDER}}"
                           type="text">
                </div>
            </div>
            <!--Buttons-->
            <div class="row separate-above-less separate-below-less" ng-hide="hasReply || review.read">
                <div class="col-xs-12 col-md-3">
                    <button class="btn btn-default btn-block" ng-bind="::strings.LABEL_REPORT_BUTTON"
                            ng-click="show.reportWarning = !show.reportWarning">
                    </button>
                </div>
                <div class="col-xs-12 col-xs-offset-0 col-md-4 col-md-offset-1">
                    <button class="btn btn-primary btn-block" ng-bind="::strings.LABEL_REPLY_BUTTON"
                            ng-click="reply()">
                    </button>
                </div>
                <div class="col-xs-12 col-md-4">
                    <button class="btn btn-success btn-block" ng-click="markAsRead()"
                            ng-bind="strings.ACTION_MARK_AS_READ">
                    </button>
                </div>
            </div>
            <!-- Report alert-->
            <div class="row" ng-show="show.reportWarning">
                <div class="col-xs-12 report-alert separate-above-less separate-below-less">
                    <p ng-bind="::strings.COPY_REPORT_DISCLAIMER">
                    </p>
                    <div class="row">
                        <div class="col-xs-12 col-xs-offset-0 col-md-3 col-md-offset-6">
                            <button class="btn btn-block btn-default" ng-bind="::strings.LABEL_CANCEL_BUTTON"
                                    ng-click="cancelReport()"></button>
                        </div>
                        <div class="col-xs-12 col-xs-offset-0 col-md-3">
                            <button class="btn btn-block btn-success" ng-bind="::strings.LABEL_CONTINUE_BUTTON"
                                    ng-click="confirmReport()"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Response -->
    <div ng-show="hasReply" class="row separate-above-less separate-below-less review-response">
        <div class="col-xs-2 col-xs-offset-1">
            <!--TODO organizer-->
            <div class="review-avatar" style="background-image: url({{ activity.organizer.photo }})">
            </div>
        </div>
        <div class="col-xs-7 col-xs-offset-1 col-md-9 col-md-offset-0 paragraph-condensed review-content">
            <span class="text-center text-sm montserrat-semibold" ng-bind="activity.organizer.name"></span>
            <span class="hidden-xs hidden-sm">|</span>
            <br class="hidden-md hidden-lg">
            <span class="text-sm" ng-if="review.replied_at">
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                <em class="text-capitalize" ng-bind="review.replied_at | date : 'MMM d, y'"></em>
            </span>
            <p><em ng-bind="review.reply"></em></p>
        </div>
    </div>
</div>
