<div class="row">
    <div class="col-lg-9 col-md-11">
        <form name='vm.activity_return_policy_form' ng-submit="vm.save_activity()">
            <fieldset>                

                 <div class="section-title">
                    Política de Devolución
                  </div>
                  
                  <div class="standout-text">
                    Especifica bajo qué condiciones aceptas reembolsar pagos
                  </div>

                
                    <div class="form-group" trulii-input-errors-control="return_policy">
                        <label for="return-policy-textarea" class="sr-only">Política de Devolución</label>
                            <textarea id="return-policy-textarea" class="form-control" name="return_policy" rows="10"
                                      ng-model='vm.activity.return_policy'
                                      ng-mouseover="vm.setOverElement('return_policy')"
                                      placeholder="Condiciones para reembolso">
                            </textarea>
                    </div>
                    <trulii-submit-controls is-saving="vm.isSaving" value="Guardar"></trulii-submit-controls>
                
            </fieldset>
        </form>
    </div>
    <!--         <div class="col-md-3">
        <div class="sidebar-nav-fixed pull-right affix well">
            <ul class="nav">
                <li ng-show="vm.showTooltip('return_policy')">
                    Especifica las circunstancias en las que se aplica reembolso
                </li>
            </ul>
        </div>

    </div> -->
    <hr>
</div>

