 <div class="row">
        <div class="col-sm-offset-1 col-md-8">
            <form class="card card--shrink shadow-z-1 material-form lateral-fade lateral-fadeout" 
                name='vm.activity_instructors_forms' ng-submit="vm.save_activity()">
                    <div class="card-header">
                        <div class="title-compound">
                            <i class="mdi-social-group card-icon"></i>
                            <h1 class="title-compound__title">
                                Instructores
                            </h1>
                            <h4 class="text-muted title-compound__description">Cuéntanos de cada una de las personas que impartirán la actividad.</h4>    
                        </div>
                    </div>

                    <div class="card-body center-childs">
                        <div class="text-center">¿Cuántos instructores participarán?</div><br/>
                        <div class="counter-input counter-input-lg">
                            <span class="counter-input__left-button"  ng-click="vm.removeInstructor()" ng-class="{'counter-input__left-button--disabled': vm.activity.instructors.length == 0} "></span>
                            <label>{{vm.activity.instructors.length}}</label>
                            <span class="counter-input__right-button" ng-click="vm.addInstructor()"
                                ng-class="{'counter-input__right-button--disabled': vm.activity.instructors.length >= vm.maxAllowedInstructors}"></span>
                        </div>        
                    </div>                    
                
                    <div class="card-list-item" ng-repeat="instructor in vm.activity.instructors track by $index" trulii-expandable-content>
                        <h2>
                            Instructor {{$index + 1}}
                        </h2>

                        <div class="form-group" trulii-input-errors-control="full_name">
                            <label for="full_name" class="control-label">Nombre</label>
                            <input type="text" id="full_name" name="full_name"
                                   ng-model="instructor.full_name"
                                   class="form-control">
                        </div>
                        <div class="form-group" trulii-input-errors-control="bio">
                            <label for="bio" class="control-label">Bio</label>
                            <textarea id="bio" class="form-control" name="bio"
                                      ng-model='instructor.bio'>
                            </textarea>
                        </div>
                        <div class="form-group" trulii-input-errors-control="website">
                            <label for="website" class="control-label">Website</label>
                            <input id="website" class="form-control" ng-model='instructor.website' name="website"/>
                        </div>

                        <!--TODO reemplazar con Toast-->
                        <alert type="danger" ng-show="vm.instructors_errors[$index].delete_instructor">
                            {{vm.instructors_errors[$index].delete_instructor}}
                        </alert>
                        
                    </div>

                    <div class="card-footer">
                        <trulii-submit-controls is-saving="vm.isSaving" value="Guardar"></trulii-submit-controls>       
                    </div>
            </form>

            <div class="col-md-4">
            </div>
        </div>
    </div>