<div class="card-header">
    <div class="title-compound">
        <i class="mdi-action-today card-icon"></i>

        <h1 class="title-compound__title">
            Nuevo Calendario
        </h1>
        <h4 class="text-muted title-compound__description">Especifique la información solicitada para continuar.</h4>    
    </div>
</div>

<form name='vm.activity_calendar_form' ng-submit="vm.save_calendar()" novalidate>

    <div class="card-body">        
        
        <div class="row-fluid clearfix separate-below">
            <div class="col-md-6">
                <div class="form-group" trulii-input-errors-control="initial_date">
                    <alert type="danger" ng-show="vm.errors.non_field_errors">
                        {{vm.errors.non_field_errors}}
                    </alert>

                    <label class="control-label" for="initial_date">Fecha de Inicio</label>
                    <input id="initial_date" type="text" class="form-control" name="initial_date"
                           ng-model="vm.calendar.initial_date"
                           ng-change="vm.calendar.changeStartDate()"
                           datepicker-popup="{{vm.format}}" is-open="vm.calendar.startOpened"
                           min-date="vm.minStartDate" datepicker-options="vm.dateOptions"
                           close-text="Close"
                           ng-click="vm.calendar.openStartDate($event)"
                           />
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group" trulii-input-errors-control="closing_sale">
                    <label class="control-label" for="closing_sale">Cierre de ventas</label>
                    <input id="closing_sale" type="text" class="form-control" name="closing_sale"
                           ng-model="vm.calendar.closing_sale" ng-change="vm.calendar.changeCloseDate()"
                           datepicker-popup="{{vm.format}}" is-open="vm.calendar.endOpened"
                           min-date="vm.calendar.initial_date" datepicker-options="vm.dateOptions"
                           max-date="null" close-text="Close"
                           ng-click="vm.calendar.openCloseDate($event)"
                           />
                </div>
            </div>    
        </div>
        
        <div class="row-fluid clearfix">
            <div class="col-md-6">
                <div class="form-group" trulii-input-errors-control="capacity">
                    <label class="control-label" for="capacity">Cupos</label>
                    <input id="capacity" class="form-control center-input" type="number" name="capacity"
                           placeholder="0.00" min="1"
                           ng-model="vm.calendar.capacity" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group" trulii-input-errors-control="session_price">
                    <label class="control-label" for="session_price">Precio(COP)</label>
                    <input id="session_price" class="form-control center-input" type="number" name="session_price"
                           placeholder="0.00" min="0"
                           ng-model="vm.calendar.session_price" />
                </div>    
            </div>                

        </div>
        

        <div class="center-childs separate-above" trulii-input-errors-control="number_of_sessions">
            <label class="control-label">Número de Sesiones o Clases</label>
            <br/>
            <div trulii-counter class="counter-input counter-input-lg" form="vm.activity_calendar_form"
                 value="vm.calendar" change="vm.calendar.changeSessionsN()" min="0"></div>                
        </div>
            
    </div>

    <div class="card-list-item" ng-repeat="session in vm.calendar.sessions track by $index" trulii-expandable-content>

        <h3>Sesión {{$index + 1}}</h3>

        <div class="row-fluid clearfix separate-below">

            <div class="form-group col-md-offset-3 col-md-6" trulii-input-errors-control="date_{{$index}}">
                <label class="control-label">Día de la sesión</label>

                <input type="text" class="form-control" datepicker-popup="{{vm.format}}"
                       ng-model="session.date" is-open="session.openDate" name="date_{{$index}}" min-date="session.minDate"
                       max-date="session.maxDate" id="date" datepicker-options="vm.dateOptions" close-text="Close"
                       ng-change="vm.calendar.changeSessionDate($index,session)"
                       ng-click="vm.calendar.openSessionDate($event,session)"
                    />
                
            </div>
        </div>        

        <div class="row-fluid clearfix">            

            <div class="form-group col-md-6" trulii-input-errors-control="start_time_{{$index}}">
                <label class="control-label">Hora de inicio:</label>
                <timepicker name="start_time_{{$index}}"  class="timepicker" ng-model="session.start_time" ng-change="vm.calendar.changeStartTime(session)"
                            hour-step="vm.hstep" minute-step="vm.mstep" show-meridian="vm.ismeridian">
                </timepicker>

            </div>
            <div class="col-md-6" trulii-input-errors-control="end_time_{{$index}}">
                <label class="control-label">Hora de fin:</label>
                <timepicker class="timepicker" name="end_time_{{$index}}" ng-model="session.end_time" ng-change="vm.calendar.changeEndTime(session)"
                            hour-step="vm.hstep" minute-step="vm.mstep" show-meridian="vm.ismeridian">
                </timepicker>
            </div>            
        </div>

            
        
        <!--TODO revisar alert-->
        <alert type="danger" ng-show="vm.errors.{{'sessions_'+$index}}">{{vm.errors.session_error}}</alert>

    </div>

    <div class="card-footer" ng-show="vm.calendar.sessions.length > 0 ">    
        <trulii-submit-controls is-saving="vm.isSaving" cancel-active="true" value="Guardar"></trulii-submit-controls>

        <div ng-savedmessage message="Guardado" ng-model="vm.isCollapsed" collapse="vm.isCollapsed">         
    </div>    
    

    

</form>

