<div class="tab-pane active text-style">
    <div class="row">
        <div class="col-md-6">

            <form name='vm.activity_return_policy_form' ng-submit="vm.save_activity()">
                <fieldset>
                    <h2>Política de Devolución</h2>
                    <h4 class="text-muted">Especifica bajo qué condiciones aceptas reembolsar pagos</h4>

                    <div class="form-group">
                        <label for="return-policy-textarea" class="sr-only">Política de Devolución</label>
                        <textarea id="return-policy-textarea" class="form-control" name="return_policy"
                                  ng-model='vm.activity.return_policy'
                                  ng-mouseover="vm.setOverElement('return_policy')"
                                  placeholder="Condiciones para reembolso">
                        </textarea>

                        <div class="errors"
                             ng-show="vm.activity_create_form.return_policy.$invalid && !vm.activity_create_form.return_policy.$dirty">
                            <span>{{ vm.errors.return_policy }}</span>
                        </div>
                    </div>

                    <input type="submit" id="submit" class="btn btn-primary" value="Guardar"/>

                    <div ng-savedmessage message="Guardado" ng-model="vm.isCollapsed" collapse="vm.isCollapsed">

                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-md-3">
            <div class="sidebar-nav-fixed pull-right affix well">
                <ul class="nav">
                    <li ng-show="vm.showTooltip('return_policy')">
                        Especifica las circunstancias en las que se aplica reembolso
                    </li>
                </ul>
            </div>

        </div>
        <hr>

    </div>
</div>
