
    <div class="row">
        <div class="col-sm-offset-1 col-md-8">

            <div ui-view class="card card--shrink shadow-z-1 material-form lateral-fade lateral-fadeout">    

                <div class="card-header">

                    <div class="title-compound">
                        <i class="mdi-action-today card-icon"></i>
                    
                        <h1 class="title-compound__title">
                            Calendarios
                        </h1>
                        <h4 class="text-muted title-compound__description">Añade el horario, precio, número de sesiones y más</h4>    
                    </div>

                </div>            

                <div class="card-body no-padding-top center-childs">                    
                    <button ng-click="vm.createCalendar()" class="btn btn-primary">Agregar Calendario</button>                    
                </div>
                
                

                <div ng-repeat="calendar in vm.calendars | orderBy: 'initial_date'" trulii-expandable-content>

                    <div class="card-list-item">

                        <div class="row clearfix">
                            <div class="col-md-3">
                                <span><strong>Inicia el: </strong></span><br/>
                                <span>{{calendar.initial_date | date }}</span>
                                <br/>
                                
                            </div>

                            <div class="col-md-3">
                                <span><strong>Cierre de ventas: </strong></span><br/>
                                <span>{{calendar.closing_sale | date }}</span>
                            </div>  

                            <div class="col-md-6 text-right">
                                <h4 class="clear-spacings">
                                    <strong ng-bind="::calendar.session_price"></strong> COP
                                </h4>
                                
                                <div class="text-muted">
                                    <strong>10</strong> Cupos
                                </div>
                                
                            </div>  
                        </div>

                        <div class="row clearfix separate-above">
                            <div class="col-md-12">
                                <h3> <span ng-bind="::calendar.sessions.length"></span> Sesiones</h3>    
                            </div>                            
                        </div>

                        <div class="row">
                            <div class="col-md-3 text-center contrast-box text-tiny">
                                <div>11 / 13 / 2015</div>
                                <div class="text-muted">2:00 PM a 3:00 PM</div>
                            </div>

                            <div class="col-md-3 text-center contrast-box text-tiny">
                                <div>11 / 13 / 2015</div>
                                <div class="text-muted">2:00 PM a 3:00 PM</div>
                            </div>

                            <div class="col-md-3 text-center contrast-box text-tiny">
                                <div>11 / 13 / 2015</div>
                                <div class="text-muted">2:00 PM a 3:00 PM</div>
                            </div>

                            <div class="col-md-3 text-center contrast-box text-tiny">
                                <div>11 / 13 / 2015</div>
                                <div class="text-muted">2:00 PM a 3:00 PM</div>
                            </div>
                        </div>
                        
                        

                       <!-- <div class="col-md-4">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" aria-label="Left Align"
                                        ng-click="vm.loadCalendar(calendar)" >
                                    <i class="mdi-content-create" aria-hidden="true"></i>
                                </button>

                                <button type="button" class="btn btn-default" aria-label="Left Align"
                                        ng-click="vm.deleteCalendar(calendar)" >
                                    <i class="mdi-action-delete" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div> -->

                        <!--TODO revisar este alert-->
                        <alert type="danger" ng-show="vm.calendar_errors[calendar.id]">
                            {{vm.calendar_errors[calendar.id]}}
                        </alert>
                        
                    </div>

                </div>

            </div>

        </div>
        <div class="col-md-4">
        </div>
    </div>
