    <div class="tab-pane active text-style">
      <div class="row">
        <div class="col-md-6">
       
          <form name='vm.activity_create_form' ng-submit="vm.save_activity()">
            <fieldset>
              <h2>Descripción</h2>
              <div class="form-group">
                <label>Título</label>
                <input class="form-control" ng-model='vm.activity.title' name="title"/>
                <div class="errors"  ng-show="vm.activity_create_form.title.$invalid && !vm.activity_create_form.title.$dirty">
                  <span>{{ vm.errors.title }}</span> 
                </div>
              </div>
              <div class="form-group">
                <label>Descripción Corta</label>
                <textarea class="form-control" ng-model='vm.activity.large_description' name="large_description" ng-mouseover="vm.setOverElement('short_description')">  </textarea>
                <div class="errors" ng-show="vm.activity_create_form.large_description.$invalid && !vm.activity_create_form.large_description.$dirty">
                  <span>{{ vm.errors.large_description }}</span> 
                </div>
              </div>
              <div class="form-group">
                <label>Descripción Detallada</label>
                <textarea class="form-control" ng-model='vm.activity.short_description' name="short_description">  </textarea>
                <div class="errors" ng-show="vm.activity_create_form.short_description.$invalid && !vm.activity_create_form.short_description.$dirty">
                  <span>{{ vm.errors.short_description }}</span> 
                </div>

              </div>
              <hr>
              <h2>Información</h2>
              <div class="form-group">
                <label>Tipo</label>
                <select ng-model="vm.selected_type"
                    ng-options="type as type.value for type in vm.activity_types" name="type">
                    <option value="" selected ng-show="!vm.activity_create_form.type.$dirty">Seleccione..</option>
                </select>
                <span class="errors" ng-show="vm.activity_create_form.type.$invalid && !vm.activity_create_form.type.$dirty">
                  <span>{{ vm.errors.type }}</span> 
                </span>
                <label>Nivel</label>
                <select ng-model="vm.selected_level"
                    ng-options="level as level.value for level in vm.activity_levels" name="level">
                    <option value="" selected ng-show="!vm.activity_create_form.level.$dirty">Seleccione..</option>
                </select>
                <span class="errors" ng-show="vm.activity_create_form.level.$invalid && !vm.activity_create_form.level.$dirty">
                  <span>{{ vm.errors.level }}</span> 
                </span>
              </div>
              <div class="form-group">
                <label>Categoria</label>
                <select ng-model="vm.selected_category"
                    ng-options="category as category.name for (index,category) in vm.activity_categories" name="category" ng-change="vm.selectCategory(vm.selected_category)">
                    <option value="" selected ng-show="!vm.activity_create_form.category.$dirty">Seleccione..</option>
                </select>
                <span class="errors" ng-show="vm.activity_create_form.category.$invalid && !vm.activity_create_form.category.$dirty">
                  <span>{{ vm.errors.category }}</span> 
                </span>
                <label>Sub-Categoria</label>
                <select ng-model="vm.selected_sub_category" 
                    ng-options="sub_category as sub_category.name for (index,sub_category) in vm.activity_sub_categories" name="sub_category"
                    ng-mouseover="vm.setOverElement('sub_category')" >
                    <option value="" selected ng-show="!vm.activity_create_form.sub_category.$dirty">Seleccione..</option>
                </select>
                <span class="errors" ng-show="vm.activity_create_form.sub_category.$invalid && !vm.activity_create_form.sub_category.$dirty">
                  <span>{{ vm.errors.sub_category }}</span> 
                </span>
              </div>
              <label>Tags</label>
              <tags-input ng-model="vm.activity_tags" display-property="name" ng-mouseover="vm.setOverElement('tags')"> 
                <auto-complete source="vm.loadTags()"></auto-complete>
              </tags-input> 

              <input type="submit" id="submit" class="btn btn-primary" value="Guardar"/>
              <div ng-savedmessage message="Guardado" ng-model="vm.isCollapsed" collapse="vm.isCollapsed">
                
              </div>

              </fieldset>
          </form>
        </div>
        <div class="col-md-3">
          <div class="sidebar-nav-fixed pull-right affix well">
            <ul class="nav">
              <li ng-show="vm.showTooltip('short_description')">
                Describe tu actividad de forma atractiva, especifica y díficil de olvidar.
                Recuerda que esta descripción aparecerá en las tarjeta de la actividad.
              </li>
              <li ng-show="vm.showTooltip('sub_category')">
                Elige la que más esté acorde con 
                tu actividad. En caso de no hallar 
                la adecuada, selecciona “otra” y 
                rato después nosotros añadiremos una nueva que encaje con tu 
                publicación.
              </li>
              <li ng-show="vm.showTooltip('tags')">
                Estas son etiquetas en forma de
                hashtags, ayudando a los usuari
                os a encontrar tu publicación en 
                nuestros buscadores y redes so
                ciales. Deja un espacio por cada 
                palabra o frase que deseas agre-
                gar, sin poner el #.
                Un ejemplo para un curso de 
                pizzas:
                Hashtags: cocinaitaliana napoli
                tana cuatroquesos
              </li>




            </ul>
          </div>
        </div>
         <hr>

      </div>
    </div>
