<div class="row">
    <div class="col-lg-9 col-md-11">
        <div class="section-title">
            Instructores
        </div>
        <form name='instructors.activity_instructors_forms' ng-submit="instructors.save_activity()">
            <div class="standout-text">
                Cuéntanos de cada una de las personas que impartirán la actividad.
            </div>
            <!--<br/>-->
            <!--&lt;!&ndash; TODO: Quitar este counter al implementarse con el nuevo diseño &ndash;&gt;-->
            <!--<div class="counter-input counter-input-lg">-->
                <!--<span class="counter-input__left-button" ng-click="instructors.removeInstructor()"-->
                      <!--ng-class="{'counter-input__left-button&#45;&#45;disabled': instructors.activity.instructors.length == 0} "></span>-->
                <!--<label>{{instructors.activity.instructors.length}}</label>-->
                        <!--<span class="counter-input__right-button" ng-click="instructors.addInstructor()"-->
                            <!--ng-class="{'counter-input__right-button&#45;&#45;disabled': instructors.activity.instructors.length >= instructors.maxAllowedInstructors}"></span>-->
            <!--</div>-->

            <div class="row">
                <div class="col-md-6 horizontal-fade" ng-repeat="instructor in instructors.instructors track by $index">
                    <trulii-instructor-card instructor="instructor" activity="instructors.activity"
                                            organizer="instructors.organizer"></trulii-instructor-card>
                </div>
            </div>
            <trulii-submit-controls is-saving="instructors.isSaving" data-value="Guardar"></trulii-submit-controls>
        </form>
        <div class="col-md-4">
        </div>
    </div>
</div>