<div class="row">
    <div class="col-lg-9 col-md-11">
        <form name='vm.activity_instructors_forms' ng-submit="vm.save_activity()">

            <div class="section-title">
                Instructores
            </div>

            <div class="standout-text">
                Cuéntanos de cada una de las personas que impartirán la actividad.
            </div>                    
                        
            <br/>

            <!-- TODO: Quitar este counter al implementarse con el nuevo diseño -->
            <div class="counter-input counter-input-lg">
                <span class="counter-input__left-button" ng-click="vm.removeInstructor()"
                      ng-class="{'counter-input__left-button--disabled': vm.activity.instructors.length == 0} "></span>
                <label>{{vm.activity.instructors.length}}</label>
                        <span class="counter-input__right-button" ng-click="vm.addInstructor()"
                            ng-class="{'counter-input__right-button--disabled': vm.activity.instructors.length >= vm.maxAllowedInstructors}"></span>
            </div>        
            
            <div class="row">

                <div class="col-md-6 horizontal-fade" ng-repeat="instructor in vm.activity.instructors track by $index">
                    
                    <div class="card-list-item">
                        

                        <div class="form-group" trulii-input-errors-control="full_name">
                            <label for="full_name" class="control-label">Nombre Completo</label>
                            <input type="text" id="full_name" name="full_name"
                                   ng-model="instructor.full_name"
                                   class="form-control">
                        </div>
                        
                        <div class="form-group" trulii-input-errors-control="website">
                            <label for="website" class="control-label">Website</label>
                            <input id="website" class="form-control" ng-model='instructor.website' name="website"/>
                        </div>

                        <div class="form-group" trulii-input-errors-control="bio">
                            <label for="bio" class="control-label">Bio</label>
                            <textarea id="bio" class="form-control" name="bio"
                                      ng-model='instructor.bio'>
                            </textarea>
                        </div>

                        <div class="text-right">
                            <button class="btn btn-default">Cancelar</button>
                            <button class="btn btn-success">Guardar</button>
                        </div>

                        <div class="card-list-item__actions">
                            <i class="glyphicon glyphicon-pencil" title="Editar instructor"></i>
                            <i class="glyphicon glyphicon-remove" title="Eliminar instructor"></i>                            
                        </div>

                        <!--TODO reemplazar con Toast-->
                        <alert type="danger" ng-show="vm.instructors_errors[$index].delete_instructor">
                            {{vm.instructors_errors[$index].delete_instructor}}
                        </alert>
                    </div>    

                </div>

                <div class="col-md-6">
                    <div class="card-list-item card-list-item--empty" style="height: 30.7em;">
                        <div>
                            <div class="card-list-item__add-icon"></div><br/>
                            Agregar Instructor
                            
                        </div>                        
                        
                    </div>
                </div>
                

            </div>
                            
            <trulii-submit-controls is-saving="vm.isSaving" value="Guardar"></trulii-submit-controls>
            
        </form>

        <div class="col-md-4">
        </div>
    </div>
</div>