    <div class="tab-pane active text-style">
      <div class="row">
        <div class="col-md-6">
       
          <form name='vm.activity_detail_form' ng-submit="vm.save_activity()">
            <fieldset>
              <h2>Descripción</h2>
              <div class="form-group">
                <label>Contenido</label>
                <textarea class="form-control" ng-model='vm.activity.content' name="content" ng-mouseover="vm.setOverElement('content')">  </textarea>
                <div class="errors" ng-show="vm.activity_create_form.content.$invalid && !vm.activity_create_form.content.$dirty">
                  <span>{{ vm.errors.content }}</span> 
                </div>
              </div>
              <div class="form-group">
                <label>Audencia</label>
                <textarea class="form-control" ng-model='vm.activity.audience' name="audience">  </textarea>
                <div class="errors" ng-show="vm.activity_create_form.audience.$invalid && !vm.activity_create_form.audience.$dirty">
                  <span>{{ vm.errors.audience }}</span> 
                </div>
              </div>
              <div class="form-group">
                <label>Objetivos</label>
                <textarea class="form-control" ng-model='vm.activity.goals' name="goals" ng-mouseover="vm.setOverElement('goals')">  </textarea>
                <div class="errors" ng-show="vm.activity_create_form.goals.$invalid && !vm.activity_create_form.goals.$dirty">
                  <span>{{ vm.errors.goals }}</span> 
                </div>
              </div>
              <div class="form-group">
                <label>methodology</label>
                <textarea class="form-control" ng-model='vm.activity.methodology' name="methodology" ng-mouseover="vm.setOverElement('methodology')">  </textarea>
                <div class="errors" ng-show="vm.activity_create_form.methodology.$invalid && !vm.activity_create_form.methodology.$dirty">
                  <span>{{ vm.errors.methodology }}</span> 
                </div>
              </div>
              <div class="form-group">
                <label>Requerimientos</label>
                <textarea class="form-control" ng-model='vm.activity.requirements' name="requirements" ng-mouseover="vm.setOverElement('requirements')">  </textarea>
                <div class="errors" ng-show="vm.activity_create_form.requirements.$invalid && !vm.activity_create_form.requirements.$dirty">
                  <span>{{ vm.errors.requirements }}</span> 
                </div>
              </div>
              <div class="form-group">
                <label>Información Adicional</label>
                <textarea class="form-control" ng-model='vm.activity.extra_info' name="extra_info">  </textarea>
                <div class="errors" ng-show="vm.activity_create_form.extra_info.$invalid && !activity_create_form.extra_info.$dirty">
                  <span>{{ vm.errors.extra_info }}</span> 
                </div>
              </div>
              <hr>

              <input type="submit" id="submit" class="btn btn-primary" value="Guardar"/>
              <div ng-savedmessage message="Guardado" ng-model="vm.isCollapsed" collapse="vm.isCollapsed">
                
              </div>

              </fieldset>
          </form>
        </div>
        <div class="col-md-3">
          <div class="sidebar-nav-fixed pull-right affix well">
            <ul class="nav">
              <li ng-show="vm.showTooltip('content')">
                ¿Tu actividad está dividida en 
                módulos en donde cada uno 
                tiene temas a enseñar?
              </li>
              <li ng-show="vm.showTooltip('goals')">
                ¿Cuál es la finalidad de tu activ-
                idad? 

                Algunos ejemplos:
                 ¿Tus alumnos saldrán domi-
                nando algún campo en particu-
                lar?
                 ¿Tus inscritos saldrán agota-
                dos con muchas calorías 
                menos?
              </li>
              <li ng-show="vm.showTooltip('methodology')">
                ¿Tu actividad será evaluada?
                ¿Cómo?
                ¿Aplicarás algún método de 
                enseñanza en particular?
              </li>
              <li ng-show="vm.showTooltip('requirements')">
                ¿Para inscribirse hace falta 
                conocimientos en algún tema 
                en particular?
                ¿Deben llevar algún material 
                para realizar la actividad?
                ¿Se requiere una docu-
                mentación?
              </li>
            </ul>
          </div>

        </div>
         <hr>

      </div>
    </div>
