
    <div class="row">
        <div class="col-lg-9 col-md-11">

            <div>

              <div class="section-title" ng-bind="::vm.strings.LABEL_COVER_TITLE"></div>

              <div>
                <div class="section-description">
                  Portada. Obligatorio.
                </div>

                    <!-- Preview del cover express -->

                    <div ng-show="!vm.main_image" class="img-dashed-frame">
                      <div class="img-cover-preview"
                           style="background-image: url('css/img/nocover.jpg')">
                      </div>
                    </div>


                    <!-- Stock de covers -->

                    <div class="gallery-grid gallery-grid--fixed" ng-show="!vm.main_image">
                        <div class="gallery-grid__photo --small --selectable"
                             style="background-image: url('css/img/nocover.jpg')">

                        </div>

                        <div class="gallery-grid__photo --small --selectable --unselected"
                             style="background-image: url('css/img/nocover.jpg')">

                        </div>
                        <div class="gallery-grid__photo --small --selectable --unselected"
                             style="background-image: url('css/img/nocover.jpg')">

                        </div>

                    </div>

                    <!-- Cover seleccionado, una vez guardado -->
                    <div ng-show="vm.main_image"
                         class="img-cover-preview img-actionable"
                         style="background-image: url('{{vm.main_image.photo}}')">
                        <div class="img-actionable__actions">
                            <a class="img-actionable__actions__action" role="button" ng-bind="::vm.strings.LABEL_CHANGE_COVER">

                            </a>
                        </div>
                    </div>

                  <!--  <div class="text-center" ng-show="!vm.main_image">
                        <br/>
                        <span ng-bind="::vm.strings.COPY_COVER_FROM_STOCK">
                        </span>
                        <br/>

                        <a ng-click="vm.loadImageFromStock()" class="btn btn-primary separate-above" role="button" ng-bind="::vm.strings.LABEL_COVER_FROM_STOCK"></a>
                    </div> -->


                    <div trulii-preloader loader-control="vm.main_photo_loading">
                    </div>

                    <div  class="drop-box" ng-show="!vm.main_photo_loading && !vm.main_image"
                         ng-model="vm.main_photo" ng-file-drop="" ng-file-select="" ng-multiple="false"
                         drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
                         ng-file-change="vm.addImage(vm.main_photo,true)"
                         allow-dir="true" accept="image/*"
                         >

                         <div class="separate-vertical">
                           <button class="btn btn-default" ng-bind="::vm.strings.LABEL_UPLOAD_COVER"></button>
                           Para seleccionar una portada desde sus archivos.
                         </div>

                    </div>

              </div>

            </div>

            <!-- GALLERY SECTION -->

            <div class="separate-above">
              <div class="section-title" ng-bind="::vm.strings.LABEL_GALLERY_TITLE"></div>

              <div>
                <div class="section-description" ng-bind="::vm.strings.COPY_GALLERY"></div>

                <div>
                    <!--TODO revisar estos alerts-->
                    <alert type="danger" ng-show="vm.errors.file">{{vm.errors.file}}</alert>
                    <alert type="danger" ng-show="vm.errors.non_field_errors">
                        {{vm.errors.non_field_errors}}
                    </alert>
                </div>
                <div class="gallery-grid--fixed">
                    <div class="gallery-grid__photo img-actionable img-actionable--small"
                         ng-repeat="image in vm.images track by $index"
                         style="background-image: url('{{image.photo}}')">
                        <div class="img-actionable__actions">
                            <button type="button" class="img-actionable__actions__action" aria-label="Eliminar"
                                    ng-click="vm.deleteImage(image)" alt="Eliminar">
                                <span class="mdi-action-delete" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>

                    <!-- Loader para una foto de la galería -->
                    <div class="gallery-grid__photo" ng-show="vm.photo_loading">
                        <div class="center-align" trulii-preloader loader-control="true" center-loader="true"></div>
                    </div>

                    <div class="gallery-grid__photo">
                      <div class="no-margin card card-list-item card-list-item--empty drop-box no-padding" style="height: 12em"
                        ng-show="vm.images.length < 5"
                        ng-model="vm.photo" ng-file-drop="" ng-file-select="" ng-multiple="false"
                        drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
                        ng-file-change="vm.addImage(vm.photo,false)"
                        allow-dir="true" accept="image/*">
                          <div>
                              <div class="card-list-item__add-icon"></div><br/>
                              <!--- <span ng-bind="::vm.strings.LABEL_GALLERY_ADD_IMAGE" ></span> -->
                          </div>

                      </div>
                    </div>


                </div>



                <p class="text-center separate-above" ng-bind="::vm.strings.COPY_MAX_IMAGE_ERROR" ng-show="vm.images.length == 5">
                </p>

              </div>



            </div>

            <!-- VIDEO SECTION -->

            <div class="separate-above">
              <div class="section-title" ng-bind="::vm.strings.LABEL_VIDEO_TITLE"></div>

              <form name='vm.activity_gallery_form' ng-submit="vm.save_activity()">

                  <div class="section-description" ng-bind="::vm.strings.COPY_VIDEO"></div>

                  <div class="form-group" trulii-input-errors-control="youtube_video_url">
                      <label for="youtube_video_url" class="control-label" ng-bind="::vm.strings.LABEL_YOUTUBE_LINK"></label>
                      <input id="youtube_video_url" class="form-control" name="youtube_video_url"
                             placeholder="{{::vm.strings.PLACEHOLDER_YOUTUBE_LINK}}"
                             ng-model='vm.activity.youtube_video_url'/>
                  </div>

                  <youtube-video video-url="vm.activity.youtube_video_url" player-width="'100%'"></youtube-video>

                  <div trulii-submit-controls class="separate-above" is-saving="vm.isSaving"
                       value="{{::vm.strings.LABEL_SAVE_ACTIVITY}}"></div>

              </form>
            </div>
        </div>
        <!-- <div class="col-md-3">
            <div class="sidebar-nav-fixed pull-right affix well">
                <ul class="nav">
                    <li>
                        <p class="text-muted">(Mínimo una foto)</p>

                        <p>
                            Una imagen vale más que mil palabras. Coloca fotos de tus cursos o clases anteriores
                            para aumentar la confianza de los usuarios en tu publicación. Ellos lo apreciarán. Eso sí,
                            procura que las fotos sean de buena calidad.
                        </p>

                        <p>
                            ¿No tienes fotos porque esta será tu primera actividad? No te preocupes. Coloca una foto
                            atractiva y vistosa que tenga relación con lo que vas a enseñar.
                        </p>
                        <br/>
                    </li>
                    <li>
                        <p class="text-muted">(Opcional)</p>

                        <p>¿Quieres impresionar a los usuarios y aumentar el número de inscripciones?
                            Cuelga un video en donde salgan tus instructores explicando lo fabuloso que es tu
                            curso, taller, seminario, diplomado o clase. Aprovecha también este espacio para hacer
                            branding y promocionarte.
                        </p>

                        <p>
                            No tiene que ser costoso ni lujoso. Basta y sobra con que
                            sean sinceros y demuestren pasión en lo que hacen.
                        </p>
                    </li>
                </ul>
            </div>
        </div> -->

    </div>
