<div class="row">

  <div class="col-sm-offset-1 col-md-8">

    <trulii-preloader is-ready="vm.isReady"></trulii-preloader>

    <form class="form-horizontal card lateral-fade lateral-fadeout" name='vm.activity_create_form'
          ng-submit="vm.save_activity()" ng-show="vm.isReady">

      <fieldset>
        <div class="card-header">
          <div class="form-group has-success input--main">

            <div class="col-sm-12">
              <input id="activity_title" class="form-control" name="title"
                     placeholder="¿Cómo titulas a tu actividad?"
                     ng-model='vm.activity.title' trulii-input-autofocus="{{!vm.creating}}" />
            </div>

          </div>
        </div>

        <div class="card-body">

          <div class="form-group">
            <label class="control-label col-sm-2">Nivel</label>
            <div class="col-sm-10">
              <div class="btn-group btn-group-justified" role="group" aria-label="Nivel">
                <label class="btn btn-default"
                       ng-repeat="level in vm.activity_levels" ng-click="vm.selected_level = level"
                       ng-class="vm.getLevelClassStyle(level)">
                  <input type="radio" name="level" class="hidden">{{level.value}}
                </label>
              </div>
              <div trulii-input-alert field="vm.activity_create_form.level" errors="vm.errors"></div>
            </div>
            <span class="errors"
                 ng-show="vm.activity_create_form.type.$invalid && !vm.activity_create_form.type.$dirty">
              <span>{{ vm.errors.type }}</span>
            </span>
          </div>

          <div class="form-group">
            <label for="category" class="control-label col-sm-2">Categoria</label>
            <div class="col-sm-10">
              <select id="category" class="form-control" ng-model="vm.selected_category" name="category"
                      ng-options="category as category.name for (index,category) in vm.activity_categories"
                      ng-change="vm.selectCategory(vm.selected_category)">
                <option value="" ng-show="!vm.activity_create_form.category.$dirty"
                        selected>Seleccione..</option>
              </select>

              <div trulii-input-alert field="vm.activity_create_form.category" errors="vm.errors"></div>
            </div>

          </div>

          <div class="form-group">
            <label for="sub-category-select" class="control-label col-sm-2">Sub-Categoria</label>
            <div class="col-sm-10">
              <select id="sub-category-select" class="form-control" name="sub_category"
                      ng-model="vm.selected_sub_category" ng-mouseover="vm.setOverElement('sub_category')"
                      ng-options="sub_category as sub_category.name for (index,sub_category) in vm.activity_sub_categories">
                <option value="" ng-show="!vm.activity_create_form.sub_category.$dirty" selected>Seleccione..</option>
              </select>

              <div trulii-input-alert field="vm.activity_create_form.sub_category" errors="vm.errors"></div>
            </div>

          </div>

          <div class="form-group">
            <label for="activity-short-desc" class="control-label col-sm-2">Descripción Corta</label>

            <div class="col-sm-10">
              <textarea id="activity-short-desc" class="form-control"
                        ng-model='vm.activity.short_description' name="short_description"></textarea>
              <div trulii-input-alert
                   field="vm.activity_create_form.short_description"
                   errors="vm.errors"></div>
            </div>

          </div>

          <div class="form-group">

            <label class="control-label col-sm-2">Tags</label>
            <div class="col-sm-10">
              <tags-input display-property="name"
                          ng-model="vm.activity_tags" ng-mouseover="vm.setOverElement('tags')">
                <auto-complete source="vm.loadTags()"></auto-complete>
              </tags-input>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-2 control-label">Certificación</label>
            <div class="col-lg-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="vm.activity.certification">
                                    <span class="checkbox-material">
                                        <span class="check"></span>
                                    </span> Certificación
                </label>
              </div>
            </div>
          </div>

          <trulii-submit-controls is-saving="vm.isSaving" value="Continuar"> </trulii-submit-controls>
        </div>

      </fieldset>
    </form>
  </div>

  <div class="col-md-3">
    <!--          <div class="sidebar-nav-fixed pull-right affix well">
      <ul class="nav">
        <li ng-show="vm.showTooltip('short_description')">
          Describe tu actividad de forma atractiva, especifica y díficil de olvidar.
          Recuerda que esta descripción aparecerá en las tarjeta de la actividad.
        </li>
        <li ng-show="vm.showTooltip('sub_category')">
          Elige la que más esté acorde con
          tu actividad. En caso de no hallar
          la adecuada, selecciona “otra” y
          rato después nosotros añadiremos una nueva que encaje con tu
          publicación.
        </li>
        <li ng-show="vm.showTooltip('tags')">
          Estas son etiquetas en forma de
          hashtags, ayudando a los usuari
          os a encontrar tu publicación en
          nuestros buscadores y redes so
          ciales. Deja un espacio por cada
          palabra o frase que deseas agre-
          gar, sin poner el #.
          Un ejemplo para un curso de
          pizzas:
          Hashtags: cocinaitaliana napoli
          tana cuatroquesos
        </li>
      </ul>
    </div> -->
  </div>
  <hr>
</div>