<div class="tab-pane active text-style">
    <div class="row">
        <div class="col-md-6">
            <form name='vm.activity_gallery_form' ng-submit="vm.save_activity()">
                <fieldset>
                    <h2>Imágenes</h2>
                    <h4 class="text-muted">Añade fotografías de las actividades que has organizado anteriormente</h4>

                    <div class="form-group">
                        <div class="drop-box"
                             ng-model="vm.photo" ng-file-drop="" ng-file-select="" ng-multiple="false"
                             drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
                             ng-file-change="vm.addImage(vm.photo)"
                             allow-dir="true" accept="image/*">
                            <a class="btn btn-primary" role="button">Añadir Imagen</a>
                        </div>
                        <div>
                            <alert type="danger" ng-show="vm.errors.file">{{vm.errors.file}}</alert>
                            <alert type="danger" ng-show="vm.errors.non_field_errors">{{vm.errors.non_field_errors}}
                            </alert>
                        </div>
                        <div ng-repeat="image in vm.images track by $index">
                            <img ng-src="{{image.photo}}" width="200px" height="200px"/>
                            <button type="button" class="btn btn-default" aria-label="Left Align"
                                    ng-click="vm.deleteImage(image)">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </div>

                        <img ng-src="/img/ajax-loader.gif" ng-show='vm.photo_loading'/>
                    </div>
                    <hr>
                    <div class="form-group">
                        <h2>Video</h2>
                        <h4 class="text-muted">Agrega un video para que promociones mejor tu actividad</h4>
                        <br/>
                        <label for="youtube_video_url">Enlace Youtube</label>
                        <input id="youtube_video_url" class="form-control" name="youtube_video_url"
                               placeholder="Pega aquí el enlace de tu video en Youtube"
                               ng-model='vm.activity.youtube_video_url'/>

                        <div class="errors"
                             ng-show="vm.activity_create_form.youtube_video_url.$invalid && !vm.activity_create_form.youtube_video_url.$dirty">
                            <span>{{ errors.youtube_video_url }}</span>
                        </div>
                    </div>
                    <hr>
                    <input type="submit" id="submit" class="btn btn-primary" value="Guardar"/>

                    <div ng-savedmessage message="Guardado" ng-model="vm.isCollapsed" collapse="vm.isCollapsed">
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-md-3">
            <div class="sidebar-nav-fixed pull-right affix well">
                <ul class="nav">
                    <li>
                        <p class="text-muted">(Mínimo una foto)</p>

                        <p>
                            Una imagen vale más que mil palabras. Coloca fotos de tus cursos o clases anteriores
                            para aumentar la confianza de los usuarios en tu publicación. Ellos lo apreciarán. Eso sí,
                            procura que las fotos sean de buena calidad.
                        </p>

                        <p>
                            ¿No tienes fotos porque esta será tu primera actividad? No te preocupes. Coloca una foto
                            atractiva y vistosa que tenga relación con lo que vas a enseñar.
                        </p>
                        <br/>
                    </li>
                    <li>
                        <p class="text-muted">(Opcional)</p>

                        <p>¿Quieres impresionar a los usuarios y aumentar el número de inscripciones?
                            Cuelga un video en donde salgan tus instructores explicando lo fabuloso que es tu
                            curso, taller, seminario, diplomado o clase. Aprovecha también este espacio para hacer
                            branding y promocionarte.
                        </p>

                        <p>
                            No tiene que ser costoso ni lujoso. Basta y sobra con que
                            sean sinceros y demuestren pasión en lo que hacen.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
</div>
