<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>¡Felicidades!</h2>
            <h5>Prepárate para asistir a:</h5>

            <div>
                <div>{{::vm.activity.title}}</div>
                <div>{{::vm.activity.location.address}}</div>
                <div ng-repeat="session in vm.calendar.sessions">
                    {{::session.date | date:'EEEE, dd MMMM'}} {{::session.start_time | date:'h:mma'}}-{{::session.end_time | date:'h:mma'}}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Asistentes</h2>
            <p>Aprender algo nuevo siempre es más divertido si lo compartes con tus amigos. ¡Invítalos y disfruta el doble!

            Ellos también asistirán</p>

            <div class="list">
                <div class="list-item" ng-repeat="assistant in vm.calendar.assistants">
                    {{::assistant.first_name}}</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Organizador</h2>
            <img ng-src="{{::vm.activity.organizer.photo}}" alt="{{::vm.activity.organizer.name}}"/>
            <h5 ng-bind="vm.activity.organizer.name" class="text-center"></h5>
        </div>

        <div class="row" ng-if="vm.organizerActivities > 0" ng-repeat="activity in vm.organizerActivities"
             ng-style="{ 'background-image': 'url('+activity.photos[0].photo+')' }"
                style="background-repeat: no-repeat; height: 300px">
            <div class="col-md-8 col-md-offset-2">{{::activity.title}}</div>
        </div>
        <div class="row" ng-if="vm.organizerActivities <= 0">
            <div class="col-md-8 col-md-offset-2">
                El Organizador no tiene más Actividades disponibles
            </div>
        </div>
    </div>
</div>