<div class="detail-cover-container">
    <!--<div class="detail-cover" ng-style="detail.getCoverStyle()">-->
    <div class="detail-cover">
        <img ng-src="{{detail.activity.main_photo}}" alt="detail.activity.title"/>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <i class="mdi-action-favorite-outline icon-lg"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2 ng-bind="::detail.city"></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>
                        <i class="mdi-action-event"></i>
                        <span ng-bind="::detail.calendar.initial_date | date: 'dd MMMM yyyy'"></span>
                    </h3>
                </div>
                <div class="col-md-6">
                    <div class="pull-right">
                        <h3><span ng-bind="::detail.calendar.session_price | currency"></span></h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <h1 ng-bind="::detail.activity.title"></h1>
                    <h3 class="text-muted" ng-bind="::detail.activity.short_description"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tag-container pull-right">
                        <div class="tag-item" ng-repeat="tag in detail.activity.tags" ng-bind="::tag"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <div class="detail-organizer">
                    <a ui-sref="organizer-profile({organizer_id: detail.organizer.id})">
                        <img class="detail-organizer-picture"
                             ng-src="{{::detail.getOrganizerPhoto()}}"
                             alt="{{::detail.organizer.name}}"/>
                        <div>
                            Ver Perfil
                        </div>
                    </a>
                    <a ui-sref="contact-us" class="btn btn-primary">Contactar</a>
                </div>
            </div>
            <div class="col-md-4">
                <h3>
                    <span class="detail-organizer-name" ng-bind="::detail.organizer.name"></span>
                </h3>
                <div>
                    <i class="mdi-action-grade"
                       ng-repeat="star in detail.activity.rating track by star"
                       ng-style="detail.getStarStyle(star)"></i>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pull-right">
                    <span class="text-muted"
                          ng-show="detail.isSelectedCalendarFull()"
                          ng-bind="::detail.strings.ACTIVITY_SOLD_OUT">
                    </span>
                    <a class="btn btn-lg btn-primary"
                       ng-disabled="detail.isSelectedCalendarFull()"
                       ng-show="detail.activity.published"
                       ui-sref="activities-enroll({activity_id: detail.activity.id, calendar_id: detail.calendar_selected.id})">Inscribirme</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <tabset justified="true">
                <tab heading="Información" select="detail.changeState('info')"></tab>
                <tab heading="Calendario" select="detail.changeState('calendar')"></tab>
                <tab heading="Asistentes" select="detail.changeState('attendees')"></tab>
            </tabset>
        </div>
    </div>

    <div class="row remarks-container">
        <div class="col-md-2 col-md-offset-2 text-center">
            <div>
                <i class="mdi-action-description icon-lg"></i>
            </div>
            <h3>Categoria</h3>
            <div class="text-muted">
                <strong><span ng-bind="::detail.activity.category_display"></span></strong>
            </div>
        </div>
        <div class="col-md-2 text-center">
            <div>
                <i class="mdi-action-list icon-lg"></i>
            </div>
            <h3>Sub-Categoría</h3>
            <div class="text-muted">
                <strong><span ng-bind="::detail.activity.sub_category_display"></span></strong>
            </div>
        </div>
        <div class="col-md-2 text-center">
            <div>
                <i class="mdi-action-assessment icon-lg"></i>
            </div>
            <h3>Nivel</h3>
            <div class="text-muted">
                <strong><span ng-bind="::detail.activity.level_display"></span></strong>
            </div>
        </div>
        <div class="col-md-2 text-center">
            <div>
                <i class="mdi-action-schedule icon-lg"></i>
            </div>
            <h3>Duración</h3>
            <div class="text-muted">
                <strong><span>3 horas</span></strong>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div ui-view></div>
        </div>
    </div>
</div>

<div class="row">
    <div id="map-canvas" ng-style="::detail.getMapStyle()"></div>
</div>