    <div class="row">
        <div class="col-md-12">
            <h3 ng-bind="::detail.strings.LABEL_DESCRIPTION"></h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="well-plain">
                <p ng-bind="::detail.activity.short_description"></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3 ng-bind="::detail.strings.LABEL_GET_TO_KNOW_US"></h3>
        </div>
    </div>

    <div class="row gallery-grid">
        <div class="col-md-4" ng-repeat="photo in detail.activity.gallery track by photo.id">
            <img class="gallery-grid__photo" ng-src="{{photo.photo}}"/>
        </div>
    </div>

    <div class="row" ng-if="detail.activity.youtube_video_url">
        <div class="col-md-12 text-center">
            <youtube-video video-url="detail.activity.youtube_video_url"></youtube-video>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="list list-translucent">
                <div class="list-item">
                    <div class="title" ng-bind="::detail.strings.LABEL_CONTENT"></div>
                    <div class="content" ng-bind="::detail.activity.content"></div>
                </div>
                <div class="list-item">
                    <div class="title" ng-bind="::detail.strings.LABEL_AUDIENCE"></div>
                    <div class="content" ng-bind="::detail.activity.audience"></div>
                </div>
                <div class="list-item">
                    <div class="title" ng-bind="::detail.strings.LABEL_GOALS"></div>
                    <div class="content" ng-bind="::detail.activity.goals"></div>
                </div>
                <div class="list-item">
                    <div class="title" ng-bind="::detail.strings.LABEL_REQUIREMENTS"></div>
                    <div class="content" ng-bind="::detail.activity.requirements"></div>
                </div>
                <div class="list-item">
                    <div class="title" ng-bind="::detail.strings.LABEL_EXTRA_INFO"></div>
                    <div class="content" ng-bind="::detail.activity.extra_info"></div>
                </div>
                <div class="list-item">
                    <div class="title" ng-bind="::detail.strings.LABEL_RETURN_POLICY"></div>
                    <div class="content" ng-bind="::detail.activity.return_policy"></div>
                </div>
            </div>
        </div>
    </div>