<div class="row">
    <div class="col-md-12">
        <h2>
            Hasta ahora
            <ng-pluralize count="attendees.totalItems"
                          when="{
                          '0': 'esta actividad no tiene asistentes ¡Sé tú el primero!',
                          'one': 'va 1 asistente ¡Faltas tú!',
                         'other': 'van {} asistentes ¡Faltas tú!'
                         }">
            </ng-pluralize>
        </h2>
    </div>
</div>

<div class="row">
    <div class="user-thumbnail-container">
        <div class="user-thumbnail" ng-repeat="assistant in attendees.assistants track by assistant.email">
            <img class="user-img" ng-src="{{attendees.getAssistantPicture(assistant)}}"
                 alt="{{::assistant.first_name}}"/>
            <h3 ng-bind="::assistant.first_name"></h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <pagination class="pull-right" total-items="attendees.totalItems" ng-model="attendees.currentPage"
                    ng-change="attendees.pageChanged()"
                    items-per-page="attendees.itemsPerPage"></pagination>
    </div>
</div>