<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <nav class="col-sm-2 sidebar lateral-slide">
                <li ui-sref-active="active" ng-repeat="step in pc.steps track by step.name">
                    <a ui-sref="{{step.sref}}" class="sidebar__item" ui-sref-active="sidebar__item--selected">
                        <span ng-bind="::step.title"></span>
                        <span ng-show="pc.isSectionCompleted(step.name)" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        <i class="mdi-action-done text-success" ng-class="pc.getCheckStyle(step.name)"></i>
                    </a>
                </li>
            </nav>

            <div>
                <input type="submit" id="submit" class="btn btn-primary" value="Publicar"
                       ng-show="pc.areAllStepsCompleted() && !pc.activity.active"
                       ng-click="pc.publish_activity()"/>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10 with-sidebar lateral-fade" ui-view>
        </div>
    </div>
</div>
